[2018-06-20 20:52] acozzette commented on #4688
When you say this happens randomly, do you mean that it happens for certain serialized messages but not others? Does the parsing fail reliably with the particular serialized message you posted?

[2018-06-20 21:04] davenso commented on #4716
I am having the same issue.

[2018-06-20 21:12] davenso opened #4803 "TypeError: __new__() got an unexpected keyword argument 'serialized_options'"
After compiling proto for Python target, I get the following error when running either client or server code. What could be the problem? (OS is CentOS 7.4).

`protoc --python_out=. --grpc_out=. --plugin=protoc-gen-grpc=/usr/local/bin/grpc_python_plugin engine.proto`

[code]

[code]

[2018-06-20 22:18] taoxinyi commented on #4688
@acozzette  Yes. For most serialized messages, it can be parsed correctly in js. However,in my case, the parsing of this particular serialized message always fails in js. Maybe this is the problem of serialization in python because this particular serialized message cannot be parsed when I use protobuf.js either.

[2018-06-20 22:30] acozzette commented on #4688
@taoxinyi Ok, I see. If you wouldn't mind, could you try narrowing it down to a smaller message that results  in the same error? I am guessing that there is just one particular field causing the problem.

[2018-06-20 22:34] taoxinyi commented on #4688
@acozzette  Maybe fileSize or fileUrl. Because this problem only occurred after I added file-related field. I'll test it thoroughly when I have time.

[2018-06-20 22:46] TeBoring commented on #4793
I think the user is supposed to use ```php_metadata_namespace```

[2018-06-20 22:46] #4793 closed

[2018-06-20 23:16] acozzette commented on #4721
I think I've figured out a fix in PR #4804. @bootrino Do you want to give that fix a try just to verify that it solves the problem? I should also add a test before I submit that change.

[2018-06-20 23:43] acozzette commented on #4721
I tried with Python 3, and actually my fix is specific to Python 3 because with 2 that `CUnescape` function does something different by returning early. So that might explain why the bug doesn't come up in Python 2.

Now that I think of it I'm not sure of the best way for you to test it out. I don't work with Python too often so I don't know of a good way to do this without publishing a new versio

[2018-06-20 23:56] bootrino commented on #4721
I just hacked your change straight into the Python code in the venv library and it seemed to work!

Thanks for this I appreciate your help.

[2018-06-21 00:00] zaneclaes opened #4805 "C# ToString() cannot handle bidirectional references, causing a stack overflow and secure data leakage"
**What version of protobuf and what language are you using?**
Version: v3.5.1 (NuGet official)
Language: C#

**What operating system (Linux, Windows, ...) and version?**
OSX, Windows

**What runtime / compiler are you using (e.g., python version or gcc version)**
.NET 4.5 w/ JetBrains Rider IDE

**What did you do?**
Steps to reproduce the behavior:
1. Create two protobufs messages which have a bid

[2018-06-21 00:30] simplesteph commented on #4743
Sounds good I'll close this then

[2018-06-21 00:30] #4743 closed

[2018-06-21 02:58] linjson commented on #4763
because `Symbol.iterator="@@iterator"` in react-native and `Symbol.iterator="jscomp_symbol_iterator1" `
in google-protobuf,Symbol.iterator has conflict in this two library,so when using `for-of` happen error

[2018-06-21 03:27] hscspring commented on #4802
i got the same issue.

what i know is using `json.dumps()` or turn array to a string.
is there anyone who can give some advice?
many thanks.

[2018-06-21 06:52] raspies opened #4806 "Protobuf CMake Variables are empty"
I have just compiled protobuf by using the CMake procedure.
I cloned it from git and did the steps as described in the readme and everything goes fine so far:

1. git clone --branch v3.6.0.1 https://github.com/google/protobuf.git
2. git submodule update --init --recursive
3. ./autogen.sh
4. cd cmake/
5. mkdir _build
6. cd _build/
7. mkdir release
8. cd release/
9. cmake -DCMAKE_INSTALL_PREFIX=/opt

[2018-06-21 07:46] vervaekejonathan commented on #4799
It seems the function is included in the library (same for SerializeInternalToArray):
[code]

[2018-06-21 09:20] lazeevv commented on #4757
I have the same problem with php7.2.2, MacOS, libprotoc 3.5.1.
To reproduce:
[code]

[2018-06-21 09:41] vervaekejonathan commented on #4799
I've found the problem, the declaration and definition of SerializeInternal and SerializeInternalToArray is different:
[code]
should be
[code]

When changing int to int32 in the declaration, the linker can find the definition and my program compiles!

[2018-06-21 09:53] frispete opened #4809 "rubygem google-protobuf-3.5.1.2.gem fails to compile with ruby 2.5"
**What version of protobuf and what language are you using?**
Version: v3.5.1.2
Language: Ruby
https://rubygems.org/downloads/google-protobuf-3.5.1.2.gem
**What operating system (Linux, Windows, ...) and version?**
openSUSE Linux Tumbleweed
**What runtime / compiler are you using (e.g., python version or gcc version)**
gcc 8.1.1
ruby 2.5.0
All involved versions can be seen in the build log downloa

[2018-06-21 10:54] arnaud-lb commented on #4765
Exactly, however json_decode() casts numeric keys back to int

[2018-06-21 11:58] manuel-koch commented on #2974
I see the same problem on python 3.4.7 using latest protobuf 3.6.0 !?

I.e. trying the snippet from above
[code]

[2018-06-21 12:15] KerstinKeller opened #4810 "Generated pb2.py files should contain `from __future__ import absolute_import`"
I am using protoc 3.5.1 to generate *_pb2.py files.
My Python version is Python 2.7.12 running on Ubuntu 16.04.

I organize my files in a hierarchical structure:

[code]

After generation of pb2.py files and placing `__init__.py` files there, my structure looks like this:

[code]

If I now try and import from python:

[code]
it fails with the following output:
[code]

The following pb2.py was gene

[2018-06-21 12:30] orivej commented on #4293
@xfxyjwf Could you publish the diff of `cl/162411066` that you mentioned, to make it easier to fix this outside of Google?

[2018-06-21 15:48] acozzette commented on #4799
Nice, I'm glad to hear you got it working! If you're interested you can send us a pull request with that fix and I'll merge it.

[2018-06-21 17:58] xfxyjwf commented on #4293
@orivej Sorry, but I cannot publish the internal change here. You should be able to find all relevant changes in src/google/protobuf/extension_set.h, src/google/protobuf/compiler/cpp/cpp_extension.cc and src/google/protobuf/compiler/cpp/cpp_file.cc in https://github.com/google/protobuf/commit/13fd045dbb2b4dacea32be162a41d5a4b0d1802f :
https://github.com/google/protobuf/commit/13fd045dbb2b4dacea32b

[2018-06-21 20:35] mellery451 commented on #4806
since the finder claims to find 3.5.0 but you built/installed 3.6.0 - that's a mismatch.  Most likely it is finding a system package of some kind, possibly via package config. I would try adding `NO_DEFAULT_PATH` to see if that helps.

[2018-06-21 22:05] ObsidianMinor commented on #3820
Targets added through https://github.com/google/protobuf/pull/4648

[2018-06-21 22:08] anandolee commented on #4795
Is StringIntLabelMap defined by your project or tensorflow? Do you know what data you are trying to parse in text format?
The error message is clear that StringIntLabelMap message does not have filename field.

[2018-06-21 22:49] ahmetb commented on #2483
For those visiting this issue, money.proto exists as part of googleapis: https://github.com/googleapis/googleapis/blob/master/google/type/money.proto

[2018-06-21 22:53] anandolee commented on #4742
"It seems that Protobuf has already MessageParser(Func factory). But it handles only single type T."  I believe our internal code also use MessageParser and can handle nested types.

" It seems that Protobuf allocate internal stream class at each deserialization call"
ParseFrom(CodedInputStream input) in MessageParse does not allocate new CodedInputStream:
https://github.com/google/protobuf/blob/4

[2018-06-21 23:33] xfxyjwf commented on #4805
If you intentionally create cyclic references in the class structure, there isn't nothing the implementation can do. It's just not supported.

[2018-06-21 23:37] #4771 closed

[2018-06-21 23:39] anandolee commented on #4614
Why not use --python_out for your x.proto to produce x_pb2.py under y dictionary?  If your .proto files are under different path, use --proto_path to find to find the import files and  --python_out to make sure the generated _pb2 files are under same path

Plus we will appreciate if you can change your structure to less complicated graph next time like:
├── x
│   └── pb
│                   ├── __i

[2018-06-21 23:45] anandolee commented on #4444
Closing it for clean up, feel free to reopen it still an issue for you

[2018-06-21 23:45] #4444 closed

[2018-06-21 23:49] zaneclaes commented on #4805
@xfxyjwf (1) of course there's something the implementation can do. It's called recursion detection. I've personally implemented it in at least two other projects at large companies. (2) Intentional or unintentional, this has the potential to crash debuggers and entire IDEs. It's simply not a safe bug to have in a Object-level function like `ToString()`, especially when that implementation cannot

[2018-06-21 23:55] zaneclaes commented on #4805
To be clear: I'm not arguing that protobufs should support bidirectional relationships overall. I understand why this would be undesirable. But the current implementation appears to serve no good purpose. Why does `ToString()` need to serialize into JSON? Isn't the whole point of protobufs to move AWAY from JSON? What if I don't want the serialized version of my messages to print the ENTIRE object

[2018-06-22 00:08] bwo commented on #4614
Well, for one thing:

[code]

(You might just ask "why not have `x.proto` right alongside `y.proto`?". I do have reasons that I think are sound for this layout of files, but I also think that it's a bit of a distraction as to why I want to have my proto files arranged as I do.)

And even if it did work, it would require copying the generated file into every directory that might want to refer to it

[2018-06-22 00:54] nikhilpothuru commented on #4773
Hi, This is my first time trying to contribute to an open source project. I am looking to help out with any C++ or Python issues. It would be great to get some help starting off. I've gone through the Developer Guide and Protocol Buffer Basics: C++ to prepare. Thanks!

[2018-06-22 01:07] xfxyjwf commented on #4805
@zaneclaes As I said, what you are doing is not supported. When you intentionally add cycles into the class structure, the behavior of protobuf runtime should be undefined. If we can catch the error early without adding too much complexity, that's something we should do, but I don't think we want to add complexity or API to let you get around with it.

[2018-06-22 01:13] #4526 closed

[2018-06-22 01:18] xfxyjwf commented on #4773
@nikhilpothuru Thanks for offering help! This issue here is probably not a great place to start though. I think it's probably better to start with some simple cleanups to get yourself more familiar with the protobuf build/development environment.

[2018-06-22 01:41] nikhilpothuru commented on #4773
Hi! Thank you for the quick reply. Is there a specific cleanup issue you can point me to? I'm looking through the issues, but it is a bit overwhelming since I don't know where to start. Thanks!

[2018-06-22 02:11] AKZOMBIE74 commented on #4795
It is defined by tensorflow, to be more specific the object detection API. As for the rest of your questions, sorry I don't know. I was just told that running the command would be enough to train the model. I don't know how tensorflow does its training. (Here is the object detection api: https://github.com/tensorflow/models/tree/master/research/object_detection)

[2018-06-22 02:53] archfiery commented on #3571
I had a similar problem and resolved it by making the field number of `map` greater than 2047.

The other languages Go, ScalaPB can deserialise the message if the field number is smaller than 2048.

[2018-06-22 05:03] raspies commented on #4806
Oh, there I copied the wrong line. I tried both releases 3.6.0.1 and 3.5.0 in each case the correct and corresponding version is shown but the variables are empty in both cases.
In windows its no problem. My suggestion is that it might have something to do with the new CMake Version?

[2018-06-22 05:41] raspies commented on #4806
I also had a little deeper look in cmake protobuf files and found out that the issue was with the variable "protobuf_MODULE_COMPATIBLE". When I set this to TRUE in my CMake Project the variables are correctly set:

`Found Protobuf 3.6.0, libs are: /opt/protobuf/3.6.0/lib/libprotobuf.a; Include Dir is /opt/protobuf/3.6.0/include`

This feature is a little bit strange and is also not documented in h

[2018-06-22 11:47] nicola-lunghi commented on #4775
Hi @acozzette
thank again for your response I think it's in the right direction.

I've tried to use that function but it require a descriptor class

So to make it work I need a way to generate a Descriptor class from the
descriptor binary representation.

here's what I tried (it doesn't work...)

[code]
Anyone else can help?

Thanks
Nick

[2018-06-22 11:58] remoe commented on #4773
I've tested with VS 2017 (15.7.4) DEBUG and **protobuf 3.6.0**:

-GVisual Studio 15 Win64 -DCMAKE_SYSTEM_VERSION=8.1 -DBUILD_SHARED_LIBS=ON".
The protoc executable crashes on tests:

[code]

[2018-06-22 12:40] vervaekejonathan commented on #4799
here you go!
https://github.com/google/protobuf/pull/4815

[2018-06-22 16:17] acozzette commented on #4775
I think the problem is that `reflection.ParseMessage` takes a message descriptor but you're passing it a `FileDescriptorSet`. You have to find the `DescriptorProto` for the message you're interested in within the `FileDescriptorSet`, and then call `descriptor.MakeDescriptor(...)` to convert that into a descriptor object which you can then pass to `reflection.ParseMessage`. There's some example cod

[2018-06-22 17:01] acozzette commented on #4799
Thanks!

[2018-06-22 17:01] #4799 closed

[2018-06-22 17:34] kkm000 commented on #3820
Thank you @ObsidianMinor!

[2018-06-22 17:35] kkm000 commented on #3820
@anandolee, this is resolved, please close!

[2018-06-22 18:20] kkm000 commented on #3820
/cc @jtattermusch

@ObsidianMinor, @anandolee: #4648 is a very breaking change. Please please do not ship it as is, requires fixing. It blindly relies on MSBuild version 15.3+, and .NET Framework 4.7.1+ or .NET Core. Otherwise, a project adding the package will not even load.

So this works with .NET SDK, but breaks on Windows unless very latest build tools *and* .NET Framework are installed. And

[2018-06-22 18:33] kkm000 commented on #3820
This more or less degrades ok under Windows (I saved it as pb.props for testing below):

[code]

New MSBuild:
[code]

Older MSBuild (protoc is undefined, but at the least there is no error):
[code]

[2018-06-22 18:38] kkm000 commented on #3820
But I am not sure what to expect with MSBuild >= 15.3 on Windows 7, where `System.Runtime.InteropServices.RuntimeInformation` might not be present. So better do not.

[2018-06-22 19:13] ccdavid commented on #2974
Also seeing it on Ubuntu 18.04 with python 3.6.5 and protobuf 3.6.0 .

[2018-06-22 19:21] ObsidianMinor commented on #3820
Well, that sucks. I'll make a new PR to remove those elements, I never realized their addition was so recent.

[2018-06-22 22:10] acozzette commented on #4803
@davenso I suspect this is a symptom of using generated code that is too new for the runtime--i.e. the `protoc` version used is newer than the library (older versions of the library don't know about that `serialized_options` parameter). With Python the library version has to be at least as new as the `protoc` version.

[2018-06-22 22:22] acozzette commented on #4721
I'm glad that it worked, but unfortunately I've found that my pull request causes something else to break. The problem is that `CUnescape` is also used here to operate on default values for bytes fields, which are not necessarily UTF-8: https://github.com/google/protobuf/blob/f42d5923f0b6de75611af0a8c8b3354763aece00/python/google/protobuf/descriptor_pool.py#L886

So ultimately I think we need a `C

[2018-06-22 22:40] xfxyjwf commented on #4540
This should be on our roadmap, but it's not prioritized right now.

[2018-06-22 22:49] xfxyjwf commented on #4679
I think this is a duplicate of https://github.com/google/protobuf/issues/4773

[2018-06-22 22:50] xfxyjwf commented on #4670
Please use tag instead of branch. We do not guarantee branches to be stable.

[2018-06-22 22:50] #4670 closed

[2018-06-22 23:25] #4513 closed, assigned to nobody

[2018-06-22 23:34] acozzette commented on #2780
I'm going to close this issue because this is now pretty much done and we're using C++11 now. Feel free to comment if you have any C++11-related issues, though.

[2018-06-22 23:34] #2780 closed

[2018-06-22 23:36] xfxyjwf commented on #4309
Descriptor/reflection is not supported in Javascript at the moment.

[2018-06-22 23:37] xfxyjwf commented on #4308
Custom options are not available in LITE.

[2018-06-22 23:37] #4308 closed

[2018-06-23 00:08] xfxyjwf commented on #4215
@xyzzyz If you are still interested, feel free to send us a CL. We should already have some presubmit checks that checks binary size increase.

[2018-06-23 00:09] #4201 closed

[2018-06-23 00:13] anandolee commented on #4614
Can you double check what file do you get after :
$ cd $HOME/tmp/y/
$ protoc --python_out=. --proto_path=$HOME/tmp/x/pb --proto_path=. pb/tmp/y/pb.y.proto

This should produce a y_pb2.py under $HOME/tmp/y/ not $HOME/tmp/y/pb/tmp/y

Please understand we always ask users try to minimize how to reproduce the error to help us better understanding what the real issue is.
And we ask why user request a f

[2018-06-23 00:31] #4155 closed

[2018-06-23 00:37] xfxyjwf commented on #4141
I believe this is fixed in the latest release (3.6.0).

[2018-06-23 00:37] #4141 closed

[2018-06-23 00:37] #4137 closed

[2018-06-23 00:38] #4126 closed

[2018-06-23 00:39] xfxyjwf commented on #4125
This seems a compiler issue rather than a protobuf one. You probably want to limit the size of the proto as well.

[2018-06-23 00:39] #4125 closed

[2018-06-23 00:41] xfxyjwf commented on #4122
We don't test protos with emscripten but we are happy to accept pull requests to make it work there.

[2018-06-23 00:46] bwo commented on #4614
Anyway, here's a tarball. If you unpack it and source `setup.sh` in the folder, helpfully named `tmp`, that it will create, you'll get (assuming you have `virtualenvwrapper` available) a virtualenv also with the wonderful name `tmp`, in which the two packages `tmp.y.pb` and `tmp.x.pb` are installed.

[tmp.tar.gz](https://github.com/google/protobuf/files/2129481/tmp.tar.gz)

[2018-06-23 02:01] zaneclaes commented on #4805
I understand what you're saying. It's entirely reasonable to say that "cycles aren't supported." But I don't think you're addressing my point, @xfxyjwf , so let me try again on technical grounds, with a proposed solution (and an offer to contribute the necessary code):

The protobuf-generated code for `ToString()` is an invocation of `JsonFormatter.ToDiagnosticString`. This method is very well nam

[2018-06-23 04:02] CaiHuan opened #4820 "use protobuf_full.a library for android ndk problem"
the protobuf_full.a from chromium project build for android (target_os="android" target_cpu=arm)
CMakeLists.txt add protobuf configure
include_directories(libs/protobuf/src)

add_library( # Sets the name of the library.
             native-lib

             # Sets the library as a shared library.
             SHARED
             src/main/cpp/proto/superman_permission.pb.cc
             # Provides

[2018-06-23 04:09] xfxyjwf commented on #4091
Thanks for experimenting with the idea, but such API breaking change will likely never happen in protobuf. The cost of updating all existing users is just too high.

[2018-06-23 04:09] #4091 closed

[2018-06-23 04:43] xfxyjwf opened #4821 "C++ TextFormat parsing to allow unknown fields."
See: https://github.com/google/protobuf/pull/782#issuecomment-137279760 and https://github.com/google/protobuf/pull/782#issuecomment-237721470

We have the flag in our internal code base already. It's just hidden from opensource.

[2018-06-23 05:09] xfxyjwf commented on #2994
Please consider rename the enum or the package to avoid the conflict instead.

[2018-06-23 05:09] #2994 closed

[2018-06-23 05:50] matutter opened #4822 "How to get position in string when a DecodeError is raised?"
### Premise
I'm attempting to write a simple routine to recover a `string` or `bytes` field from a lossy message however when the field is truncated a `DecodeError` is raised it doesn't describe in what message (type) or position in the buffer the error occurred.

### Question
Is there a way to _hook_ DecodeError to get more fidelity when using `Message:ParseFromString`?

### Example
I have an exa

[2018-06-23 06:19] xfxyjwf commented on #4805
@zaneclaes Please understand that we are very cautious about API changes. I do not think the problem you are having (code throws exceptions because of incorrect protobuf usage) is worth fixing with an API change. Users facing this problem should just fix their code. If it is causing IDE/inspector to crash, I think it's the IDE/inspector's problem because they should be able to work with any kind o

[2018-06-23 06:31] xfxyjwf commented on #4822
Where the parsing ends is entirely up to the parser implementation. In particular our python implementation has a C extension that makes use of C++ parsing code and doesn't return a position at all when parsing fails. It's not possible for the DecodeError to return a position.

I would suggest write a tool to do the padding before feeding it to the proto parser. We actually already have such a lib

[2018-06-23 06:34] xfxyjwf commented on #4820
@CaiHuan The issue content is not readable. Can you format it and repost? Also it seems you are not using the code from our repository at all.

[2018-06-23 06:34] #4820 closed

[2018-06-23 22:51] kkm000 commented on #3820
if you are interested in this saga (just one of the whole multiplatform MSBuild epics), the discussion is here: https://github.com/Microsoft/msbuild/issues/539.

It's really tough to expand a 20-year old build system used by millions in the wild, and also cloned by an outside project (Mono) without breaking its API and behaviors, and, having read MSBuild code and contributed a couple of small fixe

[2018-06-23 22:55] kkm000 commented on #3820
And thank you @ObsidianMinor again for your contribution and collaboration. This change, even if it does not fully abstract the tool location, makes life a lot easier for the package users!

[2018-06-24 14:53] CageSama commented on #4521
I get the same problem and I find that this is caused by jar conflict.
In a word, you're using **wrong version** of AbstractMessageLite$Builder at runtime.

In my case, my project depends both on **protobuf-java-3.4.0** and **protobuf-lite-3.0.1**, both of them contain AbstractMessageLite$Builder.class, when compilng, **protobuf-3.4.0.AbstractMessageLite$Builder** is used, and when running, **prot

[2018-06-25 02:37] coding-pandaren opened #4823 "compile pb.h file error in chromium project"
i add pb.h and pb.cc file to gn and build
but the compiler psot error message like this
virtual methods with non-empty bodies shouldn't be declared inline
'virtual' will be redundant; 'override' implies 'virtual'.
Overriding method must be marked with 'override' or 'final'

[2018-06-25 02:53] zoukyle commented on #4521
@CageSama  Thanks a lot for your explanation. It helped a lot.

[2018-06-25 02:53] #4521 closed

[2018-06-25 06:21] jasminezz commented on #4700
I have fix the problem. Because there are 3 protobufs:Ubuntu has a Protobuf, system python has a Protobuf, Virtuenv has a protobuf, all these must have the same version.

[2018-06-25 06:21] #4700 closed

[2018-06-25 10:11] rockyzhengwu commented on #4716
@davenso I fix this by reinstall python package from source code

[2018-06-25 10:37] archie94 commented on #2730
[This](https://developer.android.com/topic/performance/memory#NanoProto) too requires change? It still says to go for nano in case of Android.

[2018-06-25 17:52] kurtisnelson commented on #2730
That too is out of date. I will file a bug on the Android docs team.

[2018-06-25 19:35] TeBoring commented on #4728
duplicate of #4460

[2018-06-25 19:35] #4728 closed

[2018-06-25 19:39] TeBoring commented on #4757
@lazeevv you are not supposed to extend ```Message``` by yourself.

[2018-06-25 19:43] TeBoring commented on #4757
@amereii, I am not familiar with iGap-PHP-Client. With the info you give, I can hardly tell it's protobuf's problem. Could you remove all code that's not related to protobuf?

[2018-06-25 19:45] TeBoring commented on #4718
Does this happen with latest 3.6.0 release?

[2018-06-25 20:03] TeBoring commented on #4718
`require': cannot load such file -- google/gax (LoadError)
Could you provide more detailed steps to reproduce?

[2018-06-25 20:49] BSBandme commented on #4032
Seems that this has been [fixed](https://github.com/google/protobuf/blob/bdf0d1d6f8539f6c7312eda57535396516ed7275/src/google/protobuf/util/json_util.cc#L53-L55).
Close for now, if there's still issues, feel free to reopen

[2018-06-25 20:49] #4032 closed

[2018-06-25 21:04] acozzette commented on #4708
@tnavda Do you want to send us a pull request with these fixes?

[2018-06-25 21:08] BSBandme commented on #3034
Sorry but although this seems weird to you, it's the intended behavior. Currently we don't have type check for the string field in JS.
We're working on making JS protobuf format standard, when the standard is ready to go, we'll make some announcement about that.

[2018-06-25 21:08] #3034 closed

[2018-06-25 21:14] xfxyjwf commented on #4409
I'm closing this one. Please follow up the progress in https://github.com/google/protobuf/issues/4773 .

[2018-06-25 21:14] #4409 closed

[2018-06-25 21:18] gerben-s commented on #1404
So it seems Status is not really used in protobuf, only by some util code. We should kick that util code out of our lib.

[2018-06-25 21:38] acozzette commented on #4768
@AlonikiX You can use the `pack` and `unpack` methods on `Any` to access the stored value. See the test code here for example: https://github.com/google/protobuf/blob/7402555f34bbe04ca20268eff54a026c158087fb/js/binary/proto_test.js#L647

`Any` only stores messages, not primitive types like integers or strings, but to store a primitive type you can just wrap it in one of the wrapper types here: htt

[2018-06-25 21:38] #4768 closed

[2018-06-25 21:46] acozzette commented on #4717
@nehaljwani Sorry about all the trouble with this. I am going to merge 3.6.x into the master branch and it sounds like that may fix some of the errors. Do you want to send out a pull request with your other fix?

[2018-06-25 21:49] nehaljwani commented on #4717
@acozzette Sure, I can do that.

[2018-06-25 21:56] xfxyjwf commented on #4823
It seems some cleanup is needed to the C++ code to make proper use of "virtual"/"override"/"final". Could you help make a fix? We don't see such errors in our own tests.

[2018-06-25 21:59] xfxyjwf commented on #4119
ok to close this issue now? The linked PR was merged.

[2018-06-25 22:01] anandolee commented on #4484
Are you able to create a easier steps to reproduce?

[2018-06-25 22:02] #4118 closed

[2018-06-25 22:02] #4113 closed

[2018-06-25 22:04] xfxyjwf commented on #4111
It should work now (that we deleted the js_embed binary related to well_knonw_types_js).

[2018-06-25 22:04] #4111 closed

[2018-06-25 22:05] anandolee commented on #4272
Can you let us know how to reproduce the error?

[2018-06-25 22:05] xfxyjwf commented on #4110
Assuming fixed in https://github.com/google/protobuf/pull/3984

[2018-06-25 22:05] #4110 closed

[2018-06-25 22:07] #4105 closed

[2018-06-25 22:08] xfxyjwf commented on #4104
None is a python keyword. You would need to change your enum value to some other name.

[2018-06-25 22:08] #4104 closed

[2018-06-25 22:09] #4101 closed

[2018-06-25 22:11] xfxyjwf commented on #4096
PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=cpp only works if you actually installed the version with C extension support and it's likely not the case here.

[2018-06-25 22:11] igorpeshansky commented on #4718
Yes, it reproduces with 3.6.0. Here's the full repro:
[code]

[2018-06-25 22:12] #4093 closed

[2018-06-25 22:12] AKZOMBIE74 commented on #4795
@anandolee

[2018-06-25 22:13] #4085 closed

[2018-06-25 22:14] #4078 closed

[2018-06-25 22:15] #4067 closed

[2018-06-25 22:16] xfxyjwf commented on #4061
Don't use toString() on Android. It's not designed to survive proguard obfuscation.

[2018-06-25 22:16] #4061 closed

[2018-06-25 22:17] anandolee commented on #2038
It is fixed in internal code by adding a "struct FixupMessageAfterMerge : public FixupMessageReference". Expect to see the fix in next release

[2018-06-25 22:17] #2038 closed

[2018-06-25 22:18] #4059 closed

[2018-06-25 22:19] thisch commented on #4794
Yes, I know. It was me who created this `companyname.pb2.xxx` package hierarchy format for our compiled proto-files years ago.

I created this convention because I think that this hierarchy is more pythonic than having modules suffixed with _pb2.

[2018-06-25 22:40] xfxyjwf commented on #3474
@jhaber If you don't mind, could you resend the pull request?

[2018-06-25 23:02] hsaliak commented on #3453
@anandolee i am not sure if this can be closed, if there is a surprising behaviour, should this not be root caused?
Would you be open to re-opening this if more user issues around this problem or C++ / Python implementations coexisting surfaces?

[2018-06-25 23:03] TeBoring commented on #4809
Does 3.6.0 release fix the problem?

[2018-06-25 23:10] TeBoring commented on #4809
I think this is broken by https://github.com/google/protobuf/pull/3627

[2018-06-25 23:27] TeBoring commented on #4809
https://bugs.ruby-lang.org/issues/14425

[2018-06-25 23:43] TeBoring commented on #4809
@frispete I think ruby has change in later release. Could you use newer version of ruby?

[2018-06-26 00:08] TeBoring commented on #4683
Although we didn't enforce c++11 in 3.5.x, it can still work with c++11.

[2018-06-26 00:09] TeBoring commented on #4683
Could you update to our latest release?

[2018-06-26 00:11] TeBoring commented on #4683
Besides, we do you need our setup.py? Doesn't pypi install work?

[2018-06-26 01:49] BSBandme commented on #4661
I just tried this case with libprotobuf 15, it outputs {"gender":1} as expected. What's your libprotobuf version for testing? I'll close this for now. If it still has issue,  feel free to reopen this.

[2018-06-26 01:49] #4661 closed

[2018-06-26 02:10] LinkShen commented on #4661
@BSBandme Thanks for your attention. But have you tried E_GENDER_MALE which value is 0 ?
In my case, the enum value greater than 0 is alright but when it comes to 0, it will be converted as string instead of integer.

[2018-06-26 02:52] sevaivanov commented on #4272
Thank you for getting back on this matter.
Please, see below the steps to reproduce as well as system & library information.

Kind regards,
Seva
[code]

[2018-06-26 04:34] amereii commented on #4757
@TeBoring it is not related to **iGap-PHP-Client**
Just complite this proto file https://github.com/RooyeKhat-Media/iGap-API/blob/master/app/assets/proto/UserLogin.proto#L10-L26 and run the following code

[code]

[2018-06-26 05:53] TeBoring commented on #4757
Which files do you include?
On Mon, Jun 25, 2018 at 21:35 Asghar Amereii <notifications@github.com>
wrote:

[2018-06-26 06:01] lxl910915 opened #4831 "protobuf 3.6.0 build with error: undefined reference"
protobuf-3.6.0
g++-5.4

When we run `c++ -pthread -shared -Wl,-O1 -Wl,-Bsymbolic-functions -Wl,-Bsymbolic-functions -Wl,-z,relro -fno-strict-aliasing -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -Wdate-time -D_FORTIFY_SOURCE=2 -g -fstack-protector-strong -Wformat -Werror=format-security -Wl,-Bsymbolic-functions -Wl,-z,relro -Wdate-time -D_FORTIFY_SOURCE=2 -g -fstack-protector-strong -Wformat

[2018-06-26 06:08] g10guang opened #4832 "different md5sum for protoc?"
After I exec `make && make install`, I check md5sum for protoc:

[code]

[code]

[code]

What's up?

Can anybody tell me they are different or not?

If their different, please show me the difference.

[2018-06-26 07:12] FlowerCode opened #4833 "Python reserved word 'None' is not considered in code generation"
**What version of protobuf and what language are you using?**
Version: v3.6.0
Language: Python

**What operating system (Linux, Windows, ...) and version?**
Windows 10

**What runtime / compiler are you using (e.g., python version or gcc version)**
Python 3.6.5

**What did you do?**
Steps to reproduce the behavior:
1. Define Enum

[code]

2. Compile to Python

`protoc.exe -I=.\pb --python_out=.\pb

[2018-06-26 07:13] amereii commented on #4757
It is very simple , Here is a step by step guide

# Option 1

* compile https://github.com/RooyeKhat-Media/iGap-API/blob/master/app/assets/proto/UserLogin.proto#L10-L26
* In your `composer.json` add and dump autoloader
[code]
* create `repro.php`
[code]
* run `php repro.php`

# Option 2
* ```composer require rooyekhat/igap-php-client```
* create `index.php`
[code]
* run `php index.php`

[2018-06-26 07:48] juanjux commented on #4484
@anandolee I've attached the binary message with the minimal complexity that still shows this problem and linked to the schema, would a self contained script or something like that help?

[2018-06-26 07:50] TeBoring commented on #4757
UserLogin.proto also import other proto files. Have you also compiled them?
On Tue, Jun 26, 2018 at 00:14 Asghar Amereii <notifications@github.com>
wrote:

[2018-06-26 07:51] TeBoring commented on #4757
Besides, where do u put generated GPBMetada files?
On Tue, Jun 26, 2018 at 00:50 Paul Yang <paulyang1211@gmail.com> wrote:

[2018-06-26 07:59] amereii commented on #4757
Yes , https://github.com/RooyeKhat-Media/iGap-PHP-Client/tree/master/src/Proto

https://github.com/RooyeKhat-Media/iGap-PHP-Client/tree/master/src/GPBMetadata

[2018-06-26 08:04] TeBoring commented on #4757
In your composer.json, have you configured psr-4 path for GPBMetadata?
On Tue, Jun 26, 2018 at 01:00 Asghar Amereii <notifications@github.com>
wrote:

[2018-06-26 08:23] lxl910915 commented on #4831
We change protobuf-3.4.0 and g++-4.7, it works well. But we don't know why

[2018-06-26 10:35] lazeevv commented on #4757
@TeBoring yes, I know. It was just for reproducing the error.
I resolved the problem after your last comment, I just forgot to configure psr-4 path for GPBMetadata, thank you.
@amereii Are you sure that you ran `composer dumpautoload`?

[2018-06-26 10:44] amereii commented on #4757
@lazeevv

Yes

@TeBoring I send you step by step guide to repro issue  , Why you don't follow it?

[2018-06-26 12:13] aniketdivekar commented on #3470
Hi Guys, I need some help regarding unpacking the Google::Protobuf::Any type
I'm getting below error when unpacking object of type Google::Protobuf::Any to a specific type defined in my code
[code]
Let's say `abc` is the object
when I `abc.inspect`,  it gives me below output
[code]
But when I try to run `abc.unpack protocol::MyType`, I get the error mentioned above.

Is there anything wrong I am d

[2018-06-26 12:21] goel-sunny opened #4834 "I am facing problem in communication between C++ and javascript."
Hi ,

I am creating the message in c++ and then serialseToOstream and convert that oStream into char* and pass it to the javascript (i.e. front end side ) Now at front end side I am doing ref.reinterpret( char * , size)

and convert it into BUffer then trying to pass that buffer to deserialiseBinary(Buffer) function and getting an error :-

C:\angular\buffer\jsInterface\node_modules\google-protobu

[2018-06-26 13:10] dejanstojanovic commented on #1193
I did something similar, but it is a part of csproj file, so I do not think it will be picked up by msbuild, but you can maybe try to re-use it. Works fine for me from Visual Studio https://dejanstojanovic.net/aspnet/2018/june/generate-c-models-from-protobuf-proto-files-directly-from-visual-studio/

[2018-06-26 13:46] aniketdivekar commented on #3470
It got solved. I had to require `google/protobuf/well_known_types`

[2018-06-26 14:17] tnavda commented on #4708
acozzette,

I moved on from this, and I'd have to get back into it to do a pull request.  I just wanted to share the issues I found and what I thought were the root cause.

[2018-06-26 14:32] acozzette commented on #4708
Ok, no problem, thanks for the bug report!

[2018-06-26 16:52] aniketdivekar opened #4837 "Ruby: Convert Protocol::MyType to byte[]"
Hi,
How can I convert the protobuf object of custom type to byte array?
I have this autogenerated module called protocol
[code]
how can I get byte array of Protocol::MyType object?

[2018-06-26 17:13] BSBandme commented on #4661
Sorry that I misread your comment before. But I also tried `E_GENDER_MALE`, it returned `{"gender":0}`as expect.

My testing code is
[code]
proto file is:

[code]

Would you please describe more, like how you set the field to `E_GENDER_MALE`?

[2018-06-26 17:33] zanker commented on #4809
@TeBoring What are you looking for? Happy to take a look, but seems like it's mostly a Ruby bug that they've fixed already.

[2018-06-26 18:13] JoanPereyra commented on #4615
I have the same issue for target_os linux-gnu

[2018-06-26 19:20] BSBandme commented on #4735
I tested on server side, the final field equals "abcdefghijkl" as expect.
@acozzette do you have any idea of the difference between server and android side for this?

[2018-06-26 19:50] acozzette commented on #4735
The only thing I can think of is that in `stubs/strutil.cc` in `Base64EscapeInternal` there is some endianness logic and perhaps we're somehow getting the endianness wrong on Android but not Linux server builds. It would help to find out what the unescaped data looks like, so that we could tell if the problem is in `Base64Escape` or `Base64Unescape`.

[2018-06-26 20:57] BSBandme commented on #4735
@chukrum47 would you please provide the temp1 value on your device as well?

[2018-06-26 23:36] TeBoring commented on #4757
@amereii your reproduce step is coupled with other library, which is hard for me to tell what's the exact problem. Could you refine your reproducing step to use protobuf only?

[2018-06-26 23:43] TeBoring commented on #4757
@amereii in option1, step 1, what exactly you do to compile the proto file? In which working directory do you call protoc and what's the command to compile?
Ideally, I need a copy-paste step to reproduce.

[2018-06-27 00:13] acozzette commented on #4832
If I remember right, `make` will actually put a wrapper shell script at `src/protoc`--I'm not sure why but I think it has something to do with setting up the environment properly so that the real binary knows where to find `libprotobuf` and `libprotoc`. But `make install` will put the real binary in `/usr/local/bin`. So the likely reason for the md5sum difference is that one file is a shell script

[2018-06-27 02:00] Renshk commented on #4773
This way, the initialization of generated_pool_init_ is not thread-safe in the InitGeneratedPoolOnce function.

[2018-06-27 03:08] nikhilpothuru commented on #4555
Hi, I'm willing to give this issue a shot. @acozzette

[2018-06-27 03:30] Renshk commented on #4773
GeneratedMessageFactory::singleton function have the same issue.

[2018-06-27 03:31] zengjie617789 commented on #1799
@acozzette  could you help me how to use a consistent version?  i install the Gazebo8 under a vittualenv which the version of protoc is 3.4.0 , but later i still meet a problem that

[2018-06-27 04:42] ryandesign commented on #4683
To explain, I am a developer with the MacPorts package management system, where we have ports for protobuf and its python library. Investigating a build failure of that python library port in MacPorts is what led me to report this bug to you.

Right. But you're adding the `-std=c++11` flag in unintended circumstances, on systems where C++11 support is not available. Can that be fixed, either by co

[2018-06-27 04:59] amereii commented on #4757
@TeBoring , I do something like the following
[code]

[2018-06-27 05:01] mgravell commented on #1193
@dejanstojanovic interesting, thanks. Since you are mentioning protobuf-net, a minor correction:

Actually it is available as a "global tool":

[code]

(then just type `protogen` - works on Linux, Windows, etc)

Or as a zip download here: https://protogen.marcgravell.com

Would a nuget of the windows binaries be useful as a third option? Not sure of the best way to package them in a nuspec for tha

[2018-06-27 07:30] dejanstojanovic commented on #1193
Thanks @mgravell didn't know about that, I guess I learn the hard way :)

[2018-06-27 08:59] stbuchner commented on #4661
Hi,
a couple of weeks ago, I discovered the same bug that default enums (i.e. 0) are always mapped to a string even if mapping to integers is requested. I still can reproduce the bug with the test code posted above:
{"gender":"E_GENDER_MALE"}

 I'm using protobuf 3.5.1 (C++)

[2018-06-27 10:10] asimonov commented on #4444
thank you for the example!

[2018-06-27 14:23] chukrum47 commented on #4735
Sure thing! Note that all values were gathered with Android Studio's debugger, and I recently upgraded to Android version 8.0.0.

I also tried running the same series of commands in reverse; so, Escaping then Unescaping. The result was also incorrect.

[code]

Also, I've included the values when using my own minimal base64 encoder/decoder:
[code]

It appears the problem is with Base64Escape.

I ha

[2018-06-27 16:31] acozzette commented on #4831
@lxl910915 I'm glad it's working now! I'm not sure what the problem was either, but one thing that could be problematic is passing both `-lprotobuf` and `/usr/local/lib/libprotobuf.a` to `g++`. It seems to me that you would want to pass one or the other but not both--perhaps the linker was getting confused because it was processing `libprotobuf.a` twice.

[2018-06-27 16:31] #4831 closed

[2018-06-27 16:47] acozzette commented on #4555
@nikhilpothuru Great, let me know if you have any questions!

[2018-06-27 16:56] acozzette commented on #1799
@zengjie617789 I'm not sure exactly how your build setup works but the important thing is just to have the same version for `protoc` and the libraries. Probably the easiest solution is to find out what version of the PyPI package you're using and then download and use a matching `protoc` from our [releases](https://github.com/google/protobuf/releases).

[2018-06-27 17:36] acozzette commented on #4735
Hmm, that is interesting. The example of encoding and decoding `abcdefghijkl` shows that we get a string which is almost (but not quite) a permutation of the original: `dcbgfejihjlk` The first four bytes are almost reversed, which could hint at an endianness issue.

[2018-06-27 18:10] xfxyjwf commented on #4773
@Renshk Why is it not thread-safe? I'm pretty sure C++11 guarantees static local variable to be initialized thread-safely.

[2018-06-27 20:32] wheezil commented on #4773
Greetings... I ran into this error (well, actually #4679) trying to build protobuf libraries for Windows using VS2017.  I found that copying the win32 distribution of protoc.exe over the built one allowed the build to complete successfully.  However, nmake check tests fail with similar errors.

Given that I have VS2017 and would like to proceed with a project, what is the best advice for working a

[2018-06-27 20:33] chukrum47 commented on #4735
Also, that same code was tested on a physical iPhone 6 and on an iPhone 7 simulator, and in both cases it functioned correctly.

[2018-06-27 20:42] thisch commented on #4794
There is a comment in https://github.com/google/protobuf/blob/HEAD/python/google/protobuf/pyext/descriptor.cc#L94

suggesting to completely remove the (hacky) `_CalledFromGeneratedFile` function. Are there any updates on this?

[2018-06-27 21:33] xfxyjwf commented on #4773
@wheezil The bug only happens in debug build so you can workaround it by using the release build version of protobuf. The pre-built binaries published by us also do not have this problem because they are release builds.

[2018-06-27 21:47] akokarev opened #4838 "C++ macOS make fail"
I try make libphonenumber/cpp and have problem with protobuf:
[code]
[code]

[2018-06-27 21:49] wheezil commented on #4773
Thanks! I will just go with the pre-built binaries.

[2018-06-27 22:57] BSBandme commented on #4661
Have you tried to update the protobuf to some higher version?
I think at least the master branch already solved this bug.

[2018-06-27 23:02] acozzette commented on #4838
It looks like you are getting errors on C++11 features like `constexpr`. You might have to update your build (or the libphonenumber build) to pass `-std=c++11` to the compiler.

[2018-06-28 04:50] LinkShen commented on #4661
As in my project we use the libprotobuf.a static library built by others, so I don't know the exact version I used. Maybe it's because of our protobuf version is too low. However I still would like to post my code for you to judge. @BSBandme
### proto define
[code]
### test code
[code]
### print result
{"playerID":0,"playerName":"","gender":"GENDER_TYPE_INVALID","apperance":[],"wear":[]}
{"playerI

[2018-06-28 06:44] TeBoring commented on #4809
Fixed in #4829

[2018-06-28 06:49] TeBoring commented on #4837
I don't understand your question. What do you mean by converting to byte[]. Encode?

[2018-06-28 06:50] TeBoring commented on #4834
Can you provide the text/json format of encoded data.

[2018-06-28 06:53] TeBoring commented on #4802
Pull request is welcome.

[2018-06-28 06:55] goel-sunny commented on #4834
you mean .proto file or callled schema  .

[2018-06-28 06:56] TeBoring commented on #4765
I'll fix it.

[2018-06-28 06:57] TeBoring commented on #4761
It's welcome to have a PR for this issue.

[2018-06-28 07:00] TeBoring commented on #4757
I think you composer.json should be something like:
[code]

[2018-06-28 07:03] TeBoring commented on #4746
This can be done in proto2 support. Unfortunately, I don't have time to implement that.

[2018-06-28 07:04] TeBoring commented on #4740
Which implementation are you using? php or c extension?
Do you have code to reproduce?

[2018-06-28 07:05] TeBoring commented on #4734
I'll fix it.

[2018-06-28 07:07] TeBoring commented on #4683
I'll fix it.

[2018-06-28 07:08] TeBoring commented on #4683
I think only commit to 3.5.x is needed, right? There is no need to push packages to pypi

[2018-06-28 07:09] TeBoring commented on #4580
I'll fix it.

[2018-06-28 07:10] TeBoring commented on #4573
I'll fix it.

[2018-06-28 07:13] TeBoring commented on #4549
ruby hasn't passed conformance test yet. This will be fixed.

[2018-06-28 07:16] TeBoring commented on #4474
Fixed in #4534

[2018-06-28 07:18] TeBoring commented on #4469
I'll add a conformance test for ruby2.5 on Mac and check it.

[2018-06-28 07:19] TeBoring commented on #4463
PR is welcome

[2018-06-28 07:22] #4391 closed

[2018-06-28 07:50] TeBoring commented on #4834
Proto definition and what’s set in data.
On Wed, Jun 27, 2018 at 23:55 goel-sunny <notifications@github.com> wrote:

[2018-06-28 07:58] ithillel-aminev opened #4840 "Generate js file from proto file with protoc v2.6.1"
**What version of protobuf and what language are you using?**
Version: v2.6.1
Language: JavaScript

**What operating system (Linux, Windows, ...) and version?**
Ubuntu Linux

**What runtime / compiler are you using (e.g., python version or gcc version)**
-

**What did you do?**
Steps to reproduce the behavior:
1. open my bash console
2. enter protoc --proto_path=src --js_out=library=whizz/ponycopt

[2018-06-28 08:03] goel-sunny commented on #4834
Proto defination is

syntax="proto3" ;
message  Sample {
    string name;
    int32  age ;
};

I used SerialiseToArray( void * , size )  when i pass char * in this it runs fine but in case of int * pointer it  fails i  get null message at javascript side .

But its defination says you can pass any type pointer that doesn't matter but i get exceptionally behaviour.

[2018-06-28 09:31] vmax opened #4841 "Cannot build //:protobuf under macOS"
**What version of protobuf and what language are you using?**
Version: `3.6.0.1`
Language: `Java`

**What operating system (Linux, Windows, ...) and version?**
`macOS 10.13.5`

**What runtime / compiler are you using (e.g., python version or gcc version)**
[code]

**What did you do?**
`bazel build //:protobuf`

**What did you expect to see**
Build completing successfully

**What did you see instea

[2018-06-28 10:51] SYJshang opened #4842 "为什么iOS序列化之后的数据跟Android的结果不一致？"

[2018-06-28 14:08] rishacha opened #4844 "Getting `libtool` version mismatch. How do I proceed?"
Hi,
**System** : Arch
**When?** : While building from source
**Command** : `make check`

**Error Log**
[code]
I tried searching for a solution, but I don't know how to build `aclocal.m4` since I could not find the path. Please let me know if any additional information is needed.

I tried `autoreconf --force --install` before `./configure` but  it didn't work either.

How do I proceed with the buil

[2018-06-28 14:36] jhaber commented on #3474
Sure thing, pull request re-sent.

[2018-06-28 15:37] ejona86 commented on #3474
It seems like the correct class loader would be available from `regularForm.getClass().getClassLoader()`.

[2018-06-28 16:11] jhaber commented on #3474
`regularForm` is available on the serialization side and is used to initialize the `SerializedForm` fields, but then `SerializedForm` is serialized using Java serialization. So at deserialization time, inside the `readResolve` method, the only information we have is the fields that were serialized (`messageClassName` and `asBytes`). We could add more fields to `SerializedForm`, but I don't think t

[2018-06-28 16:34] ejona86 commented on #3474
Oh, I see, it is serialization. Class is serializable, and including it here does make some sense as it requires Java to figure out how to handle it... If Java can re-constitute the Class, then the ClassLoader will be correct.

It looks like Collections.checkedCollection keeps the Class for serialization and has explicit serialization support.

It just is unclear how in some environments Java can

[2018-06-28 18:29] jhaber commented on #3474
I sent a PR with that change, but I'm not actually sure it will fix the Spark issue. Based on my reading of that Javadoc, I'm afraid that the closest method on the stack will belong to `GeneratedMessageLite` in which case we're back where we started

[2018-06-28 20:33] TeBoring commented on #4834
I don't get you. Why do you need to put int*?

[2018-06-28 20:34] TeBoring commented on #4834
what's the serialized result?

[2018-06-28 20:48] #3711 closed

[2018-06-28 21:16] BSBandme commented on #4661
I think this has been fix in #4395, so please update your protobuf version to one that newer than Mar 26th will fix this error.

[2018-06-28 21:38] akokarev commented on #4838
Thanks! It's work for me!
I don't know what it's mean, I just open file ._../libphonenumber/cpp/build/CMakeCache.txt_, find line `CMAKE_CXX_FLAGS:STRING=` and replace with `CMAKE_CXX_FLAGS:STRING=-std=c++11 `. Now it's make ok!
Thanks a lot!

[2018-06-28 21:38] #4838 closed

[2018-06-28 22:59] yuikns commented on #4841
I am meeting exactly the same question.

It seems like to be the environment issue, since it had worked pretty well before I updated some packages through the app store.

[2018-06-28 23:16] yuikns commented on #4841
It worked pretty fine in bazel-0.14.1

Going to the [release page](https://github.com/bazelbuild/bazel/releases) and download the binary release for mac through url <https://github.com/bazelbuild/bazel/releases/download/0.14.1/bazel-0.14.1-darwin-x86_64>

It resolve the problem.

However, I still not found the solution yet.

[2018-06-28 23:33] acgtun commented on #4842
it is better to give an example.

[2018-06-29 01:18] SYJshang commented on #4842
我在iOS端序列化出来之后的数据为 4808e20f 12114b4d 4c384630 30393143 43323446 4441311a 304f2e1c e9996fe5 09429c92 3f67ebc4 af163709 9aef1bec a5ce694c d6e2bc47 0ce23a17 5d6e6116 e7f14551 1960e244 d4
而安卓那边序列化之后的是08e20f12114b4d4c38463030393143433234464441311a304f2e1ce9996fe509429c923f67ebc4af1637099aef1beca5ce694cd6e2bc470ce23a175d6e6116e7f145511960e244d4这个
前边会多出一个48。在嵌入式那边认证的是安卓的是正确的。我怀疑会不会是protobuf结构中可选值在不传的情况下不同

[2018-06-29 01:33] LinkShen commented on #4661
Thanks for your help! we'll try to update to 3.6.0 @BSBandme

[2018-06-29 03:11] ujsyehao commented on #1799
@acozzette Hi, I have protoc 2.6, I install protoc 3.6(from source), and when I type `protoc --version`, it gets 'libprotoc 3.6.0', How I can get origin protoc 2.6(when I type protoc --version, I get protoc 2.6)?

[2018-06-29 07:39] Luttik opened #4848 "Documentation suggestion (Findability of MessageToDict and MessageToJson)"
Hi,

I found that all documentation in the [python tutorial](https://developers.google.com/protocol-buffers/docs/pythontutorial) focusses on building protocol buffers, but the equally important part of converting protobufs back to the language standard objects seem to be missing completely. Therefore I would like to suggest to at least mention MessageToDict and MessageToJson somewhere in the docum

[2018-06-29 08:28] playgithub opened #4849 "Link error when using protobuf lib"
**What version of protobuf and what language are you using?**
Version: master/v3.6.0.1
Language: C++

**What operating system (Linux, Windows, ...) and version?**
Windows 10 Pro

**What runtime / compiler are you using (e.g., python version or gcc version)**
MSVC 15, i.e. VS2017
shared lib
x64

**What did you do?**
Steps to reproduce the behavior:
1. the lib is built as shared lib x64
2. make a mo

[2018-06-29 08:30] #4849 closed

[2018-06-29 08:31] playgithub commented on #4849
Solved by
`#define PROTOBUF_USE_DLLS`
in the test project

[2018-06-29 15:21] ejona86 commented on #3474
@jhaber, the closest method on the stack when _decoding_, so whatever is calling ObjectInputStream. `ObjectInputStream` would end up creating `SerializedForm` and reconstituting the `Class`, and then afterwards call `readResolve()`.

[2018-06-29 17:49] acozzette commented on #1799
If you're using Linux then I'm guessing you have protoc 2.6 at `/usr/bin/protoc` (installed via the package manager) whereas your 3.6 version was installed to `/usr/local/bin/protoc`. If you want to use 2.6, you could either explicitly call `/usr/bin/protoc` or delete the version in `/usr/local/bin`.

[2018-06-29 22:16] ZacVawterKodiak commented on #2946
Would really love the js reflection support (in seperate files is fine)..

[2018-06-29 22:40] acozzette commented on #4840
We added support for JS in the 3.0 release, so unfortunately it's not possible to use JavaScript with 2.6.1.

[2018-06-29 22:51] acozzette commented on #4844
It looks like that error is coming from the `third_party/googletest/googlemock` directory--could you try `cd`ing there and running `autoreconf --force --install` in that directory?

[2018-06-29 23:39] #4832 closed

[2018-06-29 23:41] acozzette commented on #4775
Let me close this just to tidy up my open issues, but feel free to reply here again if you have more questions.

[2018-06-29 23:41] #4775 closed

[2018-06-29 23:41] #4752 closed

[2018-06-29 23:41] #4751 closed

[2018-06-29 23:46] rishacha commented on #4844
Didn't work. I `cd`ed and ran `autoreconf --force --install`

I'm attaching the files from each step.
[autoreconf.log](https://github.com/google/protobuf/files/2151212/autoreconf.log)
[configure.log](https://github.com/google/protobuf/files/2151215/configure.log)
[make.log](https://github.com/google/protobuf/files/2151216/make.log)
[makecheck.log](https://github.com/google/protobuf/files/2151217/m

[2018-06-29 23:48] TeBoring commented on #4757
Feel free to reopen if the problem still exist.

[2018-06-29 23:48] #4757 closed

[2018-06-29 23:56] TeBoring commented on #3970
Added in #4622

[2018-06-29 23:56] #3970 closed

[2018-06-30 00:01] TeBoring commented on #3716
No plan yet. But will investigate.

[2018-06-30 00:02] TeBoring commented on #3513
Duplicates of #3623

[2018-06-30 00:02] #3513 closed

[2018-06-30 00:04] TeBoring commented on #3369
Added in #4536

[2018-06-30 00:04] #3369 closed

[2018-06-30 00:11] TeBoring commented on #3532
Does the error still exist in 3.6.0 release?

[2018-06-30 00:12] #2803 closed

[2018-06-30 00:14] TeBoring commented on #358
Duplicates of #3623

[2018-06-30 00:15] TeBoring commented on #3330
This is implementation detail.

[2018-06-30 00:15] #3330 closed

[2018-06-30 04:46] amereii commented on #4757
@TeBoring See https://github.com/RooyeKhat-Media/iGap-PHP-Client/blob/master/composer.json#L12-L18
Why you think it's wrong?

I tried the following and run `composer dumpautoload` and still having problem
[code]

As **./src** contains GPBMetadata and Proto , https://github.com/RooyeKhat-Media/iGap-PHP-Client/tree/master/src

[2018-06-30 04:48] TeBoring commented on #4757
But the command you used to generate proto files direct to out directory
On Fri, Jun 29, 2018 at 21:46 Asghar Amereii <notifications@github.com>
wrote:

[2018-06-30 04:49] amereii commented on #4757
@TeBoring I just copy them to **./src**

[2018-06-30 04:51] TeBoring commented on #4757
You can not copy them. Code depends on the path.
On Fri, Jun 29, 2018 at 21:50 Asghar Amereii <notifications@github.com>
wrote:

[2018-06-30 04:52] amereii commented on #4757
@TeBoring Can you show me in these files
https://github.com/RooyeKhat-Media/iGap-PHP-Client/blob/master/src/Proto/UserLogin.php
https://github.com/RooyeKhat-Media/iGap-PHP-Client/blob/master/src/GPBMetadata/UserLogin.php

How is it depends on the path? It just use namespace ?

[2018-06-30 04:53] TeBoring commented on #4757
Why don’t you start with a simple proto and do some experiments with it.
See how to make it work.
On Fri, Jun 29, 2018 at 21:50 Paul Yang <paulyang1211@gmail.com> wrote:

[2018-06-30 04:53] xfxyjwf commented on #4841
@vmax @yuikns Thanks for the reports. Closing as this looks like a bazel issue: https://github.com/bazelbuild/bazel/issues/5468

[2018-06-30 04:53] #4841 closed

[2018-06-30 04:55] amereii commented on #4757
@TeBoring Can you tell me why The following code works?

https://github.com/RooyeKhat-Media/iGap-PHP-Client/blob/master/src/examples/register.php#L25
https://github.com/RooyeKhat-Media/iGap-PHP-Client/blob/master/src/examples/register.php#L32
https://github.com/RooyeKhat-Media/iGap-PHP-Client/blob/master/src/examples/register.php#L41
https://github.com/RooyeKhat-Media/iGap-PHP-Client/blob/master/s

[2018-06-30 04:58] amereii commented on #4757
@TeBoring Can you tell me why The following code works?

https://github.com/RooyeKhat-Media/iGap-PHP-Client/blob/master/src/examples/register.php#L25
https://github.com/RooyeKhat-Media/iGap-PHP-Client/blob/master/src/examples/register.php#L33
https://github.com/RooyeKhat-Media/iGap-PHP-Client/blob/master/src/examples/register.php#L74

You can see
* ```new \Proto\UserRegister()```
* ```new \Proto\U

[2018-06-30 05:28] TeBoring commented on #4757
If you don't use protobuf c extension, is there any error?

[2018-06-30 05:42] amereii commented on #4757
@TeBoring If you mean I comment `extension=protobuf.so` and run script the error is

[2018-06-30 05:48] TeBoring commented on #4757
You should first config your composer.json to work with protobuf’s php
implementation. Doesn’t it depend on protobuf in composer.json?
On Fri, Jun 29, 2018 at 22:42 Asghar Amereii <notifications@github.com>
wrote:

[2018-06-30 05:49] amereii commented on #4757
@TeBoring Can you explain how exactly?
My composer.json https://github.com/RooyeKhat-Media/iGap-PHP-Client/blob/master/composer.json

[2018-06-30 05:57] amereii commented on #4757
I run `composer require google/protobuf` and comment `extension=protobuf.so` to disable c extension

When I use **Pure PHP package** I have the following error

Here : https://github.com/RooyeKhat-Media/iGap-PHP-Client/blob/master/src/GPBMetadata/UserLogin.php#L19

[2018-06-30 05:59] amereii commented on #4757
I think as **Global** is reserved key in PHP we have problem

[2018-06-30 06:01] amereii commented on #4757
Google create a class named `global`
https://github.com/RooyeKhat-Media/iGap-PHP-Client/blob/master/src/GPBMetadata/Global.php#L7

[2018-06-30 06:02] amereii commented on #4757
You must handle reserved keys http://php.net/manual/en/reserved.keywords.php , I suggest prepend _

[2018-06-30 06:05] TeBoring commented on #4757
What's the protoc version you are using? In 3.6.0, the protoc has handled reserved name in proto filename

[2018-06-30 06:16] uds5501 opened #4851 "Getting `libprotobuf.la` is not a valid libtool archive"
I was building from source according to the C++ installation instructions as describe [here](https://github.com/google/protobuf/blob/master/src/README.md) when I encountered this error.

**Cloned**: `master` branch
**OS**: Ubuntu 16.04.4 LTS
**Command**: `make`

**Error Log**
[code]

How do I resolve this error?

[2018-06-30 06:22] amereii commented on #4757
I opened issue 18 days ago and used libprotoc 3.5.1 , the 3.6.0 released 11 days ago , Let me try it

[2018-06-30 07:13] amereii commented on #4757
Solved in 3.6.0

[2018-06-30 18:55] wlwanpan opened #4852 "Compiled nested message definitions return wrong variable name"
Version: master/v3.5.0.
Language: Ruby
OS: macOS
Compiler: gcc

1. Add a nested message definition
[code]
2. Compile with flag --ruby_out

3. Result
[code]

4. Error
[code]

Expected
[code]

Got
[code]

[2018-07-01 12:41] atrauzzi commented on #3970
🎉

[2018-07-01 17:18] TeBoring commented on #4834
closed for now. If there is still problem, feel free to reopen.

[2018-07-01 17:18] #4834 closed

[2018-07-02 12:22] bric3 commented on #4406
The java implementation could understand how to serialize BigDecimal or BigInteger to/from strings.

[2018-07-02 15:11] Monekyzoon opened #4855 "make error"
after I make the c++ project......it comes to a cycle

depbase=`echo google/protobuf/compiler/main.o | sed 's|[^/]*$|.deps/&|;s|\.o$||'`;\
g++ -DHAVE_CONFIG_H -I. -I..    -pthread -DHAVE_PTHREAD=1  -Wall -Wno-sign-compare -O2 -g -DNDEBUG -MT google/protobuf/compiler/main.o -MD -MP -MF $depbase.Tpo -c -o google/protobuf/compiler/main.o google/protobuf/compiler/main.cc &&\
mv -f $depbase.Tpo $depbas

[2018-07-02 16:44] acozzette commented on #4844
What source are you building from? Is this from a source tarball or a checked-out Git repo?

[2018-07-02 17:50] #4717 closed

[2018-07-02 19:15] gpshead commented on #4721
I'm working on a fix for this internally.  Testing now.

Under Python 3 `text_format` is entirely broken when it comes to parsing text protos that are not ASCII. It is also entirely broken when supposedly generating "utf-8" text protos if someone was unfortunate to use the `as_utf8=True` option on `text_format.MessageToString`.

I too came to this issue via METADATA files as we're updating all sor

[2018-07-02 20:37] TeBoring commented on #3346
I think now you can add the field option: js_type = string

[2018-07-02 20:37] #3346 closed

[2018-07-02 20:42] anandolee commented on #4484
I've downloaded the binary message, however it is a bit complex and the .proto file also has a lot of nested message definitions and import dependencies. The dependencies files are not provided that we are unable to reproduce the error.

You mentioned protoc --decode_raw works well, can you also try if the data works well with .proto files in c++?  Because python cpp extension is calling c++ code

[2018-07-02 20:55] anandolee commented on #4086
Python 3.7.0 was released last week on 2018-06-27. We need to add support for 3.7 and add test for it in test.sh: https://github.com/google/protobuf/blob/00d32539c6aa0c4efe9577561a00f443edd9a417/tests.sh#L244

[2018-07-02 20:58] xfxyjwf commented on #1389
Developer guide updated:
https://developers.google.com/protocol-buffers/docs/proto3#json_options

[2018-07-02 20:58] #1389 closed

[2018-07-02 21:07] xfxyjwf commented on #1991
The Any documentation has been updated to call out the networking behavior as optional:
https://github.com/google/protobuf/blame/master/src/google/protobuf/any.proto#L129-L132

[2018-07-02 21:07] #1991 closed

[2018-07-02 21:08] #4496 closed

[2018-07-02 21:09] #4506 closed

[2018-07-02 21:10] acozzette commented on #3844
Let me close this issue because in the past few releases we have been publishing aarch64 binaries.

[2018-07-02 21:10] #3844 closed

[2018-07-02 21:12] xfxyjwf commented on #3816
FieldDescriptorProto/DescriptorProto is a regular proto type. We can't add special accessors for it.

[2018-07-02 21:12] #3816 closed

[2018-07-02 21:13] #2108 closed

[2018-07-02 21:35] amauryfa commented on #4484
The uast.Node message is recursive, and the actual message is more than 100 levels deep.
The C++ implementation [has a limit](https://github.com/google/protobuf/blob/master/src/google/protobuf/io/coded_stream.h#L398), to prevent stack overflow. But AFAICT this is not accessible from Python code.

[2018-07-02 22:08] #1313 closed

[2018-07-02 22:08] #1314 closed

[2018-07-02 22:11] acozzette commented on #4851
@uds5501 It looks to me like we must have some logic somewhere that can't handle spaces in file names, because I see you're building within a directory called `git clones` but the error message just refers to `clones/Google/...`. Ideally our build would be able to handle this but probably the easier fix would be to just rename your `git clones` directory as `git_clones`.

[2018-07-02 22:12] #4809 closed

[2018-07-03 01:54] #3846 closed

[2018-07-03 09:00] imsuperman0920 opened #4858 "[Java] got outofmemory when deserializing a large object"
Hi all
I created a proto as below:

[code]

I put data (240mb) in the pb object and serialized the object to a local file (590mb).
**The size doubled. Why it happened?**

Next, I convertered the local file to pb object, the Xms and Xmx both are 5g.
Finally, I got a outofmemory exception.

Is there something wrong with the usage ?

 BTW: the version of protobuf.jar is 3.6.0

Please help ~

[2018-07-03 09:03] rishacha commented on #4844
I'm building this from the checked-out Git repo.

[2018-07-03 11:55] rishacha opened #4859 "Error occured while building examples using bazel"
Hi,

I get the following error while building examples (under `/examples` folder) using `bazel build :all`

[code]
Can someone help me with this ? I can provide additional details if you need.

[2018-07-03 11:59] prithvishenoy7 opened #4860 "Trouble with Protobuf while building omnet++"
In file included from util/ClientServerChannel.h:5:0,
                 from evt/VSimRTIEventScheduler.h:6,
                 from evt/VSimRTIEventScheduler.cc:6:
util/ClientServerChannelMessages.pb.h:12:2: error: #error This file was generated by a newer version of protoc which is
 #error This file was generated by a newer version of protoc which is
  ^~~~~
util/ClientServerChannelMessages.pb.h:13:

[2018-07-03 14:55] wittmeie opened #4861 "Duplicate custom option names generate compiler error"
**What version of protobuf and what language are you using?**
Version: v3.6.0
Language: C++

**What operating system (Linux, Windows, ...) and version?**
Linux, Ubuntu 16.04

**What runtime / compiler are you using (e.g., python version or gcc version)**
gcc (Ubuntu 5.4.0-6ubuntu1~16.04.10) 5.4.0 20160609

**What did you do?**
Generated two custom options, one for messages and for services with th

[2018-07-03 14:59] OussamaElgoumri commented on #4740
i'am using php package and google dialogflow library

[code]

and this is the `SessionsResponse` class

[code]

[2018-07-03 17:50] xfxyjwf commented on #4861
Your proposal can't be implemented. The name of the extension will be used as the name of the generated extension identifier. For extensions in the same scope their generated extension identifiers will be put inside the same scope in the generated code as well (e.g., in the same C++ namespace, or in the same Java class). If two extensions have the same name, their generated extension identifiers w

[2018-07-03 17:50] #4861 closed

[2018-07-03 17:51] xfxyjwf commented on #4860
Please make sure the protoc you are using to generate code for .proto files has the same version as the protobuf library your project depends on.

[2018-07-03 18:03] xfxyjwf commented on #4859
I'm fixing it in https://github.com/google/protobuf/pull/4863

[2018-07-03 18:10] xfxyjwf commented on #4858
Protobuf will add tag prefixes to data fields so the serialized data will be a bit larger. If your data fields are generally small (e.g., many string fields with 1 character), the data prefixes can be a significant part of the serialized bytes.

I don't know what it OOM though. It looks like you only have string fields and the memory used shouldn't be bloated too much. Also if you can serialize th

[2018-07-03 18:23] xfxyjwf opened #4864 "Macos C++ test is failing on cpp-benchmark"
See: https://source.cloud.google.com/results/invocations/9287e8f1-ccc5-40f1-82ce-92abd791d6d8/targets/protobuf%2Fgithub%2Fmaster%2Fmacos%2Fcpp%2Fpresubmit/log

[code]

[2018-07-03 19:50] dncliss opened #4865 "(Minor) Unnecessary integer conversion compilation warning in arena_impl.h"
Version: v3.6.0 (present in master as well)
Language: C++
Operating System: RHEL 7.5 (but issue isn't OS-specific) on Power
Compiler: "NVCC" (via cuda-nvcc-9-2-9.2.88-1.ppc64le)

Recreation:
You can see the error when building BVLC's caffe using protobuf with the CUDA nvcc compiler,
although it is easy to understand how this can be seen with other project builds and possibly other
compilers.

The

[2018-07-03 20:15] lukesneeringer commented on #4796
One thing I would love to see in the future would be the built-in "plugins" (e.g. `--cpp_out`, `--python_out` become separate executables with their own repositories and separate contributors.

[2018-07-03 20:18] thisch commented on #4794
@anandolee what do you think about this feature request? Does it make sense if I come up with a PR?

[2018-07-03 20:20] acozzette commented on #4844
Could you try doing a fresh git clone and seeing if the build works after that? The reason I think that might help is that the answer to this StackOverflow [question](https://stackoverflow.com/questions/3096989/libtool-version-mismatch-error) suggests that this error happens when certain generated files are built by different versions of the build tools. So perhaps you somehow ended up with a bad

[2018-07-03 20:59] sneko commented on #4110
@xfxyjwf I don't understand, it's still not working for me with protoc v3.6.0 😢

[2018-07-03 21:02] xfxyjwf commented on #4110
@sneko Can you create a separate issue listing the steps to reproduce the problem?

[2018-07-04 01:53] imsuperman0920 commented on #4858
@xfxyjwf Thank you for your message.
In the object, all fields (including map's key and value) are string and some values in the map may be little big (some coordinate sequence). Dose it affect the data parsing ?
I just deal single proto object when I parse it back~

[2018-07-04 06:38] imsuperman0920 commented on #4858
_[root@localhost test]# java -Xms5g -Xmx5g -jar ProtobufTester.jar /APP/midmif/out_bak/Rbeijing_dir322.rinf_
[code]

[2018-07-04 11:59] rishacha commented on #4844
I tried, but the error is still persistent

[2018-07-04 12:11] rishacha commented on #4844
I tried the above solution and I'm still getting the same error.

[2018-07-05 01:54] Zhangs7117 commented on #4844
I am bumping into the same question, have u find the solution? thanks

[2018-07-05 07:17] qzmfranklin commented on #4086
Awesome to see some progress on this!

[2018-07-05 11:00] maniankara commented on #976
+1 this is very much needed feature. For now going ahead with inefficient approach by @MaerF0x0

[2018-07-05 13:29] dmytrodiachenko opened #4866 "C# Slow first deserialization"
Perhaps someone is also faced with this problem.
When I try to deserialize the model for the first time, it takes a lot of time, but secondly, the third one ... looks good. These are happens every time when you try to deserialize the model for the first time.
I almost understand why this is happening, but maybe there is a solution to this problem?

First deserialization = 3.119ms.
Second deseriali

[2018-07-05 14:03] wheezil opened #4867 "protoc --grpc_out should look on Windows path for grpc_cpp_plugin.exe"
**What language does this apply to?**
Probably all, but I've only tried the cpp plugin

If it's a proto syntax change, is it for proto2 or proto3?
Not syntax change

If it's about generated code change, what programming language?
Not generated code change

**Describe the problem you are trying to solve.**
On Windows, I have grpc_cpp_plugin.exe in my PATH.  However, I cannot specify the plugin this

[2018-07-05 14:25] jtattermusch opened #4868 "protoc-artifacts/Dockerfile no longer works with protobuf 3.6.0"
The docker image used for building protoc artifacts does no longer work as protobuf 3.6.0 now requires C++11 and the docker image has gcc4.7 only.

I'm facing problems upgrading grpc's third_party/protobuf to 3.6.0 because of that (we use a similar dockerfile for building the protoc artifacts, the WIP PR is https://github.com/grpc/grpc/pull/15597).

[code]

It looks like the 3.6.0 binaries are ava

[2018-07-05 17:56] jtattermusch commented on #4868
@zhangkun83  you seem to be the original author of the Dockerfile - it there are particular reason why we chose to build the artifacts under CentOS 6.6?   I know we wanted to get binaries that are binary compatible with a wide range of distributions, but it seems to me that some of the older debian distributions (wheezy or jessie) would work as well and we wouldn't be needing workarounds for some

[2018-07-05 18:30] carl-mastrangelo commented on #976
@MaerF0x0 & @maniankara & @sheepdreamofandroids  You are not using it as expected.   This is the right way to do this in proto3:

[code]

Your client sends the first request with the `recordset_id` field set.  Proto knows how to distinguish between which of the "One Of" fields have been set.   You need to make your client send the id first, and then the records later.  The server needs to check th

[2018-07-06 03:45] keep2iron opened #4871 "goog.asserts.AssertionError"
I have encountered some difficulties.

goog.asserts.AssertionError {message: "Failure: Invalid wire type", reportErrorToServer: true, messagePattern: "Failure: Invalid wire type", stack: "AssertionError: Failure: Invalid wire type↵    at …81/50a1c93a-aa23-44f1-8147-ea869bc10bee:62641:93)"}

I use protobuf on react-native。

[code]

[2018-07-06 04:20] sara-eb commented on #574
@abendebury  I have installed protobuf 2.6.0 on ubuntu. I have compiled the protobuf source in this directory `/home/user/softwares/code/protobuf-2.6.0` with the default configuration. I have compiled and installed caffe successfully, but I am facing with an error once I want to import it into python.
[code]

Do you have any suggestion how to solve this issue `SyntaxError: invalid syntax`? Thanks

[2018-07-06 07:32] puppylpg commented on #2900
Thanks @haberman very much

[2018-07-06 08:57] jtattermusch commented on #4868
update: I was able to get the centos6.6 dockerfile working with devtools-2  in https://github.com/grpc/grpc/pull/15597 and the I've verified that it can successfully build protoc for protobuf 3.6.0. If the PR gets merged, we should sync the protobuf's version of that dockerfile with our version.

[2018-07-06 10:27] jtattermusch opened #4874 "Assertion error in protoc.exe built by VS2017: CHECK failed: file != NULL"
protoc v3.6.0 on windows (built using VS2017)

[code]

crashes with an assertion:
`[libprotobuf FATAL C:\Users\jtattermusch\github\grpc\third_party\protobuf\src\google\protobuf\generated_message_reflection.cc:2372] CHECK failed: file != NULL`

[2018-07-06 10:39] jtattermusch commented on #4874
Minimal repro:
`protoc.exe --cpp_out=. src/proto/grpc/health/v1/health.proto`  (using health.proto from grpc's repo)
still crashes with the same assertion error.

https://github.com/google/protobuf/blob/79700b56b99fa5c8c22ddef78e6c9557ff711379/src/google/protobuf/generated_message_reflection.cc#L2372

[2018-07-06 10:41] sigiesec commented on #4874
I think this is the same as #4773

[2018-07-06 10:43] jtattermusch commented on #4874
Interestingly, when building with VS2015, I don't see protoc crashing - I only see it for VS2017 (see grpc's build https://source.cloud.google.com/results/invocations/1322c557-38df-4b30-b5bc-a1d70f21a93d/targets/github%2Fgrpc%2Faggregate_tests/tests;passed=true)

[2018-07-06 10:51] jtattermusch commented on #4874
@sigiesec  you're right, thanks! There seems to be a fix for this in progress, I'll try to expedite it and push for protobuf 3.6.1 patch release.

[2018-07-06 17:07] xfxyjwf commented on #4858
What's the memory usage when you serialize the proto object?

[2018-07-06 17:22] xfxyjwf commented on #4868
@acozzette Adam, I remember you used a new docker image or something to build 3.6.0 protoc release binary?

[2018-07-06 17:27] #4874 closed, assigned to nobody

[2018-07-06 17:56] sheepdreamofandroids commented on #976
@carl-mastrangelo You're right that a possible head or tail to a stream should be a message and not just one field.

But it would be nice to be explicit about the fact that that message is a head or a tail instead of defining it in comments somewhere. E.g.:
[code]
Or maybe a bit more terse:
[code]
Of course it doesn't "do" anything that your method doesn't, it's just a bit more explicit about the

[2018-07-06 18:44] BSBandme commented on #4864
What about deleting benchmark checks from tests.sh?

[2018-07-06 19:04] carl-mastrangelo commented on #976
@sheepdreamofandroids You can do something similar with MethodExtensions, and then modify the code generator to do that.  The questions is: why?   gRPC headers and trailers _already_ give you that ability.  Now there are two ways to do things.  Also, your proposal doesn't cover header-message-trailer responses, so now there are 6 messages minimum per rpc method?   And are headers or trailers strea

[2018-07-06 19:23] BSBandme commented on #4864
Tested locally but didn't fail.

From the log it seems that the name of object generated by automake is different from locally.
On kokoro the benchmark obejct is cpp/benchmark-cpp_benchmark.o, but it should be cpp/cpp_benchmark-cpp_benchmark.o, so it failed.

I'll just try to update one dependency declaration for cpp/benchmark-cpp_benchmark.o first.

[2018-07-06 19:26] amitvyawahare opened #4875 "How to set map field on protoBuff java side"
The example message:

message example {
          string a = 1;
          string b = 2;
          map<int32, String> c = 3;
}

ProtoBuff 3.0 compiler for java will create setA, setB methods on builder but not setC. What is the correct way to set map c ?

[2018-07-06 19:40] acozzette commented on #4868
Yes, sorry for the trouble, I tweaked the configuration to use devtools-2 but forgot to send out that change after I finished the release. I just sent out my change in #4877.

[2018-07-06 20:01] acozzette commented on #4844
Hmm, if a fresh Git clone doesn't solve the problem then I'm not sure what else to try. That's good to hear that the release tarballs work at least. @rishacha If you're able to figure out a fix then let us know.

[2018-07-06 22:50] #4868 closed

[2018-07-06 22:54] abendebury commented on #574
@sara-eb: seems like an unrelated problem, you should open a new issue or try stackoverflow

[2018-07-06 23:08] xfxyjwf commented on #4875
See: https://developers.google.com/protocol-buffers/docs/reference/java-generated#map-fields

[2018-07-06 23:08] #4875 closed

[2018-07-06 23:17] xfxyjwf commented on #4866
I bet it's the class loading/JIT stuff that makes the first parsing much slower. That's what happens in Java and users usually workaround it using a warmup step.

[2018-07-07 03:54] sara-eb commented on #574
@abendebury I deleted my question from here. Thank you

[2018-07-07 06:54] thinkerou commented on #4213
@xyxiaoyou what's question? thanks!

[2018-07-08 01:19] simplesteph commented on #4406
I agree `string` looks like an easy candidate, but not an efficient one in terms of space, or type safety (not every string is a BigDecimal!). Avro went the binary route, but it's a complete nightmare to implement cross language (just look at the support for it across languages, ugh...).

A clunky one, but safe and easy to reason about, would be
[code]
where `left` and `right` are left of the comm

[2018-07-08 22:37] tmc commented on #1231
For what it's worth I have a typescript generator here: https://github.com/tmc/grpcutil/tree/master/protoc-gen-tstypes

[2018-07-09 15:08] paneq commented on #4455
Cool!

I hope this bubbles up to higher in the prio soon! :)

[2018-07-09 17:49] jeremy-rutman opened #4883 "not clear how to install prebuilt binaries"
I downloaded the prebuilt binaries for my platform, unzipped ... now what?
No instructions in the readme, no install.txt, running install.sh gives a 'no input file specified' error.
A line or two of usable instruction would come in handy

[2018-07-09 18:08] flockonus commented on #697
As reference for ppl coming next, one possible answer using protobuf is https://grpc.io as its main msg exchange medium is protobuf

[2018-07-09 18:29] gentlemich commented on #4460
Hi guys, Any workaround for this issue?

[2018-07-09 18:45] #4773 closed

[2018-07-09 20:20] xfxyjwf opened #4884 "Reorganize the kokoro/release directory"
Current layout:
[code]

The layout for ruby and protoc is not consistent. Desired layout would be:
[code]

[2018-07-09 20:24] xfxyjwf commented on #4883
You probably downloaded the wrong zip. Try (if you are using windows):
https://github.com/google/protobuf/releases/download/v3.6.0/protoc-3.6.0-win32.zip

[2018-07-09 20:35] TeBoring commented on #4718
Unlike pack and unpack, Any.encode can only encode Any message. You should do:
[code]

[2018-07-09 20:39] TeBoring commented on #4718
However, segmentation fault is not what we want. Instead, exception should be thrown. We will fix that.

[2018-07-09 20:39] xfxyjwf commented on #1889
I'll make a Java lite release this quarter (Q3), and for well-known types I plan to create a separate Java artifact.

[2018-07-09 20:42] acozzette commented on #4688
@taoxinyi Let me close this issue for now but feel free to post here if you're able to figure out more about which field is causing the problem.

This might also be related to #4721. I think that bug is similar because it only affects Python 3 and involves handling of non-ASCII UTF-8 characters.

[2018-07-09 20:42] #4688 closed

[2018-07-09 20:43] #4851 closed

[2018-07-09 20:44] #4840 closed

[2018-07-09 20:45] #4763 closed

[2018-07-09 20:57] #4864 closed

[2018-07-09 20:59] #4427 closed

[2018-07-09 21:03] acozzette commented on #4514
@jkff Sorry for taking such a long time to reply to this--are you still running into this problem? I wonder if it's potentially caused by a mismatch between the `protoc` version and the runtime, because the runtime has to be at least as new as the `protoc` version used for generating code.

[2018-07-09 21:07] jkff commented on #4514
I've run into this problem both times when I tried to modify this proto, but both times was able to work around it (in first case adding a bogus field, second removing it back). I haven't run into it since then, but something is clearly quite broken here.

If there's currently too little information to provide a real fix, a good first step would be to improve the proto parsing error messages (like

[2018-07-09 21:32] igorpeshansky commented on #4718
Right, I understand that the repro case is contrived. This bug was opened exactly to turn a segfault into some reasonable Ruby-level error or exception.

[2018-07-09 21:37] dncliss commented on #4865
My suggested patch is this:

diff --git a/src/google/protobuf/arena_impl.h b/src/google/protobuf/arena_impl.h
index f648f16..dbb3634 100644
--- a/src/google/protobuf/arena_impl.h
+++ b/src/google/protobuf/arena_impl.h
@@ -52,7 +52,7 @@ namespace internal {

 inline size_t AlignUpTo8(size_t n) {
   // Align n to next multiple of 8 (from Hacker's Delight, Chapter 3.)
-  return (n + 7) & -8;
+  retur

[2018-07-09 21:42] dncliss commented on #4865
[arena_impl_patch.txt](https://github.com/google/protobuf/files/2178097/arena_impl_patch.txt)

My suggested patch

[2018-07-10 01:04] tommyjcarpenter opened #4886 "why is default for MessageToJson preserving_proto_field_name False?"
In this file: https://github.com/google/protobuf/blob/master/python/google/protobuf/json_format.py

I am kind of puzzled as to why the default of `preserving_proto_field_name` is `False`, as in, "manipulate the data structure by default". This was the source of an obscure bug in our codebase. I would like to know the rationale behind manipulation as a default. I think the field should be something

[2018-07-10 03:46] jeremy-rutman commented on #4883
I downloaded https://github.com/google/protobuf/releases/download/v3.6.0/protobuf-all-3.6.0.tar.gz
expecting it to be suitable for ubuntu 18.04.  BTW how would downloading the wrong zip lead to a lack of instructions?

[2018-07-10 06:45] ithillel-aminev commented on #4840
It would be great to mention that version restriction on the official page https://developers.google.com/protocol-buffers/docs/reference/javascript-generated

[2018-07-10 07:11] jwall149 commented on #4274
[code]

[2018-07-10 07:29] tbillington commented on #4274
@jwall149 Are you sure `random` isn't a valid option?

[2018-07-10 10:18] chronoxor opened #4887 "OnShutdownDelete shadowing issue"
GCC 8.1.0 with -Wall -Werror -Wshadow -pedantic options

/home/travis/build/chronoxor/CppSerialization/modules/protobuf/src/google/protobuf/stubs/common.h:209:33: error: declaration of ‘const void* p’ shadows a parameter [-Werror=shadow]
   OnShutdownRun([](const void* p) { delete static_cast<const T*>(p); }, p);
                                 ^
/home/travis/build/chronoxor/CppSerialization/modu

[2018-07-10 13:41] psaelango commented on #2612
@cristianmad  @haberman
Can you please kindly share the updated solution for using protobuf.Any in javascript.

[2018-07-10 17:46] xfxyjwf commented on #4883
@jeremy-rutman Have you read the README.md file carefully in the package you downloaded?
https://github.com/google/protobuf/blob/master/README.md#protocol-compiler-installation

I think it's very clear on how to install pre-built protoc binaries. You were either looking at the wrong file, or overlooked it.

[2018-07-10 17:46] #4883 closed

[2018-07-10 19:32] philsc opened #4890 "deprecated attributes for C++ are no longer generated"
**What version of protobuf and what language are you using?**
Version: master
Language: C++

**What operating system (Linux, Windows, ...) and version?**
[code]
**What runtime / compiler are you using (e.g., python version or gcc version)**
[code]
**What did you do?**
I have the following .proto:
[code]

I look at the generated code and see the following:
[code]

And I have the following code usin

[2018-07-10 19:45] philsc commented on #4890
I should clarify.

We had a local patch that enabled it like so:
[code]

But it's no longer possible. Even something like:
[code]
is not an option because now the .pb.cc files fail to compile with deprecation warnings.

[2018-07-10 20:29] dluc commented on #3636
Same would be useful for C# (.NET Core)

[2018-07-10 20:30] jeremy-rutman commented on #4883
sorry but its really not at all clear what to do after downloading and unzipping the protobuf tar.gz.   The README basically tells me nothing past downloading , and that installing the pre-built binary is the easiest for non C++ users.  I am guessing that I should take the protoc binary and put it in my path?   Consider that what may be obvious to you , who may have previous experience with protob

[2018-07-10 20:32] dluc commented on #658
The simpler, still very useful, support would be removing the need to compile .proto files to DLLs at build time, so that a .NET application could generate the serializer/deserializer at runtime (caching it in memory) from .proto files provided by users for example.

[2018-07-10 20:42] jskeet commented on #658
@dluc: That's *far* from simple - the C# code has no facility for parsing .proto files at all. That's all in protoc. If any dynamic message support is introduced, it would almost certainly work with the descriptors, not the original .proto files.

(And generating the code at execution time is far from trivial too - again, all the code generation is in protoc, not in the Google.Protobuf library.)

[2018-07-10 20:44] philsc commented on #4890
I would like to re-enable this with something like so:
[code]

Would you accept such a patch?

[2018-07-10 21:02] xfxyjwf commented on #4883
I think your confusion comes from downloading the wrong package. You thought you downloaded the prebuilt binary package, but you really didn't. If you have followed the instruction to download the prebuilt binary package, there is a README in that package to tell you to put the binary in your path.

[2018-07-10 21:17] #4887 closed

[2018-07-10 21:17] xfxyjwf commented on #4887
Thanks for the patch!

[2018-07-10 21:19] xfxyjwf commented on #4886
The default is "lowerCamelCase" per proto3 JSON spec:
https://developers.google.com/protocol-buffers/docs/proto3#json

[2018-07-10 21:19] #4886 closed

[2018-07-10 21:28] psaelango opened #4891 ""Google Protobuf Any" javscript example"
Can anyone please provide an example for https://developers.google.com/protocol-buffers/docs/proto3#any

I couldn't able to use the example provided in https://github.com/dcodeIO/protobuf.js/issues/435

[2018-07-11 05:48] xcwen opened #4892 "php protobuf.so same message name with diff namespace error"
**What version of protobuf and what language are you using?**
Version: master/v3.6.0/
Language: C++/Java/Python/C#/Ruby/PHP/Objective-C/Javascript
php
**What operating system (Linux, Windows, ...) and version?**
linux
**What runtime / compiler are you using (e.g., python version or gcc version)**
php-7.2 ,   C extension: prootbuf.so
**What did you do?**
Steps to reproduce the behavior:
create two

[2018-07-11 06:30] rohitsakala opened #4893 "Error from google protobuf gem while running rake for installing grpc ruby gem"
**What version of protobuf and what language are you using?**
Version: 3.6.0
Language: Ruby

**What operating system (Linux, Windows, ...) and version?**
Linux - SUSE, s390x architecture

**What runtime / compiler are you using (e.g., python version or gcc version)**
Using rake to install grpc from source code.

**What did you do?**
Steps to reproduce the behavior:
1. git clone https://github.com/

[2018-07-11 07:36] bestbelief opened #4894 "how import protoc.js to angular?"

[2018-07-11 07:48] bestbelief commented on #4894
when i import my generate protoc js file , catch a error  :
ERROR Error: Uncaught (in promise): ReferenceError: goog is not defined

my proto.js file:
/**
 * @fileoverview
 * @enhanceable
 * @public
 */
// GENERATED CODE -- DO NOT EDIT!
// var goog = require('google-protobuf');

goog.provide('proto.iotdatatypes.IotPayload');
goog.provide('proto.iotdatatypes.IotPayload.IotMetric');
goog.provide('pr

[2018-07-11 14:45] AliRaza21918 commented on #3304
me too getting the same problem

make: *** No rule to make target 'uninstall'.  Stop.

after running make uninstall

[2018-07-11 14:55] zhangshuiyong opened #4895 "JavaScript Bug - deserializeBinary uint64 field to a unsafe int and not correct number"
**Common.proto**

`syntax = "proto2";
package Common;

//返回结果
enum RetType
{
	RetType_Succeed = 0; //成功
	RetType_Failed = -1; //失败
	RetType_TimeOut = -100; //超时
	RetType_Unknown = -400; //未知结果
}

//包的唯一标识，用于回放攻击的识别和保护
message PacketID
{
	required uint64 connID = 1; //当前TCP连接的连接ID，一条连接的唯一标识，InitConnect协议会返回
	required uint32 serialNo = 2; //包头中的包自增序列号
}`

**InitConnect.proto**

`syntax = "proto2";
p

[2018-07-11 15:30] drush211 opened #4896 "FieldDescriptor.default_value raises NotImplementedError on repeated field."
**What version of protobuf and what language are you using?**
Version: v3.6.0
Language: Python

**What operating system (Linux, Windows, ...) and version?**

MacOSx 10.13.5

**What runtime / compiler are you using (e.g., python version or gcc version)**

python 3.6.5

**What did you do?**
Steps to reproduce the behavior:

1. Create Protobuf of

[code]

2. Compile Protobuf into python using

[code]

[2018-07-11 17:11] acozzette commented on #4890
@philsc Sorry for the trouble with this, I'm not sure how this ended up breaking. But we have some other changes to our internal codebase that refactor the macros controlling the deprecation attributes, so if you don't mind waiting until the next time we push our internal changes to GitHub then that should make it easier to write a more permanent fix.

[2018-07-12 00:20] deulgaonkaranup opened #4901 "error C3857: 'Map': multiple template parameter lists are not allowed"
Hi,

I am trying to using protobuf-all-3.5.0.zip and creating a static library by using the VS solution generated.

I have followed the steps in CMake Configuration section of the readme file.

Steps:

1. C:\Path\to\protobuf\cmake\build\debug>cmake -G "NMake Makefiles" ^
 -DCMAKE_BUILD_TYPE=Debug ^
 -DCMAKE_INSTALL_PREFIX=../../../../install ^
 ../..

2. C:\Path\to\protobuf\cmake\build\solution>cm

[2018-07-12 00:21] deulgaonkaranup commented on #4901
I am working on windows operating system and generating a 64 bit .lib .

[2018-07-12 00:42] #4884 closed

[2018-07-12 00:54] xfxyjwf commented on #4896
Looks like you cannot do field.default_value if field.has_default_value == False. Seems reasonable behavior to me.

[2018-07-12 00:56] xfxyjwf commented on #4895
This may be a issue of toObject(). Have you tried to inspect the connid value using protobuf generated accessors?

[2018-07-12 00:59] xfxyjwf commented on #4893
Have you created an issue against grpc? This seems more like a grpc issue to me.

[2018-07-12 01:06] TeBoring commented on #4892
The descriptor for each message (implementation detail) is distinguished by its proto fully qualified name, which is package + message name.
In your example, although you provided different php_namespace, you don't give different package. So in the perspective of protobuf, two ```in``` have the same fully qualified name.
You should define different pacakage in these two proto files.

[2018-07-12 01:06] #4892 closed

[2018-07-12 01:09] zhangshuiyong commented on #4895
The JS protobuf gennerated
 accessor ResponseBody_Object.getConnid() return the same unsafe and not correct int number.

[2018-07-12 01:11] bensaufley commented on #4278
`#replace` _replaces_ the existing contents, rather than appending them as `+=` does, right? It looks like `#concat` does the trick, as far as I can tell. I would expect `#push` to behave similarly as well but I'm getting "wrong number of arguments (given 83, expected 1)" when I use `push(*arr)` and "Invalid type Array to assign to submessage field" when I use `push(arr)` so it looks like `push` i

[2018-07-12 01:11] zhangshuiyong commented on #4895
@xfxyjwf The JS protobuf gennerated
 accessor ResponseBody_Object.getConnid() return the same unsafe and not correct int number.

[2018-07-12 01:11] zhangshuiyong commented on #4895
@xfxyjwf The JS protobuf gennerated
 accessor ResponseBody_Object.getConnid() return the same unsafe and not correct int number.

[2018-07-12 01:14] xfxyjwf commented on #4895
@haberman Josh, what's the right way to get the value of a int64 field in javascript?

[2018-07-12 01:19] deulgaonkaranup commented on #4901
Closing the ticket as this was because of using 2.6 and 3.0 at the same time.

[2018-07-12 01:19] #4901 closed

[2018-07-12 02:05] xcwen commented on #4892
thanks :>

[2018-07-12 02:06] drush211 commented on #4896
at best it's confusing to have an object that looks like

[code]

and not be able to get the default_value when requesting the property. If it doesn't have a default value, then why is a `default_value=[]` given instead of `default_value=None`? It seems like 2 options would be valid

[code]

or

[code]

[2018-07-12 04:39] rohitsakala commented on #4893
Hi @xfxyjwf ,

Thanks for the reply. I created an issue in grpc. [Link](https://github.com/grpc/grpc/issues/15996).

[2018-07-12 10:07] wvxvw opened #4902 "Option definition allows no value"
**What did you do?**
Created a Proto definition:
[code]

**What did you expect to see**

Syntax error.

**What did you see instead?**

`protoc` accepts this definition.

I understand the value of leniency, but here `protoc` ignores a genuine error.  I'm going to argue that it is never valid to specify option without a value, and thus should not be allowed.

BTW. The "formal" language spec doesn't

[2018-07-12 10:08] resnyanskiy commented on #1193
Workaround using custom target in .csproj. It executes `protoc` for all .proto files in `Protos` directory of a project, which creates .g.cs files in `Contract` directory. You need to install [Google.Protobuf.Tools](https://www.nuget.org/packages/Google.Protobuf.Tools) package.
[code]

[2018-07-12 11:48] jtattermusch commented on #3431
@mkosieradzki   I've been recently looking into some gRPC/Protobuf optimizations and the `ReadOnlySequence<T>` type is looking pretty good. here are some advantages that caught my eye:
1. It allows parsing a non-continguous buffers which is very useful, because most IO-related operations that don't do copying will probably end up with buffers that are not continguous (file and network access tends

[2018-07-12 11:55] mkosieradzki commented on #3431
@jtattermusch Awesome, thanks for having a look. I have now some spare time (I think a week or two) and I would love to spend it on contributing to protobuf/gRPC.

I have done a lot of experimentation with `ReadOnlySequence<T>`, `Span<T>` 10 weeks ago and even created some protoypes - please see: https://github.com/google/protobuf/issues/3166#issuecomment-386865048

[2018-07-12 11:59] mkosieradzki commented on #3166
I forgot describe what a `CodedInputReader` is: https://github.com/mkosieradzki/protobuf/blob/spans/csharp/src/Google.Protobuf.Pipelines/CodedInputReader.cs

[2018-07-12 12:10] jtattermusch commented on #3431
@mkosieradzki  very interesting prototypes - thanks for sharing!

I had a few questions:
- You're mentioning that "Asynchronous parser using non-contiguous memory from Pipe is roughly 3x slower than the original parser. It is also zero alloc."  3x slower should prohibitively high. Do we understand why that is - Is it because of the async  or because of the non-contiguous? It seems to me that non-c

[2018-07-12 12:15] mkosieradzki commented on #3431
@jtattermusch
The code I did most of the experimentation (in the other thread) uses `PipeReader` (actually very well described in the blog post you have mentioned) instead of `Stream`.

I think that idea of providing a `CodedInputStream` constructor with fixed `ReadOnlySequence<T>` is one of the solutions however it has some limitations.

1. We need not to use Stream. However my understanding is t

[2018-07-12 12:33] mkosieradzki commented on #3431
@jtattermusch

Conceptually you are right. But the problem is that `Span<T>` can live only on stack and as a consequence you cannot keep it alive inside `CodedInputStream` unless you make CodedInputStream a stack-only type… as well breaking a lot of compatibility. So the pain is that you can optimize `ReadOnlySequence<T> -> ReadOnlyMemory<T>`, but you cannot optimize `ReadOnlyMemory<T> -> ReadOnly

[2018-07-12 12:37] jtattermusch commented on #3431
@mkosieradzki
I see your point and the tradeoffs, but right now I'm driven mostly by what could be made useful in the near future (I believe incremental improvements are the only way forward for big problems like this).

- for gRPC, when you receive a message you'll get basically a segmented buffer (in the native code, it's grpc_byte_buffer, that can be read segment by segment by grpc_byte_buffer_

[2018-07-12 12:42] jtattermusch commented on #3431
On Thu, Jul 12, 2018 at 2:34 PM mkosieradzki <notifications@github.com>
wrote:

That's a very good point - thanks for bringing that up.
So is  ReadOnlyMemory<T> -> ReadOnlySpan<T> slow? I assume it's pretty
fast, but I understand that with the way CodedInputStream is now written,
we would be performing the conversion practically for each byte of input.

Do you still have the  MergeFrom(ReadOnlySpa

[2018-07-12 12:52] mkosieradzki commented on #3431
The benchmarks are basically here:
https://github.com/mkosieradzki/protobuf/blob/spans/csharp/src/TestProtoPiper/Benchmarks/ParseAddressBook.cs

Here is the hand-crafted `MergeFrom(ReadOnlySpan<T>` - prototype
https://github.com/mkosieradzki/protobuf/blob/spans/csharp/src/TestProtoPiper/Addressbook.cs#L336

That gives me an idea that it might be a good idea to compare `MergeFrom(ReadOnlySpan<T>` w

[2018-07-12 14:05] mkosieradzki commented on #3431
@jtattermusch I have created two new benchmarks to capture the overhead of `ReadOnlyMemory<T> -> ReadOnlySpan<T>` and as I expected the overhead is signifant (because it involves memory pinning etc)…

[code]

`ParseUsingCodedInputSpanPosParser` is passing using pos instead of ref… and is the winner today ;) I will push my current benchmarks to the repo so you can reproduce it on your side.

[2018-07-12 14:31] mkosieradzki commented on #3431
@jtattermusch

I have pushed my latest benchmarks to the repo. Please give it a try. I hope I have proven my point that `void MergeFrom(ref ReadOnlySpan<T>)` or `void MergeFrom(in ReadOnlySpan<T>, ref int pos)` MUST be generated to ensure the optimal performance.

Next point to learn is whether we want to add async Pipes support OR stick to synchronous parsing.
 I am perfectly OK with synchronous

[2018-07-12 15:07] kkm000 commented on #1193
That is how everyone does it. Hardcoded paths, and additionally machine specific, so it works on my machine but breaks on yours.

If my changes are ever and accepted reviewed, we'll have a nice fully integrated system. Too bad it takes months on end to each of us for each step, but we are all overload, sorry

-kkm

[2018-07-12 17:34] mkosieradzki commented on #3431
@jtattermusch I have started work on branch https://github.com/mkosieradzki/protobuf/tree/read-only-sequence - this is basically implementation of CodedInputStream using `ReadOnlySequence<byte>` instead of `byte[]` as buffer. Let's see what comes out of this.

[2018-07-12 17:43] xfxyjwf commented on #4902
We probably can't reject it out right because it will be a breaking change. Generating warning for such empty definitions seems appropriate.

[2018-07-12 18:04] TeBoring commented on #4718
Fixed in #4885

[2018-07-12 18:04] #4718 closed

[2018-07-12 18:16] TeBoring commented on #4871
what's the buffer you passed to deserializeBinary?

[2018-07-12 18:41] wvxvw commented on #4902
I'd suggest a different plan: disallow by default and add extra flag to do the wrong thing.

I don't believe there are that many cases of this in the wild, but when there are, they are genuine bugs: nobody wants an option with no value. This was also the case when I discovered this behavior: a programmer mistakenly commented out the value inside the curly block, but the compiler didn't catch the e

[2018-07-12 20:14] kun-zhou opened #4904 "Convert unset StringValue to null when printing to JSON"
**What language does this apply to?**
Java and proto3

**Describe the problem you are trying to solve.**

When converting a JSON like
[code]
to a protobuf 3 message with definition
[code]
using `JsonFormat.Parser`, the StringValue is unset, which is expected.

**However**, when using `JsonFormat.Printer` on the parsed message to convert it to JSON, we get `{}`. I expect to get `{ "a": null }` sinc

[2018-07-12 22:30] gpshead commented on #4688
fyi - regardless of bugs, using the text format as a data interchange between implementations is fraught with peril.  That is not what text format is for.  Use binary when you need to do that.

[2018-07-13 02:37] wangdf opened #4907 "repeated primitives in Java TextFormat"
Dear all,

The Java TextFormat implementation doesn't seem to support the 'short form' in the c++ version for repeated primitives.

It not only creates long-winded results in some cases, but this mismatch between languages also causes headache when try to parse messages authorized in one with another.

Any suggestions are welcome.

Best Regards,
Difu

For example,
data: [0, 1] in c++
vesus
data: 0

[2018-07-13 05:47] aniketdivekar commented on #4837
@TeBoring Closing it. I had to do `object.to_proto.to_s`.

[2018-07-13 05:47] #4837 closed

[2018-07-13 05:55] aniketdivekar commented on #4460
Hi guys, facing the same issue. Any fix/workaround available? @TeBoring

[2018-07-13 07:19] movehaolv opened #4909 "Is there a GIFT version of Linux"
Hi,
We want to install GIFT on Linux,but we found only the Windows version at the url (https://gifttutoring.org/projects/gift/files). Is there a GIFT version of Linux.

Thanks

[2018-07-13 09:36] NHZlX opened #4910 "Got UnicodeDecodeError using 'utf-8'"
message TEMP{
	// ...
};

messaeg AttrDesc {
	required string s;
};

there is a variable `s` of `AttrDesc`, a variable `t` of `TEMP` and i want to preform the following opeartion:

`a.set_s(t.SerializeAsString())`

 Serialize the variable `s` into the file.

 Then, i load the serialized file using python interface:

[code]
It will trigger this problem ：

[code]

Help welcome

[2018-07-13 09:59] rohitsakala opened #4911 "SignalException: SIGABRT while running rake test in s390x SUSE"
**What version of protobuf and what language are you using?**
Version: master
Language: Ruby

**What operating system (Linux, Windows, ...) and version?**
SUSE Linux s390x Big Endian.

**What did you do?**
Steps to reproduce the behavior:
1. cd ruby
2. bundle
3. rake test

**What did you expect to see**
Successful completion of rake test command.

**What did you see instead?**
[code]

[2018-07-13 12:58] mkosieradzki commented on #3431
@jtattermusch I have restarted my work; on branch https://github.com/mkosieradzki/protobuf/tree/netcore2_1
Currently I have added the least intrusive version that adds support for .NET Core 2.1 (to make place for special optimizations), creates a place for passing `ReadOnlySequence<byte>` and `ReadOnlyMemory<byte>`, but does not break compatibility.

Now I am going to make sure I do not introduce

[2018-07-13 13:32] #4525 closed

[2018-07-13 18:04] mkosieradzki commented on #3431
I have run a bunch of further tests and I am... a bit disappointed, but have some important conclusions,

1. I have implemented a yet another alternative `ValueTask`-based variant of `ParseUsingCodedInputSpanPosParser` just by wrapping results into `ValueTask<T>` - it's slow beyond all recognition. So `async` as the only variant is NOT an option.
2. After experimenting and making a direct comparis

[2018-07-13 21:29] JohnHBrock opened #4914 "[python] in interactive mode, `add()` modifies repeated message field even when there's an error"
Not sure if this is a bug in protobuf or in my expectations, but this behavior unpleasantly surprised me.

**What version of protobuf and what language are you using?**
Version: v3.6.0
Language: Python

**What operating system (Linux, Windows, ...) and version?**
macOS 10.13.5

**What runtime / compiler are you using (e.g., python version or gcc version)**
Python 3.6.5

**What did you do?**
Steps

[2018-07-13 23:52] xfxyjwf commented on #4911
Marked P3 as this is for a platform we don't have access to. Patches are welcome.

[2018-07-13 23:53] zrlk opened #4915 "any_proto weirdness under Bazel 0.15 -c opt vs fastbuild"
When I link in the any_proto target and build my executable with -c opt, at startup the program tries to add any.proto to the internal descriptor pool twice and fails. With the default configuration (fastbuild), it does not do this. I can't drop any_proto as a transitive dependency because I have other messages that require the definition of the Any message. What could be going wrong, and why woul

[2018-07-14 00:34] xfxyjwf commented on #4904
After parsing, `{}` and `{"a":null}` will end up with the same proto (both with the field `a` unset). When printing, it will be normalized to `{}`.

If you want to retain the `null` value, you can use google.protobuf.Value:
[code]

It will accept and keep any arbitrary JSON value.

[2018-07-14 00:46] kun-zhou commented on #4904
Thank you @xfxyjwf . But since the type `Value` does not support Int32 or Int64, parsing any JSON with integer fields to `Struct` and then back to JSON using `Json.Format` will change the integer fields in the JSON to a float, which is undesirable.

[2018-07-14 01:17] taoyq1988 commented on #4842
give the origin data will better

[2018-07-14 09:41] LLipter opened #4917 "received SIGSEGV signal when used in Qt gui project"
I'm in trouble using protobuf within a Qt gui project.
I'm using ubuntu 16.04 and QT 5.10.
The problem is that, I can compile my project, but cannot run it. It crash because a segmentation error signal. Is it because Qt gui use some library that conflict with protobuf?

[2018-07-15 00:11] mkosieradzki commented on #3431
I was playing a bit with aggressive inlining… and I went from:
[code]
down to:

[code]

Only by adding [MethodImpl(MethodImplOptions.AggressiveInlining)] on some methods. Difference for `ParseUsingCodedInputSpanPosParser ` because it is not using any virtual calls, so it can be statically inlined very deeply. I also believe that inlining allows to drop some safety checks for spans, but I am not su

[2018-07-15 07:20] pfreixes opened #4918 "Ship the Python wheel with the Python compiler"
**What language does this apply to?**

Python

**Describe the problem you are trying to solve.**

I would like to compile the protobuf files related to a specific repository when the CI step is gonna be executed - TravisCI, etc, .. - or when the project is being packaged  - Docker image, etc, .. - to make it ready to be used in production.

**Describe the solution you'd like**
I would like to see

[2018-07-15 12:39] TifferPelode opened #4919 "Get 'Segmentation fault' when use string type"
When I wanna use protobuf to transport message with a shared memory code.
this one is write.cpp:

        int shmid = shmget((key_t)1933, sizeof(tiffer::test), 0666|IPC_CREAT);
        void *shm = shmat(shmid, (void*)0, 0);

        tiffer::test *tp = (tiffer::test*) shm;
        tp->set_id_(0);
        std::string str= "Tiffer Pelode";
        tp->set_mes_(str);

        printf("111");
        in

[2018-07-15 17:37] jeremy-rutman commented on #4883
yes, thanks

[2018-07-15 20:13] clearjs commented on #4639
@wvxvw `extend` is supported for defining custom options, which is the case in your example. See https://developers.google.com/protocol-buffers/docs/proto3#options and https://developers.google.com/protocol-buffers/docs/proto#customoptions.

[2018-07-15 20:53] wvxvw commented on #4639
@clearjs Erm... no.  It is not in the language specification. It used to be, in second version of the spec, but it was removed from third version. Either the spec needs to update, or the support needs to be dropped (your link is to the second version of the spec).

[2018-07-16 01:38] bestbelief opened #4921 ""Buffer is not defined" when i use deserializeBinary() function ,who can help me? Thanks"

[2018-07-16 01:49] bestbelief commented on #4921
ERROR:
core.js:1624 ERROR ReferenceError: Buffer is not defined
    at Object.push../node_modules/google-protobuf/google-protobuf.js.jspb.utils.byteSourceToUint8Array (google-protobuf.js:250)
 ..........
MY CODE:
subscribe() {
         const payload = new IotPayload();
         const metrics: Array<IotPayload.IotMetric> = new Array<IotPayload.IotMetric> ();
         const position = new IotPayload

[2018-07-16 05:18] wvxvw commented on #4639
@clearjs Look, this is a simple technical issue. Protobuf language specification, specifically its grammar fails to mention there is a rule to parse `extension`.  That all there is to it.  Whether this was done intentionally or is an oversight--I don't even want to speculate.

What needs to be done: either grammar needs to include a rule for parsing `extend` or `extend` shouldn't parse. It's that

[2018-07-16 08:40] arthur-tacca opened #4925 "Field options do not work with DLL protobuf"
If you attempt to use a field option, like the example in the tutorial:

    import "google/protobuf/descriptor.proto";
    extend google.protobuf.MessageOptions {
        optional string my_option = 51234;
    }
    message MyMessage {
        option (my_option) = "Hello world!";
    }

But use the dynamic version of protobuf, installed using [vcpkg](https://github.com/Microsoft/vcpkg) (which is

[2018-07-16 08:50] arthur-tacca commented on #4919
Protobufs are not guaranteed to store their field data within the footprint of their object. This should be obvious: `sizeof(tiffer::test)` is a compile time constant, so how could it know the length of the string in it, which could be set at runtime? The same thing would happen if you replaced the protobuf message with a simple `struct {int id_; std::string mes_;}`

Shared memory is quite an adva

[2018-07-16 15:42] MHDante opened #4926 "C#: Missing Runtime Types for descriptor protos"
**What version of protobuf and what language are you using?**
Version: v3.6.0
Language: C#

**What operating system (Linux, Windows, ...) and version?**
Windows

**What runtime / compiler are you using (e.g., python version or gcc version)**
Protobu-Tools from NuGet

**What did you do?**

Compile the following proto for C#:

[code]

**What did you expect to see**

Compilable C#

**What did you see

[2018-07-16 15:44] jtattermusch commented on #3431
@mkosieradzki
1. I'd leave async aside for now as it makes things more complicated than they need to be
2. I'd be generally open to adding logic that allows parsing from Spans, but IMHO we do want to  prevent  having two almost identical generated methods (MergeFrom(CodedInputStream) and MergeFrom (ReadOnlySpan)), so I'd still want to think about some trick how to express both variants using a sin

[2018-07-16 20:35] TeBoring commented on #4852
I'll have a fix for that.

[2018-07-16 20:41] TeBoring commented on #4190
This was fixed in 3.6.0 release: https://github.com/google/protobuf/blob/3.6.x/ruby/lib/google/protobuf/message_exts.rb#L43

[2018-07-16 20:41] #4190 closed

[2018-07-16 20:45] TeBoring commented on #1965
Can we add a ```PB``` prefix to fix that?

[2018-07-16 20:53] xfxyjwf commented on #4925
We have protobuf tests built against the DLL version of protobuf runtime. Could you try to reproduce the error you are seeing by adding a test to our existing test code?

[2018-07-16 20:58] xfxyjwf commented on #4918
@anandolee was already working on this in https://github.com/google/protobuf/pull/1796

[2018-07-16 21:01] acozzette commented on #2879
I forgot to close this issue earlier but it was fixed in 0400cca3236de1ca303af38bf81eab332d042b7c.

[2018-07-16 21:01] #2879 closed

[2018-07-16 21:02] xfxyjwf commented on #4915
It seems like the any proto is linked into the binary twice? Can you try to add a test in the protobuf code base to reproduce the issue?

[2018-07-16 21:03] xfxyjwf commented on #4910
t.SerializeAsString() produces binary output. Don't put that into a string field. Changing the string field to `bytes` instead.

[2018-07-16 21:03] xfxyjwf commented on #4909
You filed the issue to the wrong repo.

[2018-07-16 21:03] #4909 closed

[2018-07-16 21:05] xfxyjwf commented on #4907
We can probably add an option to Java TextFormat to do the same.

[2018-07-16 21:17] zrlk commented on #4915
Yes, that's what it looks like. Why would this only happen with `-c opt`? It seems to affect any target that depends (transitively) on any_proto.

[2018-07-16 21:35] kunalspathak opened #4928 "Python3.7: MergeFrom() throws when trying to extend list of SInt32 with int"
**What version of protobuf and what language are you using?**
Version: v3.6.0
Language: Python

**What operating system (Linux, Windows, ...) and version?**
Windows

**What runtime / compiler are you using (e.g., python version or gcc version)**
python 3.7

**What did you do?**
Steps to reproduce the behavior:

I have a protobuf message
[code]
I generate the python code using `protoc.exe`. Here is

[2018-07-16 22:44] Alkaris opened #4929 "Build instructions?"
Is there even any documentation for compiling Protobuf for WIndows?

[2018-07-16 23:31] xfxyjwf commented on #4929
See: https://github.com/google/protobuf/tree/master/src#c-installation---windows

If you want to build from source, use cmake:
https://github.com/google/protobuf/blob/master/cmake/README.md

[2018-07-16 23:31] #4929 closed

[2018-07-17 04:51] rohitsakala commented on #4911
HI @TeBoring,

Any conclusion can you make about the error? Any hint?

[2018-07-17 05:34] LLipter commented on #4917
solved by

replace
LIB += -lprotobuf
with
LIBS += /usr/local/lib/libprotobuf.a

[2018-07-17 05:34] #4917 closed

[2018-07-17 12:11] arthur-tacca opened #4931 "Incorrect processing of parent directory element in io_win32.cc"
Version: v3.5.1
OS: Windows 7 64-bit
Runtime: C++

**In short:** The functions in `io_win32.cc` misinterpret paths like `C:\foo\..\..` as being `C:\` rather than an invalid path. Similarly `C:\foo\..\..\..\bar` will be misinterpreted as `C:\bar`. One concrete bug resulting from this is that the unit test program will loop forever if run from the wrong working directory. But I suspect there may be

[2018-07-17 15:08] clearjs commented on #4639
@wvxvw sure. I was only referring to the docs, not grammar spec. According to the docs, extend is still supported in that special case, but according to this issue, it is not. That's why I was confused and thought others might also be.

[2018-07-17 15:53] jtattermusch commented on #3431
@mkosieradzki   I spent some time looking at your code and also experimenting myself. Some results:
- I finally understood why for the ReadOnlySpan-based methods you are using `ref ReadOnlySpan<T>` - you need to be able to update the position the the current buffer. That's definitely one of the possible approaches, but my impression was that the CodedInputStream actually maintains several extra fi

[2018-07-17 16:05] mkosieradzki commented on #3431
@jtattermusch Dropping the async requirement enables us to create a `ref struct` to be used as `ParsingContext`.

So, in that case we can declare `ref struct CodedInputParsingContext` which is a stack-only type and is allowed to contain `ReadOnlySpan<T>` etc.

This means we can probably create an implicit conversion between `CodedInputStream` and `CodedInputParsingContext` and use a single code pa

[2018-07-17 16:56] jtattermusch commented on #3431
@mkosieradzki  I've thought about the `ref struct`  and I'm not sure if it's a good idea. The good thing is the ReadOnlySpan can be part of this struct, but you'll need a reference to some class with context anyway (as non-immutable struct seems like a bad idea in general).  I'm also unsure about the backward compatibility of `ref struct` (which is a C# 7.2 concept) - how would the code look like

[2018-07-17 17:05] mkosieradzki commented on #3431
@jtattermusch I agree.

[2018-07-17 17:06] jtattermusch commented on #3431
@mkosieradzki   to prevent doing unnecessary changes, I'd say a prototype that parses from 2 arguments:
`CodedInputStream context, ReadOnlySpan<byte> immediateBuffer` would be useful - that should be a sufficient proof of concept that minimizes the amount of changes needed. (Basically every ReadXXX method on CodedInputStream would get and overload that accepts those two args).

[2018-07-17 18:31] leighmcculloch commented on #272
@liujisi Now that direction has changed and support added for preserving field to some implementations, will this recommendation in the official proto3 documentation be changing?

Ref: https://developers.google.com/protocol-buffers/docs/proto3#unknowns

[2018-07-17 21:11] acozzette commented on #272
@leighmcculloch Good catch, I'll update that documentation to say that unknown fields are now preserved for proto3 messages as of version 3.5.

[2018-07-17 21:24] zrlk commented on #4915
Fixed by updating to protobuf 3.6.0. Further details in https://github.com/google/kythe/commit/27addcb0b06688d3b080486d57cab0459e9f0f06

[2018-07-17 21:24] #4915 closed

[2018-07-18 00:44] SadieF opened #4932 "ProtoBuf Validator in grpc not able to set on google.protobuf.Int32Value and generates different name in swagger docs with workaround"
Golang ProtoBuf Validation question here - I'm trying to set validation on a limit field, however I need Limit to be a google.protobuf.Int32Value for validation and tests in our code. This doesn't work with validation however, so I've tried moving the LimitValue out of the Filter message, but this then generates a different name in the swagger docs which we can't use as the api information is alre

[2018-07-18 10:34] remicollet opened #4933 "Broken with PHP 7.3.0alpha4"
Build ok since pr #4898 is merged but extension dosn't load (since 7.3.0alpha4, was OK with alpha3)

`$ php --no-php-ini --define extension=modules/protobuf.so --modules | grep protobuf`

Output is empty. No error message.

P.S. as I can't sign your CLA, I don't plan to work on this issue to propose a fix, so, do it yourself.

[2018-07-18 12:53] mkosieradzki commented on #3431
@jtattermusch I was rather thinking about `ref ReadOnlySpan<T> immediateBuffer` so while iterating over ReadOnlySequence we can move pointer to the next buffer.

When iterating over a `Stream` or an array based buffer it's enough to use immutable reference `ReadOnlySpan<T>`, but our goal is to handle `ReadOnlySequence<T>` efficiently.

BTW. My preliminary results
[code]

ParseUsingNew is a heavy-i

[2018-07-18 14:18] mkosieradzki commented on #3431
Found 0.7us ;) and accidentally boosted classic parser
[code]
It was hidden in an ineffient IsAtEnd implementation which didn't take the fast track if `Stream` was null. Still ~1.4us to find.

[2018-07-18 14:32] mkosieradzki commented on #3431
Found another 0.2us in toxic inlining of slow-path, ~1.2 to go :)

[code]

[2018-07-18 15:31] rohitsakala commented on #4911
Hi @xfxyjwf @TeBoring ,

Is the above error because of no code for byte-swap for Big Endian in [upb.c](https://github.com/google/protobuf/blob/master/ruby/ext/google/protobuf_c/upb.c#L3033).  I am new to this. Just loud thinking.

Thanks :)

[2018-07-18 15:36] mkosieradzki commented on #3431
Picked-up the low-hanging fruit of indirect `interface` call. I think that the rest of the overhead resides inside the `PushLimit` / `PopLimit` / `RecomputeBufferSizeAfterLimit` - I think it can be optimized if the current message fits the current buffer - but let's leave this for later.
[code]

@jtattermusch

Long story short - I think that the concept of adding `ref ReadOnlySpan<T> immediateBuff

[2018-07-18 22:34] TeBoring commented on #4933
Where can I get source for 7.3.0alpha4?

[2018-07-18 22:58] bshaffer commented on #4761
It is possible in PHP to convert an object to an array using a simple array cast. Check out the documentation on [PHP arrays](http://php.net/manual/en/language.types.array.php) under "Converting to array". I found the following example also from [this helpful stack overflow article](https://stackoverflow.com/questions/4345554/convert-php-object-to-associative-array):

[code]
This will output:
[cod

[2018-07-19 00:54] mkosieradzki commented on #3431
@jtattermusch I have created a branch https://github.com/mkosieradzki/protobuf/tree/spans-pr with added spans support.

It does not have all of the aforementioned (but significant amount) optimizations, however it is feature complete, passes all tests, has Code Access Security attributes.

I have split my changes into 4 commits: SDK-change, protoc-change, regenerated code, updated tests

This bran

[2018-07-19 01:13] arashikou opened #4935 "Protobuf 3.5.x Fails to Compile on GCC 7+ With -std Less Than C++11"
**Version:** v3.5.1
**Language:** C++
**Operating System:** Linux - Debian Testing
**Compiler:** GCC 7.3.0 (Debian GCC 7.3.0-5, specifically)

**Steps to reproduce the behavior:**
1. Compile Protobuf with the -std=gnu++98 flag set

**Expected result:**
Protobuf compiles, as C++98 is still supported on the 3.5.x releases.

**Actual result:**
Protobuf fails to compile with the following error:

[cod

[2018-07-19 08:17] imilli opened #4937 "Why don't you support lua language, now lua is widely used."

[2018-07-19 09:06] dio opened #4938 "Iterator invalidation for Map"
Hi, is it safe to say that the protobuf C++ Map implementation has the same behavior with `std::unordered_map` in terms of iterator invalidation?

Ref:
1. https://stackoverflow.com/questions/16781886/can-we-store-unordered-maptiterator
2. https://stackoverflow.com/questions/6438086/iterator-invalidation-rules

Thanks!

[2018-07-19 10:12] yanxinyuan opened #4939 "[Java] com.google.protobuf.Value support to wrapper Any as a field"
**What language does this apply to?** java
**If it's a proto syntax change, is it for proto2 or proto3?** proto3
**If it's about generated code change, what programming language?** no, java

**Describe the problem you are trying to solve.**
We have a framework which communicate with protobuf. And now we want to move our old application to our framework, but it's interface was written by java pojo,

[2018-07-19 12:08] dio commented on #4938
It seems it is untouched during mutation.

https://github.com/google/protobuf/blob/88795f64e4c5dc870c63b3d4d39924cc91590b2f/src/google/protobuf/map.h#L326-L327

[code]

[2018-07-19 17:30] xfxyjwf commented on #4939
google.protobuf.Value is designed to model a JSON value and that's why it has those types. google.protobuf.Any certainly doesn't fit there.

[2018-07-19 17:30] xfxyjwf commented on #4938
We can consider this issue resolved?

[2018-07-19 18:11] anandolee commented on #4120
Friendly ping. @kunalspathak do you get time for it?

[2018-07-19 18:12] anandolee commented on #4200
Closing it for clean up. It will be covered by proto2 support

[2018-07-19 18:12] #4200 closed

[2018-07-19 18:37] anandolee commented on #4926
MessageDescriptor is the runtime type for descriptor proto. What information do you need but is missing in MessageDescriptor?

[2018-07-19 19:02] anandolee commented on #4926
I assume DescriptorProto is changed to internal because some proto2 features are not supported.

The access level is change in:
https://github.com/google/protobuf/commit/493e3db98532e99a53cec914d8f4827a556ee408#diff-40a612bde80077a230c176f78b24b669

@jskeet , do you remember why descriptor protos should be private? Are we safe to change it to public or it should wait for proto2 support.

[2018-07-19 19:04] #4742 closed

[2018-07-19 19:09] anandolee commented on #4349
Provide both mutable and immutable API will give us a lot additional work. We suffered for it in Java.

Add options in .proto are also very strict. We take very carefully especially options only for one languages (it is a cost for all languages to add an option).

Thus we do not have plane to add options and provide immutable APIs.

[2018-07-19 19:09] #4349 closed

[2018-07-19 19:12] anandolee commented on #4325
@Falco20019, I am closing this issue for clean up. Once the PR is ready to review, feel free to assign to me for review.

[2018-07-19 19:12] #4325 closed

[2018-07-19 19:40] anandolee commented on #4928
[code]
Do you know why it is not a.Value.extend(my_list) as in your example code?

[code]
It is complaining for repeated composite field, but 'repeated sint32 Value = 1;' is a repeated scalar field.

[code]
Seems like there's a message named SInt32, and 'repeated SInt32 Value = 1;"  is used in .proto file somewhere instead of sint32. Can you double check that.
Or protobuf with Python 3.7 wrongly r

[2018-07-19 19:54] anandolee commented on #4794
I agree to remove this function, it is a behavior diffs between pure python and c extension as well.

+ @amauryfa on the TODO for removal, do we still have something to be worried for the removal?

[2018-07-19 20:18] jskeet commented on #4926
No, we should **not** change them to be public. They're generated as if they were proto3, but only because we know that within Google.Protobuf we don't care about the different semantics.

Additionally, we wouldn't want to expose the DescriptorProto instances directly due to mutability.

If we implement proto2, we can make DescriptorProto public, and we could then return clones from the Descriptor

[2018-07-19 20:30] kunalspathak commented on #4928
I just pasted formatted output from a function call, but `a` is passed as parameter to a function that receives it in `protobuf_object` variable. So `a` and `protobuf_object` are same. Sorry about the confusion.

I do have `SInt32` message defined and I will verify and confirm if that is causing the problem or not. What surprises me is different results in python 3.6 vs 3.7.

[code]

[2018-07-19 21:00] MHDante commented on #4926
So then, should protoc CSharp generation refer to the appropriate run-time representations instead? In other words, should it convert `DescriptorProto` to `MessageDescriptor` much like how the `Int32Value` members get converted to System.Nullable<int>?

[2018-07-19 21:08] jskeet commented on #4926
No, I don't think that would be appropriate either. Basically, using `DescriptorProto` depends on implementing the proto2 features (and then cloning, but that's relatively straightforward). Until that point, I wouldn't expect you to be able to use the message in your first comment.

[2018-07-19 21:16] dio commented on #4938
Yeah. Sorry for the noise!

[2018-07-19 21:16] #4938 closed

[2018-07-20 00:49] anandolee commented on #4914
Do you know what interactive mode will do after an error is raised: continue with the rest code or stop at the error?  The behavior on your example seems like interactive mode continues with the rest code after error is raised, if it is the feature of interactive mode, then result it correct.

[2018-07-20 00:56] anandolee commented on #4928
It is an issue if python 3.6 vs 3.7 behaves different. We may need more info to identify the reason. Let me know after you verified message SInt32

[2018-07-20 01:04] yanxinyuan commented on #4939
Thanks @xfxyjwf , But how we handle the scenario as i described by using protobuf?

[2018-07-20 01:20] anandolee commented on #4896
Can you try if the behavior is the same without using GRPC? (Just want to make clear if it is a grpc issue or protobuf issue)

The descriptor.py seems provided default_value if set to []:
https://github.com/google/protobuf/blob/master/python/google/protobuf/descriptor.py#L565

[2018-07-20 02:30] JohnHBrock commented on #4914
I don't think this is a feature of interactive mode, but I'm not 100% sure. It's hard for me to imagine the interpreter being able to continue execution after an unhandled exception.

[2018-07-20 04:32] akhuteta opened #4944 "Mismatch in protoc and runtime library versions"
I wanted to use protocol buffers in my project, so I installed the latest the latest release v3.6.0 from the tarball available on github.

When i try to link the cc file, generated after compiling using protoc, with libprotoc, I get an error that
"This file was generated by an older version of protoc which is incompatible with your Protocol Buffer headers.  Please regenerate this file with a newer

[2018-07-20 06:06] pfreixes opened #4945 "Backward compatibility of the Python files generated from Protobuf files"
Hi,

I would like to know if the Python files that are generated from Protobuf files are backward compatibility within the same major version, for examples:

I have a Python file that belongs to a specific service that was generated by the 3.0.0 version of the `protoc` compiler, then this file is used in another environment by a client of the service that uses the 3.6.0 version, my two questions h

[2018-07-20 08:22] mkosieradzki commented on #3431
Progress report for https://github.com/mkosieradzki/protobuf/tree/spans-pr-workspace

- [x] Basic support for `ReadOnlySpan<T>` when deserializing
- [ ] Basic support for `Span<T>` when serializing
- [ ] Improve codegen to avoid using the inefficient FieldCodec abstractions:
  - [x] Deserialization
  - [x] Size computation
  - [ ] Serialization
  - [ ] Other?
- [ ] Add inlining hints when applicab

[2018-07-20 08:45] kunalspathak commented on #4928
Quick update -

If I change the above message, it works fine. So instead of `SInt32` if i have `ABC32` or `_SInt32`, it works fine. I will see on my end if I am doing something wrong, but could you also double check if the generator is getting confused with the name of message and making wrong assumptions?

[2018-07-20 16:24] mkosieradzki commented on #3431
@jtattermusch code in branch https://github.com/mkosieradzki/protobuf/tree/spans-pr-workspace is now entirely `Span`-compatible, it is also hard-generated instead of the inefficient FieldCodec-abstraction. I expect a huge performance boost.

[2018-07-20 16:51] xfxyjwf commented on #3431
@jtattermusch I'm assigning this issue to you since you have been following up with the proposal.

[2018-07-20 16:58] xfxyjwf commented on #4944
Ubuntu comes with a pre-installed protoc. You need to uninstall that one.

[2018-07-20 16:58] #4944 closed

[2018-07-20 17:02] xfxyjwf commented on #4932
This is not the right repo to ask golang protobuf validation questions.

[2018-07-20 17:03] #4932 closed

[2018-07-20 17:08] xfxyjwf commented on #149
@chrislgarry We have never been able to reproduce this issue in our testing environment. It would be great if you can provide a docker image that's able to reproduce the issue.

[2018-07-20 17:21] xfxyjwf commented on #4939
When you convert List and Map, can you check whether they are a list of Beans (or the map value is Bean) and convert them as such:
List<Bean> => repeated Bean field
Map<String, Bean> => map<string, Bean> field
?

[2018-07-20 18:18] Kwizatz opened #4950 "Calling google::protobuf::ShutdownProtobufLibrary() against a DLL build throws an Access violation reading location 0xFFFFFFFFFFFFFFFF exception"
**What version of protobuf and what language are you using?**
Version: v3.6.0.1 (google-protobuf-v3.6.0.1.tar.gz) currently build as part of vcpkg.
Language: C++

**What operating system (Linux, Windows, ...) and version?**
Windows 10

**What runtime / compiler are you using (e.g., python version or gcc version)**
MS Visual Studio 2017

**What did you do?**
Create a program that dynamically links

[2018-07-20 19:33] kunalspathak commented on #4928
Alright, seems to find the short repro is below `a.proto` file:
[code]

The run this
[code]

And the test case is `a.py` file:

[code]

On python36 it works fine, but on python37 I get error I mentioned earlier. Note that this also repros if i use `3.5.1` version of protobuf. So definitely something to do with recent changes in python3.7 + how the language feature is used inside protobuf to discov

[2018-07-21 04:38] chrislgarry commented on #149
Ok sure. I’ll try to do to that this weekend.

2018年7月21日(土) 2:09 Feng Xiao <notifications@github.com>:

[2018-07-21 15:44] xfxyjwf commented on #4950
Given your description of the problem, I think it's a duplication of https://github.com/google/protobuf/issues/4773 that std::once_flag is broken in visual studio 2017. We already had a fix merged and a pending 3.6.1 release should fix the issue. You can test it against HEAD and let us know if the issue still persists (it should not).

[2018-07-21 15:44] #4950 closed

[2018-07-21 15:54] mkosieradzki commented on #3431
@jtattermusch It's ready. I don't plan any significant work on this repo now. I have also merged spans-pr-workspace to span-pr.

[2018-07-21 19:36] davidfowl commented on #3431
This was a great discussion to read and I'm happy to share that we went through a very similar exercise  when we were writing the HTTP/1.1 parser for Kestrel. The conclusion was that for optimal performance  when using ReadOnlySequence<T>, you need to parse a Span at a time, and only use the higher level multi buffer operations when crossing buffer boundaries.

Simple example here -https://github.

[2018-07-21 20:30] mkosieradzki commented on #3431
Thank you for all your valuable points. I will take a closer look on the suggestions, but I really think we want to sacrifice async parsing for simplicity and performance.

I was considering stateful parsing as an option before, but I think it would make the codegen much more complicated - and especially after removing this `FieldCodec` abstraction responsible for virtcalls - current codegen is so

[2018-07-21 22:06] ripopov opened #4955 "Wnarrowing in io_win32_unittest.cc"
Version: v3.6.0
I'm using CMake from protobuf-3.6.0 on Windows with Mingw-w64 (g++ 6.4). With default options build fails with error:
protobuf-3.6.0\src\google\protobuf\stubs\io_win32_unittest.cc:77:1: error: narrowing conversion of '159' from 'int' to 'char' inside { } [-Wnarrowing]

[2018-07-22 08:57] mkosieradzki commented on #3431
I have created a new branch: https://github.com/mkosieradzki/protobuf/tree/spans-pr-rebased

It is a rebased core code to make code-review, and further development easier.
It does not contain generated code to make rebasing to the latest version much easier - learned the hard-way when creating async PR.

Also I code on Windows (VS2017) and previously had problems with line endings in the generated

[2018-07-22 18:42] whit2333 opened #4957 "C++ aggregate initialization"
It would be great to use  aggregate initialization on the generated c++ classes.
https://en.cppreference.com/w/cpp/language/aggregate_initialization

This can probably be implemented many ways but I am sure someone has thought about this before.

[code]
Using aggregate initialization:
[code]

In modern C++ this would be easy (string data types might require some attention).

[2018-07-23 12:19] ujmedia opened #4958 "terminate called after throwing an instance of 'std::system_error' - after switching to version 3.6.0 (from 3.5.1)"
**What version of protobuf and what language are you using?**
Version: v3.6.0
Language: C++

**What operating system (Linux, Windows, ...) and version?**
Debian Linux 9.5

**What runtime / compiler are you using (e.g., python version or gcc version)**
g++ (Debian 6.3.0-18+deb9u1) 6.3.0 20170516
Linux version 4.9.0-6-amd64 (debian-kernel@lists.debian.org) (gcc version 6.3.0 20170516 (Debian 6.3.0-1

[2018-07-23 18:32] RdeWilde opened #4959 "Can I add metadata?"
I would like to add additional metadata (optional) to the protobuf defs. Is there any way to do that in a clear manner?

For example, I'd like to hint that a certain attribute has unique values, like a database has unique keys.

[2018-07-23 20:47] #4935 closed

[2018-07-23 20:53] haberman commented on #3823
@nvartolomei is correct here, StringValue is a message with a single field. You have to set its value manually, there is no special support for this.

[2018-07-23 20:53] #3823 closed

[2018-07-23 20:56] anandolee commented on #4945
We have compatibility tests to  make sure old generated code can work with new runtime:
https://github.com/google/protobuf/blob/master/python/compatibility_tests/v2.5.0/test.sh

New generated code may not work with old runtime.

[2018-07-23 20:57] acozzette commented on #1731
This bug seems to have been fixed in 4c5d3eddf99fea6ba652a487d6e7690b51e8aa23.

[2018-07-23 20:57] #1731 closed

[2018-07-23 20:57] TeBoring commented on #4761
I am working on a fix: #4946

[2018-07-23 20:58] #4945 closed

[2018-07-23 21:01] anandolee commented on #4914
What's the behavior if you do in a .py file by try:

try:
  some_message.some_list.add("foo")
except TypeError:
  pass

[2018-07-23 21:07] TeBoring commented on #4921
```deserializeBinary``` expect a binary string instead of a protobuf message as argument.

[2018-07-23 21:07] #4921 closed

[2018-07-23 21:11] TeBoring commented on #4911
Sorry, we don't have proper machine to test against this. Is there any docker image to reproduce this?

[2018-07-23 21:29] #4842 closed

[2018-07-23 21:30] anandolee commented on #4484
We did not expose  recursion limit in python, but reuse the allow_oversize_protos flag to increase it seems an solution:
https://github.com/google/protobuf/blob/0a59054c30e4f0ba10f10acfc1d7f3814c63e1a7/python/google/protobuf/pyext/message.cc#L2024

@amauryfa do you agree we could call input.SetRecursionLimit(INT_MAX) as well when allow_oversize_protos is true like bytes limit:
https://github.com/g

[2018-07-24 00:17] anandolee commented on #4928
What is the generated descriptors for the repeated fields? Are they:
[code]
and
[code]

[2018-07-24 00:42] bestbelief commented on #4921
thank you very much! I have found my mistake because the parameter type is not correct. you are right

[2018-07-24 00:49] anandolee commented on #4928
Just checked with the generated code, both "message List_sint32" and "message List_SInt32" are generated as "_LIST_SINT32", so the second one overwrites the first one.

I can make a fix for it but need to take some time because such changes may breaks some of our internal users.

[2018-07-24 01:31] yanxinyuan commented on #4939
Sorry for late response, can you give some sample or more detail information like List => repeated Bean field ? How to transfer?

[2018-07-24 02:37] JohnHBrock commented on #4914
In python 3 I don't get an exception (interestingly, with python 2 I get `TypeError: __new__() got an unexpected keyword argument 'serialized_options'`).

I also ran this slightly modified version with python 3:
[code]
and got this output:
[code]

[2018-07-24 11:04] qed- opened #4960 "Incorrect code generation for nullable types using wrapper types"
Version: v3.6.0
Language: C#

The example below is a message that can contain either an int32 or a string. These are permitted to take NULL values. The type contained in the message is lost when a value is set to NULL. This means it is impossible to represent a message with a NULL value but still know what type it is.

import "google/protobuf/wrappers.proto";

message TestMessage {
   oneof Value

[2018-07-24 11:48] m-peko opened #4961 "Methods ParseFromString and SerializeToString are not generated"
Version: v3.6.0
Language: C++

OS: Linux Ubuntu

Compiler: GCC version

Steps to reproduce the behavior:
1. Define my protocol messages as stated in the tutorial
2. Compile files with .proto extension
3. Try to use ParseFromString and SerializeToString methods but they are not generated i.e. there are no definitions in header file

[2018-07-24 14:53] m-peko commented on #4961
Solution to this problem is pretty simple.

Methods ParseFromString and SerializeToString are not supposed to have their definitions in a header file. They are rather part of protobuf library which needs to be linked to the project.

If you are using GCC you can link protobuf library by using following flags: -L/usr/local/lib -lprotobuf.
For the first flag I am not sure if it is required at all bu

[2018-07-24 14:53] #4961 closed

[2018-07-24 17:07] TeBoring commented on #4227
Sorry, I haven't added it.

[2018-07-24 21:55] anandolee commented on #4914
I've tried the following test:
[code]

It can pass with pure python in both python2 and python3. Can not pass with python c extension for both python2 and python3 (len is 2 with protobuf python c extension).

Corresponding code is in AddToAttached, we called AddMessage() first:
https://github.com/google/protobuf/blob/master/python/google/protobuf/pyext/repeated_composite_container.cc#L142

And Do

[2018-07-25 00:34] anandolee commented on #4926
As proto2 is not supported, we are unable to make them public or provide a run-time representation. @ObsidianMinor is working on proto2 support, we can make DescriptorProto public after that.

Closing this issue for clean up. Feel free to reopen after proto2 is supported or if you have any other questions.

[2018-07-25 00:34] #4926 closed

[2018-07-25 11:51] juanjux commented on #4484
Update: we're switching out codebase to use a different protocol using a flat structure so this shouldn't be a problem anymore for us (but maybe it could be for other users).

[2018-07-25 13:29] ivanp2015 opened #4963 "Protobuf 3.6 build failure with MSVC2017"
**What version of protobuf and what language are you using?**
Version: v3.6.0
Language: C++

**What operating system (Linux, Windows, ...) and version?**
Windows 2008 Server R2 x64

**What runtime / compiler are you using (e.g., python version or gcc version)**
Visual Studio 2017 15.7.5
x64 Native Toolset

**What did you do?**
Steps to reproduce the behavior:
1. Downloaded and unpacked protobuf-al

[2018-07-25 14:17] rohitsakala commented on #4911
HI @TeBoring ,

Thank you for the reply. Please find the details below for reproduction. There is no docker image.

I had created a s390x (Big Endian) VM from https://linuxone20.cloud.marist.edu/cloud/#/login. It is free for 120 days. The VM details are
OS : SLES12SP3
RAM: 4 GB

Steps followed inside the VM.
1. git clone https://github.com/google/protobuf
2. cd protobuf/
3. git submodule update --

[2018-07-25 14:41] ivanp2015 commented on #4963
Maybe duplicate of #4773 and #4679

[2018-07-25 14:52] vthoppae commented on #3957
Using batch file try this option using for loop command
for /f %%G IN ('dir /b "C:\Protobuf\protoc-3.6.0\in\*.proto"') do (
protoc --proto_path=C:\Protobuf\protoc-3.6.0\in --java_out=C:\Protobuf\protoc-3.6.0\out %%G
)

[2018-07-25 18:17] anandolee commented on #4914
The fix has been submitted in internal code, expect to see in next release.

[2018-07-25 18:17] #4914 closed

[2018-07-25 21:11] ivanp2015 commented on #4963
Is there any planned release date for 3.6.1?

[2018-07-25 21:52] anandolee commented on #4716
This error happens when new generated code is being used with an old runtime, That's a configuration we don't support. Upgrade protobuf runtime to newer version later than your protoc version can solve the error.

For compatibility, we support older generated code with newer protobuf runtime.

[2018-07-25 22:08] anandolee commented on #4716
@rockyzhengwu I noticed that your protoc version and protobuf runtime version are both 3.5.1. Thus this error should not happen. I checked the 3.5.1 protoc, serialized_options was not released in that version.
Can you double check that your /home/rocky/GitHub/pyemd/test/topic_response_pb2.py file is produced by protoc 3.5.1?

[2018-07-25 22:52] anandolee commented on #4795
I'd say this is more like a question for tensorflow usage. I suggest you to file an issue with tensorflow

[2018-07-25 23:29] anandolee commented on #4281
Update: we are adding unknown fields APIs in internal code. Will not provide _unknown_fields attribute in C++ python.
_unknown_fields in pure python will be removed sometime in future.

[2018-07-26 09:42] JerryShih opened #4967 "The decoding performance is extremely slow for some pb file with python 3.7"
**What version of protobuf and what language are you using?**
Version: v3.6.0
Language: Python

**What operating system (Linux, Windows, ...) and version?**
mac 10.13.6

**What runtime / compiler are you using (e.g., python version or gcc version)**
python 3.7

**What did you do?**
load a big pb2 base file from
https://s3.amazonaws.com/onnx-model-zoo/resnet/resnet34v1/resnet34v1.onnx

1. pip insta

[2018-07-26 15:55] jtattermusch commented on #3431
Thanks for the good points, to add my 50cents about the stateless/stateful
parsing:
Currently for Google.Protobuf the CodedInputStream is the storage for
parsing state - it keeps track of where we are in the buffer, tracks
recursion depth, max message size and other things important for security.
So in a way, we are in the situation, where our current parser is "stateful
and resumable"+"state is k

[2018-07-26 16:10] jtattermusch commented on #3431
@mkosieradzki  I started reviewing your code, but haven't noticed the spans-pr-rebased branch initially, which made the review more complicated. Here are some initial comments:

— I noticed there's a change from netstandard1.0 -> nestandard1.1, is that necessary? Making changes like this is theoretically possible but can slow down the review process quite a bit.

— (this point might be not applica

[2018-07-26 16:24] jtattermusch commented on #3431
@mkosieradzki  you've come up with a great amount of good changes, but I'm now thinking of how to make the review process efficient and how we can integrate this. Here's what I suggest.

- I created a branch in my fork: https://github.com/jtattermusch/protobuf/tree/span_support_experimental (currently in sync with protobuf master). I think we could review the code piece-by-piece by creating smalle

[2018-07-26 16:38] mkosieradzki commented on #3431
@jtattermusch
Please give the `spans-rebased-pr` branch a try. I really tried to make this specific branch very clean and split into separate meaningful commits. I think that because we are dropping compatbility with 3.x branch by deleting `FieldCodec` abstraction. it should be treated as a major change.

If you want to play with what I have built, I have created yet another branch spans-pr-rebase

[2018-07-26 16:45] jtattermusch commented on #3431
@mkosieradzki I plan to take a closer look at `spans-rebased-pr` tomorrow.

[2018-07-26 18:22] xfxyjwf opened #4968 "Make conformance tests enforce recommended tests by default."
See: https://github.com/google/protobuf/pull/4965#issuecomment-408186799

Right now conformance test doesn't enforce recommended tests by default but we should really encourage everyone to pass recommended tests.

[2018-07-26 18:35] xfxyjwf commented on #4967
How large is the file? We have published python performance numbers here:
https://github.com/google/protobuf/blob/master/docs/performance.md

Depending on whether you are using pure python or python C extension, the performance varies quite a bit.

[2018-07-26 19:48] JerryShih commented on #4967
Which version will I have if I install protobuf from "pip install protobuf"?
The installed version is 3.6.0.
And I use mac.

[2018-07-26 19:49] JerryShih commented on #4967
The resnet34v1.onnx is about 83M.

[2018-07-26 19:49] blowmage opened #4969 "[Ruby] Setting Array/Hash values is inconsistent/buggy"
Hi, the behavior in this issue describes has been consistent for all gem releases since 3.0.0.alpha, on all ruby versions, AFAIK. We have worked around it, but I think it can be better, especially as more and more gems are moving to being generated only instead of hand-written, and exposing the protobuf objects directly to users.

The ruby gem provides support for Ruby Array and Hash objects. It w

[2018-07-26 20:01] xfxyjwf commented on #4967
"pip install protobuf" will install the version with C extension if it's available on your platform. If the C extension is not available, it will fallback to the pure python version which will be much slower. That seems to explain the difference you are seeing.

[2018-07-26 20:10] JerryShih commented on #4967
I just build the protobuf with c++-impl.
`
python setup.py build --cpp_implementation
`
It's faster now.
Thank you.

[2018-07-26 20:10] #4967 closed

[2018-07-26 20:59] TeBoring commented on #4969
What is this issue looking for? Setting repeated/map fields with ruby array/map?

[2018-07-26 21:02] TeBoring commented on #4969
Or constructor with protobuf object?

[2018-07-26 21:34] blowmage commented on #4969
Being able to assign an Array or Hash to an attribute, and assign a RepeatedField or Map in an initializer. Basically, make the failing tests pass.

[2018-07-26 21:40] TeBoring commented on #4969
In your test, I also see you check the result of ```to_a``` and ```to_h```.
Do you also need these features?
@haberman do we want to support assign an Array or Hash to an attribute, and assign a RepeatedField or Map in an initializer? And do we guarantee the result of ```to_a``` and ```to_h```?

[2018-07-26 22:09] haberman commented on #4969
This behavior is the result of some deliberate thinking/design. Basically we try to give predictable behavior, and avoid surprises. And we try to behave like `Struct` generally.

The tricky issue is that, to do proper type checking, we can't just take a reference to the existing array. Consider:

[code]

Instead we need a separate array-like object, `RepeatedField`, that can enforce that all of th

[2018-07-26 22:24] blowmage commented on #4969
I guess what I'm saying here is that if we can accept an Array in an initializer method, with all the appropriate type checking, then should be able to do the same on an attribute setter method. Similarly, if we can accept a ReleatedField on an attribute setter method, then should be able to accept it in an initializer method. Why is the behavior of initializer methods and attribute setter methods

[2018-07-26 22:37] haberman commented on #4969
Because `Array#new(arr)` copies `arr` -- that's the prior art we're relying on for allowing it in the constructor. But `foo.a = a` rarely/never copies `a`, which is why we don't (currently) do that either.

[2018-07-26 23:43] acozzette commented on #4963
I am working on the release now and expect to get it done early next week, or maybe as early as tomorrow.

[2018-07-27 01:06] ivanp2015 commented on #4963
Thank you!

[2018-07-27 09:57] wenhuiwu opened #4970 "contains invalid UTF-8 data when parsing a protocol buffer. Use the 'bytes' type if you intend to send raw bytes."
we are tying use a python grpc clinet to send request to the go server.
the proto param we used has been defined as:
message PbRider {
      string  speed_param  = 28;
};
but we get an error:
contains invalid UTF-8 data when parsing a protocol buffer. Use the 'bytes' type if you intend to send raw bytes.

[2018-07-27 15:12] psalvaggio opened #4971 "MessageToJsonString discards extensions"
**What version of protobuf and what language are you using?**
3.5.0

Language: C++

**What operating system (Linux, Windows, ...) and version?**
Fedora 28

**What runtime / compiler are you using (e.g., python version or gcc version)**
GCC 8.1.1

**What did you do?**
I set up a simple test case:
[code]
I then populated a message with:
[code]
and serialized this to JSON with `MessageToJsonString()`

[2018-07-27 16:13] acozzette commented on #4970
String fields are only intended for storing UTF-8 data, so if you need to send non-UTF-8 data then it is best to use a `bytes` field instead.

[2018-07-27 19:14] anandolee commented on #4281
Update: UnknownFields API has been submitted in internal code. Expect to see it in future release

[2018-07-27 19:17] anandolee commented on #4484
Closing it for clean up. We will take care of the recursion limit

[2018-07-27 19:17] #4484 closed

[2018-07-28 02:20] wenhuiwu commented on #4970
But the data has been changed to type-string on go server, why does the python client cannot parse this data? Maybe the python protobuf should do something to deal with those who contains non-UTF-8 data but defined as string in proto?

[2018-07-28 20:15] m-peko opened #4975 "Omit serialization of specific field"
I have a message defined as following:

[code]

I am given the payload part already serialized, appended with header (with some special characters) and prepared for transmission over socket. Therefore, additional serializing of a payload field creates some special characters (like `\000`) that cannot be parsed on the C++ side (I think because of escape sequences in C). Serialization is done with P

[2018-07-30 07:37] AkashBabu commented on #1741
Sample protofile
[code]
How to implement it elegantly ?
*Let's assume that grpc-client is sending {"foo": "test"} as request body
[code]

[2018-07-30 07:46] yanxinyuan commented on #4939
Thanks @xfxyjwf .
Actually the reason i asked "Value support to wrapper Any as a field" is i don't know how to handle the below scenario. In my application when i received a List type object, the type can be String, Boolean, **Bean** and so on. I will check if it is a list, i will transfer it to ListValue and pack it to any, then i can use the any object to communicate with other service. But if t

[2018-07-30 08:39] paneq opened #4976 "How can I use encode_json/decode_json to encode/decode array of messages in Ruby?"
[code]

does not work.

[2018-07-30 08:40] yanxinyuan commented on #4939
After i go through the source code of potobuf, i found maybe the "com.google.protobuf.RepeatedFieldBuilderV3" or "com.google.protobuf.ProtobufArrayList" can be used. But sadly the "RepeatedFieldBuilderV3" cannot be constructed and the "ProtobufArrayList" is not visible. .

[2018-07-30 14:52] prithvishenoy7 opened #4978 "Error Installing Omnet++"
make[1]: Leaving directory '/mnt/c/Users/prith/Desktop/kth/y2/THesis/vsimrti-allinone/vsimrti/bin/fed/omnetpp/inet/src'
Building OMNeT++ federate...
cd src && make all
make[1]: Entering directory '/mnt/c/Users/prith/Desktop/kth/y2/THesis/vsimrti-allinone/vsimrti/bin/fed/omnetpp/omnetpp-federate/src'
MSGC: mgmt/VSimRTICommunicationCmd.msg
MSGC: mgmt/VSimRTIConfigurationCmd.msg
MSGC: mgmt/VSimRTIMob

[2018-07-30 17:49] xfxyjwf commented on #4971
MessageToJsonString only supports proto3 features at the moment. Extension is a proto2-only feature. Currently we don't have a plan to support it in proto3 JSON implementations.

[2018-07-30 20:41] anandolee commented on #4896
ping @drush211

[2018-07-30 20:45] gerben-s commented on #4293
Have you tried changing the link order? Linker line should probably be written such that the order matches the dependencies.

[2018-07-30 20:47] haberman commented on #4969
On the other hand you're not the first person to ask for this. Here is another:

https://github.com/google/protobuf/pull/4385

Let me poll a few other people and see what they think.

[2018-07-30 20:48] haberman commented on #2294
This is still a bug. It should be a trivial fix. Let me take a look at it.

[2018-07-30 20:48] xfxyjwf commented on #4939
If subObj is user defined object, can you use the user provided converter? You mentioned there is a user provided converter, right?
[code]

[2018-07-30 20:50] haberman commented on #1701
This appears to still be a bug. PR's welcome. I'm not sure when we will get to it.

[2018-07-30 20:50] xfxyjwf commented on #4937
@imilli Could you post some data showing lua is used as much as one of the existing supported languages? That will help us prioritize the support.

[2018-07-30 20:54] BSBandme commented on #4735
Thank you @chukrum47 for the detailed reporting! But I think this bug is limit to specific device that we don't have in hand. I just downgraded the priority for this bug and feel free to aug the priority when you want to. Or would you be interested in sending out a fixing PR?

[2018-07-30 20:55] xfxyjwf commented on #4865
@dncliss Could you send the patch as a pull request?

[2018-07-30 20:57] xfxyjwf commented on #4891
Bo, we need to add documentation for Any API in javascript.

[2018-07-30 20:58] xfxyjwf commented on #4955
Could you help send a pull request?

[2018-07-30 21:46] blowmage commented on #4969
If I were to prioritize, I would place supporting RepeatedField and Map objects in the initializer method above supporting Array and Hash objects on attribute setter methods. I find this behavior the most surprising and don't understand why this is not allowed.

Even though it is the lower priority in my mind, I would still like to see supporting Array and Hash objects on the attribute setter meth

[2018-07-30 22:59] gerben-s commented on #4958
I think you are missing threading support. Maybe -pthread as an option

[2018-07-31 01:06] yanxinyuan commented on #4939
yes, I can use user provide converter to transfer user defined object to protobuf object. Means:

`List<Bean> ->(user provide converter) -> List<Protobuf Object>`

but how to parse the `List<Protobuf Object>` to Any?

[2018-07-31 01:07] xfxyjwf commented on #4939
Why do you need to convert it to Any? Isn't a List<Protobuf Object> easier to work with?

[2018-07-31 01:08] drush211 commented on #4896
tried without grpc and the same issue occurred.

[2018-07-31 01:17] yanxinyuan commented on #4939
Oh, That's another question. My application is event driven based which means we can only handle event in our system. The data structure of event is some thing like
[code]
The field in Payload is a dynamic  object, so we can only use any here.
For exmaple:
a) if the field in payload is `List<Bean>`, i must do something to transfer to any.
b) If the field is Bean, i will invoke converter to transfe

[2018-07-31 01:25] yanxinyuan commented on #4939
So the ways i think can solve my problem is something like:
`List<Bean> ->(user provide converter) -> List<Protobuf Object> ->Any -> Set to Value -> Any`
Or
`List<Bean> ->(user provide converter) -> List<Protobuf Object> ->Any`
Or
`List<Bean> ->(user provide converter) -> List<Protobuf Object> -> (like ProtobufArrayList) ->Any`

[2018-07-31 03:58] ripopov commented on #4955
Already fixed in master. cmake/tests.cmake line 207

[2018-07-31 03:58] #4955 closed

[2018-07-31 06:15] rodaine opened #4980 "SourceCodeInfo: invalid Path for nested message following a map field in CodeGeneratorRequest"
**What version of protobuf and what language are you using?**
`protoc` Version: v3.6.0
Plugin Implementation Language: Go 1.10

**What operating system (Linux, Windows, ...) and version?**
MacOS 10.13.6

**What runtime / compiler are you using (e.g., python version or gcc version)**
N/A

**What did you do?**
Steps to reproduce the behavior:
1. With the following proto file `test.proto`:
[code]
1.

[2018-07-31 11:30] ujmedia commented on #4958
I checked your suggestion but -pthread is not missed!

I'm using pkg-config to add the right things to the build command and there is a difference
by 3.6.0! In case of 3.5.1 you can see that there is -lpthread option, but it is missing by 3.6.0!

root@um-deb8-dev:/protobuf/protobuf-3.5.1# protoc --version
libprotoc 3.5.1
root@um-deb8-dev:/protobuf/protobuf-3.5.1# pkg-config --libs --cflags protobu

[2018-07-31 11:30] #4958 closed

[2018-07-31 17:37] xfxyjwf commented on #4939
I think I need a concrete example to understand what you are trying to do. Say your old application has such a method:
[code]
are you trying to convert that method to take proto types as parameters instead? Like:
[code]
?

[2018-08-01 01:24] ilovezfs opened #4982 "3.6.1 not on PyPI"
https://github.com/google/protobuf/releases/latest points to 3.6.1 but PyPI is still distributing 3.6.0. Did the PyPI upload fail?

[2018-08-01 02:14] yanxinyuan commented on #4939
@xfxyjwf  Thanks very much, I will try to make it clear by way of example, but there are some intellectual property issues, so please understand.

Our product is a event based distributed framework by java language. A key technology in our product is we have our own Container(Similar to but different from OSGI). The Container can load and execute user service(Similar to but different from Bundle,

[2018-08-01 04:55] rohitsakala commented on #4911
After a little debugging, I find an assertion is failing. I removed the flag -DNDEBUG from extconf.rb in protobuf_c extension.

ruby: ../../../../ext/google/protobuf_c/upb.c:6367: insert: Assertion `findentry(t, key, hash, eql) == our_e' failed.

[2018-08-01 05:10] ronny opened #4983 "Include standalone comments at top of file in generated code"
**What language does this apply to?**

Go, Node.js.

**Describe the problem you are trying to solve.**

I'm trying to pass information (in the comments) to our build tooling where it only has access to the generated files but not the source proto files.

**Describe the solution you'd like**

Include standalone leading comments at the top of the proto file in the generated pb and grpc_pb files.

**

[2018-08-01 05:12] ronny commented on #4983
The Node.js generator includes the comments from the top of proto file in the _grpc_pb.js but not _pb.js file. Ideally it'd be included in both.

[2018-08-01 05:27] TeBoring commented on #4982
I haven’t done it yet. Will do it later this week.
On Tue, Jul 31, 2018 at 18:24 ilovezfs <notifications@github.com> wrote:

[2018-08-01 08:01] JeffAbrahamson opened #4984 "myriad type conversion warnings during `make check`"
**What version of protobuf and what language are you using?**
Version: master (3d62db3ecd5377025a458bca827ab4ca12d5c1f0)
Language: C++

**What operating system (Linux, Windows, ...) and version?**
linux

**What runtime / compiler are you using (e.g., python version or gcc version)**

[code]

**What did you do?**
Steps to reproduce the behavior:

    make check

**What did you expect to see**

No c

[2018-08-01 08:53] lei314121077 commented on #1780
@aymanosman  How to fix this?

[2018-08-01 10:05] yanxinyuan commented on #4939
@xfxyjwf
Great! That solves my issue. Thank you for your patience, thanks. And i will close the issue.

[2018-08-01 10:05] #4939 closed

[2018-08-01 18:30] MyadaRoshdi opened #4989 "Getting error parsing message"
Hi, I am new to protobuf, was following the python [tutorial](https://developers.google.com/protocol-buffers/docs/pythontutorial) . I always get the following error:

Traceback (most recent call last):
  File "add_person.py", line 54, in <module>
    address_book.ParseFromString(f.read())
google.protobuf.message.DecodeError: Error parsing message

#When I try to execute :

 $ python add_person.py

[2018-08-01 22:55] amgadani commented on #1591
Pinging this ticket again, any update ?

[2018-08-02 03:03] itfanr opened #4992 "compile error with grpc, abi:cxx11 error"
system: ubuntu 16.04.1
gcc version :
[code]

First , i builded the protobuf of master branch

Second , I build the grpc library, but got this:

[code]
How to solve the abi:cxx11 error? Please.

[2018-08-02 06:59] #4992 closed

[2018-08-02 07:04] xfxyjwf commented on #4984
This is more of a gtest issue than a protobuf one.

[2018-08-02 07:05] xfxyjwf commented on #4983
For Go, you will need to file a request to the golang/protobuf repository.

[2018-08-02 08:41] peihe commented on #2573
I found a static GetTypeName() is useful for building a static map keyed by protobuf type name.

[2018-08-02 14:14] JeffAbrahamson commented on #4984
Well, it's gtest that's emitting the warnings, but wouldn't it be better to do the appropriate casts so that the warnings don't happen?  One of the reasons for such warnings is that comparisons between types that don't match can lead to unexpected equality.  It makes it more clear in the protobuf code that the particular projection in question is intended and safe.

[2018-08-02 14:53] moshebitan commented on #3957
This is one liner to replace google command for compliing proto files.
ORIGINAl (Doesn't work on windows):
protoc object_detection\protos\*.proto --python_out=.

Batch version **works** on windows:
for /f %G in ('dir /b object_detection\protos\*.proto') do protoc object_detection\protos\%G --python_out=.

[2018-08-02 16:12] billy19murahmi commented on #4844
Same issue, building from a Git Clone doesn't work.
Using the release tarballs works fine.

[2018-08-02 17:52] dfontenot commented on #3028
I have yet to find a way to toggle the verbosity of protoc. Is this possible? That would really help to double-check that the CLI arguments were set correctly.

[2018-08-02 18:06] xfxyjwf commented on #3028
@dfontenot There isn't a verbosity mode in protoc. Inside Google we rarely need to invoke protoc directly (the internal version of bazel takes care of everything) so not much attention has been given to the command line interface. If you have suggestions on how to improve the current error messages, feel free to send us pull requests.

[2018-08-02 18:40] xfxyjwf opened #4993 "Broken protoc command line on windows"
See: https://github.com/google/protobuf/issues/3028

The following commands should have worked:
[code]

[2018-08-02 18:41] MyadaRoshdi commented on #4989
I knew where is my problem, I should pass a binary file to my script.
$ python add_person.py addressbook.data

[2018-08-02 18:41] #4989 closed

[2018-08-02 18:43] xfxyjwf commented on #3028
I went through the list in https://github.com/google/protobuf/issues/3028#issue-225299414 and believe many of the commands should have worked. Created https://github.com/google/protobuf/issues/4993 to fix protoc on windows.

[2018-08-02 18:48] Ark-kun commented on #3028
@xfxyjwf With all due respect the documentation link you've provided does not provide much help.
Here is the single line mentioning protoc there:

I have 17+ lines that  conform to that documentation, yet fail to work:

A:\proto_dir>protoc.exe --csharp_out="A:\Output directory\" --proto_path="a:\proto_dir" CNTK.proto
A:\proto_dir>protoc.exe --csharp_out="A:\Output directory\" --proto_path=. CNTK.p

[2018-08-02 19:47] DanFTRX commented on #2224
Is this still on the roadmap?

[2018-08-02 20:37] xfxyjwf commented on #2224
No, this is not on our roadmap.

[2018-08-02 22:14] aarotech commented on #4662
Any solution to this?
I have no version mismatch anywhere in any project but this error still prevents building in VS 2017

[2018-08-03 00:27] #4716 closed

[2018-08-03 00:35] anandolee commented on #4086
#4862 should have fixed this issue. I am closing it for clean up. Feel free to reopen if needed

[2018-08-03 00:35] #4086 closed

[2018-08-03 02:36] yjr930 commented on #2486
see this:
https://github.com/google/protobuf/pull/2599/files

 public:
  InternalMetadataWithArena() {}
  explicit InternalMetadataWithArena(Arena* arena)
      : InternalMetadataWithArenaBase(arena) {}
      : InternalMetadataWithArenaBase<UnknownFieldSet,
                                           InternalMetadataWithArena>(arena) {}
  void DoSwap(UnknownFieldSet* other) {
    mutable_unknown_fi

[2018-08-03 06:31] PING0814 opened #4996 "Protobuf version"
Could I upgrade the Protobuf from 3.0.0 to 3.4.0?

[2018-08-03 06:39] #4996 closed, assigned to nobody

[2018-08-03 09:32] trydis opened #4998 "C# - Some types are missing"
**What version of protobuf and what language are you using?**
Version: v3.5.1
Language: C#

**What operating system (Linux, Windows, ...) and version?**
MacOS 10.13.6

**Problem**
I'm trying to generate C# gRPC bindings for the Google Assistant. The command succeeds with no errors/warnings, but types in the `Google.Api` and `Google.Type` namespaces are missing.  Am I doing something wrong or is it

[2018-08-03 10:27] trydis commented on #4998
Ok, so i got it working by explicitly specifying the extra proto files. Not sure if that is expected behavior?

[code]

[2018-08-03 17:11] skinkie opened #4999 "Filenames starting with number will result in invalid Java generated code"
**What version of protobuf and what language are you using?**
Version: v3.5.2.
Language: Java

**What operating system (Linux, Windows, ...) and version?**
Linux

**What runtime / compiler are you using (e.g., python version or gcc version)**
java 1.8.0_162

**What did you do?**
https://github.com/grpc/grpc-java/issues/4690#issuecomment-408578075

[2018-08-03 23:55] markkolich commented on #3781
Fwiw, if anyone's paying attention, this warning can be suppressed on Java 10 with:

[code]

This might work on Java 9 as well, I haven't tried it.

Disclaimer: while I don't support ugly workarounds masking potential problems, this certainly clears up a pesky warning that continues to bother engineering teams. YMMV.

[2018-08-05 09:21] mitar opened #5003 "FromDatetime does not work with timezone aware datettime objects"
**What language does this apply to?**

Python.

**Describe the problem you are trying to solve.**

The following does not work:

[code]

[code]

**Describe the solution you'd like**

That `FromDatetime` would just work with timezone aware objects.

**Describe alternatives you've considered**

I could convert datettime to non-timezone aware object before calling `FromDatetime`.

[2018-08-05 09:57] finaldie opened #5004 "Git status is not clean after building python version"
**What version of protobuf and what language are you using?**
Version: v3.6.0
Language: Python

**What operating system (Linux, Windows, ...) and version?**
**Linux:** Ubuntu 18.04

**What runtime / compiler are you using (e.g., python version or gcc version)**
gcc 7.3.0
python 3.6.5

**What did you do?**
Steps to reproduce the behavior:
1. Build c++ version: `./autogen.sh && ./configure --enable-

[2018-08-05 12:19] cstranex opened #5006 "Issue removing items in RepeatedCompositeContainer"
Version: v3.6.0
Language: Python
OS: Linux
Python 3.6.5

Steps to reproduce the behavior:

[code]

    $ pipenv --python 3.6
    $ pipenv install protobuf==3.6.0
    $ python
    Python 3.6.5 (default, Apr  1 2018, 05:46:30)
    [GCC 7.3.0] on linux

    [id: 2
    , id: 3
    , id: 4
    , id: 4
    ]

    [id: 2
    , id: 3
    , id: 4
    ]

 The result of `x` above should be the same as the re

[2018-08-05 20:25] invidious9000 opened #5007 "Add compiler types to C# like CodeGeneratorRequest / CodeGeneratorResponse"
**What language does this apply to?**
C#

**Describe the problem you are trying to solve.**
Write a protoc plugin in C#

**Describe the solution you'd like**
Types from plugin.proto made available in a proposed Google.Protobuf.Compiler namespace, specifically CodeGeneratorRequest and CodeGeneratorResponse. Java library includes these types:
https://developers.google.com/protocol-buffers/docs/refer

[2018-08-06 01:26] perezd opened #5008 "Bazel: An illegal reflective access operation has occurred"
**What version of protobuf and what language are you using?**
Version: 3.5.0
Language: Java

**What operating system (Linux, Windows, ...) and version?**
Linux

**What runtime / compiler are you using (e.g., python version or gcc version)**
Bazel
Build label: 0.16.0
Build target: bazel-out/k8-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Tue Jul 31 17

[2018-08-06 03:34] xzhacker123 opened #5009 "How can I use vars(object) in python2.7 or 3.*?"
syntax = "proto2";

package proto;

message SayHi {
    required int32 id = 1;
    required string something = 2;
    optional string extra_info = 3;
}

import say_hi_pb2

po = say_hi_pb2.SayHi()
po.id = 123
po.something = 'do_something'
po.extra_info = 'test'

bilibili = po.SerializeToString()

oo = say_hi_pb2.SayHi()
oo.ParseFromString(bilibili)

print type(oo)
print vars(oo)
print oo.id
print o

[2018-08-06 06:54] imilli commented on #4937
There are some projects that use lua :

[2018-08-06 07:00] imilli commented on #4937
There are some projects that use lua :
https://github.com/cloudwu/skynet
https://github.com/openresty/openresty
you can know how many people use by watching the stars.
and the lua is also used by a large number of game companies, include wow.

[2018-08-06 09:01] sdrees commented on #4937
@xfxyjwf: Maybe https://www.lua.org/uses.html is a good point to trigger impact analysis 😉

[2018-08-06 09:06] imilli commented on #4937
@sdrees  You are right.

[2018-08-06 12:46] mishas commented on #4658
Is there any expectation to when this will get released? (I don't want to use the master branch in my project, if possible).
This is already merged for more than 2 months...
There were 2 major releases since this got merged (3.6.0 and 3.6.1), and 3 additional minor once (3.6.0rc1,3.6.0rc2 and 3.6.0.1), and none of them had this fix in them.

[2018-08-06 15:15] batradhruv commented on #4593
Didnt see any PR for this. I went ahead and created one https://github.com/google/protobuf/pull/5010

[2018-08-06 17:11] xfxyjwf commented on #4658
@mishas 3.6.x branch will not have this fix unless someone cherry-picks the change to that branch.

@anandolee Jie, can you evaluate whether we should cherry-pick the fix for this issue and include it in another 3.6.x patch release?

[2018-08-06 20:34] acozzette commented on #4963
The 3.6.1 version has been released, so this should be fixed now.

[2018-08-06 20:34] #4963 closed

[2018-08-06 20:34] gerben-s commented on #4931
I'm not very familiar with the windows environment. Feng what do you think should happen here?

[2018-08-06 20:35] #5004 closed

[2018-08-06 20:35] xfxyjwf commented on #5004
Thanks for making the fix!

[2018-08-06 20:35] gerben-s commented on #4293
Is this still an issue?

[2018-08-06 20:37] gerben-s commented on #970
Hey Yilun what do you think of this issue?

[2018-08-06 20:41] gerben-s commented on #4957
I don't have a strong opinion here. But I think we need t o be careful. For one we want the proto compiler to have the ability to reorder fields, while aggregate initialization needs to have to order as specified in the code.

Also removing a field and make it reserved seems a dangerous operation.

Josh any thoughts?

[2018-08-06 20:47] #4970 closed

[2018-08-06 20:48] gerben-s commented on #1896
I think string_view should be a solid contender to be fully released soon.

Cord's are a thoroughly more heavy weight type. Integrating ZCIS with Cord's ties our most basic library directly into ABSL. We thread a little more carefully here.

[2018-08-06 20:53] anandolee commented on #5009
Why do you need to use vars()?
If your use case want to know what fields a message are defined in the .proto file, you can use Descriptor:
https://github.com/google/protobuf/blob/master/python/google/protobuf/descriptor.py#L222

[2018-08-06 20:55] BSBandme commented on #970
I have no idea currently, @xfxyjwf

[2018-08-06 21:00] TeBoring commented on #4969
@haberman any update?

[2018-08-06 21:09] anandolee commented on #5003
Thanks for reporting this issue.
We have received a same issue in google internal, and are working on this

[2018-08-06 21:12] anandolee commented on #5006
Are you using a pure python or cpp extension?

[2018-08-06 21:49] craigcitro commented on #2974
@anandolee did the fix make it into 3.6.1? (I don't see it having been ported.) Or should we be waiting on 3.7?

[2018-08-06 23:05] snnn commented on #4773
Support for constexpr Static Initializers only started from VS 2015 update 1, it's a relatively new.  You may use the Windows API: INIT_ONCE, which works for all VS versions.

[2018-08-07 02:43] VerricDr opened #5012 "Question: How to set oneof fields in python?"
message Test {
    oneof test_oneof {
        MessageA a = 1;
        MessageB b = 2;
    }
    message MessageA {…}
    message MessageB {…}
}
test =Test()
test.a = Test.MessageA()
it always complains:Assignment not allowed to field "a" in protocol message object.

[2018-08-07 02:54] xzhacker123 commented on #5009
Thank you for your answer. I'm looking at the fields definition.
I want to implement RPC request with hprose + protobuf
[https://github.com/hprose/hprose-python](url)

	import hprose
	from pp import token_pb2
	client = hprose.HproseClient(r'http://*****/token')
	req = token_pb2.GetTokenRequest(MemberId=1)
	client.GetToken(req)

![image](https://user-images.githubusercontent.com/19922866/43751391-4

[2018-08-07 11:29] okomarov commented on #4683
@TeBoring Hi, it seems that the recently added Mac wheel is still not installing the cpp extensions:
[code]

and passing the `--cpp_implementation` flag results in an error:

[code]

[2018-08-07 17:37] MyUmmaGumma commented on #1896
@gerben-s
Could you please elaborate what ZCIS/Cord and StringView are with respect to zero-copy?

[2018-08-07 18:47] anandolee commented on #5006
Thanks for reporting it.
I can reproduce the error in pyext, pure python works fine. Repeated message container duplicates the last item after remove in the deep copied container. Repeated scalar container is even worse that the program crashes.
I've created a fixing change in internal code and is waiting for review.

[2018-08-07 19:03] anandolee commented on #5009
I can't see what data is used for from your picture after data = vars(obj)

[2018-08-07 19:07] aymanosman commented on #1780
@lei314121077 It was so long ago I honestly don't remember.

[2018-08-07 19:16] anandolee commented on #4998
+Jan, from grpc team

[2018-08-07 19:17] #4960 closed

[2018-08-07 21:57] anandolee commented on #4896
Thanks for reporting this. I can reproduce the error in pyext. The default value works well in pure python.
Just created a fix in our internal code.  It is being testing and waiting for review.

[2018-08-07 23:35] anandolee commented on #2974
No. We only sync with internal changes for major release. Minor releases are manually handled for some issues.

[2018-08-08 05:35] cstranex commented on #5006
Thanks

[2018-08-08 09:52] regarmanojkumar opened #5015 "Add additional behaviour for int64 in JsonFormat"
[#3194](https://github.com/google/protobuf/issues/3194)
***Current Behaviour*** : JsonFormat serializes int64 as strings.
***Reason*** : It's because int64 is not a standard JSON type and many JSON parsers don't support int64 precision.
***Expected Behaviour*** : By default, JsonFormat should serialize int64 as strings to be compatible. But an additional flag should be added to printer to print as

[2018-08-08 13:25] DM-christiangomez opened #5016 "Help needed using protocol buffers in large C++ project with multiple developers"
I'm trying to use Protocol Buffers to serialize data in a VS2015 C++ project I'm working on that has more developers than just myself. I had to install vcpkg to get the protobuf libraries to work for me, but I can't figure out how to make the project self-contained.

That is to say - currently my branch of the project relies on protobuf, but the libraries generated by vcpkg are completely separate

[2018-08-08 14:15] batradhruv commented on #4823
Could I pick this up? If you have any pointers for starting on this please do let me know..

[2018-08-08 15:31] jskeet commented on #658
I'm actively working on this now. The initial support is likely to be relatively bare, but it'll be there. The main reason for me doing this is for the sake of writing protoc plugins in C#.

[2018-08-08 15:35] jskeet commented on #5007
I'm actively working on this at the moment. My solution will involve:

- Allowing a set of `FileDescriptor`s to be loaded dynamically
- Potentially including the plugin types within Google.Protobuf (still TBD)

The reason for the latter is that we still won't provide access to `FileDescriptor` itself, which is still proto2. Instead, if we locally modify `CodeGeneratorRequest.proto_file` to be a re

[2018-08-08 17:01] mwei0210 commented on #4891
Any documentation or guide for Any?

[2018-08-08 18:42] anandolee commented on #5006
Update: The fix has been approved and submitted in internal code base. Expect to see in 3.7.0 release

[2018-08-08 18:44] anandolee commented on #5012
"Assignment not allowed to field "a" in protocol message object." is not a oneof problem, it is complain about assignment for message field.

There are two ways you can do:

test.a.CopyFrom(...)
or
test.a.sub_field = ...

[2018-08-08 19:14] TLadd commented on #4800
I believe this is expected behavior. I was having an issue because the plugin I was using to generate typescript definitions did not match this behavior, but [a PR was merged](https://github.com/agreatfool/grpc_tools_node_protoc_ts/issues/25) to make it do so.

[2018-08-08 19:14] #4800 closed

[2018-08-08 20:47] xfxyjwf commented on #5015
We cannot accept this proposal because including int64 numbers in the output will break interoperability (most proto3 JSON implementations can't parse such output).

[2018-08-08 22:02] anandolee commented on #4896
Update: the fix is approved and submitted in internal code base. Expect to see in 3.7.0 release.

[2018-08-08 22:35] invidious9000 commented on #5007
This is great, thank you.

Are there any plans for implementing extension registries or some equivalent alternative? They seem to fit really well with codegen, on the java side we do something like this so we can 'annotate' messages with additional proto messages and have first-class handling in plugin:

Define options (CodegenV1.proto):
[code]

We apply it to messages we want to handle for codege

[2018-08-08 22:46] ras0219-msft commented on #5016
Just to tie the issues together: this is a vcpkg issue (https://github.com/Microsoft/vcpkg/issues/4039).

[2018-08-08 23:10] matthauck commented on #3786
Just ran into this as well. The warning looks pretty scary. Is the fix really to disable the warning and trust that protobuf is doing the right thing?

[2018-08-08 23:52] xfxyjwf commented on #3786
@matthauck We are not aware of any alternative except for disabling the warning and protobuf requires these offsets to function. If you know of better ways, feel free to suggest...

[2018-08-09 01:08] jskeet commented on #5007
I'm not intending to change how custom options are exposed at the moment. There's no need for an extension registry, but you do need to know the field number. That's a topic discussed in #4591.

But I've checked that the options defined in protos *are* available via the descriptors passed into the C# plugins. For example, here's a sample of some prototype code I wrote to use the [`HttpRule` option

[2018-08-09 04:33] dsnet opened #5022 "[Docs]: Documentation comments should be language agnostic"
The following `.proto` files are well-known and generated in every language:
[code]

However, the comments in each file are often formatted with some syntax that causes the output to be mangled when viewed using some other documentation tool native to the target language. Instead, the comments should be written to make as little assumptions about what documentation tool is used to interpret it.

E

[2018-08-09 04:51] matthauck commented on #3786
I'm not entirely familiar with `offsetof` and what protobuf depends on them for. It looks like if there was a virtual table or something then `offsetof` doesn't calculate the correct offset for non-POD types perhaps? It just seems that if the compiler is saying the offsets are not valid, then it could be broken. Surmised from here: https://stackoverflow.com/a/1130035

I'm happy to leave it as it i

[2018-08-09 04:53] matthauck commented on #3786
It's also worth noting that whatever protobuf was doing in 3.3.x branch worked just fine for older compilers. It looks like this was introduced in 3.4.x. So maybe the 3.5.x branch could revert back to the previous offset mechanism that seemed to work better with older compilers perhaps?

[2018-08-09 06:40] dingrui37 commented on #5012
HI @anandolee , I have the same problem. I have tried `test.a.CopyFrom(...)`, it works, but how to use `test.a.sub_field =` ?

I want to ask some questions too.
[code]

test =Test()
test.c = "abcd"
test.a = ...
I want to know why `test.a = ...` cannot work?  The official tutorial explain how to use oneof only  with string and int32 types. I have searched on google, and it also lack of answers abou

[2018-08-09 09:02] regarmanojkumar commented on #5015
I agree, that's why the flag. Adding a flag will not break interoperability. There should be a flexibility of choosing this behaviour and default behaviour should remain same as it is.

Retaining this rigid behaviour will break parsing end system if that system does not use parser with same behaviour. There are some cases where remote parser is not in our hands/control to change.

[2018-08-09 11:45] deripas opened #5023 "CodedInputStream newInstance is package-private"
I often have to work with 7bit coding  and found a useful class `CodedInputStream` in

[code]
But method with custom buffer size **NOT public**!
[code]
Public only method with default buffer size:
[code]

### Can you make the method public?

Now I have to use hack:
[code]

Thank you.

[2018-08-09 13:28] udaymore commented on #2979
I had faced similar problems with a QT project. The main reason here is that the pre-built binaries of QT and QT creator are dependent on 2.6v of protobuf. Hence if you want to have a QT project run with 2 versions of protobuf, v3.x must be installed as static library and install it in /usr/local/lib. Now you have to build QT from sources on top of the v3.x.
I solved my problem by keeping both the

[2018-08-09 18:09] xfxyjwf commented on #5015
It's a non-goal for us to maintain compatibility with a parser that isn't JSON conforming (i.e., can't parse valid JSON value) or isn't proto3 JSON conforming (i.e., can't translate JSON values to its original proto values according to proto3 JSON spec). Trying to satisfy some arbitrary parsing behavior that we do not control will make our library bloated with unnecessary complexity. I know your p

[2018-08-09 18:26] anandolee commented on #5012
For "sub_field", it means a sub scalar field of MessageA. For example:
https://github.com/google/protobuf/blob/master/python/google/protobuf/internal/message_test.py#L795

Protobuf python does not support assignment for message field, even it is a normal message field instead of oneof, "test.a =" is still not allowed

[2018-08-09 18:29] xfxyjwf commented on #3786
Here is what we were using before:
https://github.com/google/protobuf/blob/master/src/google/protobuf/generated_message_util.h#L101-L105
[code]
It's trying to calculate an offset from addresses of an invalid object... The compiler doesn't produce a warning for it, but really it's more broken than than warned offset usage...

[2018-08-09 18:36] xfxyjwf commented on #5022
How does the hyperlink look up in Go? I think the comments are written assumed markdown format.

[2018-08-09 18:37] taylanisikdemir opened #5025 "Ruby gem 3.6.1 fails on windows"
Hi,

I am seeing issues with protobuf ruby gem 3.6.1 on windows. Here is my repro:

`ret = Google::Protobuf::Struct.new`
`val = Google::Protobuf::Value.new`
`val.string_value = "some string"`
`ret.fields[“key”] ||= val`

After executing above I get the error below:
Assertion failed!
Program: C:\Ruby24-x64\bin\ruby.exe
File: ../../../../ext/google/protobuf_c/upb.c, Line 6331
Expression: val.ctype =

[2018-08-09 18:37] xfxyjwf commented on #5023
Specifying a custom buffer size isn't common. Is the InputStream you are working with typically smaller than the default buffer size?

[2018-08-09 18:41] TeBoring commented on #5025
Could you gdb to check what’s val.ctype and what’s t->ctype?
On Thu, Aug 9, 2018 at 11:37 taylanisikdemir <notifications@github.com>
wrote:

[2018-08-09 18:42] anandolee commented on #4928
Update: can't change the internal generated "_UPPERCASE_NAME" directly which breaks backward compatibility. Use alias may solve it but not sure it worth to do so. I am marking it as P3 as there are workaround

[2018-08-09 19:41] drew-512 commented on #3520
It's messed up that proto3 has no ability for even string or int constants.  This seems to be an OBVIOUS use case for a protofile.  Guy's this isn't asking for a lot given all the stuff pbs already do.  Please consider it!?

[2018-08-09 19:50] rnburn opened #5026 "Unclear documentation for SerializeWithCachedSizes"
The notes on this documentation for the  [SerializeWithCachedSizes](https://developers.google.com/protocol-buffers/docs/reference/cpp/google.protobuf.message_lite#MessageLite.SerializeWithCachedSizes.details) function aren't clear to me.

Are you required to call ByteSize (you can't use [ByteSizeLong](https://developers.google.com/protocol-buffers/docs/reference/cpp/google.protobuf.message_lite#Me

[2018-08-09 20:15] lukesneeringer commented on #2725
How does this actually work? If I run `protoc --descriptor_set_in={path to descriptor}` with some set of `*_out` options, I get an error complaining that I did not specify a proto file.

[2018-08-09 20:15] acozzette commented on #5026
I think that documentation is just out of date because it predates the existing of `ByteSizeLong`. The problem we used to have is that some people were trying to serialize huge protos, more than 2 GiB in size. That's the scenario where `ByteSize()` could end up returning a negative number, because the true value wouldn't fit in a signed 32-bit int. `ByteSizeLong()` will always return the correct v

[2018-08-09 20:38] xfxyjwf commented on #2725
You still specify the files you want to generate code for normally. For example:
[code]

[2018-08-09 21:43] deripas commented on #5023
For example, I have reader binary message:
[code]

I'm try reading message from TCP using Netty and [ReplayingDecoder](https://netty.io/4.0/api/io/netty/handler/codec/ReplayingDecoder.html).

`CodedInputStream` try reading 4096 byes (default buffer size), but my data is less.
`ReplayingDecoder`  can read the first message only when it accumulates 4096 bytes.

Current solution: read with single byt

[2018-08-09 21:55] xfxyjwf commented on #5023
That would be very inefficient...

It sounds to me you have an incorrect implementation of InputStream. If CodedInputStream tries to read 4096 bytes, shouldn't InputStream give it just the amount it has? If your InputStream throws exception on that, that seems a broken implementation.

[2018-08-09 21:55] matthauck commented on #3786
Ah. interesting.

:sweat_smile:

[2018-08-09 22:41] haberman commented on #4969
I agree that there is no reason not to accept RepeatedField/Map in the constructor. Let me write a change to do that part.

[2018-08-09 22:42] deripas commented on #5023
As an option, I can try reading the current buffer and catching a `InvalidProtocolBufferException` when buffer not yet fully received.
[code]

[2018-08-10 05:44] xfxyjwf opened #5029 "Python utf-8 test failure on MacOS"
See: https://source.cloud.google.com/results/invocations/8bb7bb75-2873-45c1-9ad6-90e01be03b8c/targets/protobuf%2Fgithub%2Fmaster%2Fmacos%2Fpython%2Fpresubmit/log

One of the test errors:
[code]

The test passes on linux and fails on kokoro macos. I can't reproduce it on my mac though so it's probably an issue with a specific python version.

My theory is that on some python versions the following

[2018-08-10 07:07] dsnet commented on #5022
https://godoc.org/github.com/golang/protobuf/ptypes/timestamp#Timestamp

Go's documentation tool, [godoc](https://godoc.org/golang.org/x/tools/cmd/godoc) has very minimal syntax. As such, it doesn't handle the markdown headers nor hyperlinks.

[2018-08-10 07:15] dingrui37 commented on #5012
Thanks for your reply @anandolee I want to ask the other question, I tried to read the unittest code, but I don't know where does the `message_module ` parameter come from? I think it is the `unittest_pb2` or
`unittest_proto3_arena_pb2`. In my opinion, it is generated by some .proto file,  where is the .proto file?
What's the meaning of the golden_message?
@_parameterized.named_parameters(
    ('_

[2018-08-10 07:49] regarmanojkumar commented on #5015
Thanks for the effort. Appreciate it.

[2018-08-10 08:11] #5015 closed

[2018-08-10 12:36] Nitika123 opened #5030 "What changes to be made in makefile"
Makefile:

    CFLAGS = -c -g -W -O3 -Wall -Werror -Wshadow \
    -Wno-long-long -Wpointer-arith -D_REENTRANT \
    -D_POSIX_PTHREAD_SEMANTICS -DLINUX2 \
    -I ./acl/lib_acl_cpp/include
    BASE_PATH=./acl
    LDFLAGS = -L$(BASE_PATH)/lib_acl_cpp/lib -l_acl_cpp \
    -L$(BASE_PATH)/lib_protocol/lib -l_protocol \
    -L$(BASE_PATH)/lib_acl/lib -l_acl \
    -lpthread
    redisConnection: redisConne

[2018-08-10 13:24] dslomov opened #5031 "Protobuf fails to compile at HEAD with Bazel"
See https://buildkite.com/bazel/protobuf/builds/1075#0c8d1fae-a43f-470f-adcf-5e6a5b506686.

[2018-08-10 13:27] deripas commented on #5023
replace using `ReplayingDecoder` to `ByteToMessageDecoder`
[code]

[2018-08-10 13:27] #5023 closed

[2018-08-11 11:38] yunspace commented on #3726
@TeBoring if you want to use different software you can compose them together via docker-compose. So for your example it would look something like:

[code]

[2018-08-12 01:57] ryanolson commented on #4327
@xfxyjwf

You mention string not working great in arena, but what about `bytes`.  Bytes are pseudo string, but since they don’t need to marshaled into some object, my assumption would be that arenas would be excellent for receiving bytes.

Especially if you wanted to receive these bytes directly into some special block of pinned memory, eg. cudaMallocHost memory.

Do arenas make sense for FlatBuff

[2018-08-12 11:33] vaibhavrajput commented on #4978
prrr

[2018-08-13 14:30] orivej commented on #4293
It makes sense that the issue is with the link order. I'm going to check this today.

[2018-08-13 16:06] craigcitro commented on #2974
@anandolee two last questions:

1. Is there a rough timeline for 3.7?
1. Is it reasonable to leave this issue open, so folks finding it don't have to read all the way through to discover that it's not fixed here, only internally?

[2018-08-13 16:47] bwo commented on #4286
[code]

`"` is a calid `charValue`. A `strLit` is any number of `charValue`s enclosed by either `"` or by `'`. `"""` is a `charValue` enclosed by `"`. QED.

The same problem noted by @wvxvw does in fact come up with e.g. this definition:

`syntax = "syntax" "=" quote "proto3" quote ";"`

According to this rule, `syntax = 'proto3"` should be accepted. (It isn't.)

There's an additional problem that

[2018-08-13 17:25] xfxyjwf opened #5037 "Bazel test fails but is shown as passing"
See: https://source.cloud.google.com/results/invocations/2e7faba3-30d7-49d1-8924-7bf529a03ebf/targets/protobuf%2Fgithub%2Fmaster%2Fubuntu%2Fbazel%2Fpresubmit/log

There is fatal error when compiling :protobuf_test but the whole test exists with passing status.

[2018-08-13 17:26] xfxyjwf commented on #5031
There is a flaw in our kokoro bazel test script that somehow hasn't caught the failure:
https://github.com/google/protobuf/issues/5037

[2018-08-13 18:20] anandolee commented on #2974
We haven't start 3.7 yet but have Down-integrate from google internal to master branch a few days ago:
https://github.com/google/protobuf/commit/6bbe197e9c1b6fc38cbdc45e3bf83fa7ced792a3#diff-23eeeb4347bdd26bfc6b7ee9a3b755dd

It should have the fix for this issue

[2018-08-13 18:29] anandolee commented on #4281
It is Down-integrate from google internal to master branch:
https://github.com/google/protobuf/blob/acd5b05e9f1ec2153574807463af0612267b6067/python/google/protobuf/internal/message_test.py#L1438

[2018-08-13 18:30] #4281 closed

[2018-08-13 18:57] anandolee commented on #5012
Yes, it is unittest_pb2 or unittest_proto3_arena_pb2 (we tested both):
https://github.com/google/protobuf/blob/master/src/google/protobuf/unittest.proto#L64
https://github.com/google/protobuf/blob/master/src/google/protobuf/unittest_proto3_arena.proto#L41

"Golden data" is the wire format for a message and we put the wire format to a "golden data file". This is because we can write wire format in

[2018-08-13 19:00] anandolee commented on #5009
Closing for clean up. Feel free to reopen if it is still an issue

[2018-08-13 19:00] #5009 closed

[2018-08-13 20:43] haberman commented on #4957
Any kind of order-based initialization seems dangerous, since fields can be added and removed. Also it's unclear whether the order would be based on field number or declaration order in the .proto file.

[2018-08-13 20:46] xfxyjwf commented on #970
@abhishek-carbon3d Can you provide some JSON examples? "strings should not match numbers" It's not clear whether you are talking about putting integer values to a string field or string values to an integer field.