[2018-04-13 16:13] ejona86 commented on #4314
@xfxyjwf, that puts us in a weird situation. If the option is required for other languages and broken for Java, then how are we supposed to resolve issues? It seems protoc should generate code for full protobuf and ignore the option for Java other than provide the warning.

[2018-04-13 18:46] rcane commented on #4488
I can send you a pull request in the next couple of days.

[2018-04-13 23:17] charlie430 opened #4511 "JSON: 'Any' message should serialize to/from bytes when the message type is not well known."
## Problem
The [Any](https://developers.google.com/protocol-buffers/docs/proto3#any) message type specifies that in JSON the properties of the message serialized within an Any message should be serialized as properties.

https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#any)

This forces a system that serializes using JSON with unregistered types to either throw an erro

[2018-04-13 23:25] anandolee commented on #4407
Yes, one PR for field presence, another one for default values, and another one for extensions.

Group may need to be supported for full backwards compatibility, but let's implement other parts for proto2 first

[2018-04-13 23:40] anandolee commented on #4325
Runtime support for FieldMask is optional. There's no specification for FieldMask support. C# has a very limited FieldMask support in FieldMaskPartial.cs.

Merge is not implemented in ieldMaskPartial.cs. Are you happy to create a PR add merge?
You can take the c++ version as an example:
https://github.com/google/protobuf/blob/master/src/google/protobuf/util/field_mask_util.cc#L208

[2018-04-13 23:45] charlie430 commented on #4511
I found this issue which may be discussing an alternate solution: https://github.com/google/protobuf/issues/658

[2018-04-13 23:47] anandolee commented on #3559
Fixed by #3936 and #4127)

[2018-04-13 23:48] #3559 closed

[2018-04-14 00:14] ObsidianMinor commented on #4407
That will be very difficult to do since all these features (field presence, default values, extensions, and groups) already exist on the [csharp/proto2](https://github.com/ObsidianMinor/protobuf/tree/csharp/proto2) branch.

So do I just redo all my work for each feature on a new branch or could we consider another option for reviewing all the necessary changes that's easier for everyone. For examp

[2018-04-14 01:17] tnie opened #4512 "svn checkout https://github.com/google/protobuf.git failed"
Error Message

![err](https://user-images.githubusercontent.com/5952845/38762924-7d2b6860-3fc4-11e8-80db-049d6003a855.png)

About TortoiseSVN

![about](https://user-images.githubusercontent.com/5952845/38762926-81d1ff64-3fc4-11e8-85ff-b91ee3cb220a.png)

[2018-04-14 09:45] larribas commented on #4460
Just tested it. It does look like a cross-compilation bug. Here's what I did:

Within `docker run -it --rm --entrypoint=sh ruby:2.5-alpine`

[code]

Let me know if I can help with anything else

[2018-04-14 11:23] gioragutt opened #4513 "[cpp] Generate enum classes instead of enums"
We have our internal schemas, from which we generate our ORM classes. We had to generate `.proto` files for all the classes and enums.

Along the way, we realized we had to prefix enums values with the enum name due to the generated enums, as they are not enum classes.

Is there any place that describes why are enum classes not used?

I would like to add a PR for it, but I want to know if there's

[2018-04-14 23:59] jkff opened #4514 "Failing to parse a valid descriptor generated for message with a few enums"
Encountered this issue while working on https://github.com/apache/beam/pull/4672 . I haven't had time to create a minimal self-contained reproducible example, but the gist of the issue is as follows.

I have a message that looks like this:

[code]

Accessing `Foo` from code results in an error parsing the `Foo` generated descriptor.

Adding a bogus field to `Foo` solves the problem:

[code]

Below

[2018-04-15 08:43] unthingable opened #4515 "[Python] json_format.Parse unable to parse messages with `oneof`"
(using 1.11.0 grpcio*)

[code]

[code]

[2018-04-15 10:39] unthingable commented on #4515
`text_format` has a similar malady:

[code]

Am I holding it wrong?

[2018-04-15 23:13] piquan opened #4516 "Unit test for string_as_array?"
I came across a comment for a utility function, `string_as_array(string*)` (taken from `google3/util/gtl/stl_util.h`) that has an implementation note that only references the unit test:
https://github.com/google/protobuf/blob/da3ce6717156c8b4f8890207895069ce6b102f65/src/google/protobuf/stubs/stl_util.h#L84

I can't find anywhere that the unit test was open-sourced. Could we copy the relevant info

[2018-04-16 09:50] rcane commented on #4488
I sent the following pull request: #4517

[2018-04-16 15:59] majelbstoat opened #4518 "Message.toObject() does not respect chosen field name"
(Relocated from https://github.com/grpc/grpc-node/issues/279)

When generating JS code, given a definition with a repeated field:

[code]

and the following code:

[code]

I expect the output to be:

[code]

Instead, it is:

[code]

The `(s|g)et*List()` function naming convention is clear and helpful, but failure to honour the specified name when turning it back into JSON creates a lot of work map

[2018-04-16 19:26] xfxyjwf commented on #4507
I don't know what you mean by 'connect tiwh Baidu' but you generally don't need the same version to connect to a service that serves protobufs but all protobuf versions are wire compatible.

For the specific question you are asking: no, we no longer have any public 2.4.x. release packages.

[2018-04-16 19:26] #4507 closed

[2018-04-16 19:31] davidair commented on #2895
I ran into this as well with the latest version available on brew (3.5.1), had to roll back to 2.6 as a workaround:

`brew install protobuf@2.6
brew link protobuf@2.6 --force`

[2018-04-16 19:48] xfxyjwf commented on #4512
I don't think this has anything to do with protobuf. If svn doesn't work with github, please file a bug against github instead.

[2018-04-16 19:48] #4512 closed

[2018-04-16 19:56] xfxyjwf commented on #4516
Found the test here:
https://github.com/flutter/base/blob/master/stl_util_unittest.cc#L256

Apparently we opensource the same piece of code again and again in different projects...

[2018-04-16 20:27] kaybinwang opened #4519 "Is there a way to check if all the fields in one Message exist in another Message in Java?"
I have two protobuf messages of the same class. I want to be able to check if all the fields in one are contained in the other.

Example
[code]

[2018-04-16 20:45] acozzette commented on #4519
@kaybinwang I don't know of any pre-existing code that does exactly this, but you can probably implement it using protobuf reflection without too much trouble. See for example the [getAllFields](https://developers.google.com/protocol-buffers/docs/reference/java/com/google/protobuf/MessageOrBuilder#getAllFields--) method that will return all the fields that are set on a given message.

[2018-04-16 20:45] #4519 closed

[2018-04-16 20:53] acozzette commented on #4518
@majelbstoat We don't yet support the JSON format in JS. The `toObject()` method is a bit confusing because it produces output that looks similar to the official JSON format but it is not actually the same.

[2018-04-16 20:59] #4454 closed

[2018-04-16 21:01] acozzette commented on #4513
@gioragutt I think the original reason was that until recently we supported C++98, and enum classes were introduced only in C++11. That's no longer a problem by itself now that we require C++11, but still I suspect it would be difficult to make this change since it would have to be done in a way that doesn't break compatibility with existing code.

[2018-04-16 21:45] xfxyjwf commented on #4506
As I mentioned in the https://github.com/google/protobuf/pull/4505, it's intentional that we don't want to accept payload with unknown Any types. Also note that it's actually both ways: if an Any type cannot be resolved at serialization, printing to JSON will also fail.

[2018-04-16 22:05] gioragutt commented on #4513
@acozzette reading #3625, there seems there's an issue with protobuf's internal representation of enums, as enum names are global in the scope of protobuf's internal scope (not cpp symbol scope).

Obviously code would be broken, since the generated enums are `enum`s and not `enum class`es, meaning that they must have been used as such.

Usually the solution for this is to put this behind a flag, a

[2018-04-16 22:13] #3730 closed

[2018-04-16 22:27] acozzette commented on #4513
The thing is that we try hard to avoid adding new flags, because the work of maintaining them adds up in the long term. If the flag is temporary then that cuts down on the maintenance burden but it's still not ideal to break backward compatibility. Unfortunately I think it's not really worth it to try to make this change at this point.

[2018-04-16 22:42] acozzette commented on #4425
Let me close this issue for now since there hasn't been any activity on it for a while.

[2018-04-16 22:42] #4425 closed

[2018-04-16 23:09] acozzette commented on #4488
@rcane Thanks for the pull request with the fix!

[2018-04-17 00:51] majelbstoat commented on #4518
That makes sense. By 'yet', does that mean it is planned for the future? (Without setting expectations of when it might happen.)

[2018-04-17 02:53] zoukyle opened #4521 "java.lang.NoSuchMethodError after protobuf version 3.3.0"
It works for version 3.3.0 and 3.2.0, but gives me the NoSuchMethod exception starting from version 3.4.0. Did anyone see this error before?

java.lang.NoSuchMethodError: com.google.protobuf.AbstractMessageLite$Builder.addAll(Ljava/lang/Iterable;Ljava/util/List;)V
        at ai.deepmap.tracks.TrackInfoProtos$TrackInfo$Builder.addAllImageDirs(TrackInfoProtos.java:10947)
        at ai.deepmap.server

[2018-04-17 06:31] AutoAuto commented on #3671
Hi,

What is the status of this issue ? I have the same issue with protobuf and tensorflow.

[2018-04-17 09:01] abula commented on #3730
To workaround this on AIX, change the code to:
[code]

[2018-04-17 09:10] abula opened #4523 "AIX xlC error : The class template name "InternalHelper" must be followed by a < in this context."
Hi,
The generated code has below issues when compiling on AIX with xlC 13.1
 "./google/protobuf/unittest_import.pb.h", line 216.25: 1540-1113 (S) The class template name "InternalHelper" must be followed by a < in this context.

'''
215   ::google::protobuf::internal::InternalMetadataWithArena _internal_metadata_;
216   template <typename T> friend class ::google::protobuf::Arena::InternalHelper;

[2018-04-17 09:13] abula commented on #4523
[code]

[2018-04-17 10:14] DanyalITMO commented on #2502
v3.5.2 still has this problem

[2018-04-17 15:59] abula commented on #4523
cpp_message.cc line 1223-1226
change
[code]
to
'''
printer->Print(
      vars,
      "template <> friend class ::google::protobuf::Arena::InternalHelper<$classname$>;\n"
      "typedef void InternalArenaConstructable_;\n"
      "typedef void DestructorSkippable_;\n");
[code]

[2018-04-17 16:00] abula commented on #4523
cpp_message.cc line 1223-1226
change
[code]
to
[code]

[2018-04-17 16:16] samredway opened #4525 "Converting Python protobuf object to dict base64 encoding not optional"
When I convert a protobuf object to dictionary using the protobuf.json_format module it encodes the byte strings as a base64. Whilst I see there is a rational for this - in my own particularly use case I find this difficult. In my case the bytes object is a representation of a string. Of course I can decode from base64 and then encode to utf-8, but how do I know that this particular field is a byt

[2018-04-17 16:24] alulla opened #4526 "Generated code to use std::vector<> instead of RepeatedPtrField<>"
It would be nice if protoc could generate code that uses std::vector<> instead of RepeatedPtrField.  This will allow us to swap vectors in/out of the proto message as many programs use std::vector.

To ease backwards compatibility, an option to protoc can be leveraged in order to generate std::vector<> stubs.  I know it seems like a decent amount of work, but I know it will help performance in my

[2018-04-17 19:17] xfxyjwf commented on #4526
This won't happen because:
1. It requires an API breaking change to protobuf reflection API where repeated fields are exposed as RepeatedField/RepeatedPtrField and won't work if the implementation has been changed to anything else.
2. std::vector or any other type that isn't part of protobuf library won't work with protobuf arena. We explicitly decided to use proto2::Map instead of std::map/unorde

[2018-04-17 20:43] xfxyjwf commented on #4525
We do not accept options that break inter-op between different implementations.

I would suggest you change the field type to string instead if it's used for string only. Also, you shouldn't process the JSON output without the proto type info (that just won't work).

[2018-04-17 20:50] xfxyjwf commented on #4314
@ejona86 Yes, we do need to change protoc to ignore 'optimize_for = LITE_RUNTIME' instead. Some cleanup needs to be done before we can switch away from the current 'generating broken code with a warning' situation. See b/77980691

[2018-04-17 21:17] xfxyjwf commented on #4521
It's likely that you are using "optimize_for = LITE_RUNTIME" in your proto: that is not supported in Java any more and you can either remove it or switch to use Java Lite protoc plugin. See: https://github.com/google/protobuf/issues/4314

[2018-04-17 23:56] zoukyle commented on #4521
I don't know if I'm using optimize_for = LITE_RUNTIME. How can I verify that?

[2018-04-18 00:10] xfxyjwf commented on #4521
Can you check if the .proto file that's used to generate TrackInfoProtos.java contains:
[code]
?

[2018-04-18 00:48] xfxyjwf commented on #4521
Hmm, then you can double check you are depending on the right version of protobuf runtime? The method is still there as far as I can tell:
https://github.com/google/protobuf/blob/master/java/core/src/main/java/com/google/protobuf/AbstractMessageLite.java#L139

If you can provide a simple program that can reproduce the error, I can help take a look.

[2018-04-18 00:49] xfxyjwf commented on #4521
@zoukyle I don't understand your comment about protobuf_3_5_0_20180413.tar.gz. What is that?

[2018-04-18 04:38] jjpepper commented on #3028
I take particular issue with "File does not reside within any path specified using --proto_path (or -I).  You must specify a --proto_path which encompasses this file.  Note that the proto_path must be an exact prefix of the .proto file names -- protoc is too dumb to figure out when two paths (e.g. absolute and relative) are equivalent (it's harder than you think)"

Firstly, how do they know what I

[2018-04-18 04:49] zoukyle commented on #4521
@xfxyjwf I had to replace the addAll function in the file java/core/src/main/java/com/google/protobuf/AbstractMessageLite.java (v3.5 version) with the same function in v3.3 version to make it work.
I can try to build a simple program to reproduce this. Will update soon.

[2018-04-18 08:53] ysk666666 opened #4528 "Objective-c not support utf8mb4"

[2018-04-18 15:12] ddralves opened #4529 "Version 3.5.2 CocoaPod?"
When is the Version 3.5.2 cocoa pod going to be pushed onto the trunk?

[2018-04-18 17:17] acacio commented on #4095
Text protos are an excellent way to write config files (built-in parser, type checking, etc...).

I would support the enabling of this feature for .js, if nothing else for compatibility with the rest of the other languages.

[2018-04-18 19:08] xfxyjwf commented on #4095
We probably will support JSON format in protobuf JS. For text format, there is no plan for it as Adam has already mentioned.

[2018-04-18 21:42] bemehiser opened #4531 "AIX PPC 64 - Includes are incorrect, and methods do not exist."
When building on AIX PPC, the wrong header file is included.

This was produced compiling `protobuf 3.5.1.1` with `gcc 4.8.3` on `AIX 6.1`

[AIX definition](https://github.com/google/protobuf/blob/9497a657d577ebda0272711651c3dcdda3a4ac35/src/google/protobuf/stubs/platform_macros.h#L112)
[code]

Because `GOOGLE_PROTOBUF_OS_AIX` is defined, `google/protobuf/stubs/atomicops_internals_power.h` is [inc

[2018-04-18 21:52] kurtome commented on #1606
The funny/sad thing is that almost all internal usage of protobufs at Google remain on proto2 for this reason.

[2018-04-18 22:09] xfxyjwf commented on #4531
Could you help send us a pull request to make the issue?

[2018-04-18 23:42] #4314 closed

[2018-04-19 00:06] lostindark commented on #4407
Any reason to enforce null check on set?

In my opinion, this is very annoying as you have to check for null before calling the set method.

Also, is there a discussion on "has" vs nullable?
I usually prefer nullable as that clear indicate that the field is optional (can be null), which can potentially reduce the chance of misuse (when null and default scalar type value means different thing).

[2018-04-19 00:06] bemehiser commented on #4531
The symbol was caused because the 64 bit functions were never defined in `atomicops_internals_ppc_gcc.h`.

Adding the following code solved the compilation error. Note that I don't know PowerPC 64 assembly, so I just commented out those sections. If anyone knows assembly, I assume these snippets would be fairly simple to rebuild for 64 bit PowerPC.

[code]

[2018-04-19 00:43] wangjufan commented on #1594
It is also unable to install protobuf on Objective-c . This is the error :
[!] /bin/bash -c
set -e
if [ ! -f bin/protoc ]; then
  cd ../..
  # This will build protoc from the Protobuf submodule of gRPC, and put it in
  # ../../bins/opt/protobuf.
  #
  # TODO(jcanizales): Make won't build protoc from sources if one's locally installed, which
  # _we do not want_. Find a way for this to always build

[2018-04-19 00:51] wangjufan commented on #1594
Have you found the solution to the problem ? @pchaganti

[2018-04-19 01:15] ObsidianMinor commented on #4407
The enforced null-check is to keep it consistent with the existing proto3 implementation.

"Has" was chosen to keep it consistent with every other language implementation (message.HasField("Foo") in python, has_foo in C++, and hasFoo in Java) as well as the fact that nullable properties are already used for the wrapper types so it might be confusing whether or not a property is for a wrapper type

[2018-04-19 02:56] metled commented on #1591
+1, any updates?

[2018-04-19 08:33] david-aimsun commented on #3521
The complexity can be handle by tools. For example a plugin for Visual Code can show extra info: original type and documentation. IMHO, will make the code more readable. I prefer types (I´m a C++ guy) than strings everywhere (or, in our case, uint64 representing milliseconds since epoch).

[2018-04-19 15:30] corylanou commented on #2698
To add to my comment, this is the slide that I use when installing for windows bases for go developers.

![screenshot 2018-04-19 10 29 03](https://user-images.githubusercontent.com/585100/39001727-8d63ec6a-43bc-11e8-9e93-87bd95ebb38f.png)

This seems to have worked so far, but if there is a better way please let me know.

[2018-04-19 16:31] bianbian-org commented on #1591
hope fromObject() generated.

[2018-04-19 21:32] ObsidianMinor commented on #4407
[This test says otherwise](https://github.com/google/protobuf/blob/master/csharp/src/Google.Protobuf.Test/TestProtos/UnittestWellKnownTypes.cs#L338). You can use a null test as a make-shift "has" method in proto3.

[2018-04-20 03:39] lostindark commented on #4407
Found my test issue. I did

 instead of

which generates different code.

So if we'd like to keep consistent with proto3 c# behavior, we need to generaqte clearXXX method for proto2.

In my opinion this is not quite fit c# design principal. Imaging you need to set a string member to null, you need to call a clear method, which is not straight forward and may introduce bugs (people accidentally ass

[2018-04-20 12:26] wony-zheng opened #4539 "c++17 template warning"
when i compile in vs2017 use c++17, it show this warning:

warning C4996: 'std::iterator<std::random_access_iterator_tag,Element,ptrdiff_t,_Ty*,_Ty&>': warning STL4015: The std::iterator class template (used as a base class to provide typedefs) is deprecated in C++17. (The <iterator> header is NOT deprecated.) The C++ Standard has never required user-defined iterators to derive from std::iterator.

[2018-04-20 15:22] MikeSilvis opened #4540 "JS: Possible to de-searlize object from JSON?"
Part of the Proto3 spec is to be able top serialize protomodels to and from JSON. I see a way to serialize a proto object to JSON, but not parse it back. Is this possible? And if so, how should i go about it.

[2018-04-20 15:39] mohamadilk opened #4541 "memory leak in objective-c version 3.0.0"
I am using objective-c compiled version of protobuf, when i instrumented my app, i got a new memory leak right on creating any new instances, no matter what instance it is, when i call init method, a `dispatch_semaphore_create()` is called in init method and it seems to be cause of the leak.
i tried both `[[GPBAnyInstance alloc] init]` and `+message` methods to initialize instances but still facin

[2018-04-20 16:13] thomasvl commented on #4541
Can you provide a snippet of code or a small demo project showing the leaks?  The semaphore should go away when the messages themselves go away.  You can use the messages from ARC code just fine, the management there will make things work out correctly.

[2018-04-20 16:17] thomasvl commented on #4528
Could you explain what the question/problem is?  I'm assuming this is in reference to `string` fields?  ObjC protos uses the Foundation `NSString` class for strings so that they interop with everything else on the Apple platforms that want strings, so if there is an issue, it likely will be at the Foundation layer.

[2018-04-21 01:47] piquan commented on #4516
That's terrific, thanks!  I'll leave this issue open so you can decide if you want to update the comment in stl_util.h, but that gives me the information I needed: `string_as_array` was written that way because the author was worried about COW strings prior to C++11.

[2018-04-21 02:40] ysk666666 commented on #4528
@thomasvl i found if message contains emoji（it is 4 bits of  utf8），it will
`    if (!result) {
#ifdef DEBUG
      // https://developers.google.com/protocol-buffers/docs/proto#scalar
      NSLog(@"UTF-8 failure, is some field type 'string' when it should be "
            @"'bytes'?");
#endif
      RaiseException(GPBCodedInputStreamErrorInvalidUTF8, nil);
    }`
I don't know the reason

[2018-04-21 06:59] mohamadilk commented on #4541
here is the code i use to initiate messages:
`[[AnyMessageInstance alloc] init]`
I've also tried `+message` and method but still the same

and here is the screenshot of Xcode leaks tool showing one new leak for any new instance:
![screen shot 2018-04-19 at 8 12 13 pm](https://user-images.githubusercontent.com/12933186/39081483-120f04c2-4557-11e8-9609-d52e890361d9.png)

[2018-04-21 16:06] thomasvl commented on #4528
Can you provide a binary dump of the message and what the proto definition was so we can try to recreate it?  Also, which language was used to create the message?

The error could be that the first language allowed something into a message that wasn't valid in the first place.

[2018-04-21 16:08] thomasvl commented on #4541
Sorry that's not really going to help.  We'll need to see the flow creating and consuming the message.  That screen shot is just how some messages go created, but depending on what variable they went into, it's hard to say what should have triggered their release.

[2018-04-21 16:33] mohamadilk commented on #4541
here is some codes I hope would help, please let me know if any additional information is needed, thanks.

[code]

[code]

and here is where and how the semaphore is used in GPBMessage.m class:

initialization methods:

[code]

Extensions where semaphore is used:

[code]

[code]

[code]

[2018-04-21 16:39] EdjeElectronics commented on #4097
Hi Feng, I was able to compile it from source on the Raspberry Pi, but it would be nice to just be able to install it using an "apt-get install protobuf-compiler" command, as is shown in the Object Detection installation guide. (https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md)

[2018-04-23 00:25] thomasvl commented on #4541
fyi - you don't need to include code from the library, since it is in this repo.  The code calling the library is the interesting parts for this.

You mentioned extensions, but I don't see anything related to extensions in your code you provided, do you use extension some place?

Within your code for `-serializeAndSendData:withMessageCode:flags:andTimeout:STMSupported:withPacketHandler:` you have

[2018-04-23 03:08] hoangpham616 opened #4544 "Protobuf got error on iOS"
I'm using Unity 2017 and Protobuf 3.4
I've got this exception when running on IOS
LoginMessage is class generated by protobuf

  at System.Reflection.MonoCMethod.InternalInvoke (System.Object obj, System.Object[] parameters) [0x00000] in <00000000000000000000000000000000>:0
  at System.Activator.CreateInstance (System.Type type, System.Boolean nonPublic) [0x00000] in <00000000000000000000000000000

[2018-04-23 03:32] hoangpham616 commented on #4544
I tried to run again and got this error

  at LoginMessage.get_Descriptor () [0x00000] in <00000000000000000000000000000000>:0
  at Google.Protobuf.JsonFormatter.Format (Google.Protobuf.IMessage message, System.IO.TextWriter writer) [0x00000] in <00000000000000000000000000000000>:0
  at Google.Protobuf.JsonFormatter.Format (Google.Protobuf.IMessage message) [0x00000] in <00000000000000000000000000

[2018-04-23 07:36] DXist commented on #1606
Yes, null is important for data intensive applications.

Discarded proto3 in favour of json+jsonschema for my last project where source data required a lot of vidation and cleaning.

[2018-04-23 13:48] thomasvl commented on #4541
So the `-dispatchOnQueue:` call is passing a block and that block has captured the message (since you are extract data from it).  That means the message is stay alive as long at the block.  So depending on that implementation, that will keep the message alive atleast that long.

[2018-04-23 14:37] ysk666666 commented on #4528
@thomasvl
i am sorry, Outside working hours, i creat a demo it working properly, whether it is proto2 or proto3.
it may my company project has other issues.
sorry about created this issue, you can close it. Thank you!

[2018-04-23 14:40] thomasvl commented on #4528
No problem, thanks for getting back to us.

[2018-04-23 14:40] #4528 closed

[2018-04-23 20:13] idcmp opened #4545 "Missing official package for \GPBMetadata\Google\Api (PHP)"
Generated PHP references classes in \GPBMetadata\Google\Api namespace. As best I can tell there's no official composer package which provides classes in the namespace.   Example:

[code]

I _think_ there should be a composer package somewhere that offers this namespace but I can't seem to find one?

[2018-04-23 20:39] anandolee commented on #2724
I am closing this for clean up and unable to reproduce. Feel free to reopen if anyone can provide more detail of the failure

[2018-04-23 20:39] #2724 closed

[2018-04-23 20:56] TeBoring commented on #4529
There is no change to objc for 3.5.2. You can keep using 3.5.1

[2018-04-23 20:56] #4529 closed

[2018-04-23 20:58] TeBoring commented on #4540
Currently, we don't support that.

[2018-04-23 20:59] #4544 closed

[2018-04-23 21:01] TeBoring commented on #4545
I think we provide it at https://github.com/google/protobuf/tree/master/php/src/GPBMetadata/Google/Protobuf

[2018-04-23 21:04] idcmp commented on #4545
Hey @TeBoring, maybe I've misunderstood, but wouldn't ` \GPBMetadata\Google\Api\Annotations::initOnce();` be in a in `/Google/Api` directory, not `/Google/Protobuf`?

[2018-04-23 21:14] MikeSilvis commented on #4540
@TeBoring it's part of the Proto3 Spec though. Is it on the roadmap?

[2018-04-23 22:01] xfxyjwf commented on #4097
@EdjeElectronics You can "apt-get install protobuf-compiler" on ubuntu/debian already, but that's part of ubuntu/debian's package management system and is not supported directly by us. For Raspberry Pi, if you want to have an equivalent of "apt-get install protobuf-compiler", you will need to include protobuf as part of whatever package management system you are using on Raspberry Pi. That, unfort

[2018-04-23 22:01] #4097 closed

[2018-04-23 23:35] xfxyjwf commented on #4516
I'll leave it as-is as I prefer keeping the file as close as possible to its original.

[2018-04-23 23:35] #4516 closed

[2018-04-24 07:37] ddralves commented on #4529
Hi @TeBoring

Please see here: https://cocoapods.org/pods/Protobuf

As you can see, as per my original issue comment, Google has not updated the CocoaPod trunk to have 3.5.1 so one cannot consume this version.  When will this update happen?

[2018-04-24 09:58] shengyang998 opened #4546 "The generated import code in Python have error in xxx_pb2_grpc.py"
The protoc generate `xxx_pb2_grpc.py` code like this for example:
[code]

However, in some case, `line 3` will fail with an Error:
[code]

How about changing this line to:
[code]

[2018-04-24 12:10] chris-hite commented on #1896
Hello, I ran into some performance problems at my previous HFT job an thought it be nice to have a zero-copy, heap free, protobuf parser.

If I were going to hand write code that parsed a specific protobuf schema, I'd typically do all my processing on the stack and consume all data in one pass.

I could see writing a C++ functional template heavy low level decoder giving me the same performance.

[2018-04-24 12:18] Arihe12th opened #4547 "protobuf fatal exception in tensorrt mnist model example"
I am trying to run tensorrt python API code which given in this link https://docs.nvidia.com/deeplearning/sdk/tensorrt-api/topics/topics/workflows/caffe_to_tensorrt.html

that code is example of optimizing MNIST model using tensorrt in caffe I don"t find predefined mnist inside caffe/data/mnist folder so i used mnist.caffe,mnist.prototxt,mean.binaryproto form this github link https://github.com/Di

[2018-04-24 14:40] wvxvw opened #4548 "Documentation for binary protocol doesn't have a description for how to read/write oneof fields"
From looking into source code I could, sort of, see that it must generate an enumerator for it, and then encode the actual choice made by using this enumerator... but the exact layout of this field is still unclear to me.  Is the value of the enumerator concatenated with the chosen value and both encoded as a lenght-delimited field, or are enumerator's value and the value of the field encoded sepa

[2018-04-24 17:03] vahidrk commented on #3623
Any updates?

[2018-04-24 20:26] xfxyjwf commented on #4548
oneof fields are encoded in exactly the same way as optional fields for backwards compatibility.

[2018-04-24 20:52] francislavoie commented on #3855
@TeBoring I wanted to mention this was with 3.4.0, _not_ using C extension.

[2018-04-25 03:39] yonekawa opened #4549 "Ruby JSON serialization is incompatible when using well known types"
Ruby JSON serialization seems to be incompatible when using [Well-Known types](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf).

For example, I'm using [google.protobuf.Timestamp](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#google.protobuf.Timestamp).
[It expects to be mapped RFC3339 string.](https://github.com/google/protobuf/blob/v

[2018-04-25 06:01] wvxvw commented on #4548
OK, this helps, thank you.  While not exactly on the subject, is there any way to represent `oneof` field in text format? I.e. suppose:

`test.proto`
[code]

I've tried:

    $ echo "x: { y: 42 }" | protoc --encode ...

and

     $ echo "y: 42" | protoc --encode ...

as well as few other things I could think about, but couldn't get it to work.  It would in general help to have text format document

[2018-04-25 08:00] abula commented on #4523
Add one more line to pass the gtest case with "const T"
[code]

[2018-04-25 08:01] shubhamDhoble opened #4552 "Support for long in Value.proto"
I am using value as well as struct in my proto object. But one of the key in the value is of type long.

Value.proto seems like:
`message Value {
  // The kind of value.
  oneof kind {
    // Represents a null value.
    NullValue null_value = 1;
    // Represents a double value.
    double number_value = 2;
    // Represents a string value.
    string string_value = 3;
    // Represents a boolean

[2018-04-25 19:42] tweej commented on #2380
I also see the problem with GCC 7, protobuf-3.5.1, and gmock 1.70.

[2018-04-26 00:11] dsnet opened #4554 "[docs] Language specification for ident mismatches implementation"
The language specification for identifiers says:
[code]

However, this goes against the documented (and actual) behavior of the protoc parser:
https://github.com/google/protobuf/blob/a21f225824e994ebd35e8447382ea4e0cd165b3c/src/google/protobuf/io/tokenizer.h#L103-L106

Should this be?
[code]

Alternatively, "_" can be added to `letter`:
[code]
which matches the implementation:
https://github.com/g

[2018-04-26 00:13] danshaffer opened #4555 "C++: FieldMask causes OneOf invalidation"
This is similar to https://github.com/google/protobuf/issues/3115, which was indeed fixed by 3.4

We are using 3.5.1, and I'm observing what looks like `MergeMessageTo` changing which element in a oneof is set.

oneof_mask.proto:

[code]

oneof_mask_test.cc:

[code]

When running this test, both `demo_case` and `has_bar` are still set incorrectly.

[code]

Interestingly, I don't see the same behav

[2018-04-26 05:14] zzialx commented on #2909
Domain = GPBCodedInputStreamErrorDomain Code = -103“（null）”
I encountered this problem that cannot be resolved, this is the binary stream that the server gave me, I cannot parse.

stream：
<0000002d 80000001 000003e9 221f0801 68017a09 31323334 35363738 39820106 31323334 35369001 019a0101 32>

[2018-04-26 10:00] twmht commented on #3553
@anandolee

Is it possible to output the text-format which is consistent with c++?

For example (https://github.com/BVLC/caffe/blob/master/src/caffe/proto/caffe.proto#L50),

I use `python-protobuf` to write a float point `0.1`, but the text-format is `0.00999999977648`. is it possible to output the text consistent with python?

[2018-04-26 11:59] thomasvl commented on #2909
@zzialx You need to check with your severs folks as to what format they are using.  The leading `0000002d` really looks like a length on the front, as the rest of the data is 45 bytes.  So this might not be expected to be a "plain" protobuf binary, but instead has some custom framing on it.

[2018-04-26 15:25] mosquitood commented on #3623
looking forward to it

[2018-04-26 15:28] stepancheg opened #4558 ""reserved" grammar is incorrect for field names (should be quoted)"
From [spec page](https://developers.google.com/protocol-buffers/docs/reference/proto3-spec#reserved):

[code]

And example doesn't match that grammar:

[code]

In grammar reserved field names are not quoted.

[2018-04-26 16:15] stepancheg opened #4560 "octEscape grammar doesn't match implementation"
[Spec](https://developers.google.com/protocol-buffers/docs/reference/proto3-spec) describes oct escape as:

[code]

However, [protobuf unittest contains example](https://github.com/google/protobuf/blob/a21f225824e994ebd35e8447382ea4e0cd165b3c/src/google/protobuf/unittest_custom_options.proto#L210):

[code]

Which doesn't match grammar above, because grammar specifies that there should be exactly t

[2018-04-26 17:51] stepancheg opened #4561 "enumField grammar doesn't allow negative values"
[Grammar](https://developers.google.com/protocol-buffers/docs/reference/proto3-spec) of `enumField`:

[code]

So this should be invalid enum field declaration because negative values are not allowed.

[code]

However, this declaration exists in [protobuf unittest](https://github.com/google/protobuf/blob/a21f225824e994ebd35e8447382ea4e0cd165b3c/src/google/protobuf/unittest.proto#L533).

[2018-04-26 18:01] stepancheg opened #4562 "\? is not valid escape according to grammar"
[Grammar for char escape](https://developers.google.com/protocol-buffers/docs/reference/proto3-spec) is this:

[code]

Although [protobuf unittest](https://github.com/google/protobuf/blob/a21f225824e994ebd35e8447382ea4e0cd165b3c/src/google/protobuf/unittest.proto#L533) contains this example:

[code]

This example is cannot be matched by the grammar.

[2018-04-26 18:11] stepancheg opened #4563 "Incorrect grammar for option"
This is an option from [unittest_custom_options.proto](https://github.com/google/protobuf/blob/a21f225824e994ebd35e8447382ea4e0cd165b3c/src/google/protobuf/unittest_custom_options.proto#L283):

[code]

[The grammar](https://developers.google.com/protocol-buffers/docs/reference/proto3-spec) is:

[code]

So according to grammar option name `(.protobuf_unittest.complex_opt1).foo` is incorrect because

[2018-04-26 18:22] stepancheg opened #4564 "Concatenated C-style strings are not covered by grammar"
[Example code](https://github.com/google/protobuf/blob/a21f225824e994ebd35e8447382ea4e0cd165b3c/java/core/src/test/proto/com/google/protobuf/test_extra_interfaces.proto#L46-L48)

[code]

`strLit` doesn't allow it:

[code]

[2018-04-26 18:50] stepancheg opened #4565 "Grammar doesn't match tests: field name cannot start with underscore"
[Unittest](https://github.com/google/protobuf/blob/a21f225824e994ebd35e8447382ea4e0cd165b3c/src/google/protobuf/test_messages_proto3.proto#L202) contains field:

[code]

[Grammar] doesn't allow field names to start with an underscore.

[2018-04-26 18:52] RithyHuot commented on #4278
TL:DR: [documentation](http://www.rubydoc.info/gems/ruby-protocol-buffers/1.0.1/ProtocolBuffers/RepeatedField#replace-instance_method), you will need to use the instance method `#replace` instead of `+=`.

I ran into similar issue recently and was able to solved it by replacing `+=` with the `#replace` method. As such, you will need to do `test.repeated_custom.replace([custom_value])` instead of `

[2018-04-26 20:35] dsnet commented on #4565
Duplicate of #4554.

[2018-04-26 21:07] grosscr commented on #4278
Thanks @RithyHuot, this worked for me. It'd be nice if the other operators worked, but whatevs. Perhaps this bit of information should be added to the [google protobuf documentation pages](https://developers.google.com/protocol-buffers/docs/reference/ruby-generated#repeated-fields).

[2018-04-26 23:45] acozzette commented on #4518
@majelbstoat We do want to eventually support proto3 JSON in JS, but at the moment I think we all have our hands full with other things and so we haven't been able to prioritize it yet.

[2018-04-26 23:55] xfxyjwf opened #4566 "Integrate internal Java code to github"
We have a new implementation of Java lite runtime that reduces generated code size substantially and heavily depends on the use of unsafe. The new implementation needs to be integrated into github before we can find a solution for the Java 9 unsafe issue.

[2018-04-27 01:00] premist commented on #3120
Also experiencing this issue on 3.5.1.2.

[code]

[2018-04-27 02:02] twmht commented on #3553
I tried numpy with np.float32(0.1),  and serialized to text format, but it still outputs  0.00999999977648.

[2018-04-27 03:02] twmht opened #4569 "Different behavior with float precision"
I found the difference when dealing with float point between different version of python-protobuf (2.6.1 vs 3.5.0.post1)

`test.proto`

[code]

[code]

python-protobuf 2.6.1
[code]
python-protobuf 3.5.0.post1

[code]

Not sure if it's a bug or not.

What makes the difference?

Thank you

[2018-04-27 10:54] antonioparisi commented on #3120
any update on this?

[2018-04-27 11:14] jozefizso commented on #4494
Is it safe to patch 3.5.0 and 3.5.1 code with this patch to resolve this issue?

https://github.com/google/protobuf/commit/24493eef9395e5b832360e12efabf9c363c9cb15

[2018-04-27 17:28] jozefizso opened #4570 "Cmake flag for C++ 11 issues a lot of warnings for MSVC"
Compiling protobuf on Windows using MSVC will emit **warning D9002** for each compiled file because MSVC does not support the `-std=c++11` flag.

[code]

https://github.com/google/protobuf/blob/d3e8a54020d9875218f79a3ac8f90008cd0e81f8/cmake/CMakeLists.txt#L18-L19

[2018-04-27 17:56] jakirkham commented on #2780
At conda-forge, we are migrating to some new compilers produced by Anaconda (they already use them) that are based on GCC 7.2 that @mingwandroid worked on. We would still use them to build on CentOS 6, but as glibc is generally backwards compatible, the binaries built should still work on newer Linux systems. Maybe this is interesting to you?

[2018-04-27 18:27] atbtavares commented on #3623
looking forward to it

[2018-04-27 19:01] jart commented on #2780
Are you able to compile a gcc7 toolchain that runs on rhel6 and produces
dynamically linked binaries that are ABI compatible with libstdc++4.4?

On Fri, Apr 27, 2018, 10:57 AM jakirkham <notifications@github.com> wrote:

[2018-04-27 19:06] xfxyjwf commented on #4494
@jozefizso We can patch it back to the 3.5.x branch. That won't affect 3.5.0 or 3.5.1 though. Feel free to send us a pull request if you need it in 3.5.x branch soon.

[2018-04-27 19:10] mingwandroid commented on #2780
No, we provide our own libstdc++. You could link to it statically I guess (we don't though).

[2018-04-27 19:11] mingwandroid commented on #2780
The toolchain is a CentOS6 glibc 2.12 targeting (and hosted) pseudo-cross compiler. It is used to build all of the `Anaconda Distribution` on Linux.

[2018-04-27 19:12] xfxyjwf commented on #4570
Should be fixed by https://github.com/google/protobuf/pull/4550

[2018-04-27 19:12] #4570 closed

[2018-04-27 19:18] jozefizso commented on #4494
I've created pull request for the 3.5.x branch based on https://github.com/google/protobuf/commit/24493eef9395e5b832360e12efabf9c363c9cb15

As we use vcpkg, we can patch 3.5.0 and 3.5.1 in the probuf port definition. I just wanted to make sure it is a valid patch for this issue.

[2018-04-27 20:54] jart commented on #2780
That's one solution but [protobuf](https://pypi.org/project/protobuf/#files) can't assume an Anaconda subsystem is available when distributing binaries on PyPi. PEP 513 says `manylinux1` binaries must work on CentOS 5, which can be ignored, but ideally shouldn't.

Take for example [gcc-7.2.0-i486-linux-musl.tar.xz](https://github.com/just-containers/musl-cross-make/releases/download/v9/gcc-7.2.0-i

[2018-04-27 21:03] mingwandroid commented on #2780
Yup, and thanks for paying attention to the `manylinux1` specs. `manylinux2010` targets RHEL6/glibc 2.12 though so it may be possible to consider our tools (with static libstdc++) for that?

I like that musl toolchain; very cool.

[2018-04-27 21:08] chingor13 opened #4573 "PHP: Timestamp value incorrectly handled from JSON string."
When serialized as JSON, a Timestamp value [should be represented by a RFC 3339 string value](https://github.com/google/protobuf/blob/fc922d16ed7ae3c19defe82228a9760f3d8d1073/php/src/Google/Protobuf/Timestamp.php#L50-L68). This behaves correctly in the PHP library, but not in the extension.

I started a branch to add a failing test demonstrating the issue: [compare](https://github.com/google/proto

[2018-04-28 00:25] jart commented on #2780
I heard from @gunan that `manylinux2010` doesn't work in practice, i.e. `manylinux1` has to be used anyway, even if it can't run on RHEL5, because certain tools will break. I'm not recommending statically linking libstdc++, which could raise legal questions. Also note GNU changed the license of libstdc++ when C++11 support was introduced. That's why libc++ exists, but I don't know how to use it.

[2018-04-28 14:56] chronoxor opened #4575 "Cygwin build failed"
Cygwin build failed with a following error:

/cygdrive/c/projects/cppserialization/modules/protobuf/src/google/protobuf/compiler/command_line_interface.cc: In function ‘bool google::protobuf::compiler::{anonymous}::GetProtocAbsolutePath(std::string*)’:
/cygdrive/c/projects/cppserialization/modules/protobuf/src/google/protobuf/compiler/command_line_interface.cc:205:56: error: ‘readlink’ was not dec

[2018-04-29 16:12] PetarAtanasov opened #4578 "Error formatting at php/src/Google/Protobuf/Internal/Message.php"
https://github.com/google/protobuf/pull/4577/files

[2018-04-29 18:06] rnunziata commented on #3102
I am also running into this issue. When I now try to import tensorflow under python I can this error. I tried to download and compile protobuf 3.5.0 but it fails on make check with same error: The only reference to
the old protobuf lib is appears in the ubuntu x68_64 library.

[libprotobuf FATAL google/protobuf/stubs/common.cc:61] This program requires version 3.4.0 ...but the installed version is

[2018-04-30 07:17] m-sasha commented on #1889
ejona86's workaround doesn't help if you have two Android modules, both of which need the well-known-types, because you then end up with dex failing due to duplicate classes.

[2018-04-30 08:55] kodonnell commented on #3671
[This](https://github.com/BVLC/caffe/issues/5282#issuecomment-296510181)?

[2018-04-30 09:47] marvin5064 opened #4580 "ruby: encode - decode fails on map_string_enum case"
I m experience some encode - decode fails on map_string_enum case for **ruby**

taking example from https://github.com/google/protobuf/blob/fc922d16ed7ae3c19defe82228a9760f3d8d1073/ruby/tests/generated_code.proto
(current latest commit)

test code, _please ignore absent of further assertion_
[code]

and the error message:
[code]

extra info
[code]

[2018-04-30 15:54] ejona86 commented on #1889
@m-sasha, yes. Android modules like you describe are "libraries".

[2018-04-30 16:25] kamalmarhubi commented on #1889
Our solution is to shade the well-known protos we use. This is not ideal as it can result in unnecessary duplication, but it beats failing because of conflicts as @m-sasha points out.

[2018-04-30 16:28] m-sasha commented on #1889
@kamalmarhubi, can you explain what you mean by that?

[2018-04-30 17:37] xfxyjwf commented on #1889
I will create an artifact for the Java lite version of well-known types in the next Java lite release.

[2018-04-30 19:42] gunan commented on #2780
@yifeif to comment on manylinux issues

On Sat, Apr 28, 2018 at 1:22 AM Ray Donnelly <notifications@github.com>
wrote:

[2018-04-30 20:42] acozzette commented on #4565
Let me close this issue since that duplicate was opened first, and then we can move the discussion over there to #4554.

[2018-04-30 20:42] #4565 closed

[2018-04-30 20:46] TeBoring commented on #4545
@michaelbausor, do you know which library should expose Google\Api\Annotations?

[2018-04-30 20:50] acozzette commented on #4552
I suspect that the reason Value doesn't contain any integer types is so that it can be compatible with JSON, which only has double-precision float as its number type. So I think we would be reluctant to add another type that would make JSON compatibility more difficult.

[2018-04-30 20:51] michaelbausor commented on #4545
They are available from the `google/gax` package from the gax-php repo, e.g. https://github.com/googleapis/gax-php/blob/master/metadata/Api/Annotations.php

However, I think that we should break them out into their own package - I have filed https://github.com/googleapis/gax-php/issues/172 to track this.

[2018-04-30 20:52] #4518 closed

[2018-04-30 21:03] Soypete opened #4582 "undefined field"
I just generated some new protobuf .pb.go files. WhenI go to build I get this error "undefined: proto.InternalMessageInfo".

I know this is because of the new branch that was merged in today https://groups.google.com/forum/#!topic/protobuf/N-elvFu4dFM. I just want my code to compile.
 Any suggestions?

[2018-04-30 22:10] acozzette commented on #4575
Does the error go away if you include `<unistd.h>` at the top of the file? There's an include for that [here](https://github.com/google/protobuf/blob/0869b1a0a7455dab94981aa29b8bfb69444fa13e/src/google/protobuf/compiler/command_line_interface.cc#L51) already, but it's guarded by an ifdef and I'm not sure if it would apply in a Cygwin environment.

The other possibility is that perhaps we want to u

[2018-04-30 23:04] #4285 closed

[2018-05-01 00:50] majelbstoat commented on #4518
Curious why this was closed if it's something that's acknowledged as a current deficiency, and future support is planned?

[2018-05-01 10:12] chronoxor commented on #4575
Fixed the issue with

#ifndef _GNU_SOURCE
#define _GNU_SOURCE
#endif

at the begin of the command_line_interface.cc

See https://github.com/google/protobuf/pull/4583

[2018-05-01 17:04] acozzette commented on #4518
Sorry about the confusion--I agree that proto3 JSON support has not been resolved yet, but I wanted to tidy things up by closing this issue, since most of the discussion around JSON support has already been happening in #1591.

[2018-05-01 17:59] jgoodall commented on #4582
We are having the same issue.

[2018-05-01 18:56] TeBoring commented on #3970
I will add a file option to add GPBMetadata  namespace.

[2018-05-01 19:46] yijiem commented on #549
While this issue is fixed now, a similar situation happens when I tried to extend FieldOptions in my proto file. Basically, I import https://github.com/google/protobuf/blob/master/src/google/protobuf/descriptor.proto in my.proto file. Then, after compile, my.pb.h includes the pre-compiled https://github.com/google/protobuf/blob/master/src/google/protobuf/descriptor.pb.h which does not have the `un

[2018-05-01 20:17] yijiem opened #4584 "Compile error when extending FieldOptions on macOS"
I faced with a similar compilation error as #549 on macOS High Sierra.

    ../protobuf/src/google/protobuf/descriptor.pb.h:1605:21: error: expected member name or ';' after declaration specifiers
    static const Type TYPE_BOOL =
[code]

[2018-05-01 21:17] xfxyjwf commented on #4582
Can you report this to https://github.com/golang/protobuf ? The protobuf go generator and runtime is hosted in a different repository.

[2018-05-01 21:47] xfxyjwf commented on #4584
Do you know why there is no such error when compiling descriptor.pb.cc?

[2018-05-02 07:32] ramnique commented on #4582
I had the same issue today. There are two solutions:

1. **Either use an older version of the plugin** i.e. manually download and install `protoc-gen-go` release v1.1.0 (https://github.com/golang/protobuf/releases/tag/v1.0.0) to generate proto code in the old style.
1. **Use the right dependency version**: You should have `github.com/golang/protobuf` somewhere in your project dependencies, you nee

[2018-05-02 07:40] ramnique commented on #4582
Here is some more information on this issue; with a heads-up dating back to Jan: https://groups.google.com/forum/#!topic/golang-nuts/F5xFHTfwRnY

[2018-05-02 12:08] chronoxor commented on #4575
Fixed!

[2018-05-02 12:10] chronoxor opened #4585 "MinGW build failed"
C:/projects/cppserialization/modules/protobuf/src/google/protobuf/stubs/mathlimits.h:248:47: error: '_finite' was not declared in this scope
   static bool IsFinite(const Type x) { return _finite(x); } \
                                               ^

[2018-05-02 12:32] chronoxor commented on #4585
Latest MinGW with GCC 7.3.0

[2018-05-02 12:53] atrauzzi commented on #3970
Can you follow community+PSR conventions and make it `GpbMetadata`?  Or at least let it be configurable to be PSR compliant?

[2018-05-02 18:52] xfxyjwf commented on #4585
Help us fix it with a pull request? :)

[2018-05-02 18:55] #4575 closed

[2018-05-02 20:38] lfmunoz commented on #4274
Yes it isn't specified anywhere what would be the correct syntax. My guess is this:
protoc --js_out=import_style=es6,binary:${DEST} -I ${SRC} ${PROTO_FILE}

but the code generated isn't showing any imports or exports so it must not be working. Can someone confirm what the correct syntax is?

[2018-05-03 13:54] pravi opened #4588 "please provide separate tar balls for language bindings"
Even though the release page lists different tarballs per languages, all of them has all source code. This means we have to manually separate the ruby binding for every release when making a debian package.

[2018-05-03 19:05] austinbes opened #4589 "Syntax statement specification inconsistency?"
The [proto3 language spec](https://developers.google.com/protocol-buffers/docs/reference/proto3-spec#syntax) specifies a syntax statement as being of the form:

[code]

where a [`quote` literal](https://developers.google.com/protocol-buffers/docs/reference/proto3-spec#string_literals) is specified as

[code]

This seems like it leaves room for syntax statements of the form

[code]

However, `proto

[2018-05-03 21:10] xfxyjwf commented on #4588
@pravi Every package has C++ source code because the protocol compiler is in C++ only. Are you asking for a release package that contains ruby source code only? How are you going to use it without the protoc?

[2018-05-03 22:03] chronoxor commented on #4585
Fixed!

[2018-05-03 22:03] #4585 closed

[2018-05-03 23:11] anandolee commented on #4444
Are you using protobuf/python/google/protobuf/json_format.py?

According to our JSON Mapping document, null is accepted:
https://developers.google.com/protocol-buffers/docs/proto3#json

[2018-05-04 11:41] pravi commented on #4588
@xfxyjwf we have a separate package in debian that provides protocol-compiler https://tracker.debian.org/pkg/protobuf

yes, a ruby only release tarball, corresponding to the google-protobuf rubygem, would be good.

[2018-05-04 16:36] bemehiser commented on #4531
I tried to write 64 bit methods. The problem is that I couldn't have local labels, because for some reason the directional branching wasn't working (`bne- 0b:`). I tried using named labels, but with compiler optimization I got duplicate symbol errors because the methods were inlined. When I disabled compiler optimization, I got massive symbol tables which caused the linker to fail.

With the named

[2018-05-04 20:56] bchurchill commented on #3986
Thank you @seperman.  I really wish the documentation was stronger.

[2018-05-04 21:42] maguro commented on #1297
I'm going to take a stab at this.  I'm going to use backticks.  Not sure when, or if, I'll get this done.  Feel free to ping me.

[2018-05-04 23:53] jswigart opened #4591 "Generated C# files don't contain numeric constants for FieldOptions,MessageOptions,etc"
I am generating files for C++ and C# using protoc 3.5.1 and while the C++ files have named constants generated for the various options I am defining in the proto file, there are no such named constants in the C# source file, even though the options appear to still function, if I manually use the numeric values in the CustomOptions.TryGet functions.

Any reason why there are no named constants gene

[2018-05-05 02:38] stefanseefeld opened #4592 "`make install` doesn't install Python modules"
I'm trying to install `protobuf` from sources. I notice that `make install` doesn't install any Python modules. Is there a special `make` target I need to invoke to install them or is this functionality simply missing ?

[2018-05-05 14:44] maguro opened #4593 "Consistently use nullptr instead of NULL"
There are many places where `NULL` is used where `nullptr` can and should be used.  The pointer literal has been around for quite a while and is already in use in the code base.

[2018-05-06 07:33] wvxvw opened #4594 "Is it possible to reference an inner message from a different package?"
Consider you have these two files:

`Foo.proto`:

[code]

`bar.proto`:

[code]

Is `Bar` definition valid? If not, which fields are not valid? What will be in those fields? The published language spec says nothing about it. (I just assumed that in order to refer to the inner message definition you'd use dot, but I don't know, maybe it should be `$` or some other symbol, again, language spec says n

[2018-05-06 09:07] mkosieradzki commented on #3166
I had some spare time to implement and run tens of experiments in area of parsing using ‘Span<T>’, ‘ReadOnlySequence<T>’, ‘Pipe’ and I have made following observations:

1. Parser on Spans is more roughly 10% percent more efficient than existing parser on .NET Core 2.1 preview 2. It also does zero allocations and is able to work using only single externally provided span.
2. Asynchronous parser us

[2018-05-06 18:29] xfxyjwf commented on #4594
Protobuf follows C++ name resolution rules and every symbol must have a globally unique fully-qualified name. So:
1. "Foo foo1 = 1" is invalid because "Foo" references the package which can't be used as a message type.
2. "Foo.Foo foo2 = 2" and "Foo.Foo.Foo foo3 = 3" are valid and they reference the outer "Foo" message and the inner "Foo" message defined in "foo.proto".
3. You can't have a package

[2018-05-07 06:05] vserrao opened #4595 "gtest download link in protobuf-2.5.0 autogen.sh is inacessible and needs update"
When I tried to build protobuf-2.5.0, I noticed that the gtest-1.5.0 tar download link in the autogen.sh is inaccessible. I compared with latest version and constructed the link for the required gtest version in protobuf-2.5.0 and got the gtest downloaded.
Current gtest download link in v2.5.0 autogen.sh
----> http://googletest.googlecode.com/files/gtest-1.5.0.tar.bz2
New required gtest download l

[2018-05-07 14:02] dilipvamsi opened #4596 "Multi Dimensional arrays, Nested Maps and their combination"
Hi,
Is there a possibility of implementation of the following without creating a message.

1. **Repeated Field** with **Repeated Field** as **_Element_** (nested list)
2. **Repeated Field** with **Map Field** as **_Element_** (list of maps)
3. **Map Field** with **Repeated Field** as **_Value_** (map from a key to list)
4. **Map Field** with **Map Field** as **_Value_** (map from key to map)

Than

[2018-05-07 14:52] kurtisnelson opened #4597 "Generated protolite code triggers errorprone"
When using Gradle + ErrorProne, the generated protolite code triggers the case fall through check.
I can workaround by turning generated code errors into warnings.

[2018-05-07 14:53] kurtisnelson commented on #4597
/Users/kurt/workspace/hopthru-android/app/build/generated/source/proto/devFlavorDebug/javalite/com/hopthru/ticketing/PurchasedTicket.java:1581: warning: [MissingOverride] dynamicMethod implements method in GeneratedMessageLite; expected @Override
  protected final Object dynamicMethod(
                         ^
    (see http://errorprone.info/bugpattern/MissingOverride)
  Did you mean '@Override

[2018-05-07 15:30] mainameiz opened #4598 "Cannot compare enum value with enum definition"
Assuming we have the following proto:

[code]

The following ruby code does not work (but as it seems to me it should work)

[code]

It does not work because `resource.type` has type of ruby Symbol (its value `:BOOK`) and `Resource::Type::BOOK` equals to `1`. So it is not possible to use this well known code-pattern with protobuf enums.

Can you fix this, please? Or is there any workaround?

[2018-05-07 17:07] xfxyjwf commented on #4596
No.  You will need to create a message type to hold the inner repeated/map field.

[2018-05-07 17:07] #4596 closed

[2018-05-07 17:09] xfxyjwf commented on #4597
Can you follow these instructions to regenerate your code?
https://github.com/google/protobuf/blob/master/java/lite.md

[2018-05-08 00:02] nathanielmanistaatgoogle opened #4599 "RepeatedScalarFieldContainer does not implement "index""
[The documentation says "Repeated fields are represented as an object that acts like a Python sequence"](https://developers.google.com/protocol-buffers/docs/reference/python-generated#fields), but [the class of that object, RepeatedScalarFieldContainer](https://github.com/google/protobuf/blob/92898e9e9cb2f1c006fcc5099c9c96eafce63dc8/python/google/protobuf/internal/containers.py#L230-L338), does no

[2018-05-08 01:39] lucaswiechmann commented on #4243
Hello,

I'm facing the same problem. Has anyone fix this issue?

Thanks.

[2018-05-08 14:46] nordenmark commented on #4134
We have the same problem, except the message is called "void". It correctly generates the PBVoid class but it references a Void class in in GPBMetadata namespace (see example below). This makes us not able to use the PBVoid message.

[code]

[2018-05-08 15:28] thanhnl commented on #4582
It's fixed after update vendor.

[2018-05-08 16:34] ZhouyihaiDing commented on #4134
Hi @nordenmark ,
Is your file name also called `void`?

[2018-05-08 20:16] #4578 closed

[2018-05-08 20:17] #4545 closed

[2018-05-08 20:42] TeBoring commented on #4500
This should be a problem of js decoder. 0 is a default value for int32. Therefore, in some implementation, it's not encoded. js decoder should be able to handle such case.

[2018-05-08 21:04] TeBoring commented on #4462
We have plan to use type hint through out our code base. Will add type hint later.
Please check #4601

[2018-05-08 21:10] TeBoring commented on #4459
You can call protoc in ```app``` folder instead of the parent folder of ```app```.
Besides, you need to add ```php_namespace = "App\MyDomain"``` file option to your proto file.

[2018-05-08 21:54] robhancocksed opened #4602 "Generated C++ code has compile warnings with -Wmissing-declarations compiler option set"
The issue referenced in #3497 seems to be back in protobuf 3.5.0. When compiling the generated code with -Wmissing-declarations, it causes compile warnings like this:
[code]
These methods should be declared as static or in an anonymous namespace since they are not referenced outside the source file that defines them.

[2018-05-08 22:01] robhancocksed commented on #4602
This patch seems to resolve the issue by making the generated methods static: https://gist.github.com/robhancocksed/b12d642d8ab6f69640678cbabf3f51e2

[2018-05-08 22:40] TeBoring commented on #4031
I have explicitly thrown an error in #4603.
It's also mentioned [here](http://php.net/manual/en/function.array-key-exists.php) that you should not rely on ```array_key_exists``` on object.
You should avoid using ```array_key_exits``` on protobuf message.

[2018-05-08 23:03] phil-el commented on #4592
I don't think there is such target, see https://github.com/google/protobuf/tree/master/python

[2018-05-09 08:43] nordenmark commented on #4134
Yes, for reference my **void.proto** file looks like this:

[code]

[2018-05-09 18:17] mcneish1 opened #4605 "[python, 3.5.2/post1] Pip source distribution does not contain cc files"
Possibly related: #4383

[code]
and

[code]
However
[code]

Is there some reason these files weren't packaged for 3.5.2?

[2018-05-09 22:10] yifeif commented on #2780
I think manylinux2010 should be okay? But it might not be fully rolled out yet https://github.com/pypa/manylinux/issues/179

[2018-05-09 23:31] nkrode opened #4606 "Use GeneratedMessage instead of GeneratedMessageV3"
Hi - Is there a way to force protoc 3.5.1 to treat a proto file with syntax = "proto2" to generate messages extending GeneratedMessage class instead of GeneratedMessageV3?

We have third party libraries which expect GeneratedMessage in message signature.

Thanks,
Nitin

[2018-05-10 00:52] xfxyjwf commented on #4606
This is not possible. GeneratedMessage/GeneratedMessageV3 is not supposed to be referenced directly by users code. Do you know why it's used by the library and whether they can remove the reference? If these libraries have included generated code by protoc 2.x, they will have to be updated for you to use protoc 3.5.1 with them.

[2018-05-10 01:48] trungphan9x commented on #1276
@momozizi you should install protobuf package also

[2018-05-10 03:00] gvanrossum commented on #3803
@wkiser, @wjh: The stub generating utilities are now available: https://github.com/dropbox/mypy-protobuf/

Also, since we've now got the permission to proceed with including the stubs in typeshed, closing this issue.

[2018-05-10 03:00] #3803 closed

[2018-05-10 06:29] mhoad commented on #4499
Possibly worth mentioning that I am also seeing this exact error when trying to deploy a Rails app to App Engine Flex.

[2018-05-10 10:54] phzzy opened #4607 "PHP serializeToJsonString has no option control"
in PHP, serializeToJsonString has no option like JAVA preservingProtoFieldNames
but i use like this, and achieve the same effect.
[code]

why i can pass the first parameter to **serializeToJsonString** ?
the method defined like this, no parameters:
[code]

[2018-05-10 17:53] #4031 closed

[2018-05-10 17:53] #4462 closed

[2018-05-10 18:33] khuzemap commented on #67
@xfxyjwf  , I am ready to put up a change that adds PROTOBUF_OVERRIDE but I see "final" has been replaced by PROTOBUF_FINAL in recent change (https://github.com/google/protobuf/commit/0400cca3236de1ca303af38bf81eab332d042b7c). Is this how "override" also needs to be added now?

[2018-05-10 19:31] #4459 closed

[2018-05-10 23:10] jkff commented on #4514
Now I added another enum to that same proto, and now I'm getting the same InvalidProtocolBufferException but it disappears if I remove the "ignored" variable.

What's more weird, I took the descriptor proto literal from the generated code and dumped it to disk, and protoc --decode_raw is able to decode it. Programmatically decoding it from other places in my project also works. I wonder if this ha

[2018-05-10 23:53] stepancheg opened #4610 ""extend" is now allowed in proto3 spec, but is used in tests"
[Spec 3](https://developers.google.com/protocol-buffers/docs/reference/proto3-spec) doesn't mention `extend` unlike [Spec 2](https://developers.google.com/protocol-buffers/docs/reference/proto2-spec).

However `extend` with `syntax = "proto3"` is [used in protobuf tests](https://github.com/google/protobuf/blob/7377d81ca44baf2e505c927a2e25b2f0e3596fed/php/tests/proto/test_import_descriptor_proto.pr

[2018-05-11 05:32] jaineshp opened #4612 "Compatibility in Proto3 for retaining unknown fields"
Hello,

Let's say we have a JSON String and want to convert it to Proto3 object. Looks like there is no feature to retain the unknown fields in proto3. So when I will convert the proto3 object back to JSON I will lose the fields that are not present in the proto object. Do we have anything around it?

A simple workaround is to use only keys of JSON which are there in proto. But that doesn't look s

[2018-05-11 05:38] xfxyjwf commented on #4612
There is no way to preserve unknown fields through the JSON-to-proto boundary. If you are doing JSON to proto conversion, make sure you either reject the conversion when unknown fields are present, or make sure your application can tolerate missing unknown fields during the conversion.

[2018-05-11 05:42] xfxyjwf commented on #4606
The library should be updated to use MessageLite or Message interface instead. GeneratedMessage is to be used by generated code only and should not be used by users.

[2018-05-11 05:42] #4606 closed

[2018-05-11 12:43] Nayan-Das opened #4613 "Unable to add hiphen "-" in proto 3 field name"
message Obsmsg {
message P-GLOBAL {
         string latitude = 1;
         string longitude = 2;
         string altitude = 3;
      }

   P-GLOBAL p-global = 1;
}

I am unable to generate java class file if "-" contain in the field name.

[2018-05-11 19:53] khuzemap commented on #67
@xfxyjwf , have updated the change. using "override" keyword now.

[2018-05-11 20:02] bwo opened #4614 "python_out files seem to forget about --proto_path"
Here's what I mean.

suppose you have this directory structure:

[code]

The contents of the `.proto` files are as follows:

[code]

The reason that `y.proto` imports `x.proto` with the path `"tmp/x/pb/x.proto"` is that when both of these packages are installed, `x_pb2` will be importable as `tmp.x.pb.x_pb2`, and (to my astonishment) the only way to get `protoc` to generate such an import path in

[2018-05-11 21:20] banshee opened #4615 "configure.ac fails to find sched_yield for android"
The configure.ac file wants to find sched_yield for android:

[code]

The problem is that it tries to find it by compiling a binary that runs on the host (using the toolchain meant for cross-compiling binaries that run on Android).  I don't think it's possible; sched_yield isn't defined in any of the libraries in the toolchain that I could find.  (I assume it's present on the target).

I think all

[2018-05-11 21:59] FSMaxB opened #4616 "Null pointer dereference in Arena."
If the allocator from the `ArenaOptions` returns `nullptr`, the placement new after that will dereference a null pointer.

https://github.com/google/protobuf/blob/b61dd9d9a229c5a82788fdeefa344aa65affae09/src/google/protobuf/arena.cc#L119-L120

I'm currently dealing with this by throwing an exception from my allocator instead of returning `nullptr`, but I'm not really sure if your code is exception

[2018-05-12 06:55] zchrissirhcz commented on #4569
I meet same problem.

Python 2.7.12, protobuf 3.5.2.post1, I use the following code to generate prototxt with Caffe's Python interface:

[code]

And in the generated prototxt, the std value of a gaussian distribution, is presented as:
[code]
Instead of what I expected:
[code]

[2018-05-12 07:02] zchrissirhcz commented on #4569
In face, I just downgrade to protobuf-3.3.0 and the precision is correct.

[code]

[2018-05-12 16:41] FSMaxB commented on #1896
I can't use this library without that feature at all!

I use an arena, because I store sensitive key material in my protobuf messages and I provided an allocator with safe memory to the arena ([sodium_malloc](https://download.libsodium.org/doc/helpers/memory_management.html), not swapped out, zeroed out on free, guard pages etc.).

Given that the key material is stored in `bytes` fields, protobuf

[2018-05-13 02:57] ofpiyush commented on #224
We have a service in JS that needs to implement protobuf to JSON and vice-versa for internal use and the UI.

We'd like to implement a canonical proto3 JSON serialiser/deserialiser.

I'll try to set up conformance tests, but something specifically for the spec would be really useful.

[2018-05-13 07:09] sympthom opened #4617 "./configure returns error"
Hi,

Protobuf  is installed.

The ./configure and ./configure --prefix=/usr returns:
configure: error: required protobuf header file not found

How to handle this error?

//Martin

[2018-05-13 07:09] #4617 closed

[2018-05-13 21:36] atrauzzi commented on #4459
Making me call the tool from a different directory seems like a bit of an inconvenience.  I'm not sure you understand what I'm asking for here.

[2018-05-14 04:31] devawal opened #4618 "ERROR: The protoc command in your system is too old. Minimum required version is 2.6.0 but found 2.5.0"
How can I upgrade 2.5 to 2.6 in centos 7

[2018-05-14 11:40] wvxvw opened #4621 "\x00 or \000 in string literals when red from text representation"
If using text representation of a message I try to provide value as `"\x00"` or `"\000"` or `"\0"`, the lexer (seems so) breaks (doesn't accept input) with

[code]

(foo in the message above just happened to be the next token, not related to the problem).  Other sequences seem to work, eg. `"\x01"` does work as well as `"\001"`.  What is so special about `\x00`?

[2018-05-14 17:38] acozzette commented on #4621
@wvxvw Could you post an example of the input that is not being parsed successfully?

[2018-05-14 17:44] acozzette commented on #4618
I don't have any experience with CentOS, but if its package manager doesn't have a more recent version then you could try downloading a newer version from our releases [here](https://github.com/google/protobuf/releases).

[2018-05-14 17:48] acozzette commented on #4616
Thanks for reporting this, but I believe it is working as intended because we do not use exceptions in C++, as per the Google C++ style guide (see [here](https://google.github.io/styleguide/cppguide.html#Exceptions)).

[2018-05-14 17:51] acozzette commented on #4615
@banshee Could you send us a pull request with your suggested fix?

[2018-05-14 17:59] acozzette commented on #4613
@Nayan-Das I believe this is working as intended--we don't support hyphens in field names or other identifiers. You can use underscores, though.

[2018-05-14 17:59] #4613 closed

[2018-05-14 20:37] FSMaxB commented on #4616
I am aware that you aren't using any exceptions at Google, but that doesn't have anything to do with this null pointer dereference.

In `google/protobuf/arena.h` it says:
https://github.com/google/protobuf/blob/b61dd9d9a229c5a82788fdeefa344aa65affae09/src/google/protobuf/arena.h#L130-L135

Given that `malloc` may return `nullptr` if allocation fails, I would expect from that statement, that my cus

[2018-05-14 20:42] #4552 closed

[2018-05-14 20:44] #4582 closed

[2018-05-14 20:47] ObsidianMinor commented on #4407
Any [response](https://github.com/imbushuo/Lumia950XLPkg), @anandolee?

[2018-05-14 20:47] #3380 closed

[2018-05-14 20:51] TeBoring commented on #4592
You should use pypi to download python runtime.

[2018-05-14 20:51] #4592 closed

[2018-05-14 20:54] jskeet commented on #4591
Sorry, I'm incredibly busy at the moment - I can't take on any extra work.

[2018-05-14 20:55] TeBoring commented on #4602
Could you send a PR?

[2018-05-14 20:57] TeBoring commented on #4605
We have already provided wheel on pypi. Could you use that?

[2018-05-14 21:01] #4612 closed

[2018-05-14 21:01] xfxyjwf commented on #4595
Thanks for the tips. Though we can no longer update already released 2.5.0.

[2018-05-14 21:01] #4595 closed

[2018-05-14 21:02] mcneish1 commented on #4605
No, the machine I'm trying to use this on is a ppc64le machine.

It's not really an issue, per se, as I can grab the whole protobuf repository instead. It just seemed like an omission.

[2018-05-14 21:05] stepancheg commented on #4610
@TeBoring unfortunately protobuf compiler `protoc` accepts this option. And I'm writing Rust implementation of protobuf, and my implementation should be compatible with `protoc`.

If this option is not meant to be used outside of Google, then public version of `protoc` compiler should probably reject it.

[2018-05-14 21:07] stepancheg commented on #4610
[code]

[2018-05-14 21:11] xfxyjwf commented on #4594
Closing this issue as I think your question has been answered. Feel free to create an issue requesting for more thorough documentation of the language spec. @anandolee FYI.

[2018-05-14 21:11] #4594 closed

[2018-05-14 21:13] xfxyjwf commented on #4584
Given that you can compile protobuf library itself, I think you should be able to fix the issue by include "#undef TYPE_BOOL" in your code before including protobuf headers.

[2018-05-14 21:13] #4584 closed

[2018-05-14 21:14] xfxyjwf commented on #4243
Nobody is working on fixing this as far as I can tell. Feel free to send us a pull request if you know of a fix.

[2018-05-14 21:16] TeBoring commented on #4610
@anandolee, we can still define custom option in proto3, right?

[2018-05-14 21:20] yijiem commented on #4584
I found in macOS sdk 10.13, apple removed TYPE_BOOL from ConditionalMacros.h. So this only conflicts with macOS sdk 10.12 and potential earlier version.

[2018-05-14 21:36] xfxyjwf commented on #4610
In proto3, custom options are allowed, i.e., users can use "extend" keyword to define their own extensions to proto descriptor options. The spec is missing stuff because it was created after protoc, i.e., it's introduced to describe what protoc does, rather than defining what protoc does. If you are implementing protobuf support in a new language it's better to follow what protoc accepts instead o

[2018-05-14 21:36] #4610 closed

[2018-05-14 21:38] xfxyjwf commented on #4584
@yijiem Thanks for the updates. That's even better.

[2018-05-14 23:17] jswigart commented on #4591
Willing to take a PR for this?

[2018-05-14 23:34] ObsidianMinor commented on #4591
You can also encourage the maintainers to accept the [proto2 in C# proposal](https://github.com/google/protobuf/issues/4407) which has support for extensions.

[2018-05-15 00:00] jswigart commented on #4591
Proto3 has support for options already. In C# it's via the CustomOptions class, which has typed TryGet values that take the numeric field ids of the options. All I'm wanting is for the generator to also build named constants for those numbers, so instead of this

`field.CustomOptions.TryGetString(4001, out myFieldOption)`

it would be a cleaner and more readible like the C++ generated code, and lo

[2018-05-15 02:12] yejw5 opened #4628 "Warning message when build protobuf lite"
*Version: Ubuntu 16.0.4, bazel 0.12.0, protobuf v3.4.0/v3.5.1*

When add protobuf lite C++ as deps of my project and build with bazel tools, there are some `-Wunused-parameter` warnings. We hope to build our project with `--copt=-Werror`, these warnings will report as errors and terminate building process. Is there any plan to fix this situation?

The total warning log as follows:
[code]

[2018-05-15 12:37] wvxvw commented on #4621
Suppose you have a definition:

[code]
Then you call `protoc` like this:

[code]
it will break.

[2018-05-15 12:52] lucaswiechmann commented on #4243
It was a mistake on configure options.

Add CXXFLAGS="-D__MIPSEL__ -march=mips32" and you should be good

[2018-05-15 12:57] wvxvw opened #4629 "Multiple problems with repeated binary encoding"
# First problem

Repeated fields aren't packed, contrary to what documentation suggests.

Proto definition:

[code]

Invoking `protoc` with this text encoded message:

[code]

Produces this output (I've labeled it for you):

[code]

# Second problem

See my comment above on incorrectly encoding the length of the string that wasn't specified on input. Its length was set to 8, but, probably the pars

[2018-05-15 17:15] banshee commented on #4615
Done - https://github.com/google/protobuf/pull/4631.  I wasn't sure which branch to target though.

[2018-05-15 17:31] acozzette commented on #4615
@banshee Thanks! I think it would be best to target the master branch, though.

[2018-05-15 19:37] banshee commented on #4615
Retargeting came up with some unrelated issues with php files; I'll probably just kill that one and create a new one from master

[2018-05-15 20:05] xfxyjwf commented on #4407
@ObsidianMinor Protobuf team don't have resource to work on major C# changes at the moment and it's very unlikely for us to accept large C# PRs before we have a dedicated engineer working on C#. To make progress here I think the only way is to do as @anandolee suggested: break down the proposal into smaller PRs so it's easier to review the change and we can move forward piecemeal. I know it's time

[2018-05-16 05:25] alexcwyu opened #4635 "add annotations to the generated java classes"
Is there any way to add custom annotations to the generated java classes (class level or field level)?
It is supported by **scalapb** and how can I do that in protoc?
do I need to write my onw generator plugin (**PluginProtos.CodeGeneratorResponse**) and write my own class output?

If this is not yet support, can we add this new features?

Example in **scalapb**
[https://scalapb.github.io/customiz

[2018-05-16 06:46] zipperHead opened #4636 "Why returning "str" for INT types in MessageToDict"
https://github.com/google/protobuf/blob/e232038e061ad99225a1c568fca24181416461ef/python/google/protobuf/json_format.py#L284

I am wondering what is the reason behind returning a string for integer type fields in this method "MessageToDict"

[2018-05-16 07:46] Nayan-Das commented on #4613
I understand,we can not add "-" but is there any way we can annotate the field name for "-".
Like any other library (Jackson,Ebean,GSON) support annotation.
Example of GSON annotation-
 @SerializedName("person-name")
    String personName;

I can not change the field name .Please suggest is there any way around?

[2018-05-16 08:43] wvxvw commented on #4589
This is basically an extension of  #4286

[2018-05-16 10:08] hiesenberg commented on #1836
pip install protobuf

[2018-05-16 15:32] ruizcrp commented on #3102
I ahve the same issue. I followed the recommendations by allendoss step by step but even that did not help in my case.

[2018-05-16 17:30] FSMaxB commented on #4616
I still think that protobuf should check and call `std::terminate`, because it is safer than relying on people to read the comment carefully.

And since this is only used for allocating blocks for the Arena, it won't be called very often, so the additional `nullptr` check isn't likely to cause any performance problems.

[2018-05-16 19:06] FSMaxB commented on #4616
@xfxyjwf Not necessarily. The placement new in line 120 will call the constructor of `Block` with a `nullptr`.
https://github.com/google/protobuf/blob/b61dd9d9a229c5a82788fdeefa344aa65affae09/src/google/protobuf/arena.cc#L125-L126

This then tries to write a pointer to `offsetof(Block, next_)`, wherever that might be.

Most systems do have the zero page mapped in such a way that an interrupt is ca

[2018-05-16 19:12] banshee commented on #4615
https://github.com/google/protobuf/pull/4631 now points to master

[2018-05-16 19:26] xfxyjwf commented on #1297
Multi-line string value is already supported as far as I can tell, see:
https://github.com/google/protobuf/blob/ed4321d1cb33199984118d801956822842771e7e/src/google/protobuf/text_format_unittest.cc#L748

You will need to format it like this:
[code]

Probably not as convenient as the proposed ones, but it's also less magical (i.e., don't magically remove indentation and line wraps here and there).

[2018-05-16 20:11] acozzette commented on #4613
@Nayan-Das Are you just trying to set the JSON field name? If so, you could try annotating the field like this:
`PGlobal p_global = 1 [json_name = "p-global"];`
I haven't tried using hypens in JSON field names but I assume it should work.

[2018-05-16 20:19] acozzette commented on #4615
Thanks for the pull request!

[2018-05-16 20:19] #4615 closed

[2018-05-16 20:30] xfxyjwf commented on #4636
See:
https://developers.google.com/protocol-buffers/docs/proto3#json

Specifically:
[code]

[2018-05-16 20:30] #4636 closed

[2018-05-16 22:35] acozzette commented on #4629
I believe everything is actually working as intended here. When you see a field number 4 with a length of 8, that's not the `some_strings` field of `TestMultiple` but instead it's the `simple_repeats` field of `Test`. The empty string doesn't appear until the end, since the serialized output is sorted by field number.

I think your other objection is that once you've read a field, you can't know f

[2018-05-16 22:48] acozzette commented on #4621
Which version are you using? I gave this a try using protoc built from master and it seemed to do the right thing:
[code]

[2018-05-17 05:33] sherry255 commented on #3125
hi
[code]
it is not solved.... and the string looks like below after i use `text_format.MessageToString(mess, as_utf8=True)` function
 :
[code]

[2018-05-17 07:18] wvxvw commented on #4629
Your analysis re' `some_strings` vs `simple_repeats` is wrong. Sorry. You can absolutely see that the contents is the strings given on the stdout, and not varints, as would have been, should this actually encode `simple_repeats`.

Re' non-uniqueness of representation: lack of order is acceptable.  If you go further into theoretical properties of the information being generated, you can see that al

[2018-05-17 07:25] wvxvw commented on #4621
I'm using 3.0.0

[2018-05-17 10:38] wvxvw opened #4638 "The grammar for options is incorrect"
`protoc` appears to accept this:

[code]

However, the grammar for option is:

[code]

I.e. the improvised hash-table is not a `constant` by any means.

Also, I think I saw `option (foo.bar).baz = ...;` syntax used somewhere, which doesn't match what `fullIdnt` is defined to.

[2018-05-17 12:07] wvxvw opened #4639 "extend is still recognized in version 3 of Protobuf"
This file:

[code]

Parses w/o problems using `protoc` version 3.0.0, however `extend` definition was removed from version 3 of the syntax spec...

Which brings me to the question: how much of v2 Protobuf is still covertly supported by v3?  Is there any documentation on this topic beside the source code?

[2018-05-17 12:53] wvxvw opened #4640 "option optimize_for = SPEED; shouldn't parse"
If you look at `goolge/protobuf/descriptor.proto`, it contains this:

[code]

This should **not** parse according to both proto2 and proto3 language spec, but `protoc` accepts this w/o even a warning...

To clarify: my understanding was that identifiers may only be introduced using keywords s.a. `message`, `enum`, `option` etc.  Having and identifier that doesn't identify anything looks wrong.  In

[2018-05-17 13:58] little-bird-in-china opened #4641 "Why c++ zerocopystream can reduce memory copy?"
How zerocopystream like IstreamInputStream and OstreamOutputStream reduce memory copy?

[2018-05-17 15:26] daoleno commented on #4641
[zero_copy_stream.h](https://developers.google.com/protocol-buffers/docs/reference/cpp/google.protobuf.io.zero_copy_stream)

[2018-05-17 17:13] xfxyjwf commented on #4640
@wvxvw Can you explain your use case? As far as I know the language spec is for documentation purpose only and does not define how protoc actually behaves (i.e., the protoc is not implemented to the spec). If you want to parse .proto files, using protoc is the only way and we do not support parsers in any other language.

[2018-05-17 17:35] wvxvw commented on #4629
This is not the part I'm writing about... the so-called scalar types are the only types that work according to the description in documentation, the length-delimited types are the problem.

[2018-05-17 17:41] acozzette commented on #4629
The thing is that only repeated fields of primitive numeric types can be packed, so for example, the repeated strings in your example can't be packed.

[2018-05-17 17:43] #4548 closed

[2018-05-17 21:01] acozzette commented on #4629
I agree that in principle one could pack all types of repeated fields, but this is not something allowed by the current wire format. As the [documentation](https://developers.google.com/protocol-buffers/docs/encoding#packed) says: 'Only repeated fields of primitive numeric types (types which use the varint, 32-bit, or 64-bit wire types) can be declared "packed".' We would be pretty reluctant to ma

[2018-05-17 21:42] xfxyjwf opened #4645 "PHP: Support a more convenient way to set/get wrapper types."
Right now to create a wrapper type, users need to do:
[code]

See b/79144925

[2018-05-17 22:08] AnashOommen commented on #4645
I illustrated this with BoolValue, but similar problem exists for other other wrapper types also. It would be helpful if we had an easier way of constructing these objects, using the native types.

[2018-05-17 22:17] wvxvw commented on #4629
This never happens in practice.  All people I talked to so far about Protobuf are horrified even when they hear that it is possible, in principle, to use two different definitions for the same binary payload: they usually start bursting into flames when they hear such thing.  Merging messages for them makes absolutely no sense.  Most people think about any message format, not necessary Protobuf, a

[2018-05-17 22:44] TeBoring commented on #4645
We have already implemented array constructor in php-generated-dev. I will merge it in this coming week.
You can just do: ```$mybool = new BoolValue()```

[2018-05-17 22:47] acozzette commented on #4629
People do merge protos in practice: you can search our GitHub issues for examples.

Protocol buffers are designed to make it easy to continuously evolve your schema over time without breaking compatibility. This makes it inevitable that the parser will be somewhat generous in what it accepts, because it never assumes it has the most up-to-date version of the schema.

[2018-05-17 23:11] jeancarlos2020 commented on #4428
1.- SE INSTALA EL PROTOC EN MI CASO USE LA VERSION 3.5.1 WIN
2.- CREE UN ARCHIVO DE TEXTO Y LO GUARDE CON .BAT
 NOTA se debe ejecutar el bat desde  models-master\research dado que protoc depende de otros archivos

"C:\Users\jroldan\Desktop\protoc-3.5.1-win32\bin\protoc" object_detection\protos\anchor_generator.proto --python_out=.
"C:\Users\jroldan\Desktop\protoc-3.5.1-win32\bin\protoc" object_det

[2018-05-18 00:25] xfxyjwf commented on #4629
I think you folks are talking about different things. @acozzette is talking about merging protobuf data (see Message::MergeFrom: https://developers.google.com/protocol-buffers/docs/encoding#optional), whereas @wvxvw misunderstood it to be merging two different proto types.

[2018-05-18 02:37] KirillSemine commented on #2777
Helle shasanksakala
How did you fix this problem?

[2018-05-18 03:23] weike20 opened #4647 "Is this a bug ?"
test.proto
syntax = "proto2";
package ProtoBuf;
message EXAMPLE_MESSAGE
{
    optional uint32 id = 1;
}
main.cpp:
#include <iostream>
#include <memory>
#include <cstring>
#include "test.pb.h"
using namespace std;
std::vector<char*> buff;
void serialize1(const ProtoBuf::EXAMPLE_MESSAGE& message)
{
    char body[message.ByteSize()];
    message.SerializeToArray(body,message.ByteSize());
    buff.pus

[2018-05-18 03:26] weike20 commented on #4647
Or I was wrong？

[2018-05-18 12:45] rbroggi commented on #3316
Hi all,
I have the same problem and end up turning down the adoption due to this issue. I've made all the developments to migrate from an RMI style communication to a GRPC and the memory usage of my service jumped from ~20Gb to ~60Gb. doubles[] are much more concise than List<Double>.  I'm a big +1 here...
I am a big fan of protobuf hopefully we can achieve this requirement.

[2018-05-18 14:00] arthur-tacca commented on #4647
The problem is not in C++, but in your understanding of variable lifetimes in C++, specifically here:

    void serialize1(const ProtoBuf::EXAMPLE_MESSAGE& message)
    {
        char body[message.ByteSize()];
        message.SerializeToArray(body,message.ByteSize());
        buff.push_back(body);  // <-- taking address of local variable to dereference later
    }

[2018-05-18 17:32] weike20 commented on #4647
I got it,thanks.

[2018-05-18 17:33] #4647 closed

[2018-05-18 19:03] ryanrhee commented on #42
Is there an equivalent for javalite? I tried `--javalite_opt=annotate_code` but it did nothing.

[2018-05-18 20:30] banshee commented on #3742
Don't forget that Kotlin can compile to non-jvm environments, so just saying 'use java' actually doesn't solve the kotlin problem.

[2018-05-19 02:58] mkfifo commented on #4616
@xfxyjwf relying on undefined behaviour to cause a segfault and thus terminate is not usually good practice.

[2018-05-19 05:26] timoonboru opened #4649 "Error with version of protocol buf"
Helo, The error is shown as
[libprotobuf FATAL google/protobuf/stubs/common.cc:61] This program requires version 3.5.0 of the Protocol Buffer runtime library, but the installed version is 2.6.1. Please update your library. If you compiled the program yourself, make sure that your headers are from the same version of Protocol Buffers as your link-time library. (Version verification failed in "bazel

[2018-05-19 09:23] tri7stan opened #4651 "[python3]Chinese Chars Deserializing ERROR"
I am using protobuf-3.5.2.post1

In Python3 when mapping Chinese Char with string prototype

ERROR:root:Exception deserializing message!
Traceback (most recent call last):
  File "C:\Python\lib\site-packages\grpc\_common.py", line 87, in _transform
    return transformer(message)
google.protobuf.message.DecodeError: Error parsing message

Detail exec info below:

  self._bootstrap_inner()
File "C:

[2018-05-19 09:45] #4651 closed

[2018-05-19 11:16] linux2014linux opened #4652 "How get all key for mapfield in php?"
foreach ($arr as $key => $v) {
    /**
     * 不会执行到这儿
     */
}
但是我用$arr['Fashion']可以取到值。
php是7.0.14,protoc是3.

[2018-05-19 12:38] Panakotta00 opened #4653 "Make in msys2 with MinGW32 fails"
when I try to compile protobuf for c++ in my msys2 with mingw32 to implement the lib in my Qt project I get this error:

[code]
I have downloaded leatest -zip for c++... runned ./configure and then make

Has anybody an idea why this won't work?

[2018-05-19 18:57] wvxvw commented on #4621
The test above wasn't actually done the way I wrote. Monday, I'll give you the exact way to reproduce it. Sorry, I'm not on my work machine right now.

[2018-05-19 19:05] wvxvw commented on #4629
@xfxyjwf Well, there is a misunderstanding, however, I think it's different: proto types exist on a much higher level of the parser then where merging happens.  So, there's nothing to stop you from merging chunks of data that would have mapped to different C++ types before you interpret them as such.

What I'm saying is that this ability is not just not very useful, is that it is also dangerous, a

[2018-05-19 19:15] wvxvw commented on #4640
My use-case: I'm writing my own implementation of the parser.  I worked under assumption that identifiers must resolve to definitions (this is what normally happens in programming languages, this is the basic difference between an identifier and a keyword), but `SPEED` in the example above doesn't resolve to anything.  It is treated as self-evaluating symbol (eg. like a number or a boolean).

This

[2018-05-19 20:18] banshee commented on #4615
Happy to help

[2018-05-20 10:53] little-bird-in-china commented on #4641
Is there any use case for the zerocopystream out of protobuf library,
It's seems nonsense to me.

[2018-05-20 17:39] maguro commented on #1297
The unit test `TEST_F(TextFormatTest, ParseConcatenatedString)` ensures that multi-part strings concatenate correctly.  I don't think that it has anything to do with multi-line strings.

I understand that that one can use a list of multi-part strings with each part suffixed with `\n`.  It's not  just inconvenient, it's brittle and makes things pretty illegible.  Looking at the comments and emotico

[2018-05-20 22:50] graywolf opened #4654 "It's not possible to have fields name `minor`, `major`"
[code]

If protobuf does not use `major`, `minor` by itself, it should probaby be `undef`ed. Or at least provide a way to do so.

[2018-05-21 04:19] linux2014linux opened #4655 "v3.4.0 php extension Error: File "./LICENSE" in package.xml does not exist"

[2018-05-21 07:18] arthur-tacca commented on #4654
Relevant: #3203

[2018-05-21 13:11] Kartikkh opened #4656 "Error Message in Executing GRPC"
proto/xyz_fill.pb.go:1028:46: undefined: proto.InternalMessageInfo

This message is coming when I am executing Go build, Initially, it was working fine!
Is this the version update ?
How to fix this ?

[2018-05-21 15:15] Kixunil commented on #4203
Hi, I have similarly looking problem. It only started happening lately and only one service is having this problem (we have multiple services using protobuf).

I'll investigate that library loading thing.

It seems to me that there's a problem with recursive locking during initialization. It first changes state in `once.cc` to `ONCE_STATE_EXECUTING_CLOSURE` and then it recursively calls itself and

[2018-05-21 17:43] acozzette commented on #4629
@wvxvw I am afraid we just can't make breaking changes like that--that would result in all newly serialized protos being unparseable by existing parsers.

[2018-05-21 19:14] xenomachina commented on #4351
I think there might be a bit of confusion here. There are (roughly) two kinds of nullability annotations:

1. value can sometimes be null, aka "nullable"
2. value can never be null, aka "not-null"

If the Protobuf Java API never returns null then it doesn't need to use the former, **but it would still be very helpful if it used the latter**.

Kotlin currently uses "platform types" for values going

[2018-05-21 19:26] xfxyjwf commented on #4640
Protobuf is an opensource technology but there are use cases that we protobuf-team support and there are use cases that we don't support. Implementing your own parser is one use case that we don't support.

[2018-05-21 20:10] xfxyjwf commented on #4351
@xenomachina As far as I know there is no such not-null annotation in Java 7 and protobuf does not take additional dependencies.

[2018-05-21 20:32] graywolf commented on #4654
maybe we could have ability to prepend the generated code with our own, maybe something like:

[code]

[2018-05-21 20:39] TeBoring commented on #4134
@nordenmark are you using the latest protoc for generating php code?

[2018-05-21 20:39] TeBoring commented on #4134
@ZhouyihaiDing Could you update the title to reserved name in package is not skipped?

[2018-05-21 20:39] acozzette commented on #4656
I think this is a duplicate of #4582 and that issue has links explaining how to resolve this problem.

[2018-05-21 20:39] #4656 closed

[2018-05-21 20:48] TeBoring commented on #4602
Sorry, could you send a PR against our master branch?

[2018-05-21 20:50] acozzette commented on #4649
The `protoc` that is used to generate code from `.proto` files has to exactly match the version the protobuf runtime (e.g. `libprotobuf`) that you link against. I think you probably have an old 2.6.1 library installed through the system package manager, so it might simplify things to remove that, if possible.

[2018-05-21 20:52] #4618 closed

[2018-05-21 20:52] #4641 closed

[2018-05-21 20:56] acozzette commented on #4628
I would recommend avoiding using `-Werror` and strict warnings for protobuf generated code. Since it's machine-generated code, it often has an un-idiomatic style and it would require extra complexity to try to make the code generator smart enough to avoid all warnings.

[2018-05-21 21:10] anandolee commented on #4569
zchrissirhcz@ is right. We have a known issue for float type precision if it is using cpp extension:

Python does not have C-style float , it only has a C-style double. Thus pure python is using double precision for both float and double field, cpp extension is using float precision for float field.

[2018-05-21 21:10] #4569 closed

[2018-05-21 21:10] anandolee commented on #4569
Closing it for cleaning up. Feel free to reopen if you still an questions

[2018-05-21 21:21] anandolee commented on #4547
Can you try to come up with a example which contains protobuf related code only? It is too hard for us to navigate through tensorrt and the link you provided

[2018-05-21 22:31] anandolee commented on #4515
You should create a new message before parse:
new_message = report_pb2.ReportData()
jf.Parse(jf.MessageToJson(negative), new_message)

[2018-05-21 22:31] #4515 closed

[2018-05-21 22:31] calder opened #4658 "//:python_srcs doesn't play nice with other Google libraries"
`//:python_srcs` doesn't include [`python/google/__init__.py`](https://github.com/google/protobuf/blob/master/python/google/__init__.py) in its `srcs` glob. Without it, protobuf exclusively defines a top-level `google` namespace which breaks other packages like [google-auth](https://google-auth.readthedocs.io/en/latest/) that expect to share the `google` namespace.

[2018-05-21 22:55] anandolee commented on #4614
I think we do not have plan to support relative imports. See #1491 for more discussion

[2018-05-21 23:00] bwo commented on #4614
I don't see the connection to relative imports. I have only, and only wish to have, absolute imports; looking at that ticket, it seems like *prima facie* to be a different issue. There isn't a problem with *Python* finding the module I want to import; IMO the problem is with protoc's codegen.

[2018-05-21 23:02] anandolee commented on #4546
@nathanielmanistaatgoogle, can you help to take a look?

[2018-05-21 23:05] anandolee commented on #3671
Sorry, I can't tell anything from the stack trace... @amauryfa, do you have any idea?

[2018-05-21 23:37] bwo commented on #4614
That is, when I run this command:

[code]

and `protoc` encounters the line `import "tmp/x/pb/x.proto";`, and it looks for the path `/tmp/x/pb/x.proto` relative to each specified `--proto_path`, it finds it in exactly one, and presumably can know relative to which such path it found the specified import, namely, it was relative to `$HOME/tmp/x/pb`. Nevertheless, it writes out to the generated Pyth

[2018-05-21 23:58] anandolee commented on #4120
I think it is in the FieldDescriptor.propertyName: https://github.com/google/protobuf/blob/047575f20cbdee8fb2f88d78a317ffe6133b93e6/csharp/src/Google.Protobuf/Reflection/FieldDescriptor.cs#L46

I think it is reasonable to make a public get API for the propertyName. Are you happy to make a PR for it?

[2018-05-22 00:29] xfxyjwf commented on #1297
For changes that will affect multiple languages, there needs to be a formal proposal and it needs to be approved before proceeding. There is no fast path and the process is Google internal only. This change unfortunately falls into this category and has to be carried through by a Google engineer. It doesn't need to be a protobuf team member though. If you are a Google engineer and is motivated eno

[2018-05-22 00:43] xfxyjwf commented on #4629
Closing as there is nothing we can do here.

@wvxvw If you are creating a new wire format for protobuf, I would suggest make it completely incompatible with the current proto wire format rather than partially compatible. For example, you probably want to use different wire types.

[2018-05-22 00:43] #4629 closed

[2018-05-22 02:18] xenomachina commented on #4351
Not even JSR-305 annotations?

I've found a workaround that may be useful to others: place a `package-info.java` in the same package that the proto-compiler is generating into that looks something like this:

[code]
The Kotlin compiler will then behave as though all parameters to methods in that package are annotated as not null, except those that are explicitly annotated otherwise.

[2018-05-22 02:46] LinkShen opened #4661 "[BUG][C++] MessageToJsonString always convert enum value 0 to string"
# DESCRIPTION
Hi all, I get into a problem with **MessageToJsonString** API when I am trying to convert a message object which contains an enum field into json string. I have set **JsonOptions::always_print_enums_as_ints** to true. When the enum field value is greater than 0 thing goes well, json value of this field is an integer . However when the enum filed value is 0, the json value will become

[2018-05-22 04:52] kunalspathak commented on #4120
sure, will do it sometime.

[2018-05-22 07:09] nordenmark commented on #4134
@TeBoring I'm using `libprotoc 3.5.0`

[2018-05-22 07:44] Kixunil commented on #4203
I've tried `option optimize_for = LITE_RUNTIME` and I got abort: `terminating with uncaught exception of type google::protobuf::FatalException: CHECK failed: generated_database_->Add(encoded_file_descriptor, size):
abort() called`

[2018-05-22 09:43] Johnnyloong opened #4662 "[C++/VS2017] unresolved external in text_format.cc and wire_format.cc"
I build protobuf with vcpkg, and I use the static lib,include three files: libprotobuf-lited.lib, libprotobufd.lib , libprotocd.lib, in my project. but there are two link errors in my project:

2>------ Build started: Project: logic_songyuan_alpha, Configuration: Debug Win32 ------
2>libprotobufd.lib(text_format.cc.obj) : error LNK2019: unresolved external symbol ___std_reverse_trivially_swappable

[2018-05-22 11:58] dontsovcmc commented on #791
I also got error in Windows 10:
--grpc_out: protoc-gen-grpc: Не удается найти указанный файл. (program not found or is not executable)

fullpath of grpc_cpp_plugin helps me:
`protoc.exe --plugin="protoc-gen-grpc=D://grpc_cpp_plugin.exe" --grpc_out=src helloworld.proto`

[2018-05-22 14:46] nathanielmanistaatgoogle commented on #4546
I suspect that this is the same problem that we're tracking in [gRPC Python issue 11041](https://github.com/grpc/grpc/issues/11041) and [gRPC Python issue 9450](https://github.com/grpc/grpc/issues/9450).

[2018-05-22 18:26] acozzette commented on #4203
@Kixunil If `generated_database_->Add(...)` is getting called then that must mean there is some non-lite proto still being used (potentially something like `descriptor.proto` which is part of `libprotobuf`). Could you try making sure all your protos use `LITE_RUNTIME` and also make sure to link against `libprotobuf-lite` and not `libprotobuf`?

[2018-05-22 20:41] maguro commented on #1297
What are "text proto parsers"?

[2018-05-22 21:06] amelhaoui commented on #4338
Hi @TeBoring,

Please, is there any update on this?

I also get that `TypeError: jspb.Message.setProto3StringIntField is not a function`. Any alternatives? I'm trying to get rid of our 64bit wrappers.

Thanks

[2018-05-22 21:20] xfxyjwf commented on #1297
@maguro Protobuf implementations that support text format apparently have implemented such parsers. Some implementations are opensourced (as in this github repository), but many of them are not and only exist inside Google. Also protobuf implementations are not the only text proto parsers. We have tools that process/convert/format text protos. For example, if you check-in a text proto file in our

[2018-05-22 21:57] acozzette commented on #4654
This problem is tricky to solve, because within Google we have code that actually uses the `major` and `minor` macros after protobuf headers have been included, so we can't easily undefine those without breaking code. In your case is it possible to just undefine those macros before you include your generated `pb.h` file?

[2018-05-22 22:10] acozzette commented on #4653
We don't officially support MinGW and don't really have any experience with it, so unfortunately I don't think we can help much with this error. One thing you could try would be to use the CMake build instead and see if that works. If you figure out a fix, feel free to send us a pull request.

[2018-05-22 22:10] #4653 closed

[2018-05-22 22:18] maguro commented on #1297
So, these tools parse **_raw_** proto source files?  If that is the case, then if a proto file did not use the new multi-line string, then they should be fine, correct?

[2018-05-22 22:38] xfxyjwf commented on #1297
@maguro If nobody uses the new multi-line string, they will be fine.

[2018-05-22 23:41] sbsends opened #4664 "Any Type Url returns 404 error"
When I perform a get request on a Any type url (for instance: type.googleapis.com/google.profile.Person) I receive a 404 error.

[2018-05-22 23:41] sbsends commented on #4664
@haberman @bakineggs @tenderlove @nico

[2018-05-23 00:58] maguro commented on #1297
So, there doesn't seem to be a problem on that front then; if there is then one could add a flag to turn it off.  I'll try to find a Google engineer to shepherd this on your side.

FWIW, I really don't how one would prefer

    string scope = 2 [(niantic.cfg.fld) = {
          description: "To get an ID Token to authenticate a user, you are required to specify\n"
                       "the scope

[2018-05-23 04:57] wanton7 commented on #4206
I would want to have support for unsafe ByteString that would support setting it's length as well.  When  sending chunked data, last chunk is usually smaller.

@d79ima are you are aware that if you allocate 85000 bytes or more in .NET Framework allocation goes directly to LOH (Large Object Heap) and skips GC generations? It will add lot of GC pressure and LOH can only be compacted manually. So if

[2018-05-23 11:39] graywolf commented on #4654
Am not even including the `pb.h` in my project yet (didn't get that far). This happens during compilation of `pb.cc`.

[code]

I guess I could include `sed` step into my build process but that seems more like a hack then a solution. But the `before_messages(c++)` way should work without breaking code for anyone no?

[2018-05-23 16:53] #4662 closed

[2018-05-23 16:56] Johnnyloong commented on #4662
I solve this problem just by upgrade the vs project version to v14.1

[2018-05-23 17:17] iamkirkbater opened #4666 "Javascript: Dynamically get a 'oneof' type"
Hello,

I'm trying to dynamically get a `oneof` type.  Let's assume we have AWS resources, and I have them wrapped in another protobuf:

[code]

When I am trying to get whichever resource is inside the `WrappedResource` message I can do so if I know what type of message it is: `wrappedResource.getEc2Instance()` or `wrappedResource.getSecurityGroup`, however if I don't know (nor do I specifically c

[2018-05-23 18:07] sbsends commented on #4664
How are binary representations of type proto's generated? Does any tooling for this exist?

[2018-05-23 18:08] xfxyjwf commented on #4666
The recommended way to access oneof is to switch on the oneof case. Something like:
[code]

I'm not sure about Javascript, but in most languages, the compiler can check whether you have exhausted all the cases and enforce all cases are handled when new field is added to the oneof.

[2018-05-23 18:08] sbsends commented on #4664
@xfxyjwf

[2018-05-23 18:12] xfxyjwf commented on #4664
At the moment no such service exists as far as I can tell. What's your use case for this?

[2018-05-23 18:51] xfxyjwf commented on #4654
@graywolf Such conflicts are very annoying and because system/library headers can pretty much define whatever macro they like, there exist an infinite amount of such conflicts (i.e., you can find an infinite list of names that can't be used in protobuf). This is not a problem that we can fix. If you can't use a certain name in protobuf due to this reason, please try to rename it first. We generall

[2018-05-23 18:57] sbsends commented on #4664
[Use Case](https://github.com/tensortask/ttp)

[2018-05-23 19:01] xfxyjwf commented on #4664
@sbsends Can you explain a bit more? I saw a Any field there, but why do you need a type service? How will you or your user use a type service?

[2018-05-23 19:15] sbsends commented on #4664
@xfxyjwf The goal is to write a minimalist protobuf for transmitting tensors between applications and translating between various formats (e.g. converting from a tensorflow serving protobuf to a request formatted for Google ML-Engine). The Any field is to allow specific formats to use the same baseline format while retaining the ability to extend that application's specific needs (e.g. adding a mo

[2018-05-23 19:31] sbsends commented on #4664
@xfxyjwf I will have the users push code to the metadata directory within the GitHub repo that I linked. I will autogenerate and host the binaries from that directory.

[2018-05-23 21:14] xfxyjwf commented on #4664
So you need to implement your own type service? For that you can use the C++ TypeResolver API here:
https://github.com/google/protobuf/blob/master/src/google/protobuf/util/type_resolver.h#L62
https://github.com/google/protobuf/blob/master/src/google/protobuf/util/type_resolver_util.h#L47

I.e., your service will read all .proto files in the metadata directory, create a DescriptorPool for it and us

[2018-05-24 05:13] sbsends commented on #4664
Thank you @xfxyjwf!

[2018-05-24 05:13] #4664 closed

[2018-05-24 06:31] DrayChou commented on #3623
looking forward to it

[2018-05-24 06:37] DemonTPx commented on #3623
looking forward to it

[2018-05-24 16:44] jtattermusch opened #4668 "Indentation/syntax error in BUILD bazel file?"
I'm getting this when running "bazel query" on protobuf's BUILD file.
[code]

[2018-05-24 16:48] jtattermusch commented on #4668
Looks like unpaired `]` added in https://github.com/google/protobuf/pull/3984/files?

[2018-05-24 16:49] jtattermusch commented on #4668
@xfxyjwf   https://github.com/google/protobuf/blob/ce57cccef913681c4a2de1c7703a29135df38ba8/BUILD#L69

[2018-05-24 17:21] whbruce opened #4670 "3.4.x branch has been deleted"
The "rocko" release (fall 2017) of the Openembedded build system relies on this branch.

[2018-05-24 17:36] #4668 closed

[2018-05-24 17:48] micahstairs commented on #1451
What if we added "setXxxxxIfPresent" methods? It would take Optional<T> and then only set the field if it is present.

This is both readable and safe!

[2018-05-24 18:27] xfxyjwf commented on #4156
@teeks99 We no longer support old gcc versions on the master branch, but we will keep the 3.5.x branch for pre-C++11 support.

[2018-05-25 09:04] zhaobu opened #4679 "The debug version of an error"
When I use the c++ debug version to generate the source code,an error occurred:
[libprotobuf FATAL C:\code\protobuf\src\google\protobuf\generated_message_reflection.cc:2372] CHECK failed: file != NULL:
I read the protobuf source code,the error line of code:
  const ::google::protobuf::FileDescriptor* file =
      ::google::protobuf::DescriptorPool::generated_pool()->FindFileByName(filename);
  GOO

[2018-05-25 09:07] zhaobu commented on #4679
this is my test proto file:

syntax = "proto3";
message Person {
   string name = 1;
   int32 age = 2;
   string email = 3;
   int32 int_set = 4;
}

[2018-05-25 09:30] #4679 closed

[2018-05-25 16:55] nodirt opened #4680 "add java_classname option"
Add message-level option `java_classname` that specifies an alternative name for the generated Java class for the message.

Motivation: we already started to use a message name `Builder` and later tried to compile it to Java. It compiles to invalid Java code: conflict between the constructor and the method that creates a message builder.

WDYT/how hard is to implement overall? We might want to con

[2018-05-25 18:06] Guxin233 opened #4681 "C# protoc.exe Missing input file"
I put .proto file at the same folder path with protoc.exe , but still missing input file ???
![2](https://user-images.githubusercontent.com/19237159/40559346-06c3c812-6089-11e8-9a2c-d714bd08875f.png)

[2018-05-25 18:22] Guxin233 commented on #4681
OK，I find the reason. There must be a space character after =./
![3](https://user-images.githubusercontent.com/19237159/40560102-8a6d31d8-608b-11e8-9001-0213ea79f8ee.png)

[2018-05-25 18:22] #4681 closed

[2018-05-25 18:39] acozzette commented on #4029
Let me close this issue now that the pull request has been merged. Thanks for the fix!

[2018-05-25 18:39] #4029 closed

[2018-05-25 19:35] ryandesign opened #4683 "-std=c++11 flag added on wrong macOS versions"
python/setup.py checks the macOS version incorrectly, performing a *floating point* comparison instead of a *version number* comparison:

[code]

So the `-std=c++11` flag will be added for macOS versions with a *floating point* value greater than or equal to 10.12—e.g. 10.12, 10.13, 10.2, 10.3, 10.4, 10.5, 10.6, 10.7, 10.8, 10.9—but not for 10.10 or 10.11. Surely this isn't what was intended. The

[2018-05-25 20:30] TeBoring commented on #4683
You are correct. Could you send us a PR for that?

[2018-05-25 20:37] ryandesign commented on #4683
I am not a Python programmer and don't know how to do a version comparison there. I have also never looked at protobuf code before and don't know what the fix should be. Should the flag be added on 10.12 or later, as it was written? Or should it be 10.9 or later? What will be done for the 3.6.x branch, where [as I understand it](https://github.com/google/protobuf/issues/2780#issuecomment-352557942

[2018-05-25 20:42] TeBoring commented on #4683
Yeah, I think we should unconditionally add the flag now.

[2018-05-25 21:29] hchosc opened #4685 "iOS generated code for descriptor.proto, Descriptor.pbobjc.h not found"
Generated code for descriptor.proto doesn't exist. This exists for Java.

[2018-05-26 00:51] xfxyjwf commented on #4680
The problem of such options is that it adds complexity to both the implementation and the API surface, and it will become a lot worse when multiple options get added and can affect with each other (which is very likely if we are too liberal in adding options). So in general we do not accept new options unless it's necessary to address a severe problem.

In this case I would suggest you rename the

[2018-05-26 04:59] taoxinyi opened #4688 "What is serialized in python3 cannot be deserialized in Js"
The .proto file
[code]
Serialize this ChatMessage instance in python3
[code]
[code]
`18,141,1,8,3,18,4,84,97,111,66,34,55,47,109,101,100,105,97,47,117,115,101,114,47,112,104,111,116,111,47,50,48,49,54,47,49,49,47,50,52,47,81,81,229,155,190,231,137,135,50,48,49,54,49,49,50,51,50,48,50,56,53,56,46,112,110,103,40,190,206,163,216,5,50,42,109,101,100,105,97,47,117,115,101,114,47,51,47,229,181,140,229,1

[2018-05-26 13:41] Kixunil commented on #4203
Sorry, to reply that late, I forgot to write. I've resolved it by finding out that our other team changed cmake files in such a way that it broke our binary (but not others/their binaries). I managed to get it working. I assume this is somehow related to linking, as you wrote.

Unfortunately, I don't know exactly what changed because I'm not an expert in cmake. (I just blindly edited our cmake fil

[2018-05-28 07:00] zhailei2014 opened #4689 "[BUG][C++] a double value SerializeToString,and then ParseFromString will failed."
A double var that the right of the decimal places is zero (for example 5.0)  SerializeToString,
Then ParseFromString you will get the wrong result.

[2018-05-28 09:02] vexdev opened #4690 "[Java] Merging bool fields"
When using the `mergeFrom` method there seem to be an inconsistency between the documentation and the actual behaviour when merging `bool` primitives.

The documentation for `mergeFrom` states:

While the actual generated code looks like:

[code]

Therefore the merge happens only if the other message has a true value.

Probably the documentation should be extended or the generated code should be m

[2018-05-28 15:33] thomasvl commented on #4685
Not all the languages ship the generated file for `descriptor.proto`, the ones that do, do so because the use them within the runtime support for the library.  Objective C is one of the languages that doesn't need them (and doesn't capture the binary descriptor blob either), so the file is left of to cut down on the size runtime support.  If you have a need for the types, you can always ship gener

[2018-05-28 16:27] iyernaveenr commented on #4670
I second whbruce's comment above.
@whbruce How about using 3.5.1.1 instead of 3.4.x? I tried 3.5.1.1, and it worked.

[2018-05-29 02:48] zhengchengbin610 opened #4691 "String field contains invalid UTF-8 data when parsing a protocol buffer"
Hi  all,
I  use java client send a  pb buffer data to c++ server ,but when parse the pb buffer appear exception,
I  find the java use a unicode string code default . how and where to set the java protobuf use UTF8 encode?

the  log ：
[libprotobuf ERROR google/protobuf/wire_format_lite.cc:629] String field 'MqttPayload.header' contains invalid UTF-8 data when parsing a protocol buffer. Use the 'byt

[2018-05-29 06:37] sheepdreamofandroids commented on #976
I had a similar case where I needed to send a tiny bit of context before streaming. In my case it was just two bits so I ended up creating 4 methods but still, ugly....
Maybe a special case where the main parameter is a Stream it could be optionally be prefixed with a head and suffixed with a tail?

[2018-05-29 14:10] happyLiMing commented on #4243
Yes, lucaswiechmann, I have got it.

[2018-05-29 14:10] #4243 closed

[2018-05-29 15:43] ryandesign commented on #4683
Please reopen. That commit only changed master. What about the 3.5.x branch which, if I understand correctly, is intended not to require C++11 yet?

[2018-05-29 16:18] acozzette commented on #4203
No problem, I'm glad you were able to get it working!

[2018-05-29 16:18] #4203 closed

[2018-05-29 17:33] xfxyjwf commented on #4690
It seems you are using proto3. In proto3, a bool field is considered set only if its value is true.

[2018-05-29 23:36] #4649 closed

[2018-05-30 10:51] jasminezz opened #4700 "add python caffe layer error"
When i Add a new python caffe layer, if protobuf version=3.1.0 everything is ok. But When I change to version=3.5.0, I get the error:
*** Aborted at 1527676860 (unix time) try "date -d @1527676860" if you are using GNU date ***
PC: @     0x7fd3fb5ffd53 std::_Hashtable<>::clear()
*** SIGSEGV (@0x9) received by PID 19443 (TID 0x7fd469f2bb00) from PID 9; stack trace: ***
    @     0x7fd4670234b0 (unk

[2018-05-30 15:57] javierholguera opened #4701 "How to validate a new version of a schema against a previous one?"
If I have schema like this

[code]

Let's say that I'm evolving this schema and I accidentally do these changes:

[code]
How can I know that the changes that I've done are not compatible with the previous version of the schema? Assuming I had the previous stored somewhere to compare against a newer version.

[2018-05-30 17:41] TeBoring commented on #4655
We manually copy the LICENSE file into this folder when building c extension package.

[2018-05-30 17:41] #4655 closed

[2018-05-30 17:44] TeBoring commented on #4645
merged into master and 3.6.x

[2018-05-30 17:44] #4645 closed

[2018-05-30 18:41] xfxyjwf commented on #4701
There isn't such a tool available as far as I can tell. It sounds useful though.

[2018-05-30 18:50] xfxyjwf commented on #4689
The following two lines are incorrect because protobuf data is not null-terminated strings.
[code]

[2018-05-30 18:50] #4689 closed

[2018-05-30 20:10] iKBAHT commented on #1231
Any progress on this in 2k18?

[2018-05-30 21:33] alexeagle commented on #1231
Under Bazel, we have a `ts_proto_library` rule in http://tsetse.info/api/protobufjs/ts_proto_library.html
which generates the `.d.ts` files for typechecking. It's very simple to add this as a dependency of a `ts_library`.

This uses https://github.com/dcodeIO/protobuf.js#pbts-for-typescript under the covers. If you don't use Bazel, you could use that library directly to generate `.d.ts` files, ass

[2018-05-31 06:30] rnburn opened #4704 "Protobuf crashes when building with bazel and gcc-8 on OS X."
Here are the details of my environment:
[code]
[code]

[code]
(bazel and gcc installed from homebrew)

I attached a minimal example project. To build run
[code]
Note the `g++-wrapper` script is to work around https://github.com/bazelbuild/bazel/issues/5090

This is where the build crashes
[code]

And here's the backtrace from lldb
[code]
[protobuf-crash.zip](https://github.com/google/protobuf/file

[2018-05-31 11:43] christophsturm commented on #3742
Btw kotlinx.serialization supports protobuf already without any code generation.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-31 14:48] banshee commented on #3742
@christophsturm that's interesting, but it doesn't seem like it really addresses the issue.  The problem is that you usually start with a .proto file that you really do want to use for code generation, and it looks like there's only partial support for protobuf anyway - https://github.com/Kotlin/kotlinx.serialization/issues/67.

[2018-05-31 14:57] jtattermusch opened #4705 "Building using "./autogen.sh; ./configure; make" with older compiler fails because -std=c++11 is not set"
E.g. failures here (clang3.5, clang3.6, clang3.7, gcc4.8):

https://source.cloud.google.com/results/invocations/889e43b5-a2f7-4bc9-b12b-2a56bd3df701/targets/github%2Fgrpc%2Faggregate_tests/tests

[code]

[code]

[2018-05-31 14:58] jtattermusch commented on #4705
FYI @acozzette  @TeBoring

[2018-05-31 15:17] christophsturm commented on #3742
yes it has a different focus and i would love to see kotlin code generation in protobuf.

[2018-05-31 15:45] markthegrea commented on #1717
I am assuming that the 2.7 jar is what we need to bridge this gap.  Is there any place to download it?  I can not seem to get the project to open in Eclipse/Maven.

[2018-05-31 15:56] almothafar commented on #3781
It is Java 10 here and I'm still getting any news?

[code]

[2018-05-31 16:27] crazed commented on #4165
I also got this with the `es6` output style. Everything works fine with `commonjs` though.

[2018-05-31 17:12] acozzette commented on #4705
I just sent out #4706 which should hopefully fix this.

[2018-05-31 20:37] ryanrhee commented on #1889
Any updates?

[2018-05-31 20:55] xfxyjwf commented on #4704
I plan to remove this js_embed binary from our repository. That should help with this issue though I don't know why it crashes at all..

[2018-06-01 02:38] tnavda opened #4708 "protoc has issues with output paths and plugin paths with Windows 10"
Both issues in command_line_interface.cc version 3.5.1
Both issues were replicated by running the project in Visual Studio.
Command line arguments used in VS
`"--cpp_out=blah" "--grpc_out=blah" "--plugin=protoc-gen-grpc=grpc_cpp_plugin.exe" --proto_path=C:\code\grpc\grpc\examples\protos\ helloworld.proto`

1.  This keeps relative paths for out directories from working.  At line 904
`if (HasSuffixS

[2018-06-01 04:47] jtoy commented on #1594
just tried on jruby and Mac, this is still not working it seems.

[2018-06-01 07:50] jtattermusch commented on #4705
I created https://github.com/google/protobuf/pull/4710 to upport to master, but otherwise this can be considered fixed.

[2018-06-01 07:50] #4705 closed

[2018-06-01 08:09] beltagymohamed opened #4711 "yocto project building errors for protobuf 3.4.x"
When building an image using Yocto Rocko, and meta-openembedded layer building protobuf fail with the following error:
`WARNING: protobuf-3.4.1+gitAUTOINC+b04e5cba35-r0 do_fetch: Failed to fetch URL git://github.com/google/protobuf.git;branch=3.4.x, attempting MIRRORS if available
ERROR: protobuf-3.4.1+gitAUTOINC+b04e5cba35-r0 do_fetch: Fetcher failure: Unable to find revision b04e5cba356212e4e8c6

[2018-06-01 09:15] gunli opened #4712 "How can I compile .proto files in PHP?"
Hi there,
    In my project, I use protobuf to define the data schema. Before reporting data to the server, users need to submit a .proto file to our web server written in PHP, and web server will validate the .proto file to check if it is compliance with out data specification. I know how to parse the .proto file with C++ importer, but there is no PHP importer, need I write a PHP extension? or is

[2018-06-01 11:03] beltagymohamed commented on #4711
https://github.com/openembedded/meta-openembedded/issues/82 here is to patch to fix it

[2018-06-01 11:03] #4711 closed

[2018-06-01 17:00] cretz commented on #3742
I am toying around with implementing this. The ideal situation would be to generate all the required data classes (yes, that means immutable and sealed hierarchies for oneofs) and abstract the sizing, marshalling, and unmarshalling via multiplatform expect/actual classes and defer to existing protobuf serialization code for the three primary targets (JVM, JS, native). Maybe could have hand written

[2018-06-01 18:00] xfxyjwf commented on #4704
https://github.com/google/protobuf/pull/4709 is merged to master. Please check again.

[2018-06-02 09:31] dcarp commented on #4008
@carun You could give https://github.com/dcarp/protobuf-d a try.
Please report there any issues you may have.

[2018-06-02 09:34] iniside opened #4715 "clang libc++ recipe for target 'protoc' failed, undefined reference to `vtable for __cxxabiv1::__si_class_type_info'"
I'm trying to build protobuf from source using clang 5.0.

My setup:
clang 5.0
libc++ 5.0
WSL ubuntu 16.04
protobuf 3.6.x (github clone).

First I'm doing:

`./configure CC=clang-5.0 CXX="clang++-5.0 -std=c++11 -stdlib=libc++" CXXFLAGS='-stdlib=libc++' LDFLAGS='-stdlib=libc++' --disable-shared'`

I also tried other variants like pointing to my custom build libc++, specifing -lc++ -lc++abi etc.

Th

[2018-06-02 12:52] rockyzhengwu opened #4716 "python3 got an unexpected keyword argument 'serialized_options'"
use the protobuf in python3 on ubuntu14.04 ,  how to fix this ?
I delete all the serialized_options in the py file and fix this but i can't delete this every time .

[code]

[code]

[2018-06-02 16:53] rnburn commented on #4704
Thanks @xfxyjwf. It doesn't crash on js_embed anymore, but now protoc crashes running
[code]

[code]

[2018-06-02 19:45] nehaljwani opened #4717 "Unresolved symbol errors when linking libprotobuf v3.5.2 dynamically on Windows"
[code]
The one related to `ExplicitlyConstructed` was initially fixed in #3216 and then broken again with the 'merge' at 09354db1434859a31a3c81abebcc4018d42f2715 (released) and then fixed again in 0400cca3236de1ca303af38bf81eab332d042b7c (unreleased, only in v3.6.0 release candidates)

I am not sure what's the correct solution for the remaining errors. Probably this?:
[code]

[2018-06-02 21:20] DJViking commented on #3903
This is a very much needed change. Currently google protobuf is the only dependency we use that still has not been modularized.

[2018-06-03 01:41] igorpeshansky opened #4718 "Throw exception in Any.encode"
The following reliably crashes all three of ruby-2.2.7, ruby-2.3.4, and ruby-2.4.1 for me:
[code]

Here's the full output for ruby-2.2.7. Happy to provide the output for other rubies and attach the crash reports if it helps:
[code]

[2018-06-03 21:17] #4715 closed

[2018-06-04 00:06] bootrino opened #4721 "Python 3 - Unicode errors reading various METADATA.pb files with Python"
I'm cross posting this because I don't know if it is a problem with protobuf or a problem with Google fonts.

If anyone can help it would be much appreciated.

Here is the issue:

https://github.com/google/fonts/issues/1591

[2018-06-04 01:27] zhengchengbin610 opened #4722 "NDK-build compile protocol-cpp-3.5.1 failed"
Hello everyone, we plan to use protocol buffer, but during the verification process we found that the java version used between Android and cpp doesn't work well with the string type, and there will be coding problems. So now we plan to change the cpp version to write jni for communication, but when porting cpp source code, it has been reported incorrectly and cannot be solved. It has been botheri

[2018-06-04 03:01] rnburn commented on #4704
My guess is this has to do with the initialization of the global variable [kKeywords](https://github.com/google/protobuf/blob/master/src/google/protobuf/compiler/cpp/cpp_helpers.cc#L94)

[2018-06-04 08:32] IronsDu opened #4723 "Segmentation fault of google::protobuf::Arena::OnArenaAllocation"
[code]

gcc :
 (Ubuntu 7.3.0-16ubuntu3~16.04.1) 7.3.0

System :
Linux PC-201803231633 4.4.0-17134-Microsoft #81-Microsoft Sun May 20 01:14:00 PST 2018 x86_64 x86_64 x86_64 GNU/Linux

ldd ./a.out:
[code]

[2018-06-04 12:42] arajeeva commented on #3694
@liujisi I am running into similar issue (https://github.com/grpc/grpc/issues/15604) when trying to use GRPC with protobuf-lite? I am currently using GRPC_USE_PROTO_LITE=true to build GRPC with protobuf-lite. Are there other options that needs to be enabled?

[2018-06-04 14:38] arthur-tacca commented on #4723
It looks like you're mixing up different versions of the library:

 * `/mnt/d/private/vcpkg/buildtrees/protobuf/src/protobuf-3.5.1` is version 3.5.1 (presumably!)
 * `/usr/lib/x86_64-linux-gnu/libprotobuf.so.9` is the operating-system supplied version, which for Ubuntu 16.04 is protobuf 2.6.1.

[2018-06-04 17:04] mammenj opened #4724 "generated code does not compile"
[code]
----
commented code is autogenerated - does not compile but code below commented code works
[code]

[2018-06-04 17:07] xfxyjwf commented on #4724
For go protobuf questions, please post it to https://github.com/golang/protobuf

[2018-06-04 17:07] #4724 closed

[2018-06-04 19:13] BSBandme commented on #2964
Just added one protoc plugin target for changing proto2 to proto3 in benchmark directory. To use that plugin:

[code]

The output proto3 proto file name is the same as input proto2 file, So the output directory should be different with input one

[2018-06-04 21:29] nodirt commented on #4680
thanks

FWIW the context was crbug.com/846509

[2018-06-04 21:29] #4680 closed

[2018-06-05 02:17] IronsDu commented on #4723
@arthur-tacca thanks, I will think why.

[2018-06-05 02:35] IronsDu commented on #4723
@arthur-tacca Thank you.
I modity `target_link_libraries(xxx protobuf)` to `target_link_libraries(xxx protobuf::libprotobuf-lite protobuf::libprotobuf)`, not crash.

[2018-06-05 02:35] #4723 closed

[2018-06-05 08:27] wvxvw opened #4726 "Undocumented options syntax"
[code]
This shouldn't parse neither as v2 nor as v3, and yet it does, and some code apparently relies on this being possible.  It is really frustrating to discover all these "gotchas" after few months of having written a parser to the specification...

Not only `option (foo.bar) = { }` is invalid as of v3 language specification, but `additional_bindings { }` is invalid in principle, in any specifi

[2018-06-05 11:49] aehlig opened #4727 "Please move from native to Skylark rules for external git/http repositories"
Bazel is planning to move away from native rules for external repositories to Skylark rules, mainly because bundling every version control system in bazel does not scale. As part of this effort, we plan to submit https://bazel-review.googlesource.com/c/bazel/+/55932 soon, which will cause bazel by default to insist that the skylark versions the git and http rules for external repositories be used.

[2018-06-05 14:11] carlpartridge opened #4728 "Ruby 2.4.4 Alpine 3.7 grpc 1.12 seg fault error"
### What version of protobuf and what language are you using?
grpc (1.12.0)
google-protobuf (3.5.1.2)
ruby 2.4.4

### What operating system (Linux, Windows, …) and version?
 Alpine 3.7

### What runtime / compiler are you using (e.g. python version or version of gcc)
 In dockerfile we RUN apk --update ... add ... gcc ...
(full dockerfile below)

### What did you do?
Spinning up a kubernetes cluste

[2018-06-05 15:56] carlpartridge commented on #4460
I am having a very similar issue:
https://github.com/google/protobuf/issues/4728

[2018-06-05 21:32] zunger-humu opened #4731 "Missing mojo in Method and ServiceDescriptors"
I'm spinning up gRPC servers, and have discovered some unpleasant surprises in both MethodDescriptor (across the board) and in the stub classes which the Python protoc generates:

- MethodDescriptor has no information about whether the method is input- or output-streaming! (And from reading the protoc code, it doesn't seem to be stored anywhere in the descriptors)

- Python-specific issue: The gen

[2018-06-05 22:19] xfxyjwf commented on #4731
I think the existing client_streaming/server_streaming field in MethodDescriptorProto is used for exactly this purpose:
https://github.com/google/protobuf/blob/master/src/google/protobuf/descriptor.proto#L278-L281

For the missing descriptors in generated FooStub/FooService classes, I think that's a grpc issue and needs to be addressed to the grpc repo?

[2018-06-05 22:27] zunger-humu commented on #4731
For MethodDescriptor, it looks like you're right -- but the Python
MethodDescriptor class doesn't expose those fields! So this is py bug, not
a cross-language issue, and a much simpler one.

For the lack of generated descriptors, I think this overlaps the grpc and
proto repositories -- in particular, a key step would be to have
SymbolDatabase be aware of stubs. Is this part of the mainline proto c

[2018-06-06 02:35] ShamsChu opened #4732 "Fatal Exception: java.lang.NoSuchMethodError"
Hi, this is my crash report.

Fatal Exception: java.lang.NoSuchMethodErrorNo static method ()Z in class Lcom/google/protobuf/CodedOutputStream; or its super classes (declaration of 'com.google.protobuf.CodedOutputStream' appears in base.apk) Raw Text
--
  | com.google.protobuf.CodedOutputStream$ArrayEncoder.writeUInt32NoTag (SourceFile:1322)
  | com.google.protobuf.CodedOutputStream$ArrayEncoder.w

[2018-06-06 04:56] xfxyjwf commented on #4732
The exception doesn't seem to have the method name? "No static method ()Z" but there is no method name there.

Could it be the apk being corrupted if it happens to one user only?

[2018-06-06 05:37] TeBoring commented on #4460
I tested 3.6.x branch. Unfortunately, the linux-x86_64 gem still doesn't work on alpine.
The workaround is to install a native gem which is built on target platform:
[code]
Feel free to reopen this issue if this workaround is unacceptable.

[2018-06-06 06:57] TeBoring commented on #4210
@apolcyn there is a similar issue in #4460
The linux x86_64 gem doesn't work on alpine. But alpine built gem can work on alpine.
Is it possible to force cross compiling even for x86-64?

[2018-06-06 07:20] fly-studio commented on #4458
Native `serialize` function made php crashed When used a C extension.

[code]

So I `implements \Serializable` to `SomeMessage` And add
[code]

It can works fine in `serialize($message);`

**BUT**, PHP crashed in 'unserialize()', I have no idea to fix `function unserialize($data)`, Because PHP crashed before call `unserialize($data)`

[2018-06-06 12:31] wiewioraseb opened #4733 "Is it possible to use 'import_style' for Typescript"
I want to have access to types when I get statically generated protobuff files.

Running code:
`protoc -I=Protos --js_out=import_style=es6,binary:Javascript Protos/MessageEvnelope.proto Protos/Messages.proto`

Generates .js files that are not easily imported in Typescript. When:
`import { SomeMessage } from './Messages_pb';`
I got error:

To overcome this, I have to use `require('./Messages_pb')`

[2018-06-06 13:32] schiffermtq commented on #4670
Restoring the 3.4.x branch (e.g. to the v3.4.1 tag) would be desirable, so projects referencing it (like the mentioned OpenEmbedded Rocko release) can be built without changes.

[2018-06-06 16:16] michaelbausor opened #4734 "PHP FieldMasks json serialization is inconsistent for empty object"
An empty FieldMask is serialized to `""`, but this does not deserialize to an empty FieldMask object. This PHPUnit test fails:

[code]

[2018-06-06 19:22] chukrum47 opened #4735 "Base64Unescape and Base64Escape do not inverse one-another on Android devices"
Hello,

It appears that the `google::protobuf::Base64Unescape` and `google::protobuf::Base64Escape` methods do not correctly inverse each other when run on an Android device. I've included a minimal example below.

[code]

Other information:
Device: Samsung Galaxy S7, Android version 7.0 (arm64-v8a architecture)
Protobuf: v3.5.1
NDK: r15c

[2018-06-06 20:56] carlpartridge commented on #4460
Hello, thanks for looking into this.

Your workaround is not working for us.  Same segfault error.  Here is our dockerfile:
[code]

Anything else you can think of trying?

[2018-06-06 21:01] TeBoring commented on #4460
Did you try ```ruby -e 'require "google/protobuf/any_pb"'``` after you install the gem?

[2018-06-06 21:31] TeBoring commented on #4460
The segmentation happens after the docker file is executed or at the place of calling ```ruby -e 'require "google/protobuf/any_pb"'```?

[2018-06-07 00:20] TeBoring commented on #4712
What is c++ importer?

[2018-06-07 01:03] stefanseefeld opened #4737 "using `import` with non-local paths yields unexpected results with C++ code generation."
I'm trying to include a proto file from another directory using `import "foo/bar.proto";`, which results in code generation that somehow incorporates the "foo" directory name in the generated code (but only in references, not actual declared names).
This is entirely unexpected (as well as undocumented as far as I can see), as there also is the "module" spec which is used to wrap declarations into

[2018-06-07 16:21] michaelbausor opened #4738 "PHP nested types not found in descriptor pool"
Upgrading to protobuf 3.6.0 causes existing protobuf classes that use the "_" separator for nested types to not be found in the descriptor pool. This breaks any users of PHP protobuf that have nested message types and upgrade to 3.6.0

cc @TeBoring @bshaffer

[2018-06-07 16:35] OussamaElgoumri opened #4740 "[ PHP - Internal\Message ] serializeToJsonString() syntax error"
i'am using dialogflow v2 api

when i serialize the `DetectIntentResponse` to json it return an invalid json,

`{"queryText":"today's weather","languageCode":"en","parameters":{"date":"","geo-city":""},"allRequiredParamsPresent":true,"fulfillmentText":"Sorry I don't know the weather","fulfillmentMessages":[{"text":{"text":["Sorry I don't know the weather"]}}],"intent":{"name":"projects\/kwerio-308a

[2018-06-07 20:00] saturnism commented on #3781
can we also add a flag to turn off unsafe completely regardless of java version? this would be useful for graal as well.

[2018-06-07 21:17] khuzemap commented on #67
@xfxyjwf, wonder if you got chance to take a look at the change.

[2018-06-08 01:44] gunli commented on #4712
@TeBoring
Hi TeBoring,
Importer is a class defined in google/protobuf/compiler/importer.h. In C++, we can use this class to compile .proto files without generating codes(and this is what I want, 'cause my users will submit a lot of .proto files, code generation is not a good idea for me). And then use the FileDescriptor to traverse all the messages and use the FieldDescriptor the taverse all the f

[2018-06-08 01:48] TeBoring commented on #4712
Is there any way for you to get the serialized descriptor proto info?
On Thu, Jun 7, 2018 at 18:45 gunli <notifications@github.com> wrote:

[2018-06-08 02:08] gunli commented on #4712
@TeBoring
Yes, there are 2 classes name "FileDescriptor"  and "FieldDescriptor" in google/protobuf/descriptor.h， we can use the functions of that 2 classes to get all the info we need, such as message name, field name, field type, even if the comments of a message or a field.

[2018-06-08 02:54] kkc0923 opened #4742 "[C#] Custom factory for nested type"
Hi. I investigated that can Protobuf C# generate all type from user-specific factory funtion.

It seems that Protobuf has already MessageParser<T>(Func<T> factory). But it handles only single type T. If my type T has nested types, I can't specify factory function of nested type:

MyTypeA
{
    MyTypeB fieldB;
    MyTypeC fieldC;
}

How to specify factory function of MyTypeB when using MessageParse

[2018-06-08 03:50] kkc0923 commented on #4742
Oh, It seems that Protobuf allocate internal stream class at each deserialization call (maybe CodedInputStream?)

Is there any method for zero-allocating serialization/deserialization?

[2018-06-08 13:54] opello commented on #4670
A workaround is to add a `protobuf_3.4.1.bbappend` that changes the `SRC_URI` to `git://github.com/google/protobuf.git;tag=v3.4.1`.

[2018-06-08 15:50] balister commented on #4670
FYI there is a patch for this problem on the list. We use the mailing list for problem like this, not github issues.

[2018-06-08 16:43] #4738 closed

[2018-06-08 18:13] TeBoring commented on #975
I think this is obsolete. Right now we can build python wheel on windows.

[2018-06-08 18:13] #975 closed

[2018-06-08 18:14] xfxyjwf commented on #1154
vcpkg was added in https://github.com/google/protobuf/pull/3825

[2018-06-08 18:14] #1154 closed

[2018-06-08 18:28] #832 closed

[2018-06-08 18:28] #1647 closed

[2018-06-08 18:29] acozzette commented on #1756
@velavokr This is fixed now, thanks for reporting this!

[2018-06-08 18:29] #1756 closed

[2018-06-08 18:32] anandolee commented on #874
There's an option as_one_line in text_format.py

[2018-06-08 18:32] #874 closed

[2018-06-08 18:37] anandolee commented on #1965
ping @haberman @TeBoring?

[2018-06-08 18:38] #2093 closed

[2018-06-08 18:39] haberman commented on #644
Closing as this appears to be fixed.

[2018-06-08 18:43] TeBoring commented on #1998
I think this obsolete.

[2018-06-08 18:43] #1998 closed

[2018-06-08 18:58] #2119 closed

[2018-06-08 19:02] anandolee commented on #2249
@xfxyjwf  Do you know if the helper is added?

[2018-06-08 19:03] xfxyjwf commented on #2315
Note that these errors without line number come from a different staging of proto compilation where the DescriptorPool is validating a already parsed FileDescriptorProto. The line numbers are much harder to recover at that stage and likely doesn't worth the effort to support.

[2018-06-08 19:07] jeffdeville commented on #4460
@TeBoring - I've recreated our bug in minimal form, including an attempt to follow the workaround @larribas demonstrated.

https://github.com/BenefitsDataTrust/tmp-protobuf-segfault

To replicate, just clone, drop a creds.json file in the repo, and docker build .

[2018-06-08 19:31] jeffdeville commented on #4460
(I added your workaround suggestion in the ./teboring subdir if you want to check that out as well.)

[2018-06-08 21:28] djudd-stripe commented on #1965
FWIW - it's not just a question of removing an assertion, because we declare Ruby constants with the names of the enum values, and Ruby doesn't allow declaring constants with an initial lowercase letter. This still seems to me like a bug in the Ruby generator, but one that might require breaking API changes to fix. (Alternatively, maybe there's a way to just warn + avoid declaring the constants in

[2018-06-08 22:45] BSBandme commented on #2456
Maybe the new [IteraterDirectByteBufferDecoder](https://github.com/google/protobuf/blob/master/java/core/src/main/java/com/google/protobuf/CodedInputStream.java#L3092) is a solution for you

[2018-06-08 22:45] #2456 closed

[2018-06-08 22:55] xfxyjwf commented on #2055
We did a Java API review for this and a new wrapper types API was added to improve the usability. You can now do:
[code]

[2018-06-08 22:55] #2055 closed

[2018-06-08 22:59] xfxyjwf commented on #1974
The concern about supporting Any in lite is that Any will leak message names which the author of the proto may not want to. This may or may not be a concern to different use cases but we need to sort this out before introducing the feature.

[2018-06-08 23:19] xfxyjwf commented on #2249
The comment is preserved, but you will need to get it from the 'leading_detached_comments' field.

For example:
[code]

The generated descriptor data:
[code]

[2018-06-08 23:19] #2249 closed

[2018-06-09 05:13] simplesteph opened #4743 "Alternative to -I in protoc ?"
Just an idea I have. Wondering the feasibility. Unfortunately I can't really implement this as my cpp knowledge is close to 0.

I'm wondering if it could be worth using an empty file `__protoroot__` as a self discoverable `-I` flag.

`__protoroot__` under `src/` would implicitly add `-I src/` as a compiler option and would save a lot of headache to figure out the correct `protoc` command to genera

[2018-06-09 12:31] sridharsundaram opened #4744 "OneofOptions extend in proto3 lite gives error."
This piece of unittest_custom_options.proto gives an error in proto3 lite
"Extensions in proto3 are only allowed for defining options"

extend google.protobuf.OneofOptions {
  int32 oneof_opt1 = 7740111;
}
--------------------------------------------
Error can be traced to   descriptor.cc in method
``void InitAllowedProto3Extendee()``

In lite, this has

`const char* kOptionNames[] = {
      "File

[2018-06-11 02:52] kkkondo opened #4745 "the latest release v3.5.1?"
Hi
Is v3.5.1 the latest release?
(according to https://github.com/google/protobuf/releases)

[2018-06-11 10:48] rok-povsic opened #4746 "[PHP] Custom default value and JSON serialization"
Hello,

We have a proto message that has a float with custom default value (set with `utils.cl_default_float`) of 1.0.

The problem is that `serializeToJsonString` won't serialize a float that has a value of 0.0, because serialization skips all floats with a default 0.0 value,which is done here: https://github.com/google/protobuf/blob/00d32539c6aa0c4efe9577561a00f443edd9a417/php/src/Google/Protobu

[2018-06-11 11:56] thomasvl commented on #2249
@xfxyjwf The catch is you have to know what the first item is, what is there isn't a `syntax` entry in the file?  Do they still end up there or do the end up on what ever was first in the file?  This is where documenting it in some way would be nice.

[2018-06-11 15:25] mwei0210 opened #4747 "Issue when there isn't any message but only service"
if there is only service in proto files but not message, js_out would still generate goog.object.extend() which would cause error when compiled.

https://github.com/google/protobuf/blob/ed4321d1cb33199984118d801956822842771e7e/src/google/protobuf/compiler/js/js_generator.cc#L3481

[2018-06-11 16:33] lukecwik opened #4749 "[Java] Proto generated classes do not shade easily due to shade plugin corrupting internal string constants in generated code"
It is a common pattern for the proto package path and the java package to be the same string when generating protobufs. This typically causes issues when shading generated proto classes because shading tools search and replace string constants within classes that match package path strings with the relocated variant.

For example `org.apache.beam.model.pipeline.v1.AccumulationMode.Enum` was change

[2018-06-11 16:35] ejona86 commented on #4749
CC @garrettjonesgoogle

[2018-06-11 16:44] ejona86 commented on #4749
This seems it would always be a problem when shading protobuf, because either the java package name matches the proto package (which should not be changed during shading) or the `option java_package` value (which may be fine to change, with the exception of length changing problems).

I do wonder whether the shading tool's over-zealousness is widespread. This issue was experienced with Gradle's sh

[2018-06-11 16:51] acozzette commented on #4745
Yes, 3.5.1 is the latest. I am working on releasing 3.6.0 but it is not quite ready yet.

[2018-06-11 16:51] #4745 closed

[2018-06-11 17:11] manish2193 opened #4750 "Getting all the fields defined in Enum block in multiple proto files"

[2018-06-11 17:25] manish2193 opened #4751 "I want all to extract the name of all enum defined in multiple proto files"
Hi

I am very new to the google proto buf, I am stuck with a requirement to get the name of all the enum keys defined in multiple proto files. I wanted to later store this in list.

Like for below proto files I want to extract like:
DealType.TYPE
DealType.HOUSE_HOLD
sellerType.BUY
sellerType.SELL

report.proto
message Reporting {
    enum DealType {
        DEAL_TYPE = 0;
        HOUSE_HOLD = 1

[2018-06-11 17:46] zaneclaes commented on #644
@haberman I don't think this is really "fixed." There is limited experimental support for Android alone. It still doesn't work on many platforms, and even those it does work on require a lot of voodoo and undocumented tweaking to use.

[2018-06-11 18:00] xfxyjwf commented on #644
@zaneclaes Can you help give a summary on what's working and what's not working?

[2018-06-11 18:12] TeBoring commented on #4460
@jeffdeville, thanks, I'll take a look.

[2018-06-11 20:29] lukecwik commented on #4749
It turns out its not always a problem because I decompiled the class and looked at what changed and only one of the many package strings were replaced. Since the field is being interpreted as ISO 8859-1 to get access to the raw bytes, I assume the string matching doesn't always get a hit on the descriptor field. You just have to get unlucky like I did.

[2018-06-11 20:34] #2964 closed

[2018-06-11 20:36] #2709 closed

[2018-06-11 20:37] anandolee commented on #2694
Closing for no response. Feel free to reopen if can provide more info

[2018-06-11 20:37] #2694 closed

[2018-06-11 20:39] acozzette commented on #2629
I'm cleaning up some old issues. Let me go ahead and close this one because while it's an interesting idea, I don't think we will be able to support this kind of feature.

[2018-06-11 20:39] #2629 closed

[2018-06-11 20:39] #2728 closed

[2018-06-11 20:42] #2604 closed

[2018-06-11 20:44] anandolee commented on #2920
Have added warnings for duplicate register a few month ago. We can't reject duplicated register which will break a lot current projects. Thus we choose to raise warnings

[2018-06-11 20:44] #2920 closed

[2018-06-11 20:45] haberman commented on #2128
@xfxyjwf Is the syntax spec checked in anywhere? What actually needs to be fixed here?

[2018-06-11 20:46] BSBandme commented on #3019
Close for now as the protobuf version is old. Feel free to reopen if the bug still exists

[2018-06-11 20:46] #3019 closed

[2018-06-11 20:48] #2886 closed

[2018-06-11 20:49] #3014 closed

[2018-06-11 20:56] xfxyjwf commented on #2946
Reflection support in JS is not on our roadmap. Support for Any is actively being worked on though. @TeBoring

[2018-06-11 20:56] haberman commented on #3038
Closing since GOOGLE_FALLTHROUGH_INTENDED was removed from the code-base.

[2018-06-11 20:56] #3038 closed

[2018-06-11 21:00] #3265 closed

[2018-06-11 21:00] #3257 closed

[2018-06-11 21:03] #3223 closed

[2018-06-11 21:03] fischman commented on #2920
@anandolee: the behavior that prompted me to file this bug has been the case for many years. Are you saying that a "few months ago" the behavior was changed to execute the reload and issue a warning?
(do you have pointers to CLs or bugs that might tell me more?)
Thanks for following up!

[2018-06-11 21:04] BSBandme commented on #3373
Close for now. If there's still issue feel free to reoepn

[2018-06-11 21:04] #3373 closed

[2018-06-11 21:04] xfxyjwf commented on #3220
This is not going to happen...

[2018-06-11 21:04] #3220 closed

[2018-06-11 21:07] #3463 closed

[2018-06-11 21:09] acozzette commented on #3425
Let me close this issue since there's been no activity in a while, but feel free to reopen it if there's still interest.

[2018-06-11 21:09] #3425 closed

[2018-06-11 21:10] #3151 closed

[2018-06-11 21:11] acozzette commented on #3411
Unfortunately we don't have the resources to support any more languages at the moment, so we won't be able to take on Clojure support.

[2018-06-11 21:11] #3411 closed

[2018-06-11 21:12] xfxyjwf commented on #3449
Bazel has native support for cc_proto_library rule now and you probably should use that native rule instead. We do not indent to support the build extensions in protobuf.bzl longer term.

[2018-06-11 21:12] #3449 closed

[2018-06-11 21:12] #3400 closed

[2018-06-11 21:14] BSBandme commented on #3580
Close for now as it has been a long time

[2018-06-11 21:16] #3376 closed

[2018-06-11 21:16] #3631 closed

[2018-06-11 21:20] BSBandme commented on #3566
I guess in the near future we may not be able to support Lua. Assigned P3 label

[2018-06-11 21:20] #3600 closed

[2018-06-11 21:21] #3472 closed

[2018-06-11 21:22] haberman commented on #3814
Would you be reloading all _pb files, or just the ones that change?

I think it would be difficult to clear some types but not others.

[2018-06-11 21:36] jskeet commented on #644
Those sound like gRPC issues - this issue is about just protobuf, which I believe is in a rather better state for Unity now, although it still requires some code to get reflection working correctly.

[2018-06-11 21:36] acozzette commented on #3202
In C++ this would be undefined behavior, so as @hanbim520 says, you have to check the size yourself before indexing into a repeated field.

[2018-06-11 21:36] #3202 closed

[2018-06-11 21:38] albertRCell opened #4752 "Not able to insert code into generated JAVA files."
Hello,

I'm not sure if this is the right channel to ask this but I've been trying to insert code using the insertion points on my JAVA generated classes and haven't been able to even get the generated classes on my plugin.

Here is what I have so far.

1. My proto file example.proto

[code]

2. I created a java class for my custom pulgin
[code]

3. I then created my bash file to pass in as my plu

[2018-06-11 21:49] acozzette commented on #3644
I'm going to close this issue just to tidy things up. It looks like there were a couple different problems here but they seem to be resolved now.

[2018-06-11 21:49] #3644 closed

[2018-06-11 22:44] cretz commented on #3742
Initial version complete: https://github.com/cretz/pb-and-k. I'll broadcast to Kotlin forum and/or Reddit tomorrow so no need to clutter up this issue discussing. It only has basic features now, but I'll implement more if the project becomes popular.

[2018-06-11 22:51] xfxyjwf commented on #2128
The syntax spec here:
https://developers.google.com/protocol-buffers/docs/reference/proto2-spec

The spec needs to specify where spaces are allowed and where not.

[2018-06-11 22:56] xfxyjwf commented on #3045
We have a release script for pypi release now:
https://github.com/google/protobuf/blob/master/python/release.sh

[2018-06-11 22:56] #3045 closed

[2018-06-11 23:16] zaneclaes commented on #644
Oh, gosh. So sorry; I spent much more time interacting with the gRPC side of this and totally overlooked that this issue was in Protobufs. It seems that this can be closed! Apologies.

[2018-06-11 23:19] xfxyjwf commented on #644
Thanks for the updates!

[2018-06-11 23:19] #644 closed

[2018-06-12 03:38] oggy commented on #3814
I'd ❤️ to be able to just clear everything. Super helpful for Rails-style workflows where you want to unload stuff between dev iterations. We can let the app figure what if anything it needs to reload right away.

[2018-06-12 07:13] tianyapiaozi commented on #1896
Any updates on this feature?

[2018-06-12 09:31] vamsibulusu commented on #4593
Hey, I am a beginner here and was wondering if changing every NULL assigned to a pointer variable to nullptr will solve the problem. If so, how can i go about doing so. Any help regarding the same is appreciated.

[2018-06-12 09:41] vamsibulusu commented on #4661
Hey,
I am a beginner here and would like to contribute to protobuf. I've successfully compiled a few .proto files in  c++. Any help on how to solve this bug is appreciated.
Thanks

[2018-06-12 11:31] amereii opened #4757 "PHP : Segmentation fault"
I have a **Segmentation fault** in PHP 7.1.17 , Centos 7 , libprotoc 3.5.1

## Step to reproduce

[code]

In https://github.com/RooyeKhat-Media/iGap-PHP-Client/blob/d806654165da43b05db5bb867079f51a8716b03f/src/examples/getRoomList.php#L44 we have a **Segmentation fault** when new instance of `\Proto\UserLogin` is created

[2018-06-12 11:34] amereii commented on #4757
.proto file : http://irangit.com/core/iGap-API/blob/master/app/assets/proto/UserLogin.proto#L10-26

[2018-06-12 12:01] amereii commented on #4757
.proto file : https://github.com/RooyeKhat-Media/iGap-API/blob/master/app/assets/proto/UserLogin.proto#L10-L26

[2018-06-12 16:12] JonasVautherin opened #4759 "Passing a parameter to my custom protoc plugin"
I am creating a custom protoc plugin that I call with:

[code]

I have seen that the swift plugin accepts an argument with `--swift_opt`. How can I do that with my custom plugin?

Also, do I have to call it with `protoc-gen-custom`, or is there a way to call it with something like `--myplugin_out=.`, like the other plugins?

[2018-06-12 17:17] #4727 closed

[2018-06-12 17:21] xfxyjwf commented on #4759
Try:
[code]

You can of course replace "custom" with any other name you want.

[2018-06-12 17:21] #4759 closed

[2018-06-12 20:00] ejona86 commented on #4749
Hmm... that sounds incomplete. Since package names are ASCII and strings in protobuf are byte aligned, I'm not sure what source of randomness there may be. Maybe the varint was 0x20 which was interpreted as a space which then matched for replacement?

[2018-06-12 20:29] JonasVautherin commented on #4759
Thanks a lot!

I did not realize I could replace "custom" actually, and I did not manage to find the protoc implementation yet, so I have no clue how the command line is parsed :sweat_smile:.

Working perfectly now :-).

[2018-06-12 22:52] mcos commented on #4107
@TeBoring Has there been any progress on this? I'm trying to upgrade to the `PECL` library for performance reasons, but my `phpunit` tests fail when setting a `oneof` field with the error "Given message does not have correct class".

I'm using both `v3.6.0` of the protobuf pecl extension and `v3.6.0` of the protobuf composer library. Also using both `v1.12.0` of the grpc pecl extension and `v1.12.

[2018-06-13 04:06] andyshi2008 commented on #2502
V3.3.0 build under Ubuntu x64 still has thisproblem

[2018-06-13 08:13] teddy1004 commented on #3925
Ruby 2.5.1 still encounter this issue

[2018-06-13 11:45] hpuac opened #4761 "PHP C extension protobuf message class introspection not possible"
## Issue
When var_dumping, json_encoding or array casting a generated protobuf message class, an `E_USER_ERROR` `"Cannot access private properties."` is triggered in the [protobuf C extension](https://github.com/google/protobuf/blob/master/php/ext/google/protobuf/message.c#L226).
This behaviour is different from PHPs native behaviour and thus diffierent to the behaviour of the protobuf PHP library

[2018-06-13 17:09] blowmage commented on #3925
@teddy1004 What platform are you seeing this on? And what version of google-protobuf are you using? I don't see an error on OS X using ruby 2.5.1 and the latest google-protobuf.

[code]

[2018-06-13 18:13] TeBoring commented on #4212
Done. https://pypi.org/project/protobuf/#files

[2018-06-13 18:13] #4212 closed

[2018-06-13 18:14] TeBoring commented on #1332
done. https://pypi.org/project/protobuf/#files

[2018-06-13 18:14] #1332 closed

[2018-06-13 18:30] TeBoring commented on #4605
fixed in 3.6.0. https://pypi.org/project/protobuf/#files

[2018-06-13 19:05] anandolee commented on #4546
I am closing this issue as duplicated with some issues under gRPC

[2018-06-13 19:05] #4546 closed

[2018-06-13 19:09] anandolee commented on #4444
You can find examples for ListValue() which has null value in json_format_test.py
https://github.com/google/protobuf/blob/master/python/google/protobuf/internal/json_format_test.py#L551

[2018-06-13 19:10] #4605 closed

[2018-06-13 21:22] hpuac commented on #4761
Hey @TeBoring, thank you for your quick response!
We already adjusted our assertion to check the properties over the provided getters.
Nevertheless the behaviour of the C extension is not as intended and I would love to see it getting improved.
I don't really understand your last question. Could you maybe explain it again?

[2018-06-13 22:03] anandolee commented on #4479
The spec is not strong enough for automatic tools, and does not cover everything. The goal is only a guide for users.

[2018-06-13 22:15] anandolee commented on #4480
This should be added in to spec. Are you able to provide a  fix?

[2018-06-13 22:16] #4479 closed

[2018-06-13 22:22] TeBoring commented on #4761
In c extension, ```get_properties``` is called when ```var_dump``` or any operations that transform protobuf message object into array (by design we don't allow message object to be transformed into array). Therefore, the only valid use case for ```get_properties``` to be executed is ```var_dump```.
IMO, ```var_dump``` is only used for debug. When you put your code into production server, there is

[2018-06-13 23:35] anandolee commented on #4367
This is an known issue that we should have fixed on 2016. However when I back to check the fix CL, it was rollback while the owner was on vacation.

@TeBoring will go forward the fix

[2018-06-14 02:54] alexmv commented on #4035
I'd like to second this.  I'd happily contribute to updating it, but the documentation doesn't look to be on github currently -- do you have any way of taking pull requests or diffs for https://developers.google.com/protocol-buffers/docs/pythontutorial and similar docs?

[2018-06-14 03:08] teddy1004 commented on #3925
@blowmage
I'm using `ruby:2.5.1-alpine3.7`
the protobuf version is `3.5.1.2`

[2018-06-14 03:39] thisisme2017 opened #4762 "C++ compiling error C2143"
C++: Microsoft (R) Program Maintenance Utility Version 12.00.21005.1

While nmaking the error below occurs
error log:
json_stream_parser_test.cc
...\protobuf\protobuf-3.5.1\src\google\protobuf\util\internal\json_stream_parser_test.cc : warning C4819: The file contains a character that cannot be represented in the current code page (932). Save the file in Unicode format to prevent data loss
C:\Prog

[2018-06-14 03:45] linjson opened #4763 "JS:using Map type happen error on react-native"
code in react-native:
[code]

[2018-06-14 07:30] grooverdan opened #4764 "travis fixes"
I noticed that the travis builds seem to have stopped.

Thanks for adding ppc64le support in #4401. Travis has a os: linux-ppc64le target that could be used if the CI within Google doesn't have one. I can provide PR.

I also notice the releases on github no-longer use a full set of binaries. Would you be interested in a PR that re-adds those when a tag is pushed? (https://docs.travis-ci.com/user/d

[2018-06-14 11:27] tobiasgies commented on #4761
Hi @TeBoring, while I agree that `var_dump` is unlikely to be used in production, that is just one example of a function that can't be used with proto message objects. In my opinion, casting the object to an array or running it through `json_encode` are *definitely* use cases that we should be able to use in production. Would you agree?

[2018-06-14 15:20] hpuac commented on #4761
In my opinion the main issue is that the C Extension is behaving different than the PHP package.
Things that work with the PHP package are causing an `E_USER_ERROR` in the C Extension.
Also the C Extension is behaving different than plain PHP classes would do.
I guess we all agree that this is not how it should be.
We have now two solutions:

1. Adjust the PHP package needs to be adjusted to follo

[2018-06-14 15:29] arnaud-lb opened #4765 "[PHP] mergeFromJsonString can not unserialize maps with numeric keys"
With the following proto:

[code]

The PHP implementation of protobuf has troubles decoding the following JSON message:

[code]

The error is:

[code]

The cause is that we decode the [JSON as array](https://github.com/google/protobuf/blob/f1911f37f817fb2dddbb07478bdcda526488fc55/php/src/Google/Protobuf/Internal/Message.php#L1159) before parsing it, and that PHP arrays always store numeric keys as

[2018-06-14 15:36] blowmage commented on #3925
@teddy1004 Can you open a new issue with all the details of your platform and the full segfault?

[2018-06-14 16:34] mcos commented on #4761
I'm hitting this issue also. For now, I'm using `serializeToString()` to do `assertEquals()`, but that's not ideal, obviously.

[2018-06-14 16:44] mcos commented on #4107
Also, another discovery: well-known types (`GPBEmpty`, `Timestamp`, etc) in the PECL extension do not extend `Google\Protobuf\Internal\Message` (as would be expected).

[2018-06-14 17:32] xfxyjwf commented on #4762
Protobuf source files use utf-8 encoding. You need to change your IDE's encoding accordingly.

[2018-06-14 17:34] #4401 closed

[2018-06-14 17:43] xfxyjwf commented on #4764
Thanks for offering help! Feel free to send us a pull request. We are abandoning travis for testing (to slow to finish) but using it for release still makes sense to me.

[2018-06-14 20:22] akonradi commented on #4743
Just a drive-by comment since I don't have any say in `protoc`, but I don't know how you'd be able to implement this without scanning every directory in the system for the magic `__protoroot__` file unless you restricted the search to ancestor directories only. Otherwise how would `protoc` know where to look for the `__protoroot__` file?

[2018-06-14 23:41] simplesteph commented on #4743
Any directory while walking from the command to the proto files ?

[2018-06-15 00:21] deidaraho opened #4767 "Cannot find configure file in release source code"
Hello,
Due to some problems my Centos system does not have internet access. I am trying to build a release version from source code according to your [c++ installation](https://github.com/google/protobuf/blob/2.7.0/src/README.md) and [protobuf realse](https://github.com/google/protobuf/releases). However, I cannot skip ./autogen.sh since there is no configure file in the package.
Could I ask for s

[2018-06-15 01:11] thisisme2017 commented on #4762
"nmake unicode=1" does not work. How to change IDE's encoding?

[2018-06-15 02:18] AlonikiX commented on #2612
I don't know how to unpack an Any instance, could you please provide any example?

[2018-06-15 02:49] AlonikiX opened #4768 "How to convert value type to an Any property in node.js"
I have a message which uses an Any property:
message NetworkCommand {
  string command = 1;
  Any paras = 2;
}
`paras` can be a raw value type like integer and string, or a message.

How can I assign an integer or string value directly to the `paras`? And also, how to get the value from the `paras`?

I couldn't find any reference about this, please help.

[2018-06-15 04:42] grooverdan commented on #4764
Ok, I see the maven repos are also missing deployment by looking at http://repo1.maven.org/maven2/com/google/protobuf/protoc/ https://oss.sonatype.org/#nexus-search;gav~com.google.protobuf~protobuf-java

Do you want this restored with travis too? If the internal CI is (meant to be) pushing to maven this would in a bit of a race with travis to use build-zip.sh (pulls from maven) to create zip files

[2018-06-15 10:30] steeve opened #4769 "State of Java Lite?"
The `javalite` branch is at August 2017.
Is it stalled?
What is the state of using Java Lite on Android?

Thanks!

[2018-06-15 18:09] xfxyjwf commented on #4764
@grooverdan I don't think we want travis to automatically push anything to maven. We just need it to build the artifacts.

[2018-06-15 18:14] xfxyjwf commented on #4769
We will move it to its own repository and make a new release for it in Q3.

[2018-06-15 19:02] TeBoring commented on #4761
@tobiasgies, what's your use case for casting the object to an array?
Is ```json_encode``` related to this issue?

[2018-06-15 19:05] TeBoring commented on #4761
@mcos, ```assertEquals`` is a separate issue, right? php implementation also doesn't suppport ```assert Equals```

[2018-06-15 19:57] mcos commented on #4761
It mightn't be fully supported, but `assertEquals` with a protobuf message argument works with the composer library.

[2018-06-15 21:44] steeve commented on #4769
Awesome !
Closing then.

[2018-06-15 21:44] #4769 closed

[2018-06-16 07:03] wangjinhua opened #4771 "JsonPrintOptions does not work for 'google.protobuf.Any' field"
### Problem:
JsonPrintOptions does not work for 'google.protobuf.Any' field.

### Protobuf version:
3.5.1, C++ version

### Symptoms:
I tried to use google::protobuf::util::JsonToBinaryString() to serialize json string to binary data, and then use google::protobuf::util::BinaryToJsonString() to parse the serialized data back to json string, and found the JsonPrintOptions does not work for  'google

[2018-06-16 23:22] xfxyjwf opened #4773 "global std::once_flag variables don't work with Visual Studio"
Symptom: statically built protoc binary check-fails.
https://github.com/google/protobuf/issues/4409
[code]
Cause:
Visual studio compiler bug:
https://developercommunity.visualstudio.com/content/problem/262083/compiler-emits-dynamic-initializer-for-variable-wi.html

Similar bug: https://developercommunity.visualstudio.com/content/problem/1044/compiler-emits-dynamic-initializer-for-constexpr-v.html

[2018-06-18 09:44] nicola-lunghi opened #4775 "Python protobuf dynamic decoding"
Dear protobuf developer,
I have a bunch of different .proto file and I have a data stream coming through MQTT messages.

I need to develop a program (using python) that:

1) get the binary data from the MQTT
2) try to identify the "kind" of protobuf message from the .proto file in a folder
3) decode the message and print the data

I have some questions:

1) is possible from the binary data itself

[2018-06-18 12:13] amereii commented on #4757
@TeBoring Do you have plan to fix it?

[2018-06-18 15:22] rc-matthew-l-weber opened #4776 "release archives"
Wanted to check when a formal archive was going to be posted under releases for 3.6.x?

[2018-06-18 20:35] csharrison opened #4778 "Undefined behavior in google::protobuf::io::CodedInputStream::ReadStringFallback"
See Chromium issue at https://crbug.com/853565 for more details. This was generated from passing fuzzed data into google::protobuf::MessageLite::ParseFromCodedStream.

As mentioned in the bug, looks like it could be integer underflow due to a large limit set in PushLimit. Please see the attached bug for input data.

[2018-06-18 20:38] TeBoring commented on #4757
Sorry, I haven't started to look at it yet. Will investigate later this week

[2018-06-18 20:41] acozzette commented on #4776
I'm working on the 3.6.0 release and will hopefully be able to post the archives and protoc binaries in a GitHub release today.

[2018-06-18 20:41] #4776 closed

[2018-06-18 20:43] #3899 closed

[2018-06-18 20:58] TeBoring commented on #3017
https://github.com/google/protobuf/blob/master/generate_descriptor_proto.sh

[2018-06-18 20:58] #3017 closed

[2018-06-18 21:00] #3340 closed

[2018-06-18 21:01] acozzette commented on #4775
To answer your first question, a serialized protocol buffer does not identify its type, so when you parse a message you have to know what kind of type you're expecting. If you want to be able to parse multiple message types, one easy way to accomplish that is to put all the message types inside a `oneof` field in a wrapper message.

For your second question, unfortunately as far as I know there is

[2018-06-18 21:03] TeBoring commented on #3471
https://github.com/google/protobuf/pull/4627

[2018-06-18 21:03] #3471 closed

[2018-06-18 21:06] #3573 closed

[2018-06-18 21:07] acozzette commented on #4767
2.7 is a somewhat old release at this point so it might be best to upgrade to a newer version. But if you want to build with 2.7, you can just comment out the part of `autogen.sh` that uses the network. It just tries to fetch the gmock library, but you don't need that unless you want to run the tests. Running autogen.sh will then generate the configure script.

[2018-06-18 21:09] #3580 closed

[2018-06-18 21:11] acozzette commented on #4762
I'm not too familiar with Visual Studio so I'm not sure how to change the encoding. Another workaround you could try would be to just find the non-ASCII character in that file and just delete it.

[2018-06-18 21:12] #4762 closed

[2018-06-18 21:20] acozzette commented on #4752
I have never tried using the insertion points myself but I believe the way to do it is to have your plugin read in a CodeGeneratorRequest and output a CodeGeneratorResponse. I don't think your plugin gets to see the original generated code--it just has to produce a response that indicates what text you want to output at a given insertion point: https://github.com/google/protobuf/blob/e264d6bc58148

[2018-06-18 21:40] acozzette commented on #4750
Let me close this issue since it looks like a duplicate of #4751.

[2018-06-18 21:40] #4750 closed

[2018-06-18 21:43] acozzette commented on #4747
@mwei0210 Thanks for reporting the bug. Would you be interested in sending a pull request with a fix?

[2018-06-18 21:43] albertRCell commented on #4752
Hi @acozzette, thanks for the response, I'll try that.

However, I don't really understand how that's going to work, when I read from CodeGeneratorRequest I don't get the insertion points either, so does that mean I need to know how the insertion points look like beforehand?

Also, my understanding is that to create an insertion point, a File needs to exist to attach that insertion point to it. Ho

[2018-06-18 21:56] acozzette commented on #4744
I think the problem here is that for compatibility reasons we have not released a new Java lite version in a while, so if you're using Java lite then you're most likely using an old `protoc` version that hasn't had `OneofOptions` added to that list yet. But hopefully the situation here will improve soon, since we're planning on updating Java lite and moving it to its own repo.

[2018-06-18 22:05] xfxyjwf commented on #4129
Feel free to send us a PR if there is a reasonable workaround. We do not maintain binary compatibility in general though.

[2018-06-18 22:06] acozzette commented on #4752
Unfortunately I don't have any examples offhand, but I think you do have to know in advance what insertion points will be generated. It would probably be easiest to generate the plain Java code and look at that to get an idea of the insertion points. The class names should be fairly easy to determine based on the package name and message names, which you can get from the CodeGeneratorRequest.

[2018-06-18 22:10] acozzette commented on #4737
@stefanseefeld I think the issue here is that you have to be consistent about how you invoke protoc when you build foo/bar.proto and the other proto file which imports it. If one file imports "foo/bar.proto" then make sure you pass "foo/bar.proto" to `protoc` when you build it (e.g. don't cd to foo/ and then call protoc on bar.proto).

[2018-06-18 22:11] acozzette commented on #4735
@chukrum47 Thanks for the bug report. Would you be interested in sending out a pull request with a fix?

[2018-06-18 22:15] acozzette commented on #4733
I'm afraid we don't have much experience with TypeScript and so I'm not sure of the best way to handle that use case well. If you have any ideas then we would probably be open to taking pull requests, though.

[2018-06-18 22:20] albertRCell commented on #4752
Okay, I'll try that.

[2018-06-18 22:32] acozzette commented on #4721
@bootrino Could you paste an example of one of these `.pb` files that's causing a parse failure?

[2018-06-18 22:36] #4701 closed

[2018-06-18 22:45] acozzette commented on #4700
@jasminezz Could you provide some more details on how to reproduce the crash?

[2018-06-18 22:50] acozzette commented on #4691
@zhengchengbin610 As long as it's a `string` field, the Java side should already be encoding it as UTF-8. Java internally uses UTF-16 for strings but the protobuf implementation will serialize strings to UTF-8. Could you provide some more details of the message schema and maybe an example of a serialized message that has a non-UTF8 string?

[2018-06-18 22:50] #4690 closed

[2018-06-18 22:52] bootrino commented on #4721
https://github.com/google/fonts/blob/master/ofl/imfellgreatprimer/METADATA.pb
https://github.com/google/fonts/blob/master/ofl/ptsansnarrow/METADATA.pb
https://github.com/google/fonts/blob/master/ofl/boogaloo/METADATA.pb
https://github.com/google/fonts/blob/master/ofl/nanumbrushscript/METADATA.pb
https://github.com/google/fonts/blob/master/ofl/imfellenglish/METADATA.pb
https://github.com/google/fon

[2018-06-18 23:00] acozzette commented on #4688
Could you post the line of code in `protobuf.js` that contains the assertion that's failing?

[2018-06-18 23:00] #4685 closed

[2018-06-18 23:31] acozzette commented on #4661
@vamsibulusu That would be great if you want to take a shot at fixing this bug. You can start [here](https://github.com/google/protobuf/blob/8af87de949dda877390288ebcdada8c708c4ff8c/src/google/protobuf/util/json_util.cc#L217) and try to figure out why `MessageToJsonString` is printing enums as strings despite the `always_print_enums_as_ints` option in `JsonOptions`.

[2018-06-18 23:32] #4654 closed

[2018-06-18 23:37] bootrino commented on #4721
[code]

Have you tried executing the code fragment in the link above?  Here it is again:

[code]

[2018-06-18 23:44] acozzette commented on #4721
@bootrino Just to get the file reading out of the equation, could you try pasting the data into your Python code as a string and seeing if you're able to parse it successfully that way?

[2018-06-18 23:51] bootrino commented on #4721
Here tis:

[code]

[2018-06-18 23:59] bootrino commented on #4721
This is the output when the same code as above is run with Python 2.

[code]

[2018-06-19 00:06] stefanseefeld commented on #4737
@acozzette Yes, I understand that what you suggest would prevent the error, but it seems quite counter-intuitive to require this. Isn't the entire purpose of the `-I` option to provide a similar flexibility as C/C++ preprocessing ?
Or, to approach it from the other end: what is the purpose of `protoc` handling it the way it does ? Would anything break if it started ignoring the `dirname` of the im

[2018-06-19 00:40] deidaraho commented on #4767
Thanks acozzette, I switched to release version 3.5.1. However, after I comment gmock and run autogen.sh, I faced another issue as,

While I am sure I have libtool installed, since when I run yum install libtool, I got

Could I ask for further helps? Thanks so much!

Bests,
Runxin

[2018-06-19 00:50] xfxyjwf commented on #4737
How the protoc currently works is by design. It's a very very common misunderstanding to think that "-I" flag for protoc works the same way as it is for C++ compiler. It isn't and is not designed to work that way. Protoc uses the "-I" option to determine the import path of every .proto file (regardless whether the .proto file is imported or not, it will have a globally unique import path) and gene

[2018-06-19 01:03] stefanseefeld commented on #4737
On 2018-06-18 08:51 PM, Feng Xiao wrote:

OK, then please document that.

<speculating>
It could work just the way C/C++ preprocessing works, i.e. it could use
the import search path strictly for looking up proto files,
irrespectively of their content. In fact, my surprise stems in part from
the fact that there also is the "module" spec that generates namespaces
(in the C++ mapping), and thus coul

[2018-06-19 02:10] taoxinyi commented on #4688
@acozzette

[code]

[2018-06-19 07:44] ilovezfs opened #4781 "3.6.0 and 3.6.0.1 status?"
https://github.com/google/protobuf/releases/latest points to 3.5.1
https://pypi.org/project/protobuf/ points to 3.6.0
https://github.com/google/protobuf/releases shows 3.6.0 and 3.6.0.1

What is the current stable release here? What should we be distributing in [Homebrew](https://github.com/Homebrew/homebrew-core/blob/master/Formula/protobuf.rb#L4)?

[2018-06-19 07:57] linjson commented on #4763
how remove the global.Symbol when build js

[2018-06-19 08:11] sigiesec commented on #4781
Are there any release notes for 3.6.0(.1)?

[2018-06-19 08:41] nicola-lunghi commented on #4775
Hi @acozzette
thanks for your response.

I need to explain my problem better.
I have a bunch of .proto files coming from different part of the system.
I need to develop a "viewer" that give the possibility to select a proto file and decode messages for debugging purpose.

eg a developer need to see a particular stream of data and type

proto_decoder -t stream1/data1 -p myprotocol.proto

and see al

[2018-06-19 10:51] htuch commented on #4771
Thanks @wangjinhua for the report. We're also seeing this in Envoy (https://github.com/envoyproxy/envoy/issues/3665). We would like to see this resolved, as it is blocking some Google internal use cases (CC @mrice32).

@xfxyjwf can we identify an owner for this bug who can make the code changes, tests, PR etc? I'm happy to step up, but it might be the case that @wangjinhua has already identified t

[2018-06-19 13:07] Pitority commented on #4662
@Johnnyloong I still get this exact error

`unresolved external symbol ___std_reverse_trivially_swappable_4	libprotobuf.lib(wire_format.cc.obj)	`

My Platform Toolset is set to "VS17 V141". What is your SDK-Version? Maybe reopen this bug?

[2018-06-19 13:31] shivtelo commented on #3321
It might be a silly question but how will we generate that option_pb2.py file?

[2018-06-19 15:44] daveanderson opened #4782 "Type Mismatch Security Issue Raised by HP Fortify: GPBDescriptor.m:1007"
GPBDescriptor.m:1007

Summary
The function fieldNumber() in GPBDescriptor.m is declared to return an unsigned value, but on line 1007 it returns a signed value.The function is declared to return an unsigned number but returns a signed value.

Explanation
It is dangerous to rely on implicit casts between signed and unsigned numbers because the result can take on an unexpected value and violate weak

[2018-06-19 15:46] daveanderson opened #4783 "Type Mismatch Security Issue Raised by HP Fortify: GPBDictionary.m:11799"
GPBDictionary.m:11799

Summary
The function count() in GPBDictionary.m is declared to return an unsigned value, but on line 11799 it returns a signed value.The function is declared to return an unsigned number but returns a signed value.

Explanation
It is dangerous to rely on implicit casts between signed and unsigned numbers because the result can take on an unexpected value and violate weak ass

[2018-06-19 15:46] daveanderson opened #4784 "Type Mismatch Security Issue Raised by HP Fortify: GPBDictionary.m:12509"
GPBDictionary.m:12509

Summary
The function hash() in GPBDictionary.m is declared to return an unsigned value, but on line 12509 it returns a signed value.The function is declared to return an unsigned number but returns a signed value.

Explanation
It is dangerous to rely on implicit casts between signed and unsigned numbers because the result can take on an unexpected value and violate weak assu

[2018-06-19 15:47] daveanderson opened #4785 "Type Mismatch Security Issue Raised by HP Fortify: GPBDictionary.m:13009"
GPBDictionary.m:13009

Summary
The function count() in GPBDictionary.m is declared to return an unsigned value, but on line 13009 it returns a signed value.The function is declared to return an unsigned number but returns a signed value.

Explanation
It is dangerous to rely on implicit casts between signed and unsigned numbers because the result can take on an unexpected value and violate weak ass

[2018-06-19 15:48] daveanderson opened #4786 "Type Mismatch Security Issue Raised by HP Fortify: GPBDictionary.m:12525"
GPBDictionary.m:12525

Summary
The function count() in GPBDictionary.m is declared to return an unsigned value, but on line 12525 it returns a signed value.The function is declared to return an unsigned number but returns a signed value.

Explanation
It is dangerous to rely on implicit casts between signed and unsigned numbers because the result can take on an unexpected value and violate weak ass

[2018-06-19 15:49] daveanderson opened #4787 "Type Mismatch Security Issue Raised by HP Fortify: GPBDictionary.m:12025"
GPBDictionary.m:12025

Summary
The function hash() in GPBDictionary.m is declared to return an unsigned value, but on line 12025 it returns a signed value.The function is declared to return an unsigned number but returns a signed value.

Explanation
It is dangerous to rely on implicit casts between signed and unsigned numbers because the result can take on an unexpected value and violate weak assu

[2018-06-19 15:51] daveanderson opened #4788 "Type Mismatch Security Issue Raised by HP Fortify: GPBDictionary.m:12751"
GPBDictionary.m:12751

Summary
The function hash() in GPBDictionary.m is declared to return an unsigned value, but on line 12751 it returns a signed value.The function is declared to return an unsigned number but returns a signed value.

Explanation
It is dangerous to rely on implicit casts between signed and unsigned numbers because the result can take on an unexpected value and violate weak assu

[2018-06-19 15:51] daveanderson opened #4789 "Type Mismatch Security Issue Raised by HP Fortify: GPBDictionary.m:13767"
GPBDictionary.m:13767

Summary
The function hash() in GPBDictionary.m is declared to return an unsigned value, but on line 13767 it returns a signed value.The function is declared to return an unsigned number but returns a signed value.

Explanation
It is dangerous to rely on implicit casts between signed and unsigned numbers because the result can take on an unexpected value and violate weak assu

[2018-06-19 15:53] daveanderson opened #4790 "Type Mismatch Security Issue Raised by HP Fortify: GPBDictionary.m:13251"
GPBDictionary.m:13251

Summary
The function count() in GPBDictionary.m is declared to return an unsigned value, but on line 13251 it returns a signed value.The function is declared to return an unsigned number but returns a signed value.

Explanation
It is dangerous to rely on implicit casts between signed and unsigned numbers because the result can take on an unexpected value and violate weak ass

[2018-06-19 15:53] daveanderson opened #4791 "Type Mismatch Security Issue Raised by HP Fortify: GPBDictionary.m:13251"
GPBDictionary.m:13235

Summary
The function hash() in GPBDictionary.m is declared to return an unsigned value, but on line 13235 it returns a signed value.The function is declared to return an unsigned number but returns a signed value.

Explanation
It is dangerous to rely on implicit casts between signed and unsigned numbers because the result can take on an unexpected value and violate weak assu

[2018-06-19 16:28] daveanderson commented on #4791
On further reflection this appears to be a false positive. I don't think I should need to

[code]

[2018-06-19 16:28] #4791 closed

[2018-06-19 16:29] daveanderson commented on #4790
On further reflection this appears to be a false positive. I don't think I should need to

[code]

[2018-06-19 16:29] #4790 closed

[2018-06-19 16:29] daveanderson commented on #4789
On further reflection this appears to be a false positive. I don't think I should need to

[code]

[2018-06-19 16:29] #4789 closed

[2018-06-19 16:29] daveanderson commented on #4788
On further reflection this appears to be a false positive. I don't think I should need to

[code]

[2018-06-19 16:29] #4788 closed

[2018-06-19 16:29] daveanderson commented on #4787
On further reflection this appears to be a false positive. I don't think I should need to

[code]

[2018-06-19 16:29] #4787 closed

[2018-06-19 16:29] daveanderson commented on #4786
On further reflection this appears to be a false positive. I don't think I should need to

[code]

[2018-06-19 16:29] #4786 closed

[2018-06-19 16:30] daveanderson commented on #4785
On further reflection this appears to be a false positive. I don't think I should need to

[code]

[2018-06-19 16:30] #4785 closed

[2018-06-19 16:30] daveanderson commented on #4784
On further reflection this appears to be a false positive. I don't think I should need to

[code]

[2018-06-19 16:30] #4784 closed

[2018-06-19 16:30] daveanderson commented on #4783
On further reflection this appears to be a false positive. I don't think I should need to

[code]

[2018-06-19 16:30] #4783 closed

[2018-06-19 16:37] daveanderson commented on #4782
This appears to be a false positive

[2018-06-19 16:37] #4782 closed

[2018-06-19 17:54] htuch commented on #4771
@mattklein123 point out that in Envoy, we've also observed that other `JsonPrintOptions`, e.g. "print all fields even if default", don't recurse into `Any`.

[2018-06-19 20:09] xfxyjwf commented on #4781
3.6.0 is the latest release:
https://github.com/google/protobuf/releases/tag/v3.6.0

[2018-06-19 20:09] #4781 closed

[2018-06-19 20:13] xfxyjwf commented on #4767
Do not download "Source code (zip)" or "Source code (tar.gz)". Download protobuf-all-3.6.0.tar.gz:
https://github.com/google/protobuf/releases/download/v3.6.0/protobuf-all-3.6.0.tar.gz

[2018-06-19 20:13] #4767 closed

[2018-06-19 20:48] tmatsuo opened #4793 "[PHP] Segfaults with a wrong autoloader for GPBMetadata"
**What version of protobuf and what language are you using?**
Version: v3.6.0
Language: PHP
on glinux workstation

You can reproduce this by fetching a branch:

[code]
[code]

Other simple repro code you can put into TextToSpeech directory:
[code]

[2018-06-19 21:38] thisch opened #4794 "Allow filenames in _CalledFromGeneratedFile to contain "/pb2/""
**What language does this apply to?**
python (c++ implementation)

**Describe the problem you are trying to solve.**

The company I work with strips the _pb2 suffix from the filenames of the generated python modules. Instead a pb2 python subpackage (e.g. ``companyname.pb2``) is created, which denotes that the modules in this pb2 subpackage are generated by protoc (and postprocessed).

If the c++ i

[2018-06-19 22:11] amin-codes opened #4795 "StringIntLabelMap causes issues for Tensorflow when I try to train (python v3.5)."
**What version of protobuf and what language are you using?**
Version: v3.6.0
Language: Python

**What operating system (Linux, Windows, ...) and version?**
Windows

**What runtime / compiler are you using (e.g., python version or gcc version)**
Python

**What did you do?**
Steps to reproduce the behavior:
1. I run the command `python train.py --logtostderr --train_dir=training/ --pipeline_config_

[2018-06-20 00:22] xfxyjwf opened #4796 "Move protobuf to its own github organization."
Dear Protobuf users,

Since 3.0.0 release, we have brought official support for several new languages into protobuf. Due to that growth, we are considering moving the project to its own github organization. This can help us better manage the project and improve the support we provide to the community.

An organization will allow us to add support for more languages outside the main repo. We can in

[2018-06-20 00:32] TeBoring commented on #4793
In TextToSpeech/src/V1/ListVoicesResponse.php, line 26, it's referencing class in \GPBMetadata. However, metadata files are put in metadata. My guess is ```php_metadata_namespace``` was added to proto file after the code was initially generated. After  ```php_metadata_namespace``` was added, other generated code were not updated.

[2018-06-20 01:05] tmatsuo commented on #4793
Thanks! Here is what I found out so far.

The proto file:
https://github.com/googleapis/googleapis/blob/master/google/cloud/texttospeech/v1/cloud_tts.proto

It doesn't have `php_metadata_namespace`.

The name resolution in PHP land is done by the autoloader, and the composer.json has the configuration for it:
https://github.com/tmatsuo/google-cloud-php/blob/tts/TextToSpeech/composer.json#L9

[code

[2018-06-20 02:58] navsaini commented on #3321
You can find more information about it here -
https://developers.google.com/protocol-buffers/docs/pythontutorial#compiling-your-protocol-buffers

Basically you have to define your .proto file with the definition of your
datatype and then use the protobuf compiler to generate that file. The
options and arguments for the command are in the provided link.

On Tue, Jun 19, 2018 at 6:32 AM, Shiv Kumar

[2018-06-20 03:06] ravindar commented on #4460
@teboring any updates on this issue?

[2018-06-20 11:29] pradeepChoube opened #4798 "SocketTimeout Exception : http://138.197.223.248:8080/protobuf/people"
Hi,

First of all, thanks for sharing the code. I am having issue while trying to test the end-point. Could you please fix or up the server to connect and test the code and flow.

Thanks
Pradeep

[2018-06-20 13:12] vervaekejonathan opened #4799 "undefined reference to `google::protobuf::internal::SerializeInternal'"
Compiling protocolbuffers 3.5.1 for Cortex-M4 processor.

using the following commands:

[code]

note: you need arm-none-eabi_gcc_6.3.1

This builds with after minor modifications to the Mutex library (replace the implementation with empty functions)

When linking the created libprotobuf-lite.a with my project, the linker complains about the following:

[code]

[2018-06-20 13:36] TLadd opened #4800 "Enums changed to uppercase in generated node files"
**What version of protobuf and what language are you using?**
Version: v3.5.1
Language: Javascript

**What operating system (Linux, Windows, ...) and version?**
Mac OS X

**What did you do?**
Steps to reproduce the behavior:
Example repo here: https://github.com/TLadd/example-grpc-enum.

In the [proto file](https://github.com/TLadd/example-grpc-enum/blob/master/helloworld.proto#L32), the enum is s

[2018-06-20 16:28] jeffreytang commented on #3957
Just tried latest 3.6.0 on Windows 10 command window, still could not recognize "*.proto"

[2018-06-20 16:42] ObsidianMinor commented on #4796
So will you allow other developers to move their language implementations to the organization like [golang/protobuf](https://github.com/golang/protobuf) or [apple/swift-protobuf](https://github.com/apple/swift-protobuf/) if they desire?

[2018-06-20 17:20] acozzette commented on #4799
Those two functions are defined in `src/google/protobuf/generated_message_util.cc`, so I'm not sure why they would be missing. Could you check if they were included in `libprotobuf-lite.a`? Another thing to note is that SerializeInternal and SerializeInternalToArray are only used for the experimental table-driven serialization, which is not being used yet. So if you just want a quick fix to get th

[2018-06-20 17:35] rok-povsic opened #4802 "[PHP] Mapping a Struct object to a plain array object"
Hello, I'd like to map an array (associative or sequential) to a `Google\Protobuf\Struct` object, and vice versa. Ideally, the mapping would be able to handle objects of arbitrary depth (i.e. `['a' => ['b' => 3]]`).

Is there an existing way of doing that or must I write a mapper by hand (with taking into account the mapping of all the key/value types)?

Any help is appreciated.

[2018-06-20 17:38] tmatsuo commented on #4793
Yes, the correct path for the autoloader fixed the issue.

I still think the current behavior is not ideal though.

[2018-06-20 17:38] acozzette commented on #4775
Ok, I think what you are trying to do should be doable. `reflection.ParseMessage` provides the basic functionality of parsing a message based on a given descriptor: https://github.com/google/protobuf/blob/d36c0c538a545fac5d9db6ba65c525246d4efa95/python/google/protobuf/reflection.py#L67

I think the best way to get the descriptors you need is to call `protoc` with `--descriptor_set_out=...` to have

[2018-06-20 17:47] acozzette commented on #4109
Sorry about the mixup here. I made sure to fix this with the 3.6.0 release and we'll take more care to avoid this issue with future releases.

[2018-06-20 17:47] #4109 closed

[2018-06-20 17:48] #4747 closed

[2018-06-20 18:03] acozzette commented on #4721
Ok, I think it must be choking on the copyright symbol somehow. In UTF-8 that is represented as the two-byte sequence `c2 a9`. Based on that error message it appears that we are attempting to skip over the first byte and start parsing a character from the second byte, though:
[code]

[2018-06-20 18:20] xfxyjwf commented on #4796
I would hope so, but it's not protobuf-team's call and I'll need to consult the management/legal team about this. I'm not very optimistic about it though.

[2018-06-20 18:32] acozzette commented on #4721
@bootrino Which protobuf version are you using?

[2018-06-20 18:40] tmatsuo commented on #4761
Oh yes. The unit tests in `google-cloud-php` actually depend on `assertEquals` with protobuf messages and they passed with protobuf extension 3.5.1.1. With 3.6.0, the tests started to fail.

[2018-06-20 18:41] acozzette commented on #4593
@vamsibulusu A good place to start would be in the `src/google/protobuf/stubs` directory. A simple search-and-replace of `NULL` for `nullptr` would probably work well. Other than the `stubs` directory I'm not sure if it would be a good idea to change everything at once, though--the problem is that within Google we have an internal version of the codebase that we sync back and forth with this repo

[2018-06-20 18:51] acozzette commented on #3718
This is now fixed in 3.6.0. (We haven't really announced that release yet because we're still working on publishing some artifacts, but at least the protoc binaries are ready to go.)

[2018-06-20 18:51] #3718 closed

[2018-06-20 19:08] acozzette commented on #4743
Unfortunately I think it would be hard to get this to mesh well with the way imports currently work. There has been some related discussion around this on #4737. `protoc` uses the `-I` option to decide where to look for `.proto` files that are passed to it on the command line, so it doesn't even know how to find its first file unless it's already in a `-I` path (the default is `.`). The other thin

[2018-06-20 19:31] TeBoring commented on #4802
Sorry, currently no.
On Wed, Jun 20, 2018 at 12:21 Feng Xiao <notifications@github.com> wrote:

[2018-06-20 20:36] acozzette commented on #4763
The way to do it would be something like this:
`for (let [key, value] of s.entries()) { ... }`

You could also use the `forEach` method.

What problem are you having with `Symbol`?

[2018-06-20 20:38] bootrino commented on #4721
I was using 3.5.2.post1

[code]

Following this question I upgraded to 3.6 and tried again:

[code]

[code]