[2017-12-04 14:07] chaylins commented on #3994
Found by adding the #define blurb to the pre-processor list in visual studio, solved the problem.

[2017-12-04 14:07] #3994 closed

[2017-12-04 14:47] vikaschamp opened #3996 "Gettin Exception Google.Protobuf.InvalidProtocolBufferException"
I have installed this library in my visual studio. I have serialized object by this library in cpp and send on tcp to c# client and parsing it . So i am getting this exception

Google.Protobuf.InvalidProtocolBufferException: 'While parsing a protocol message, the input ended unexpectedly in the middle of a field.  This could mean either that the input has been truncated or that an embedded message

[2017-12-04 18:26] #3931 closed

[2017-12-04 20:49] geigerj opened #3998 "Ruby protobuf generated classes should implement to_s"
### Original issue

https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1868

### What

Ruby protobuf generated classes should implement `to_s`.

### Why

From original issue:

[2017-12-04 20:52] ekigwana opened #3999 "Internal arena allocation leaking memory for repeated fields for C++11"
All my protobufs have
```option cc_enable_arenas = false;```
I never explicitly use arena allocation and yet valgrind reports memory leaking due to  google::protobuf::arena::Create by way of google::protobuf::arena::CreateMaybeMessage.

[code]

Following the trail leads to

[code]
From my view as a user, it appears that internal use of Arena is resulting in leaks for repeated fields.
[code]
All re

[2017-12-04 21:56] pherl commented on #3999
We do run heap check tests to ensure there's no memory leak in the unittests. Would you be able to generate a simple test code to reproduce the leak?

[2017-12-04 23:10] ekigwana commented on #3999
I'll give it a shot.

[2017-12-05 01:02] ekigwana commented on #3999
I have written a minimal working example [pb_leak](https://github.com/ekigwana/pb_leak) that shows memory leak. As it turns out, this occurs I have written a couple tests and the first one runs as follows:
[code]
The second:
[code]

I have been using shared_ptrs with version protobuf-2.6.1 and never noticed this issue. My server does not last a day before crashing due to OOM.

The issue is that wi

[2017-12-05 01:34] xfxyjwf commented on #3999
@ekigwana In test 2, when creating next_address_book, you copy everything from address_book to next_address_book. As a result, you are basically adding fields to the same proto in a while loop. It should OOM/crash very quickly.

[2017-12-05 02:10] ekigwana commented on #3999
@xfxyjwf you are correct. I whipped this MWE up quickly but it probably points to my issue. I am closing this until I get a proper look at the problem code.

[2017-12-05 02:10] #3999 closed

[2017-12-05 03:40] ravijo opened #4001 "Suspecting multiple protobuf in my Ubuntu PC causing "undefined reference" issues while compiling"
Hi,
I am trying to use protobuf inside ROS Indigo in my Ubuntu 14.04 LTS PC. Every time, when I compile the project, I am getting  `undefined reference` issues. Below is the snippet of errors:
[code]
Initially, I installed protobuf from source but it went wrong and then I decided to use `apt-get`. `apt-get` installed protobuf 2.*. I knew that it is a blunder mistake and hence I treid to removed pr

[2017-12-05 12:27] Tenmak commented on #3571
I had the same issue.

It was also because of the `deserializeBinary()` method.
I was actually deserializing the wrong object and I had this error.

So check correctly whether you are working on the correct object beforehand...

[2017-12-05 13:35] jleni commented on #3961
PR #3962 fixes the issue. Closing

[2017-12-05 13:35] #3961 closed

[2017-12-05 17:43] acozzette commented on #4001
It looks to me like there is a mismatch between your protoc version and the version of the protobuf library that you're linking against. To simplify things it might help to remove `protobuf-compiler` and `libprotobuf*`, since that way you would only be working with protoc and libraries built from source.

[2017-12-05 19:02] acozzette commented on #3991
Have you tried bundling static lib A into your .so file and having your main executable not link in A? I think ultimately the one-definition rule (ODR) applies and so you have to make sure the symbols for your proto are only visible in one place. Doing dynamic loading with protos can get tricky.

[2017-12-05 19:19] acozzette commented on #3992
I am afraid we will probably not be able to do this. Unfortunately the thing with this kind of change is that it ends up being a huge amount of work because it has to be repeated for every language we support, so there has to be an extremely high bar for the benefits it would bring. But another approach to consider would be to focus on the JSON format alone. For example, maybe `RouteAttrArr` could

[2017-12-05 19:21] ekigwana commented on #3999
I looked at my code again and turns out I had missed a repeated field.

[2017-12-05 19:27] acozzette commented on #3996
I would guess that something is going wrong with the framing of the message. Can you verify that the serialized message is the same on both sides (i.e. the same length and the same serialized bytes)? Protocol buffers are not self-delimiting, and so to parse one you have to know its size, and this could be a problem if you're not taking this into account.

[2017-12-05 23:02] khuzemap opened #4002 "Control for preserving unknown fields for proto2"
Hi,

We have a requirement that, on certain platform because of constraint resources, we need to control if unknown field should be preserved for incoming proto2 protobuf . This is to change the default behavior of proto2 which always preserves unknown fields.

Would like to understand if there is wider interest in such a feature and recommendation on how to enable such a control.

Khuzema/Austin

[2017-12-06 01:05] ravijo commented on #4001
Thanks a lot. I removed `protobuf-compiler` using `sudo apt-get purge --remove protobuf-compiler` command. However, when I tried to remove `libprotobuf*`  I found that it may remove some of the ROS packages. Please see below:
[code]

The above seems too dangerous to proceed. What do you say?
**Meanwhile, I am thinking, If protocol buffer is already installed by ROS Indigo, instead of installing ne

[2017-12-06 02:27] mavle commented on #3992
Solving it on the generation end is possible but not desirable for a lot of the same reasons as on your end. The need to now do that to all of the languages generated would be immense.

Is there a place to make considerations for protobuf v4.0? Or would the same restrictions entail? This looks like a legitimate improvement if it could be fit in at the right time.

[2017-12-06 02:45] #3943 closed

[2017-12-06 02:45] #3964 closed

[2017-12-06 02:47] TeBoring commented on #3995
It looks like the buildFromProto is php implementation only method. Are you sure it's a segmentation fault?
Could you paste the full log?

[2017-12-06 02:49] TeBoring commented on #3779
Sorry for late reply. I don't think it's a bug. protobuf API doesn't allow access via field directly.

[2017-12-06 03:50] wonson opened #4004 "[Feature Request] Allow custom namespace to avoid protobuf version/linking conflicts"
There are constantly some problems about linking multiple protobuf.
For example,
Using Qt shared lib (Having system protobuf dependency) in Ubuntu conflicts the specified linked protobuf binary in your own project (not working well neither same version or different version).

In my case with 2.6.1 version, i found that replacing the `namespace google ` and `google::` to a custom namespace can alre

[2017-12-06 04:52] acozzette commented on #4001
Sure, you could use the existing protobuf installed via apt. In that case you would want to reinstall `protobuf-compiler` so that you have `protoc` available. The main downside, though, is that the version of protobuf currently shipped with Ubuntu is 2.5, which is pretty old at this point. If you do this then you might also want to verify that you don't have a built-from-source protobuf library so

[2017-12-06 05:56] jbq commented on #3779
OK understood but is it possible to raise an exception or return null on
attribute access instead of the ugly PHP interpreter crash?
--
Jean-Baptiste Quenot
Tel maison: +33(0)5 62 57 17 28
Tel portable: +33(0)6 50 23 76 87

[2017-12-06 08:24] E-HERO commented on #3991
Thank you for your replying. It doesn't work, I have tried. Some codes in main executable are dependent with static lib A. There will be a compile error "undefined reference" if I remove A from my main executable.

[2017-12-06 08:40] ravijo commented on #4001
I reinstalled `protobuf-compiler` and now I have `libprotoc 2.5.0`. Please see below:
[code]
I still suspect that some other versions are also existing. `sudo apt-get purge --remove libprotobuf*` is showing the same as above (in the beginning of this post).

Although, I tried to search, but I am not sure how to proceed in this situation. Please see below:
[code]
Please suggest some workaround.

[2017-12-06 12:04] jonathan-se opened #4005 "JS - toObject() inconsistent behavior with empty fields"
When a message contains an inner message field, if it's left empty, toObject() will return undefined for that field value and that Implies the field was empty in the original message.
But when the empty field is a Singular Scalar Field, toObject() will return default value for its type and it's not possible to know if this was the original value of the field or was it originally empty.

Probably t

[2017-12-06 13:34] jonathan-se opened #4006 "JS - How to get and set fields of inner message field"
Given the following message:
message A{
--  message B{
------  int32 x = 1
------  int32 y = 2
--  }
--  int32 foo = 1
--  B bar       = 2
}

msg = A.deserializeBinary()

1) Is msg.getBar().getX() is the only way to get x value? or there is a nicer solution like msg.bar.getX() (without using toObject())?

2) How can I set the value of x field without creating a new B message?

[2017-12-06 18:48] apolcyn commented on #3925
FWIW, ran into this and this also appears to repro with `GC.stress` on. running:

At least with the latest `3.5.0` release, on x86_64 linux ruby 2.4, running:

[code]

always results in:

[code]

I suspect this is a different manifestation of the bug causing segfault above

[2017-12-06 19:13] TeBoring commented on #3925
sorry，I was looking into other stuff. Will work on this later this week.
On Wed, Dec 6, 2017 at 10:49 apolcyn <notifications@github.com> wrote:

[2017-12-06 19:19] xfxyjwf commented on #4004
We generally don't want to add new options especially those that can alter public APIs. For this case allowing multiple versions of protobuf in the same binary is not a supported use case of protobuf so that's even less reason to add an option for it.

My understanding is that linking multiple versions of the same shared lib is not a common practice and I would suggest you use the same version of

[2017-12-06 20:01] AustinSchuh commented on #4002
@xfxyjwf The problem is that unknown fields trigger a malloc on lite mode protobufs, which violates RT guarantees for us (on a uC).  full mode protobufs use too much RAM.  We need to modify the code generation to drop them to avoid the malloc, and the easiest way to do that is to drop unknown fields.  We are open to any other ideas!

We've got a patch internally which drops unknown fields in lite

[2017-12-06 20:51] carun opened #4008 "Support for DLang"
Can you add support for D language?

At the moment, we use https://github.com/msoucy/dproto with proto2 for D. But it doesn't support proto3.

[2017-12-06 21:40] TeBoring commented on #3925
@sas5437 , I think your repo uses google-cloud-trace(0.28.1)=>google-gax(0.10.2)=>google-protobuf(3.2), which doesn't reflect the latest fix.

[2017-12-06 22:30] TeBoring commented on #3925
@apolcyn I think your problem is that you haven't generate any_pb.rb yet.

[2017-12-06 22:40] apolcyn commented on #3925
As I understand , `any_pb` is a well-known type that comes packaged within `google-protobuf`. The file exists within the `google-protobuf-3.5.0-x86_64-linux` directory of my gem installation directory.

It contains this:

`cat ~/.rvm/gems/ruby-2.4.0/gems/google-protobuf-3.5.0-x86_64-linux/lib/google/protobuf/any_pb.rb` shows:

[code]

also, running that repro above without `GC.stress` set to anyth

[2017-12-06 22:41] xfxyjwf commented on #4002
Sorry, but I don't think we want an option to change the behavior of unknown fields for proto2. I also believe that won't solve your problem because unknown fields are not the only thing that get allocated in parsing. For example, parsing a string field will also call malloc. Same goes for any repeated fields, message fields etc.

In your case, I think using the arena feature might be your best be

[2017-12-06 23:14] shanshanzhu commented on #1591
What is the status of this one? We would like to have fromObject exposed as well.

[2017-12-07 00:00] PencilBow opened #4009 "Is protobuf safe to handle untrusted data (csharp) ?"
Hi,

I'd like use this library to accept messages from untrusted (Unity) clients. The clients might try and tinker with the binaries to (DDOS) attack our servers. (Server also in Unity).

Is there no way a attacker could send a message that:

- take unproportial cpu to decode
- take unproportial memory to decode
- instantiate a random C# class / call unwanted methods.

If the answer is no:
Are the

[2017-12-07 00:08] TeBoring commented on #3925
I can reproduce your bug with ruby 2.4 now.

[2017-12-07 00:44] lescha opened #4010 "[Proto3] Error compiling reserved values in enum"
According to this documentation for proto3 (https://developers.google.com/protocol-buffers/docs/proto3#enum_reserved), you can add reserved values using the `reserved` statement, but this no longer compiles.

[code]

[2017-12-07 01:12] AustinSchuh commented on #4002
@xfxyjwf We've got arenas turned on with proto2 lite already.  That removes most allocations, not all.

We've also implemented the API you described to me in https://groups.google.com/forum/#!msg/protobuf/0Bjiat1zMLU/vW9AeTIWDQAJ almost 2 years ago.  That makes it such that strings don't allocate, which gets rid of most of the rest of the allocations.  We'd be happy to upstream that patch if you w

[2017-12-07 02:22] wonson commented on #4004
Okay, but we have reasons about not linking the same binary of the shared lib.

1. We have to ensure the backward compatibility of our app. I'm not sure if it is a wise decision to make protobuf version depends on other shared lib;
2. In fact, we are developing an app for a variety of linux distro. However, while we are linking the same binary of protobuf, we only encounter the linking-conflict re

[2017-12-07 03:29] TeBoring commented on #3925
Fixed in #4011. Please take a look and make a try.

[2017-12-07 04:34] ravijo commented on #4001
Hi, I would like to add my findings in order to make the debugging simpler. Today morning, I installed a ROS Indigo on fresh Ubuntu 14.04 LTS VM. Then I installed `protobuf-compiler`using `sudo apt-get protobuf-compiler`. Now I have `libprotoc 2.5.0`, which is fine.

After this, I just compiled my project and it compiled without any issues. **I believe that in my original PC, other versions of pro

[2017-12-07 05:52] remicollet commented on #3929
3.5.0.1 still broken

[2017-12-07 08:30] jeffreyxuworld opened #4012 "a problem in Release v3.4.1"
Why this version,don't have protoc-3.4.1-win32.zip to download?

[2017-12-07 18:12] geigerj commented on #3120
@zanker @acozzette It looks like this was implemented in #3627, in which case this issue could be closed. But I'm having trouble getting the feature to work in protobuf `3.5.0`:

[code]

@zanker -- is this the intended usage of the feature you implemented in #3627?

[2017-12-07 18:24] smclewin commented on #2243
@jskeet I'm still interested in this change.  If it made it into 3.4 or later then I'd simply like some guidance on how to make use of the new feature.

[2017-12-07 18:28] zanker commented on #3120
Hm, that's odd. That is the correct syntax, and the test for it https://github.com/google/protobuf/pull/3627/files#diff-bbb59c88129c0bf6537d0487634b282dR205 is the same as what you have, and it does look like the code made it into `3.5.0`.

Silly question, but are you sure you're pulling `3.5.0`? That was something I had running on Square code before I left, so the feature does work.

[2017-12-07 18:31] geigerj commented on #3120
Yep, it's 3.5.0:

[code]

[2017-12-07 19:05] jskeet commented on #2243
I don't see any sign of this having been done - I'm pretty sure I didn't do it, I'm afraid.

[2017-12-07 19:19] TeBoring commented on #4012
That is a fix release. The compiler is the same as the one for 3.4.0.

[2017-12-07 19:19] #4012 closed

[2017-12-07 19:22] TeBoring commented on #3977
Please use 3.5.0.1 on pecl.

[2017-12-07 19:22] #3977 closed

[2017-12-07 20:12] xfxyjwf commented on #4010
What's the error message?

[2017-12-07 20:17] jskeet commented on #4009
The only thing I can think of offhand is that map fields don't have any hash randomization. If an attacker provided a map field with keys that had the same hash but weren't equal, I suspect that would cause O(N^2) computation. We don't currently have any options that would mitigate that other than not using map fields.

[2017-12-07 21:05] lescha commented on #4010
Missing numeric value for enum constant.

[2017-12-07 21:24] jquesnelle opened #4015 "normalize() in io_win32.cc uses undefined behavior in C++03"
The `normalize(string path)` function in `io_win32.cc` relies on undefined behavior in C++03. The function loops through `path`, parsing the segments along the way. The loop breaks out when `path[i] == '\0'`. For example, see [line 163](https://github.com/jquesnelle/protobuf/blob/9021f623e1420f513268a01a5ad43a23618a84ba/src/google/protobuf/stubs/io_win32.cc#L163). `path` is a mutable `std::string`

[2017-12-07 22:00] acozzette commented on #4002
I believe we fixed that allocation bug in MergePartialFromCodedStream a few months ago. @AustinSchuh are you still seeing it with 3.5 or recent code on master?

Actually I believe we made it so that we avoid creating a callback, since that was causing a memory allocation even when no unknown fields were present. If we want to avoid allocating even when unknown fields _are_ present, that may be har

[2017-12-07 22:43] acozzette commented on #3992
We haven't even really started thinking about 4.0 yet, but I think this would be a tough sell even when we do a new major version.

[2017-12-07 22:46] pherl commented on #4010
Which version were you using? This I believe was first introduced in 3.5.0.

[2017-12-07 23:47] AustinSchuh commented on #4002
@acozzette , @khuzemap is working on the upgrade.  We are internally on 3.0.  When we've wrestled down some of the other problems we'll be in a better position to check and we'll get back to you.  That could be a couple of weeks.  My goal as part of this upgrade is to reduce deltas to make the next one much easier.

[2017-12-08 00:21] acozzette commented on #3987
It looks like this was fixed a while ago in b60e615cba2131490c4b42d2b03de057407226d1. Are you using an old protobuf version?

[2017-12-08 00:42] acozzette commented on #4008
Unfortunately I don't think we have the cycles to take on another language right now, but your best bet might be to contribute proto3 support to that existing D implementation if you need it.

[2017-12-08 00:54] acozzette commented on #4001
The package manager will not generally put anything in `/usr/local`, so removing protobuf libraries and headers from `/usr/local` should not affect your ROS packages. I believe you would want to remove the headers in `/usr/local/include/google/protobuf` and libraries beginning with `libprotoc` and `libprotobuf` in `/usr/local/lib`.

[2017-12-08 01:08] carun commented on #4008
That's sad. dproto is heavily dependent on GC and hogs lot of memory and CPU. I was just hoping that it will be officially supported. :-|

[2017-12-08 02:02] PencilBow commented on #4009
@jskeet Thanks for the answer. O(N^2) would still be acceptable to us, if that is the worst case.

Just to absolutely sure I'm communication my intent correctly, there is no amount of header-tinkering that can cause the machine to allocate an arbitrary amount of memory unnescessarily?
(I am being overly careful because I have observed exactly this is in a few libraries already)

[2017-12-08 04:04] ravijo commented on #4001
Surprisingly, these files do not exist. Please see below:
[code]

[2017-12-08 06:24] jskeet commented on #4009
Not overly-persistent at all... I was very foolish (and shouldn't answer questions at the end of the day). A claim of a huge *message* isn't too bad (as far as I can remember; I'd have to check line by line for details, but I believe it just sets how much data we read from the stream) - but *strings and bytes* allow arbitrary allocation.

I don't know of any mitigation of that at the moment. It wo

[2017-12-08 06:45] pranavk commented on #3987
Ah, yes. Sorry for the noise. I misread my version number.

[2017-12-08 06:45] #3987 closed

[2017-12-08 07:09] ex-nerd commented on #3658
I just started running into this with some of my own code today.  The odd thing is that things work fine with the python installed by homebrew on my Mac.  But they fail under various flavors of Linux.

[2017-12-08 08:00] biolee opened #4019 "[doc err]cpp reflection"
- A Get*() or Set*() method for singular fields is called on a repeated field.
- GetRepeated*(), SetRepeated*(), or Add*() is called on a non-repeated field.
->
- A Get*() or Set*() method for singular fields is called on a non-repeated field.
- GetRepeated*(), SetRepeated*(), or Add*() is called on a repeated field.

![screenshot](https://user-images.githubusercontent.com/7426917/33756563-06ebe22

[2017-12-08 10:17] dslomov opened #4020 "The commit 92a7e778e7394386f413cec28d67a07630f784b1 breaks Bazel build"
See https://github.com/bazelbuild/bazel/issues/4250

/cc @acozzette
[code]

[2017-12-08 12:37] PencilBow commented on #4009
Thanks for the confirmation. Although I would be interested in these safeguards, a solution is needed sooner than later.
I think I will go with JSON (sigh) as it's the only format I've found that does not allow arbitrary allocation.

[2017-12-08 12:37] #4009 closed

[2017-12-08 21:43] acozzette commented on #4020
Sorry about that, this should now be fixed with PR #4017.

[2017-12-08 21:43] #4020 closed

[2017-12-08 22:08] acozzette commented on #4001
@ravijo If those files don't exist then it seems to me like you should be good to go, with just one protobuf version installed on your system--are you still running into any problems?

[2017-12-08 22:14] acozzette commented on #4019
@biolee  I believe that documentation is correct as it is actually. It's listing operations that are considered invalid, so it makes sense that those invalid operations sound contradictory. Let me know if I am misunderstanding what you are saying, though.

[2017-12-08 22:14] #4019 closed

[2017-12-09 00:58] rvijayraghavan opened #4022 "protobuf-lite is not on v3.5.0"
Any specific reason to not keep protobuf-lite and protoc-gen-javalite in line with other libraries? All but these 2 seem to be on older versions (3.0.1 and 3.0.0 respectively).

http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22com.google.protobuf%22

Use-case: Our server uses latest protobuf compiler version 3.5.0 whereas the Android client can only use 3.0.1 (latest protobuf-lite) causing some i

[2017-12-09 01:41] gpshead commented on #3871
FWIW, people also hit this problem internally at Google with field names such as "import" or other keywords in an occasional message.  I believe `getattr` and `setattr` on your message instance should work for these field names.

[code]

Otherwise, agreed, surfacing them as trailing underscore attribute names seems desirable - though the implications on which names APIs such as `ListFields` return

[2017-12-09 02:02] kenlars99 commented on #2780
One of the reasons we like and use protobuf, is that it can easily help us bridge the communication gap between the embedded world and the server world.  Some of the embedded devices we use are not running the latest Linux, nor do they support C++11.  I think it would be a shame if protobuf were to require C++11, for this reason.  If you are only targeting fast, modern devices, the protobuf loses

[2017-12-09 06:43] kkm000 commented on #2780
Is not it striking that @mikejt4 noted how *beneficial* is C++11 for an embedded ARM system, and right in the next comment @kenlars99 has argued that C++11 is *deleterious* for an embedded ARM system? (☉_☉)

[2017-12-09 08:21] ravijo commented on #4001
Yes. I am getting the same errors (posted in the top of this thread)
[code]
By the way, I have another idea in my mind. Can you help me to implement it? Inside a ROS pacakage sub directory, I extracted `protobuf-3.5.0`. In this way `cmake` files are located in `lib/protobuf-3.5.0/cmake`. The ROS Package contains `CMakeLists.txt` which is complied using `catkin_make`.

**I want to know that how to

[2017-12-09 09:49] #3725 closed

[2017-12-09 11:08] kenlars99 commented on #2780
I would add that we use a number of major libraries in our embedded system: boost, poco, cppunit, and a number of C-only libraries like sqlite, openldap, openssl... None of these require C++11.  My issue is not with C++11 (I was very disappointed when we could not use it due to some of the target embedded systems we have to support), but with requiring it.

[2017-12-10 01:00] kkm000 commented on #2780
@kenlars99 I see, so the actual problem is those older systems have no support for C++11 at all, like the runtime libraries and such have not been built for them. Fair point. How viable do you think it is to stay on the latest protobuf version that still can cross-compile for these targets? The C++ world is moving on anyway, so if not protobuf, then you would likely hit the same issue with another

[2017-12-10 06:28] vjpai commented on #2780
Hi again from gRPC! So, would it be possible in your embedded world to be ok with the C++11 language without the C++11 library? [This is the approach that we're taking in grpc](https://github.com/grpc/proposal/blob/master/L6-allow-c%2B%2B-in-grpc-core.md) as we move the core implementation to C++11 from what was originally C89.

[2017-12-10 09:03] pjebs opened #4023 "PHP: PROTOBUF NOT LOADING"
On Linux Alpine, protobuf does not install. grpc does however.

Specifically (DOCKER):

[code]

[2017-12-10 10:55] lazharichir commented on #3966
I am using the 3.5.0 release and the official PHP extensions for gRPC and Protobuf from PECL, they both are up-to-date. GC Firestore library was also installed and updated from composer.

It is still doing it, re-updated everything:

[code]
Example of this code:
[code]

[2017-12-10 15:43] #3782 closed

[2017-12-11 00:46] iwaseyusuke commented on #3871
Thanks for your reply!
I don't know the internal implementation though, I just guess it might be able to represent with trailing underscore by using `__getattr__` for example.
e.g., If user tries to access a field with trailing underscore and that name collides the reserved keyword, remove trailing underscore then use it as real-name of the protobuf field.
This approach does not take effect to the

[2017-12-11 02:51] Eilick commented on #3995
Thanks for replying.  i'm Sorry, I had found the error, there are so many artisan command in our lavavel project. The Segmentation fault happened in other command which isn't in the grpc , it just looks like happened in grpc

[2017-12-11 02:51] #3995 closed

[2017-12-11 11:44] kenlars99 commented on #1606
This design decision puts us in a bit of a bind, because we have a massive v2 .proto file with heavy use of missing as meaning null for primitives.  We now wish to support C#, which forces us to use v3.  However, the impact on our Java and C++ code is far too great to actually move them to v3, so we want to have a v3 .proto file which is wire compatible with our v2 one.  If C# were supported in v2

[2017-12-11 16:59] okomarov commented on #3905
@pherl I do have the same problem on a new mac out of the box with 10.13.1.

I installed xcode, brew and anaconda, if that is relevant and I have **NOT** set any variable manually, so it would help if we could investigate the matter together. Please let me know what info will be relevant.

[2017-12-11 17:05] ekigwana commented on #1606
I think at this point we are just grieving.

[2017-12-11 17:11] kenlars99 commented on #2780
@kkm000 Well we have a single code base that we cross compile to different embedded targets, some old, some new.  It seems like it would be a burden to have to have our code be able to compile with both the old and the new, that is both non-C++11 and C++11.  Depending on the API changes, that could touch a lot of our code.

[2017-12-11 17:18] sky87 commented on #1606
![image](https://user-images.githubusercontent.com/602954/33844120-5161bec2-de6d-11e7-8cf9-a2c2ce8961b6.png)

[2017-12-11 17:26] haberman commented on #1606
Proto2 isn't frozen: there are some people who have been working to add proto2 support to Ruby. Adding proto2 support to C# is a totally realistic idea. I don't believe we have plans to implement this ourselves, but anyone who is interested in this could definitely consider sending PR's for this.

Do get in touch with us before doing too much work on it, so we can make sure we're on the same page

[2017-12-11 18:03] KantarBruceAdams opened #4024 "decode to json from command line"
**Bug:** The man page does not state what format is used by the _--decode_ and _--encode_ options
**Feature request:** Add an option to decode directly to json.

Looking for a way to decode a message into json from the command line I stumbled upon:

https://stackoverflow.com/questions/34952811/is-there-a-definitive-nix-command-line-tool-for-inspecting-protocol-buffers

which mentions the _--decode

[2017-12-11 18:05] KantarBruceAdams commented on #4024
note: I observed this on 3.5.0

[2017-12-11 18:13] cmoad opened #4025 "TypeError: jspb.Message.setProto3StringIntField is not a function"
[code]

I upgraded my project to 3.5.0 and use the `[jstype = JS_STRING]` field annotation on int64's extensively. I'm getting the following error in javascript:

[code]

[2017-12-11 18:30] xfxyjwf commented on #4022
java-lite uses a separate protoc plugin and is pretty much isolated from other languages built into protoc. You should be able to use protoc 3.5.0 with java-lite 3.0.1 with no problem.

[2017-12-11 18:31] TeBoring commented on #4023
Do u need semicolon after each command?
On Mon, Dec 11, 2017 at 10:28 Feng Xiao <notifications@github.com> wrote:

[2017-12-11 18:31] #4010 closed

[2017-12-11 18:31] #4008 closed

[2017-12-11 18:34] #3996 closed

[2017-12-11 18:37] #3971 closed

[2017-12-11 18:37] pherl commented on #2780
@vjpai Unlike gRPC, protobuf was originally written in C++ with heavy dependencies on the C++ standard library already. Only using C++11 language features without its std library isn't a viable option for protobufs.

[2017-12-11 18:42] #285 closed

[2017-12-11 18:44] #323 closed

[2017-12-11 18:46] #548 closed

[2017-12-11 18:47] #578 closed

[2017-12-11 18:48] #615 closed

[2017-12-11 18:49] #631 closed

[2017-12-11 18:50] #637 closed

[2017-12-11 18:52] xfxyjwf commented on #658
@jskeet @anandolee Is this DynamicMessage implemented in C#?

[2017-12-11 18:52] #737 closed

[2017-12-11 18:53] #784 closed

[2017-12-11 18:53] #807 closed

[2017-12-11 18:54] #814 closed

[2017-12-11 18:54] xfxyjwf commented on #832
Is this done?

[2017-12-11 18:54] #848 closed

[2017-12-11 18:56] #893 closed

[2017-12-11 19:15] jskeet commented on #658
Not that I'm aware of.

[2017-12-11 20:07] anandolee commented on #3898
Why do you want to assign null to the members? Can you explain more about what problem you want to solve?

[2017-12-11 20:08] haberman commented on #3477
Are you having a specific problem, or are you asking about a hypothetical problem?

The protobuf generated code is regular JavaScript, so should be able to be used in an Angular project or any JavaScript project.

[2017-12-11 20:10] xfxyjwf commented on #3933
The issue you were having is likely due to socket IO rather than proto parsing/serialization.

[2017-12-11 20:11] haberman commented on #3472
@vividxuan is correct, you need to ensure that the core runtime is available. You can see all of the files we pass to the Closure builder in the repo's gulpfile: https://github.com/google/protobuf/blob/master/js/gulpfile.js#L116

[2017-12-11 20:11] pherl commented on #3638
We'd happy to accept a PR for this.

[2017-12-11 20:13] jtattermusch commented on #3396
More information is needed to determine if this is an actual issue, closing for inactivity, feel free to reopen.

[2017-12-11 20:13] pherl commented on #3637
Have you solved the issue yet? We don't have the platform to look into the issue. I'm closing this for now.

[2017-12-11 20:14] anandolee commented on #3893
We are closing it for cleaning. Feel free to reopen it if it is still an issue

[2017-12-11 20:14] haberman commented on #3470
Yes, more specifically the code would be:

[code]

We don't have any code built-in for converting type URL to name yet.

[2017-12-11 20:14] jtattermusch commented on #3394
fixed by #3473

[2017-12-11 20:17] haberman commented on #3458
This has been released.

[2017-12-11 20:19] anandolee commented on #3885
I assume this is out dated or duplicated with #3925. Will close it for cleaning.

[2017-12-11 20:21] acozzette commented on #3312
Unfortunately we just don't have the time and resources to take on official support for another language at this time.

[2017-12-11 20:22] jtattermusch commented on #3379
Are we planning to fix this or can we close?

[2017-12-11 20:22] xfxyjwf commented on #3906
JsonFormat implements proto3 JSON spec and for better interoperability between languages it is not intended to be customized.

[2017-12-11 20:23] pherl commented on #3611
This is something that we probably won't support. You would have to copy those lists somehow.

[2017-12-11 20:23] jtattermusch commented on #3377
Perhaps we could update the docs?

[2017-12-11 20:23] haberman commented on #3435
ProtoBuf.js is a separate implementation of protobuf developed in a separate repository (https://github.com/dcodeIO/ProtoBuf.js/). Issues against it should be filed there.

[2017-12-11 20:24] TeBoring commented on #3185
I don't think this is our implementation.

[2017-12-11 20:25] jtattermusch commented on #3369
@TeBoring, looks like we won't be fixing this as it would be a breaking change?

[2017-12-11 20:26] haberman commented on #3432
Supporting more data structures in protobuf is really complicated, especially when you consider all of the languages protobuf supports. We added map support, but even just simple maps is one of the most complicated features of protobuf, and one of the most difficult to maintain. I don't think we will add support for other data structures like hash set. You can always copy the protobuf into your ow

[2017-12-11 20:27] pjebs commented on #4023
No

[2017-12-11 20:27] anandolee commented on #3873
If you want dummy_messages.pb.* under outdir/ directly, try -I proto_subdir/messages/

[2017-12-11 20:29] pherl commented on #3586
We are closing open issues. Feel free to send PRs and reopen if you'd like to follow up on the issue.

[2017-12-11 20:29] TeBoring commented on #3175
In your command line, you should link to the implementation of function_call. Besides, this is a general c dev question. You may get more help from stackoverflow.

[2017-12-11 20:29] pherl commented on #3584
We are closing open issues. Feel free to send PRs and reopen if you'd like to follow up on the issue.

[2017-12-11 20:30] pherl commented on #3581
I believe should have been fixed.

[2017-12-11 20:30] jtattermusch commented on #3359
@xfxyjwf  I think we can close this as "won't fix?"

[2017-12-11 20:30] #3581 closed

[2017-12-11 20:30] haberman commented on #3423
The comment in descriptor.proto seems to clearly say it is only for JavaScript. If there is a misleading comment, please let us know.

[2017-12-11 20:32] kpayson64 opened #4027 "Compiling for NodeJS with import_style=commonjs does not create commonjs modules for messages"
Reported here:
https://github.com/grpc/grpc/issues/9189

[2017-12-11 20:32] xfxyjwf commented on #3116
The error message contains incorrect file paths and that suggests an incorrect locale setting. That's likely also the cause of the test failure. You can safely ignore it though. Protobuf should still be able to function correctly despite the test failure.

[2017-12-11 20:32] kpayson64 commented on #4027
cc
@murgatroid99

[2017-12-11 20:32] jtattermusch commented on #3358
It is unclear what your problem actually is, therefore closing.

[2017-12-11 20:33] anandolee commented on #3864
Protoc is implemented by C++, just download one protoc-version-win32.zip: https://github.com/google/protobuf/releases

[2017-12-11 20:33] BSBandme commented on #2977
Can you describe a little more on this issue? Which language are you using?
I think for Java and C++ we has the way to clear all the the elements

[2017-12-11 20:33] pherl commented on #2872
We are closing open issues. Feel free to send PRs and reopen if you'd like to follow up on the issue.

[2017-12-11 20:35] xfxyjwf commented on #3111
We no longer support or test protobuf on gcc 3.x. I would recommend upgrading your C++ compiler.

[2017-12-11 20:35] pherl commented on #2863
We are closing open issues. Feel free to send PRs and reopen if you'd like to follow up on the issue.

[2017-12-11 20:37] pherl commented on #2862
Do you still have the issue? We are closing open issues. Feel free to send PRs and reopen if you'd like to follow up on the issue.

[2017-12-11 20:37] JanecekPetr commented on #3611
That's a shame, but I understand the decision. Is the rationale that you don't think the feature would pull its weight, or is it a more philosophical problem, e.g. that serializing a lazy list is not well defined?

[2017-12-11 20:37] #3611 closed

[2017-12-11 20:38] xfxyjwf commented on #3106
It's unlikely that we will ever introduce such an option to generated MergeFrom API. You can though implement the merging behavior using proto reflection API. You can take a look at FieldMaskUtil which has an example MergeFrom() implementation that allows you to replace repeated fields rather than appending.

[2017-12-11 20:38] pherl commented on #2845
We are closing open issues. Feel free to send PRs and reopen if you'd like to follow up on the issue.

[2017-12-11 20:39] acozzette commented on #2910
We don't officially support Lua, but there are some independent Lua implementations of protocol buffers that you could try.

[2017-12-11 20:39] anandolee commented on #3831
Sorry, looks like it  is depend on your project. I don't think protobuf team can help on your design

[2017-12-11 20:40] pherl commented on #2828
Do you still have this problem? We are closing open issues. Feel free to send PRs and reopen if you'd like to follow up on the issue.

[2017-12-11 20:41] haberman commented on #2718
The idea of adding generated annotations is covered in this issue: https://github.com/google/protobuf/issues/42

[2017-12-11 20:42] vmax commented on #2977
@BSBandme I'm talking about Python

[2017-12-11 20:43] anandolee commented on #1889
@xfxyjwf any update ?

[2017-12-11 20:44] BSBandme commented on #3012
Any updates on this? Will your PR be merged?

[2017-12-11 20:44] pherl commented on #2790
We are closing open issues. Feel free to send PRs and reopen if you'd like to follow up on the issue.

[2017-12-11 20:44] xfxyjwf commented on #3097
We decided not to provide an official shaded version because we don't want to allow users to mix two proto Java runtimes. You can always shade it yourself though.

[2017-12-11 20:45] anandolee commented on #1890
@haberman any update?

[2017-12-11 20:45] thomasvl commented on #3156
@TeBoring sorry, I can't say I have any real experience sorting though the libtool/configure/automake side of things, I've done just the minimal work to get the conformance test building for ObjC.

[2017-12-11 20:46] BSBandme commented on #3014
The builder should has an method a mergeFrom function that can merge from another builder or message. You may copy item first then overwrite new value of already merged item field

[2017-12-11 20:47] anandolee commented on #1795
Closing it for unable to reproduce and no response

[2017-12-11 20:48] pherl commented on #2767
There's descriptor_set_out parameter which will generate a transitive closure on all the descriptors set.

[2017-12-11 20:48] anandolee commented on #1775
@acozzette any updates?

[2017-12-11 20:49] xfxyjwf commented on #3095
Note that this is more likely a compiler bug than a protobuf one. Maybe you can help post the issue to a C++ compiler bug tracker?

[2017-12-11 20:49] pherl commented on #2756
We are closing open issues. Feel free to send PRs and reopen if you'd like to follow up on the issue.

[2017-12-11 20:50] pherl commented on #2750
We are closing open issues. Feel free to send PRs and reopen if you'd like to follow up on the issue.

[2017-12-11 20:52] xfxyjwf commented on #3093
The JSON serializer must only use Z suffix, but the parser should accept other timezones. The comment in timestamp.proto needs some more clarification.

[2017-12-11 20:52] anandolee commented on #1746
@haberman any updates or should we close it?

[2017-12-11 20:53] jtattermusch commented on #2294
@haberman  can this be closes?

[2017-12-11 20:54] pherl commented on #304
We are closing open issues. Feel free to send PRs and reopen if you'd like to follow up on the issue.

[2017-12-11 20:54] haberman commented on #2595
Crystal isn't currently in our list of supported languages, and I don't think there are any plans to support it at this time.

[2017-12-11 20:54] TeBoring commented on #910
Feel free to reopen if there is still problem.

[2017-12-11 20:54] pherl commented on #274
I believe this is already implemented.

[2017-12-11 20:54] xfxyjwf commented on #3091
It's unlikely that we will ever add a new field type to protobuf. The only viable solution is to use the length-delimited field type to mimic other field types but it also doesn't actually save anything compared to uint32.

[2017-12-11 20:55] jtattermusch commented on #2281
Closing as this issue is about wrong usage of python API rather then an actual issue with protobuf.

[2017-12-11 20:55] anandolee commented on #1726
@acozzette Any updates?

[2017-12-11 20:55] pherl commented on #272
All languages will be fixed in 3.5.x releases.

[2017-12-11 20:56] jtattermusch commented on #2276
Closing as this is not actionable.

[2017-12-11 20:58] xfxyjwf commented on #3078
The types in struct.proto is designed to represent JSON values but "bytes" is not an standard JSON value type so it won't be in struct.proto. You should use a string (base64 encoded maybe) instead.

[2017-12-11 21:00] anandolee commented on #1591
@haberman any updates?

[2017-12-11 21:04] jtattermusch commented on #2201
No activity here for >1 year, closing.

[2017-12-11 21:04] pherl commented on #141
I believe this will be a behavior change that we won't be able to fix.

[2017-12-11 21:05] pherl commented on #141
Probably update the document to match the behavior then.

[2017-12-11 21:07] #3774 closed

[2017-12-11 21:07] #3793 closed

[2017-12-11 21:07] #3800 closed

[2017-12-11 21:07] #3805 closed

[2017-12-11 21:07] #3831 closed

[2017-12-11 21:07] #3864 closed

[2017-12-11 21:07] #3873 closed

[2017-12-11 21:07] #3881 closed

[2017-12-11 21:07] #3885 closed

[2017-12-11 21:07] #3893 closed

[2017-12-11 21:07] #3897 closed

[2017-12-11 21:07] #3906 closed

[2017-12-11 21:07] #3917 closed

[2017-12-11 21:07] #3922 closed

[2017-12-11 21:07] #3930 closed

[2017-12-11 21:07] #3933 closed

[2017-12-11 21:07] #3935 closed

[2017-12-11 21:07] #3937 closed

[2017-12-11 21:07] #3948 closed

[2017-12-11 21:07] #3950 closed

[2017-12-11 21:07] #3951 closed

[2017-12-11 21:07] #3952 closed

[2017-12-11 21:07] #3992 closed

[2017-12-11 21:07] #3501 closed

[2017-12-11 21:07] #3545 closed

[2017-12-11 21:07] #3550 closed

[2017-12-11 21:07] #3551 closed

[2017-12-11 21:07] #3557 closed

[2017-12-11 21:07] #3558 closed

[2017-12-11 21:07] #3572 closed

[2017-12-11 21:07] #3584 closed

[2017-12-11 21:07] #3599 closed, assigned to nobody

[2017-12-11 21:07] #3277 closed

[2017-12-11 21:07] #3290 closed

[2017-12-11 21:07] #3293 closed

[2017-12-11 21:07] #3295 closed

[2017-12-11 21:07] #3296 closed

[2017-12-11 21:07] #3299 closed

[2017-12-11 21:07] #3312 closed

[2017-12-11 21:07] #3320 closed

[2017-12-11 21:07] #3323 closed

[2017-12-11 21:07] #3324 closed

[2017-12-11 21:07] #3328 closed

[2017-12-11 21:07] #3329 closed

[2017-12-11 21:07] #3358 closed

[2017-12-11 21:07] #3361 closed

[2017-12-11 21:07] #3362 closed

[2017-12-11 21:07] #3394 closed

[2017-12-11 21:07] #3396 closed

[2017-12-11 21:07] #3404 closed

[2017-12-11 21:07] #3432 closed

[2017-12-11 21:07] #3435 closed

[2017-12-11 21:07] #3447 closed

[2017-12-11 21:07] #3458 closed

[2017-12-11 21:07] #3477 closed

[2017-12-11 21:07] #3479 closed

[2017-12-11 21:07] #3498 closed

[2017-12-11 21:07] #2909 closed

[2017-12-11 21:07] #2910 closed

[2017-12-11 21:07] #2924 closed

[2017-12-11 21:07] #2940 closed

[2017-12-11 21:07] #2945 closed

[2017-12-11 21:07] #2956 closed

[2017-12-11 21:07] #2979 closed

[2017-12-11 21:07] #2984 closed

[2017-12-11 21:07] #3002 closed

[2017-12-11 21:07] #3005 closed

[2017-12-11 21:07] #3032 closed

[2017-12-11 21:07] #3035 closed

[2017-12-11 21:07] #3037 closed

[2017-12-11 21:07] #3044 closed

[2017-12-11 21:07] #3072 closed

[2017-12-11 21:07] #3078 closed

[2017-12-11 21:07] #3081 closed

[2017-12-11 21:07] #3091 closed

[2017-12-11 21:07] #3095 closed

[2017-12-11 21:07] #3097 closed

[2017-12-11 21:07] #3099 closed

[2017-12-11 21:07] #3106 closed

[2017-12-11 21:07] #3111 closed

[2017-12-11 21:07] #3116 closed

[2017-12-11 21:07] #2595 closed

[2017-12-11 21:07] #2642 closed

[2017-12-11 21:07] #2718 closed

[2017-12-11 21:07] #2750 closed

[2017-12-11 21:07] #2756 closed

[2017-12-11 21:07] #2765 closed

[2017-12-11 21:07] #2767 closed

[2017-12-11 21:07] #2790 closed

[2017-12-11 21:07] #2797 closed

[2017-12-11 21:07] #2828 closed

[2017-12-11 21:07] #2845 closed

[2017-12-11 21:07] #2857 closed

[2017-12-11 21:07] #2862 closed

[2017-12-11 21:07] #2863 closed

[2017-12-11 21:07] #2872 closed

[2017-12-11 21:07] #2874 closed

[2017-12-11 21:07] #2875 closed

[2017-12-11 21:07] #2876 closed

[2017-12-11 21:07] #2878 closed

[2017-12-11 21:07] #2888 closed

[2017-12-11 21:07] #2892 closed

[2017-12-11 21:07] #2894 closed

[2017-12-11 21:07] #2903 closed

[2017-12-11 21:07] #2905 closed

[2017-12-11 21:07] #2908 closed

[2017-12-11 21:07] #1173 closed

[2017-12-11 21:07] #1382 closed

[2017-12-11 21:07] #1476 closed

[2017-12-11 21:07] #1543 closed

[2017-12-11 21:07] #1711 closed

[2017-12-11 21:07] #1743 closed

[2017-12-11 21:07] #1745 closed

[2017-12-11 21:07] #1754 closed

[2017-12-11 21:07] #1795 closed

[2017-12-11 21:07] #1800 closed

[2017-12-11 21:07] #1838 closed

[2017-12-11 21:07] #1947 closed

[2017-12-11 21:07] #2003 closed

[2017-12-11 21:07] #2180 closed

[2017-12-11 21:07] #2201 closed

[2017-12-11 21:07] #2276 closed

[2017-12-11 21:07] #2281 closed

[2017-12-11 21:07] #2314 closed

[2017-12-11 21:07] #2320 closed

[2017-12-11 21:07] #2335 closed

[2017-12-11 21:07] #2425 closed

[2017-12-11 21:07] #2474 closed

[2017-12-11 21:07] #2513 closed

[2017-12-11 21:07] #2583 closed

[2017-12-11 21:07] #272 closed

[2017-12-11 21:08] #274 closed

[2017-12-11 21:08] #304 closed

[2017-12-11 21:08] #910 closed

[2017-12-11 21:13] jhump commented on #3819
@jtattermusch was this resolved?

[2017-12-11 21:18] cbornet commented on #2984
That's not nice... A lot of people want this...

[2017-12-11 21:19] ejona86 commented on #42
`@Generated` is a bit more complex with Java 9, since it is being removed from the default class path. See https://github.com/grpc/grpc-java/pull/3638#issuecomment-340571535

[2017-12-11 22:02] sergiocampama commented on #3759
As of Xcode 9.2, clang does not understand this flag.

[2017-12-11 22:05] jyaif commented on #3759
Thanks for the update!

[2017-12-11 22:34] xfxyjwf commented on #3819
I guess this was closed by mistake. @jhump do you plan to make a pull request for this?

[2017-12-11 22:40] xfxyjwf commented on #3359
Yes, there is no plan to add a set type in protobuf.

[2017-12-11 22:40] #3359 closed

[2017-12-11 22:41] #3423 closed

[2017-12-11 22:48] xfxyjwf commented on #3151
This missing @Override are mostly because Java 1.5 errors out on @Override on an interface method. Though we no longer support Java 1.5 though so we should clean it up to add back the appropriate @Override annotations.

The fallthrough is intentionally. Note that we now only support using lite through the java-lite protoc plugin in the javalite branch.

[2017-12-11 23:01] jhump commented on #3819
@xfxyjwf, I do hope to eventually. I started working on it, and have a pretty decent grasp of the changes I need to make. (To be honest, I lost a little momentum after I addressed it in my own proto parser that produces source code info, in a Go library named [protoreflect](https://godoc.org/github.com/jhump/protoreflect/desc/protoparse). But I do expect to return to it.)

[2017-12-11 23:03] TeBoring commented on #3966
Sorry, I have difficulty reproducing your bug.
Could you paste your composer.json, command line code and your php code?

[2017-12-11 23:04] TeBoring commented on #3966
Please make sure you can use the stuff you paste to reproduce your bug.

[2017-12-11 23:06] xfxyjwf commented on #1755
Closing as this issue was opened for a while and it's not actionable for us. There isn't much we can do unless we can reproduce the issue on our testing environment. Feel free to open new issues or send us pull requests if you still see the issue with latest protobuf versions.

[2017-12-11 23:06] #1755 closed

[2017-12-11 23:10] xfxyjwf commented on #1744
Closing due to inactivity.

Note that now bazel has built-in support for cc_proto_library rule so you don't need to use the  cc_proto_library def in protobuf.bzl any more. See an example BUILD file here:
https://github.com/google/protobuf/blob/master/examples/BUILD#L25

[2017-12-11 23:10] #1744 closed

[2017-12-11 23:10] TeBoring commented on #3966
Currently, I don't understand what is ```Example of this code:``` and how it's used to reproduce bug.

[2017-12-11 23:19] TeBoring commented on #3966
Make sure you to clean your previous ```vendor``` folder and do everything from scratch.

[2017-12-11 23:30] TeBoring commented on #4023
Could you paste your error message?

[2017-12-11 23:33] TeBoring commented on #4023
I have successfully build the docker with:
[code]

[2017-12-11 23:34] TeBoring commented on #4023
It seems you need to install essential build tools first.

[2017-12-12 00:06] TeBoring commented on #3779
From my understanding, accessing through field directly is a behavior that we want to forbid. It's not like ```mergeFromString``` which we want user to be able to catch if data is not right. We don't want accessing through field appear in user's code. The current behavior helps user find it at develop time instead of leaving it to production.

[2017-12-12 00:12] acozzette commented on #4001
@ravijo I'm not familiar with ROS at all so it's hard for me to say how to make it work with your protobuf subdirectory. I'm guessing that something is wrong with your build setup. Is your tutorial code using a protoc other than `/usr/bin/protoc`?

[2017-12-12 00:15] acozzette commented on #1726
Let me just close this for now because I'm not actively working on it. Once we figure out how we will integrate with Abseil we can revisit this anyway.

[2017-12-12 00:15] #1726 closed

[2017-12-12 00:16] TeBoring commented on #3779
Feel free to reopen if you still have question.

[2017-12-12 00:16] #3779 closed

[2017-12-12 00:19] TeBoring commented on #1399
Fixed

[2017-12-12 00:19] #1399 closed

[2017-12-12 00:30] TeBoring commented on #2768
Fixed.

[2017-12-12 00:30] #2768 closed

[2017-12-12 01:08] pjebs commented on #4023
Thanks very much. I'll try your suggestion it soon.
What does `$PHPIZE_DEPS` refer to?

[2017-12-12 01:09] TeBoring commented on #3156
@JakubBednar Do you still have problem?
I found this issue may be useful: https://github.com/nodejs/node-gyp/issues/469
Besides, have you tried defining LDFLAGS="-mmacosx-version-min=10.7 in option 2?

[2017-12-12 01:16] TeBoring commented on #4023
I don't know either. I was referring to: https://github.com/docker-library/php/issues/412

[2017-12-12 01:22] #3275 closed

[2017-12-12 01:24] TeBoring commented on #3593
This is a known issue. We will need to fix it in upb.

[2017-12-12 01:24] #3925 closed

[2017-12-12 01:33] TeBoring commented on #3771
@blowmage the bug you pasted should have been fixed in 3.5.0
@gaffo the bug you pasted is suspicious, could you reproduce it with 3.5.0?

[2017-12-12 01:39] TeBoring commented on #3929
@remicollet thanks for help. What's Pov by the way?

[2017-12-12 02:49] pjebs commented on #4023
They are referring to pecl not working. For me it works perfectly for `grpc` and `mongodb` extension. Just not `protobuf`

[2017-12-12 02:50] TeBoring commented on #4023
Does it work now?
On Mon, Dec 11, 2017 at 18:49 pjebs <notifications@github.com> wrote:

[2017-12-12 03:00] ravijo commented on #4001
@acozzette: Basically the problem arrived since I installed protocol buffer 3 from source and I was unaware that the older version of protocol buffer is being used by ROS and already present in the system. Although, I followed your suggestion to remove the protocol buffer 3 but the problem still exists.

Below is the more information about `protoc`:
[code]
Well, I am in the process of debugging. I

[2017-12-12 03:19] pjebs commented on #4023
Still doesn't work.

[code]

[2017-12-12 03:52] estekhin commented on #42
Yeah, in Java 9 these is a new annotation [javax.annotation.processing
.Generated](https://docs.oracle.com/javase/9/docs/api/javax/annotation/processing/Generated.html).

But you can wait four more years before using it just in case something will be deprecated/removed from the classpath/whatever.

[2017-12-12 04:46] willin commented on #3211
？？

[2017-12-12 07:09] cyyber opened #4029 "Membership test of a key in Map have different behavior in Python & CPP API"
Recently, I have faced an issue using protobuf in Python3, where CPP environ works fine, but python environ fails to find the key. This behavior has recently caused disruption to the distribution of our software using protobuf.

Lets assume the following protoformat

message myData {
    map<string, uint64> data = 1;
}

Now lets assume I set the cpp environment I do the following after generating

[2017-12-12 08:48] awalterschulze commented on #2180
Why is this closed?

[2017-12-12 11:48] Smirl commented on #3607
+100

### Environment

- Python 2.7.10
- nginx==1.12.1
- protobuf==3.0.0
- uWSGI==2.0.12
- Amazon Linux

### Info

We are seeing the same issue when we upgraded from `pip==6.0.8` to `pip==9.0.1`. It looks like this later version of pip prefers the Platform Wheel `protobuf-3.0.0-cp27-cp27mu-manylinux1_x86_64.whl` where `pip==6.0.8` prefers the Universal Wheel `protobuf-3.0.0-py2.py3-none-any.whl`.

[2017-12-12 11:55] hasu94 commented on #3944
Here's the pull request
https://github.com/google/protobuf/pull/3945

[2017-12-12 12:00] hasu94 commented on #3944
I've added backslashes in the phpdoc blocks in my pull request.

[2017-12-12 12:15] jbq opened #4031 "PHP crash on array_key_exists() / full test-case included"
This is a followup to issue #3779.  I did some further research.

Please find at https://github.com/jbq/protobuf-crash a full crash test with PHP 7.2.0.

Here is the GDB traceback of the crash:

[code]

The crash only arises with the protobuf extension loaded and with the following code on the `array_key_exists()` call:

[code]

Where `Tender` is a proto object:

[code]

[2017-12-12 12:15] jbq commented on #4031
@TeBoring for you ;-)

[2017-12-12 12:17] wsw2016 opened #4032 "Abort in JsonToBinaryStream on mismatched type in json [C++]"
If the json content mismatches with the "announced" type_url the function util::JsonToBinaryStream aborts instead of returning the issue in util::Status.

The problem occurs within the destructor of internal::ZeroCopyStreamByteSink sink(binary_output), which aborts, if no input was provided during the parsing.

Version 3.5.0.

[2017-12-12 13:14] alexpantyukhin commented on #2876
@pherl Actually I would like to have somnething like this:
[code]

after that in python I woud like to add the method (somehow) for example to_string(self).. and call it from python code:
[code]

[2017-12-12 15:24] thomasvl commented on #3060
Do you have an example setup to reproduce the problem?

@sergiocampama set up some [integration tests around CocoaPods](https://github.com/google/protobuf/tree/master/objectivec/Tests/CocoaPods) in the past to make sure things always work, but if there's something missed, it would be nice to extend them to cover other failure modes.

[2017-12-12 15:26] thomasvl commented on #1675
Closing this since there currently aren't any plans to add it, but will use this issue as the "main" one if folks ask about it again.

[2017-12-12 15:26] #1675 closed

[2017-12-12 16:00] AlexTheLost opened #4033 "Incorrect result of with empty LiteralByteString.toStringUtf8()."
Hi! I'm found strange behavior - empty LiteralByteString ("") on call toStringUtf8(), returned String that look like as empty, but actualy contains some number of 'empty' symbols, in quantity 16.
In consequence, comparing empty java.lang.String and LiteralByteString no return true -> java.lang.String.equals(LiteralByteString.toStringUtf8()).
By after print both look similar as "".
I'm found workar

[2017-12-12 17:04] ejona86 commented on #893
Seems like this was fixed via #2836

[2017-12-12 17:59] #1375 closed

[2017-12-12 18:14] juanenriqueescobar commented on #4023
https://github.com/google/protobuf/issues/3929

[2017-12-12 18:18] acozzette commented on #3115
I'll close this issue because we actually ended up fixing this in 09354db1434859a31a3c81abebcc4018d42f2715 for the 3.4 release.

[2017-12-12 18:18] #3115 closed

[2017-12-12 18:30] TeBoring commented on #3929
I have a question. If user has installed the date extension, is timelib_update_ts guaranteed to be available?
If yes, I will just add a check in protobuf (throw error if user want to call Timestamp method without installing data extension). If not, I will implement using other API. @remicollet

[2017-12-12 19:59] pherl commented on #3128
Unfortunately we typically don't make the generated methods free of unused-parameter warning. This would require additional logic in the protoc compiler to if the definition is empty etc. I'd suggest allow unused-parameter for pb.h and pb.cc compilation. We do make the unused-parameter free in our runtime though.

[2017-12-12 19:59] #3128 closed

[2017-12-12 20:05] gerben-s commented on #3630
Protobuffers doesn't throw exceptions. Throwing an exception is equivalent to aborting for us, so if any part (for instance new) throws in the proto library, you should see protos as inconsistent and only aborting is defined. Given this semantics adding noexcept is correct. Furthermore move-semantics is only useful with noexcept otherwise containers will not use move, so we can't remove noexcept.

[2017-12-12 20:05] #3630 closed

[2017-12-12 20:10] felixcuello commented on #3650
The workaround I found (for now) is to rename map structures and have unique names for all of them. Because as soon as I repeat the map name we get the exact same error.

[2017-12-12 20:14] tkohlman commented on #3128
Treating warnings as errors is a very commonly used compiler tool. For something as widely used as Google protocol buffers, I don't think it is an unreasonable request to ask that the generated code be free of the most common warnings.

It seems the project has accepted fixes occasionally in the past (e.g. for #2032 and #2326, but not for #719 or #68). Would you not even accept a pull request for

[2017-12-12 20:15] gerben-s commented on #2943
Are you sure the proto library is only linked in once? This seems like the proto lib is included twice in the final executable. Resulting in weird behavior like this.

[2017-12-12 20:15] pherl commented on #141
It seems like this already prints empty and the documentation was correct.

[2017-12-12 20:15] #141 closed

[2017-12-12 20:16] mjmateuci commented on #3650
Do you guys found another way to solve this issue? @bryanvpham @pherl

[2017-12-12 20:17] gerben-s commented on #3195
This is WAI

[2017-12-12 20:17] #3195 closed

[2017-12-12 20:20] pherl commented on #3260
Nano is deprecated in favor of lite. Also this will be a behavior change that would be problematic for existing users. I'd suggest migrating over to use lite for android/mobile.

[2017-12-12 20:20] #3260 closed

[2017-12-12 20:21] pherl commented on #2285
Removed it from the fixit event as it's an enhancement/feature-request.

[2017-12-12 20:22] gerben-s commented on #1490
Isn't this done by Adam?

[2017-12-12 20:32] pjebs commented on #4023
<div class="center">

<table>

<tbody>

<tr class="h">

<td>

# PHP Version 7.2.0

</td>

</tr>

</tbody>

</table>

<table>

<tbody>

<tr>

<td class="e">System</td>

<td class="v">Linux 03e9cc34f88d 4.9.49-moby #1 SMP Fri Dec 8 13:40:02 UTC 2017 x86_64</td>

</tr>

<tr>

<td class="e">Build Date</td>

<td class="v">Dec 1 2017 19:00:49</td>

</tr>

<tr>

<td class="e">Configure Command</td>

<td

[2017-12-12 20:33] pjebs commented on #4023
date extension is installed

[2017-12-12 20:40] toffaletti commented on #2895
If you run `setup.py build` before `setup.py install` then the compiler module is included.

[2017-12-12 21:59] TeBoring commented on #3929
@remicollet Do u mind take a look at #4034?

[2017-12-12 22:03] xfxyjwf commented on #157
Closing due to inactivity. When I checked with a google internal mailing group, it seemed people were not generally concerned with this issue. And since we plan to move to depend on absl anyway, fixing this protobuf fork of absl code isn't really necessary.

[2017-12-12 22:03] #157 closed

[2017-12-12 22:25] xfxyjwf opened #4035 "Update developer guide C++/Java/Python tutorials to proto3"
Right now the tutorials are still based on proto2. For example C++ tutorial:
https://developers.google.com/protocol-buffers/docs/cpptutorial

However the example code in the source code has been upgraded to proto3 already. We should migrate the docs to proto3 as well.

[2017-12-12 22:26] xfxyjwf commented on #992
Removed from the fixit backlog. Created https://github.com/google/protobuf/issues/4035 for this cleanup instead.

[2017-12-12 22:26] #992 closed

[2017-12-12 22:37] xfxyjwf commented on #1280
This is already covered by:
https://developers.google.com/protocol-buffers/docs/proto3#specifying-field-rules

and:

https://developers.google.com/protocol-buffers/docs/encoding#packed

[2017-12-12 22:37] #1280 closed

[2017-12-12 22:44] xfxyjwf commented on #1388
This will be fixed at the same time when we move to C++11 only. Doesn't need a dedicated fix. Feel free to send us a pull request though.

[2017-12-12 22:44] #1388 closed

[2017-12-12 23:02] xfxyjwf commented on #1171
Examining the conformance tests, I believe this is fixed already.

[2017-12-12 23:02] #1171 closed

[2017-12-12 23:26] gerben-s commented on #3786
This should have been fixed by the last up integration.

[2017-12-12 23:26] #3786 closed

[2017-12-13 00:11] xfxyjwf commented on #2813
I tried your sample code and found that the NullPointerException is actually because of the bDescriptor being null, i.e., you haven't actually gotten the right extension descriptor. To get the descriptor for the extension, you need to do this instead:

[code]

You need to get it from `B` because the extension is defined in the scope of `B`.

After that you will still get an exception if you try to

[2017-12-13 00:11] #2813 closed

[2017-12-13 00:12] xfxyjwf commented on #2902
I believe this issue is fixed.

[2017-12-13 00:12] #2902 closed

[2017-12-13 00:21] pherl commented on #2917
We rely on RPC libraries to implement services via plugins. For example, https://github.com/grpc/grpc/tree/master/src/csharp

[2017-12-13 00:21] #2917 closed

[2017-12-13 00:21] xfxyjwf commented on #2904
We can't change string to std::string because our google internal code base cannot use std::string. If you have the issue, it's likely you have some code somewhere importing a different string into the global namespace. Please fix that code instead (just don't import a string class into global namespace).

[2017-12-13 00:21] #2904 closed

[2017-12-13 00:22] #2833 closed

[2017-12-13 00:27] pherl commented on #3146
It looks like a macro conflcits with des_set_key. Unfortuantely we won't be able to help. Maybe you could try `#undef set_key` and see that would solve the problem.

[2017-12-13 00:27] #3146 closed

[2017-12-13 00:29] pherl commented on #3694
Could you file this in the grpc issue list instead? It's probably a problem of using the correct flags/commandlines.

[2017-12-13 00:29] #3694 closed

[2017-12-13 00:36] pherl commented on #3602
I'd suggest setting the version to the latest version in the same minor version. e.g. for 3.3.2, look for the latest one >=3.3.0 && < 3.4.0. This will make the dependency much stable. We typically have per-language fixes and releasing all other languages will slow down the release and development. Hopefully it would be better when we break down each languages to have their own release schedule.

[2017-12-13 00:36] #3602 closed

[2017-12-13 00:39] pherl commented on #3304
You can download the 3.3.0 again and run `make uninstall`. It's just a few `rm` commands.

[2017-12-13 00:39] #3304 closed

[2017-12-13 00:39] xfxyjwf commented on #3102
It seems to me there are different issues here.

The issue @roryw10  originally reported is likely because the installed tensorflow is built against a different protobuf version from the default version available on the machine. Uninstalling the old 2.6.1 version as suggested by Adam should work.

 @oguzhancebe 's issue seems to be caused by building different versions of protobuf in the same dire

[2017-12-13 00:39] #3102 closed

[2017-12-13 00:40] pherl commented on #3696
Closing due to inactivity.

[2017-12-13 00:40] #3696 closed

[2017-12-13 00:45] pherl commented on #3705
We don't have a doc about comparison with json. But the basic arguments between binary format and text format are the similar: the performance difference is still orders of magnitude; it's type safe to access in programming languges, etc.

[2017-12-13 00:45] #3705 closed

[2017-12-13 01:16] #4015 closed

[2017-12-13 01:19] pherl commented on #3398
Closing this as it's unlikely we will be able to introduce a flag this for purpose. Mostly as Feng mentioned, the symbols of the sub-message fields highly depend on the java_multiple_files option. Moving this out of the schema definition makes the symbol cross linking harder to use especially when libraries/protos are provided by different parties.

[2017-12-13 01:19] #3398 closed

[2017-12-13 01:34] pherl commented on #3723
Could you try if the automake based build works on MinGW? The js/embed.cc is a simple program (self-contained with no external dependencies) that generate a source file. I suspect it's the compilation flag issue, e.g. lack of libstdc++ library when linking the embedding binary.

Unfortunately I don't think I can provide further help here. Maybe ask on MinGW32 or cmake forum as well. Closing this f

[2017-12-13 01:34] #3723 closed

[2017-12-13 01:51] xfxyjwf commented on #2943
After a few tries I was able to reproduce the segfault on my macosx laptop.

These don't segfault and will work:
1. The main binary doesn't link with protobuf; the .dylib static linked with libprotobuf.a.
2. The main binary doesn't link with protobuf; the .dylib is dynamically linked with libprotobuf.a.
3. The main binary is dynamically linked with protobuf; the .dylib is also dynamically linked w

[2017-12-13 01:51] #2943 closed

[2017-12-13 01:52] #3093 closed

[2017-12-13 01:56] gatkinso commented on #2943
The initialization code is sloppy beyond belief, yet this is what passes as a fix?  Fine.  I'll fix it myself.

[2017-12-13 01:58] xfxyjwf commented on #3602
Before we automate the binary release process, releasing binary artifacts for patch versions is just too much work and as Adam mentioned there are likely no changes made in many languages in a patch release. I would recommend updating your build setup to allow protoc version to be different from runtime version. Our release process will likely stay this way for a while until we get to build an aut

[2017-12-13 02:01] xfxyjwf commented on #3297
There isn't official support for this but you can probably find some third_party implementations. If none available, you can also implement one yourself using protoc plugin. See third party extensions listed here:
https://github.com/google/protobuf/blob/master/docs/third_party.md

[2017-12-13 02:01] #3297 closed

[2017-12-13 02:07] xfxyjwf commented on #2943
There is no fix for this problem as we have no plan to support double linking protobuf.

[2017-12-13 04:08] pretty-wise commented on #2943
To work around this problem I made void InitShutdownFunctionsOnce() (in src/google/stubs/common.cc) not inlined.

I hope it helps!

[2017-12-13 05:37] remicollet commented on #3929
1/ the date extension is always there (cannot be shared or disabled)
2/ timelib_update_ts  is never there (private)

I will try the patch later this week (busy with 7.2.1RC1)

btw, could make sense to add a dependency on date extension (using ZEND_MOD_REQUIRED)

[2017-12-13 06:41] sviterok commented on #3983
@xfxyjwf hm.. I don't think that the label is right. We should probably change it from `c#` to `python`.

[2017-12-13 07:39] ravijo opened #4039 "PROTOBUF_INCLUDE_DIR is pointing to incorrect location"
I installed Protocol Buffers locally by `using ./configure --prefix=$PWD` inside l`ib/protobuf-3.5.0` directory. I configured `CMakeLists.txt` and provided the path to this location as follows:
[code]
Below is the output reported at terminal:
[code]
Surprisngly, some of the variables are empty and remaning are pointing to incorrect location. In this case, it should point to `${PROJECT_SOURCE_DIR}/

[2017-12-13 09:11] languitar commented on #3602
Sure I can do that. But an explicit statement somewhere in the documentation about these assumptions and rules would be very helpful. At the time we looked on how to automate things, there was just the general rule to "use the same version everywhere", which fails here.

[2017-12-13 10:59] ardatur commented on #2904
@xfxyjwf Please clarify: does this mean that that "string" is supposed to refer to std::string for external users and to something very different when used in your internal code base? Shouldn't this be properly handled by an appropriate #if + typedef or something similar, then?

[2017-12-13 12:10] sm2017 commented on #3571
@Tenmak  I just reopen issue

[2017-12-13 13:47] gatkinso commented on #2943
Krzysiek that is basically the approach I am looking at as well.

However for me it is not a complete solution.  The issue for me is that I am writing an application that can load plugins developed by third parties.  Since I statically link to libprotobuf... this will prevent any third parties from doing likewise (which is how this defect was discovered to begin with, and shipping a shared library

[2017-12-13 14:31] pretty-wise commented on #2943
That's my feeling too. In my experience protobufs _is_ supporting static linking to multiple libraries. It looks like MacOS specific issue to me. I am building a similar application except I develop all the plugins myself. I am testing it on MacOS and CentOS and everything is working well on CentOS - only MacOS has the problem.

[2017-12-13 16:03] gatkinso commented on #2943
Yup -  Windows and various flavors of Linux seem to be fine.... and the 2.x lineage didn't seem to have this issue.  Oh well, what's done is done.

[2017-12-13 17:33] acozzette commented on #1490
@gerben-s Ah yes, I did do this a while back. Let me just close this issue then.

[2017-12-13 17:33] #1490 closed

[2017-12-13 18:48] seperman commented on #3986
Also it took me a while to find where to import Timestamp from. It was not in the docs. `from google.protobuf.timestamp_pb2 import Timestamp`

[2017-12-13 18:56] BSBandme commented on #1327
The comformance test should have covered this case:
https://github.com/google/protobuf/blob/master/conformance/conformance_test.cc#L1838

[2017-12-13 18:56] #1327 closed

[2017-12-13 19:13] BSBandme commented on #1956
#3577
Should be done in v3.5.0

[2017-12-13 19:13] #1956 closed

[2017-12-13 19:31] BSBandme commented on #3368
I think this check is only to check the wiretype of the field, so it only need the last 3 bits or the last byte.
This should have been fixed to only check the last byte in the latest version.

[2017-12-13 19:31] #3368 closed

[2017-12-13 19:39] xfxyjwf commented on #2904
@ardatur Yes, you are right. "string" refers to some other type in our internal code base. There is ongoing effort to make it std::string though. I'm not sure what you mean by "#if + typedef" handling. Note that the string type is not defined by protobuf, but is part of the base library every Google code uses (e.g., #include <string> will include that special string). There is no way we can change

[2017-12-13 19:58] #3492 closed

[2017-12-13 21:24] pherl commented on #3377
The package and name resolution talks mostly about how to implicitly look up types in namespaces.

The case you raised are actually quite common, and I don't think we have a full list of cases where symbol names may conflict. Given the error message is already self-explanatory, I don't think adding a partial conflicting list would add too much value, as users would probably try define the same nam

[2017-12-13 21:24] #3377 closed

[2017-12-13 21:25] #2880 closed

[2017-12-13 21:27] pherl commented on #3953
I guess this applies to other function names too, but I don't think there's much we can do. Disallowing Swap or renaming Swap are both breaking changes.

[2017-12-13 21:27] #3953 closed

[2017-12-13 21:27] xfxyjwf commented on #3230
We can't change TYPE because it's part of public API. It seems you have a macro definition of TYPE somewhere in your code. To solve the issue, please `#undef TYPE` before including descriptor.h.

[2017-12-13 21:27] #3230 closed

[2017-12-13 21:28] #3715 closed

[2017-12-13 21:29] #3579 closed

[2017-12-13 21:32] BSBandme commented on #1281
Would you please specific your protobuf version?
In 3.5.0 the generated code of Builder.clear() does make the message field to be null after set the one case to be 0.

I think this should has been fix.

[2017-12-13 21:32] #1281 closed

[2017-12-13 21:34] pherl commented on #3219
Looks like your terminal returned "初始化月份字符串出错" error message for those tests. I would suggest setting locale to en.US and try the test again. The failed tests are false positive anyways and I guess you can just ignore them and considered they pass.

[2017-12-13 21:34] #3219 closed

[2017-12-13 21:36] xfxyjwf commented on #3227
@agrabil Have you been able to solve the problem? It seems "$<" in our makefile is expended to nothing.

https://github.com/google/protobuf/blob/0bdf4a617f100e613a774117c98bc8e670c407cc/src/Makefile.am#L497

No idea how can this happen though.

[2017-12-13 21:55] xfxyjwf commented on #3274
Not sure what to do here. Feel free to send us pull requests if you have specific C++ changes needed in mind. Note that android stlport will be deprecated:

https://developer.android.com/ndk/guides/cpp-support.html#stlport

[2017-12-13 21:55] #3274 closed

[2017-12-13 22:00] xfxyjwf commented on #3212
This seems to be a problem of your WORKSPACE file. You need to import protobuf lib in your WORKSPACE file. For a working example using bazel with protobufs, you can take a look at our example here:
https://github.com/google/protobuf/blob/master/examples/BUILD#L13

Though since you are using bazel windows (which is at its very early stage of support), I suspect it's more likely to be a bazel issue

[2017-12-13 22:00] #3212 closed

[2017-12-13 22:05] xfxyjwf commented on #3379
As I mentioned in https://github.com/google/protobuf/issues/3379#issuecomment-315848977, this cannot be implemented in Java. We would like to make languages on-par in features but different languages have their limitations.

[2017-12-13 22:05] #3379 closed

[2017-12-13 22:17] #1775 closed

[2017-12-13 22:23] acozzette commented on #4032
That looks like a bug that ZeroCopyByteSink's destructor calls `BackUp()` even if no data was written. It seems like we should only call `BackUp` there if `buffer_size_` is nonzero. @wsw2016 Do you want to try fixing this and send us a pull request?

[2017-12-13 22:29] #3268 closed

[2017-12-13 23:04] #3388 closed

[2017-12-13 23:06] acozzette commented on #2068
I'm going to close this issue because I haven't been able to reproduce it even with gcc 5.4 on godbolt.org. Feel free to reopen it if this is still a problem, though.

[2017-12-13 23:06] #2068 closed

[2017-12-14 00:25] BSBandme commented on #3379
I think this won't fix in the near future?
@xfxyjwf

[2017-12-14 00:59] BSBandme commented on #2054
Not sure about this.

[2017-12-14 01:57] xfxyjwf commented on #3680
The python implementation of JSON format is here:
https://github.com/google/protobuf/blob/master/python/google/protobuf/json_format.py

Feel free to send us pull requests if you have identified places to improve.

The corresponding C++ implementation is here:
https://github.com/google/protobuf/blob/master/src/google/protobuf/util/json_util.h#L83

Not sure if it's easy to hook up the C++ implementa

[2017-12-14 01:57] #3680 closed

[2017-12-14 02:00] xfxyjwf commented on #3923
@fferri Could you attach the protoc-gen-lua binary you are using?

[2017-12-14 04:31] mkamilov opened #4048 "Windows ARM64 support"
Protobuf build fails to build in Windows ARM64 platform.

Adding following lines into platform_macros.h can solve the problem.

[code]

[2017-12-14 06:09] miyurusagarage commented on #3966
Hi, I'm encountering the same bug. It happens randomly on document create method.

![image](https://user-images.githubusercontent.com/5352806/33977917-461017a0-e0c3-11e7-8b4f-b75a5a888a40.png)

[2017-12-14 07:30] remicollet commented on #3929
Tested 3.5.0.1 + pr #4034
Build + load test OK with 5.5, 5.6, 7.0, 7.1 and 7.2

Thanks

[2017-12-14 07:42] remicollet commented on #3929
@do you plan a quick bugfix release (3.5.0.2) or should I use this patch to provide 3.5.0.1 in my [repository](https://blog.remirepo.net/pages/PECL-extensions-RPM-status) (which is stalled at 3.4 for now)  ?

[2017-12-14 07:47] lazharichir commented on #3966
Here are two composer.json I have used @TeBoring :

[code]
and...
[code]
And a one-page index.php example I have just made that gives me the error, randomly, at reads:
[code]
The error, again:
[code]

[2017-12-14 07:50] TeBoring commented on #3929
We will release 3.5.1 to include this change by end of week.
On Wed, Dec 13, 2017 at 23:43 Remi Collet <notifications@github.com> wrote:

[2017-12-14 07:54] remicollet commented on #3929
Thanks, will wait for 3.5.1 then.

[2017-12-14 08:52] Aisuko commented on #3957
I have the same issue on my win10 and anaconda3 , with the instructions from tensorflow-models repo up until the point where to run

     protoc object_detection/protos/*.proto --python_out=.

![2](https://user-images.githubusercontent.com/8053949/33983381-f8acc1d0-e0ee-11e7-8128-46f41057e1d8.JPG)

[2017-12-14 10:56] apacha commented on #3957
There is a nice script here that you can use instead: https://github.com/tensorflow/models/issues/1934

[2017-12-14 11:49] PencilBow commented on #4009
@jskeet out of curiosity I read through some of protobuff's source-code. It seems like there *are* safeguards in place! Is there something I'm missing that does allow for arbitrary allocation?
[code]
[https://github.com/google/protobuf/blob/426cf6f31ed5efae703d7a1f31edc841205414e2/csharp/src/Google.Protobuf/CodedInputStream.cs#L1139](url)

[2017-12-14 11:56] fferri commented on #3923
@xfxyjwf comes from https://github.com/urbanairship/protobuf-lua (inside protoc-plugin dir) it is a python script

[2017-12-14 12:10] jskeet commented on #4009
Gosh - I don't remember putting that in place! That does look appropriate, and ReadString goes through the same path.

Maybe that's enough - but I'm not going to guarantee that there aren't other aspects that could allocate arrays without taking that much care, e.g. for a packed repeated field. Knowing that one attack vector is shut off isn't enough to be safe, of course. Repeated field handling l

[2017-12-14 12:18] ardatur commented on #2904
@xfxyjwf The "#if+typedef" part was about explicitly assigning the correct type with
[code]
or its functional equivalent (and then using `proto_string` instead of `string`, of course).

As it is now, the open-ended/"uninitialized" type identifier used in those places leaves things to chance: with luck, it will point to the correct type, or otherwise it will start summoning typesystem-level nasal d

[2017-12-14 17:31] #3902 closed

[2017-12-14 17:33] gerben-s commented on #2169
Fixed in next down-integration

[2017-12-14 17:33] #2169 closed

[2017-12-14 17:42] acozzette commented on #4033
@AlexTheLost I'm not super familiar with the Java implementation but I know that LiteralByteString is supposed to be a private implementation detail. Is this bug visible using the public API? If it's just a quirk of that private class then it might not be something we would necessarily want to change.

[2017-12-14 18:03] acozzette commented on #4048
@mkamilov Could you send us a pull request?

[2017-12-14 18:16] andschwa commented on #3947
The unfortunate thing is that it appears that any file which includes a generated protobuf header also ends up including `wire_format_lite.h`, so this particular warning is regenerated _so many times_.

[2017-12-14 18:38] BSBandme commented on #2263
This should have been fixed in the latest version.

[2017-12-14 18:38] #2263 closed

[2017-12-14 18:50] xfxyjwf commented on #3923
@fferri Hmm, a python script? If I remember correctly, the plugin must be either a .exe or a .bat. Could you try to create a .bat wrapper about the python script and try again?

[2017-12-14 18:57] acozzette commented on #3947
I believe this was fixed in pull request #4000, though that was too late to make into the 3.5 release.

[2017-12-14 18:57] #3947 closed

[2017-12-14 19:10] BSBandme commented on #3640
@xfxyjwf  java enum behavior question

[2017-12-14 19:15] xfxyjwf commented on #2904
What you are proposing has a cost: everyone who touches protobuf code must use proto_string rather than the standard string type. I don't see it as a worthwhile investment given how many people touches protobuf code everyday and how few people actually pulling another string type into global namespace.

If you think it's common for users to pull a certain non-standard string type into global names

[2017-12-14 19:27] xfxyjwf commented on #3640
`forNumber` replaces `valueOf` and since `valueOf` returns `null` on unknown value so must `forNumber`. The `UNRECOGNIZED` value is only generated for proto3 and was introduced after `valueOf`/`forNumber` exists, so it can't really be used there. We also can't make the change now because it's an API breaking change.

[2017-12-14 19:27] #3640 closed

[2017-12-14 19:30] pherl commented on #3748
I'd suggest file a bug on the compile. I don't think there's much we can do. If you could figure a workround to make it pass for the compiler. Feel free to send a PR with `#ifdef` for the compiler/platform.

[2017-12-14 19:30] #3748 closed

[2017-12-14 19:35] anandolee commented on #3915
New changes do not guarantee python 2.6.
We removed python 2.6 because Jenkins complains for it:
DEPRECATION: Python 2.6 is no longer supported by the Python core team

Not sure if it is related to your project.

[2017-12-14 19:35] #3915 closed

[2017-12-14 19:37] pherl commented on #452
Will be updated shortly after the devsite roll-out.

[2017-12-14 19:37] #452 closed

[2017-12-14 19:38] TeBoring opened #4050 "Provide toDatetimeImmutable for Timestamp"

[2017-12-14 19:46] #3574 closed

[2017-12-14 19:47] #3741 closed

[2017-12-14 20:01] xfxyjwf commented on #3923
I have verified a .bat file will work. Just create a protoc-gen-lua.bat file with the following content:

[code]

and invoke protoc with:

[code]

[2017-12-14 20:01] #3923 closed

[2017-12-14 20:16] BSBandme commented on #3775
Sorry but can't reproduce your bug.
I can work fine for combining protoc 3.4.0 and protobuf-3.4.1-java in macOS Sierra 10.12.6

[2017-12-14 20:16] #3775 closed

[2017-12-14 20:20] #3386 closed

[2017-12-14 20:51] xfxyjwf commented on #4009
I think we can check the parsing code for every field type that uses LENGTH_DELIMITED wire format because that's the only wire type where pre-allocating large chunk of memory can possibly happen. Among those:
1. message field type should be safe because we only allocate the message object itself and can't allocate more memory for its fields without actually parsing the content.
2. string/bytes fie

[2017-12-14 20:57] asa opened #4051 "Bazel cc_proto_library uses system search path for headers - Non Hermetic"
using a simple cc_proto_library rule, the resulting pb.h file includes <google/protobuf/stubs/common.h>
this starts searching the host filesystem, which had better have the same version of protobuf headers installed or there are problems.

I would expect this include to look like the following to work correctly:
#include "external/com_google_protobuf/src/google/protobuf/stubs/common.h"

perhaps th

[2017-12-14 21:41] pherl commented on #3969
This should have already been fixed. (warnings suppressed).

[2017-12-14 21:41] #3969 closed

[2017-12-14 21:48] TeBoring commented on #3966
Here is my directory structure:
top:
composer.json vendor test/
test:
test.php (copy paste your index.php)

[2017-12-14 21:49] TeBoring commented on #3966
In test/, I ran: ```php test.php```
I got error:
[code]

[2017-12-14 21:49] TeBoring commented on #3966
Please provide detailed steps to reproduce the bug. Otherwise there is few I can do.

[2017-12-14 21:51] TeBoring commented on #3966
Besides, the environment you are providing now have too much unrelated stuff. It really helps if you can minimize the environment and focus on the stuff that cause the bug.

[2017-12-14 22:02] lazharichir commented on #3966
Alright, so I setup a localhost server with nginx and php.

New top folder with the following under:
- index.php
- composer.json
- vendor/

![image](https://user-images.githubusercontent.com/12215372/34016530-85b2df0a-e122-11e7-86b3-48ce887a5b55.png)

Minimal contents of the two files index.php and composer.json:

INDEX.PHP
[code]
COMPOSER.JSON
[code]
And at every few refreshes, I get the same err

[2017-12-14 22:06] anandolee commented on #3913
We changed the type check to accept numbers.Real (it was int, long, float in 3.4.0). However, the original 3.4.0 should also reject 'decimal.Decimal'. Can you double check if it can pass on 3.4.0.

Can you also provide more detail of your code

[2017-12-14 22:07] lazharichir commented on #3966
It seems that running `php index.php` in terminal works so far the twenty times in a row i tried. The error often comes half the times if not more. I have just tried with Apache and it works fine, too.

So maybe it is linked to Nginx?

[2017-12-14 22:08] anandolee commented on #3789
ping @samiur , are you going to provide a PR?

[2017-12-14 22:54] trueromio commented on #3913
Sorry, my bad. Just doublechecked and found the same behaviour in 3.4.0
In my client code, I've added the conversion from Decimal to float to mitigate this.

[2017-12-14 23:54] acozzette commented on #2054
This should be fixed now with pull request #4046.

[2017-12-14 23:54] #2054 closed

[2017-12-15 00:10] TeBoring commented on #3966
After running ```php index.php```, I got:
[code]

[2017-12-15 00:13] TeBoring commented on #3966
Could you reproduce your bug in a clean environment?

[2017-12-15 00:23] TeBoring commented on #3966
In order to run the test you provided, I need to have the file_with_key.key file.
Please either copy paste that file or change the test.

[2017-12-15 01:44] andschwa commented on #3947
@acozzette Thanks for the pointer, I'll add that as a patch to our build. Having trouble getting `/wd4146` to propogate everywhere... so we'll just kill the warning at the source :D

[2017-12-15 05:04] Aisuko commented on #3957
Thanks 😘  @apacha
This my solution:

Head to the [protoc releases page](https://github.com/google/protobuf/releases) and download the protoc-3.4.0-win32.zip, extract it, and you will find protoc.exe in the bin directory.

Move this to models/research folder clone to local [tensorflow model project](https://github.com/tensorflow/models/)

Next,you can use the protoc command like

    protoc object_

[2017-12-15 05:38] cdukuang opened #4054 "about"

[2017-12-15 05:39] #4054 closed

[2017-12-15 05:39] cdukuang commented on #4054
operation mistake

[2017-12-15 08:19] lazharichir commented on #3966
I cannot copy that file, it is my private json service key...

On Fri, Dec 15, 2017, 01:24 Paul Yang <notifications@github.com> wrote:

[2017-12-15 08:31] mattfabina opened #4055 "Python3: AttributeError from FileDescriptor dependencies list when importing via __init__.py"
I'm compiling protobuf schema files to python 3 using protoc, but after importing via an `__init__.py`'s `__all__`, I'm getting an `AttributeError` from the `dependencies` list of the `FileDescriptor` object. I think my situation is intuitive, but it requires a lengthy description. I have one protobuf schema that imports another one, both in the same package.

This is my directory structure, befor

[2017-12-15 11:16] orian commented on #3377
The self-explanatory message would be:
`rpc "Version" name collides with message Message in line N`.

The current message, for me caused a bit of mind fuck, checking if i'm compiling the correct .proto and so on.

[2017-12-15 11:37] ardatur commented on #2904
Not at all. I am introducing a type alias, not a new type. From the user code's point of view, the actual types will be exactly the same as they are / should be now: your internal strings for the internal codebase, std::string for everyone else. If you are worried about introducing type aliases, just wrap the types in a slightly different fashion:
[code]
and use `INTERNAL_OR_EXTERNAL_STRING` preci

[2017-12-15 12:25] mattfabina commented on #4055
My issue was that I was using an old version of the protoc compiler. I downloaded the You can download the latest version on the [GitHub repository][1].

Here is my version information now that the issue is resolved:

    $ protoc --version
    libprotoc 3.5.0
    $ pip show protobuf
    Name: protobuf
    Version: 3.5.0.post1
    Summary: Protocol Buffers
    Home-page: https://developers.google.

[2017-12-15 12:26] #4055 closed

[2017-12-15 15:41] jbq commented on #4031
@TeBoring indeed `isset($object->$item)` returns `false` and that's fine, I don't mean to access a message field directly.  No problem with that.

The problem is the next statement: `array_key_exists((string) $item, $object)` this is the cause of the crash.  Can you somehow change the protobuf C implementation so that a statement like this returns `false` as well?

[2017-12-15 15:47] TeBoring commented on #3966
Do u have example how it should look like? Or give me a fake one.
On Fri, Dec 15, 2017 at 00:19 Lazhar <notifications@github.com> wrote:

[2017-12-15 15:48] TeBoring commented on #3966
If u can simply the test, it's even better.
On Fri, Dec 15, 2017 at 07:47 Paul Yang <paulyang1211@gmail.com> wrote:

[2017-12-15 18:37] TeBoring commented on #4023
Fixed in #4034

[2017-12-15 18:46] acozzette commented on #4051
How do other projects handle this? I would guess that it must be a common problem that projects run into with Bazel.

[2017-12-15 19:10] TeBoring commented on #4031
Neither ```isset($object->$item)``` nor ```array_key_exists((string) $item, $object)``` is valid use case. These are undefined behavior and should not be used. I will try to throw error to remind user not to do so.
On the other hand, proto3 by design cannot check whether a singular field is set or not. This is a semantic error.

[2017-12-15 19:22] jbq commented on #4031
I suggest to return `false` if at all possible, to respect the semantics of the PHP `array_key_exists()`   function call: http://php.net/array_key_exists *Returns `TRUE` on success or `FALSE` on failure.* and be nice with third-party libraries, Twig being a popular one.  Please!  :-)

Otherwise, yes as last resort, throwing a meaningful error is still better than a crash.

[2017-12-15 19:35] #3913 closed

[2017-12-15 19:50] anandolee commented on #3567
Why do you need a default value for used variable?

[2017-12-15 20:14] anandolee commented on #3125
The default __print__ does not print ad utf8. You can import text_format and use:
text_format.MessageToString(mess,  as_utf8=True)

[2017-12-15 20:14] #3125 closed

[2017-12-15 22:03] anandolee commented on #2798
Please try "\\n" instead?  The text format output also print "\\n" for "\n"

[2017-12-15 22:08] asa commented on #4051
Most people vendorize from what I can see (copy the remote project into
third_party, change all the includes from <blah/foo.h> to
"third_party/blah/foo.h"

There is actually already a hook for this that google is internally using?

https://github.com/google/protobuf/blob/master/src/google/protobuf/compiler/cpp/cpp_file.cc#L315

I modified that file to output the "third_party/protobuf" version and

[2017-12-16 00:06] acozzette commented on #4051
That internal ifdef is kind of hard to explain but I don't think it's exactly doing the vendoring you're thinking of.

The one thing I don't understand is that it seems to me like we must be running into the same problem with both our regular library code and code generated by protoc, since both include headers in a way that searches the system paths (e.g. message_lite.h includes `<google/protobuf

[2017-12-16 03:34] cyyber commented on #4029
PR #4030 has been updated, still waiting for it to merge.

[2017-12-16 09:54] marienz opened #4059 "Source for Python protobuf-3.5.0.post1 release is missing"
I'm trying to locate the source for the 3.5.0.post1 release available on Pypi (https://pypi.python.org/pypi/protobuf/3.5.0.post1).

The protobuf-3.5.0.post1.tar.gz tarball only contains the pure-Python protobuf implementation, not the source for the C++ implementation. Pypi has wheels containing the compiled C++ implementation, but I cannot find the source they were built from.

The 3.5.0.1 releas

[2017-12-16 13:15] pjebs commented on #4023
still doesn't work. exact same error

[2017-12-16 15:38] Brahmasmi opened #4060 "Time to update the simulator targets for Xcode 9.2"
Running https://github.com/google/protobuf/blob/master/objectivec/DevTools/full_mac_build.sh on Mac OS X High Sierra 10.13.2 with Xcode 9.2 in a freshly cloned protobuf repo
[code]

stops with the message
[code]

This build script was run to determine if there are any extraneous errors, while investigating https://github.com/grpc/grpc/issues/13808.

[2017-12-16 15:47] hanalaydrus commented on #3897
May I know which release this issue had fixed?

[2017-12-17 10:54] m-sasha commented on #1451
Which is clearer?

[code]
or
[code]

[2017-12-17 14:41] Mailerm commented on #3974
whitch version will support?

[2017-12-17 17:48] ankit-ankuagrawal opened #4061 "Android App is crashing due to no method found exception possibly due to progaurd obfuscate"
Having a protobuff file, successfully able to generate java file.
Was able to create object using the java file, no problem till here.

But when trying to have toString on the created object, the app is crashing with no method found exception. After doing some work came to know the method was getting removed due to Obfuscation.

Had tried various entry in progaurd file so that the method's should

[2017-12-18 00:27] ravijo commented on #4001
I did following workaround to solve the issue:

I realized that I just need following two variables to compile and run with Protocol Buffers:
1. `Protobuf_INCLUDE_DIRS`
1. `Protobuf_LIBRARIES`

Hence, I added following lines in `CMakeLists.txt`:
[code]
Please note that Protocol Buffers was installed locally by using `./configure --prefix=$PWD` inside `lib/protobuf-3.5.0` directory.

[2017-12-18 01:13] sergei-ivanov commented on #42
@ejona86 My feeling is that with Java9 and beyond Oracle is going to become more aggressive in deprecating and removing classes from the core JDK. Now that they have a mechanism for that (modules and multiple version jars), there's no stopping them. Which probably means that the only choice for protobuf project is to introduce something like `option java_release = "9";` into proto files, or a simi

[2017-12-18 01:29] sergei-ivanov commented on #274
I've just tested it with protoc 3.5.0, and it appears to work beautifully. Is 3.5.0 the earliest version where this feature has become publicly available?
Many thanks for implementing this.

[2017-12-18 12:13] jonathan-se commented on #4005
I investigated it a little and found out that in protobuf 2 toObject() works fine but in protobuf 3 the problem above occurs. Any idea?

[2017-12-18 12:15] LiuYang1206 opened #4062 "C++ DebugString() incorrectly displays Chinese"
[code]
and here is what I see
[code]
I'd expect to see that
[code]
it is difficult to find issule from log file! how can i see chinese correctly ?

[2017-12-18 15:36] #4060 closed

[2017-12-18 17:59] acozzette commented on #4001
Great, I'm glad you were able to find a solution.

[2017-12-18 17:59] #4001 closed

[2017-12-18 18:32] xfxyjwf commented on #274
@sergei-ivanov Yes, 3.5.0 is the first version with this feature.

[2017-12-18 18:33] #2798 closed

[2017-12-18 18:57] pherl commented on #3897
It will be fixed in the next minor release (probably sometime this week). Or you can try it in the 3.5.x branch

[2017-12-18 19:21] aidan-plenert-macdonald commented on #2798
@anandolee `'\\n'` isn't a newline character. I had a solution above. Your proposal doesn't address the problem. The problem was `'\n'`'s enclosed in quotes. Did you look at the Regex above?

[2017-12-18 20:16] snoshy commented on #3838
we're also running into this with python 3.4.2 at the moment.  is there a workaround for this that we can apply while this makes it out to an official uwsgi release?  are there any plans/timelines for when this will make it to a release?

any help would be appreciated, since we're currently stuck between a rock and a hard place with this since it manifests as a leak that we can't even mitigate wit

[2017-12-18 20:24] apacha commented on #3957
@Aisuko What are you talking about? You are describing exactly what I've tried and failed with. Using the *-operator on Windows does not work with Version 3.4.0 of protoc.

[2017-12-18 21:08] xfxyjwf commented on #2780
An update from protobuf team: it's decided starting from version 3.6.0 protobuf will require C++11 to compile. A 3.5.x branch will be maintained for pre-C++11 compilers but only bug fixes will be accepted in the branch. We are already accepting C++11 features into our internal code base and will accept pull requests using C++11 features on the github repo as well.

[2017-12-18 21:13] xfxyjwf commented on #4062
Non-ASCII characters are escaped by default. To print them without escaping, you can use `TextFormat::Printer` and `SetUseUtf8StringEscaping(false)`:
https://github.com/google/protobuf/blob/master/src/google/protobuf/text_format.h#L236

[2017-12-18 21:13] #4062 closed

[2017-12-18 21:24] jakirkham commented on #2780
FWIW had seen some C++11 features in 3.5.0 as well. So it would be good to tidy that up if it is intended to work on pre-C++11 compilers. See these [comments]( https://github.com/google/protobuf/issues/3533#issuecomment-345481482 ) for details. Haven't checked recently to see if they have been fixed.

[2017-12-18 21:36] xfxyjwf commented on #2780
@jakirkham I checked your build log but it's using v3.4.1. Have you tried 3.5.0? The issue you pointed to doesn't exist in 3.5.0 as far as I can tell.

[2017-12-19 00:24] jakirkham opened #4064 "VS2008 build issue with protobuf 3.5.0"
Ran into the following issue when trying to build `protobuf` 3.5.0 where `map::at` was used. The [`map::at` method only exists in C++11]( http://en.cppreference.com/w/cpp/container/map/at ). As such it cannot compile with a non-C++11 compiler like VS2008.

[code]

ref: https://ci.appveyor.com/project/conda-forge/protobuf-feedstock/build/job/o85bad6hfjhvyxvu

[2017-12-19 00:25] jakirkham commented on #2780
Had backported some patches from 3.5.0 to 3.4.1, but I agree that is not the same as building 3.5.0. Have retried fresh with 3.5.0 and ran into issue ( https://github.com/google/protobuf/issues/4064 ).

[2017-12-19 01:01] Aisuko commented on #3957
@apacha  I think that i have been successed.
![1](https://user-images.githubusercontent.com/8053949/34135322-e924ed46-e49a-11e7-8cdc-f683248c44df.JPG)

[2017-12-19 02:20] LiuYang1206 opened #4066 "add a ShortUtf8DebugString() function ?"
I'm Very tangled, use ShortDebugStrng cannot correctly display Chinese, use Utf8DebugString cannot be displayed in a row

[2017-12-19 02:57] Feywell opened #4067 "some troubles when install protobuf from source"
I just want to install caffe ，but need to install protobuf before。
I use `./autogen.sh` at first
but a lots info printed like this:
![image](https://user-images.githubusercontent.com/24384298/34138489-be265c00-e4aa-11e7-9a30-7a4c98030456.png)
environment as following:
**Centos 6.4 (Red Hat 4.4.7-1)
I install a new GCC(GCC 5.4) at $HOME/usr/local/gcc/bin
autoconf (GNU Autoconf) 2.69
automake (GNU a

[2017-12-19 05:01] dongjiang1989 commented on #3774
@acozzette  how to wirite bit field in proto file?

[2017-12-19 12:02] neundorf opened #4069 "Build error using Intel compiler in generated_message_table_driven.h"
Hi,
with the Intel C++ compiler (both versions 15.0 and 16.0.4) there is a compiler error in
generated_message_table_driven.h:
generated_message_table_driven.h(186): error: static assertion failed with ""
      static_assert(std::is_pod<AuxillaryParseTableField>::value, "");

Commenting out that line makes it build, then the code looks like this:

[code]

What's going wrong there ?

[2017-12-19 12:47] neundorf commented on #4069
The static_assert() does not fail if I comment out the additional ctors of AuxillaryParseTableField:

[code]

[2017-12-19 15:30] ChriPo92 commented on #3276
@AdrienDeliege Also works for me, but I'd like to still use UMR. My current workaround is to add tensorflow to the UMR excluded modules under "preferences -> Console -> Advanced settings".

[2017-12-19 15:53] acozzette commented on #3774
@dongjiang1989 Protobuf doesn't directly support bitfields. To accomplish this sort of thing you would need to work with the regular integer types and then manually use bit operations to manipulate your data.

[2017-12-19 18:36] xfxyjwf commented on #4066
You can use TextFormat::Printer to combine these two configurations together.

[2017-12-19 18:36] #4066 closed

[2017-12-19 19:01] xfxyjwf commented on #4064
We will release 3.5.1 very soon. Could you help make a pull request to fix this in the 3.5.x branch?

@pherl is working on 3.5.1 release.

[2017-12-19 19:14] cluon commented on #3373
I traced this down to the following include chain causing problems:
`#include <google/protobuf/io/coded_stream.h>`
pulls in
`#include <sys/param.h>   // __BYTE_ORDER`
which in turn has the curious block:
`
#ifndef LOCORE
#include <sys/types.h>
#endif
`
Manually adding a `#define LOCORE` and `#undef LOCORE` around the include seems to fix the issue, but I haven't had a chance to dig into what LOCOR

[2017-12-19 19:19] acozzette commented on #4069
@neundorf It sounds like this is probably a bug with the Intel compiler, right? Do you want to send us a pull request that ifdefs out that static_assert when we are building with that compiler?

[2017-12-19 19:27] cluon commented on #3373
Looks like this was actually fixed in #2848.  Don't `#define LOCORE`; grepping the BSD source indicates that the define is used by the kernel to avoid "defining C stuff".

[2017-12-19 21:14] apacha commented on #3957
@Aisuko You're right. This actually works in Version 3.4.0 of protoc but not with version 3.5.0 and is therefore a degrade of the Windows protoc.exe.

[2017-12-19 21:56] neundorf commented on #4069
I can create such a pull request tomorrow, but I'm quite new to C++11 stuff and so I don't know whether here is_pod() fails wrongly, or whether the fact that is_pod() is failing actually means that something won't work as it should.
What's a good way to verify everything is working correctly ?

[2017-12-19 22:04] acozzette commented on #4069
The table-driven code is an experimental feature that is not turned on by default, so I wouldn't worry about errors in that file. I can't remember offhand what the exact definition of POD is, but I'm guessing that the Intel compiler is wrong, because we've built this code with Clang and GCC without any problems. You could try commenting out that static_assert, and if all the tests pass then you co

[2017-12-19 23:14] jakirkham opened #4075 "string::back used (not supported on pre-C++11)"
Ran into the following issue when trying to build `protobuf` 3.5.0 where `string::back` was used. The [`string::back` method only exists in C++11]( http://en.cppreference.com/w/cpp/string/basic_string/back ). Found [`back` used on this line]( https://github.com/google/protobuf/blob/9c197b7ecba6019b7c81c673cf100b2fad4033ad/src/google/protobuf/testing/googletest.cc#L135 ). Snippet of this error take

[2017-12-19 23:14] jakirkham commented on #4064
PR ( https://github.com/google/protobuf/pull/4074 ) fixed this issue.

[2017-12-19 23:14] #4064 closed

[2017-12-19 23:15] jakirkham commented on #4064
Should add that when trying to build `protobuf` with that patch ran into issue ( https://github.com/google/protobuf/issues/4075 ).

[2017-12-19 23:17] jakirkham commented on #4075
FWIW this has been solved before by using tricks like [this one]( https://github.com/google/protobuf/pull/3536/commits/4aadcd3c7bf69c5c2c904ef73fef14a723dc4866#diff-0f5c918a1b10cc1c09c9c4e282503d6dR206 ).

[2017-12-19 23:54] #4075 closed

[2017-12-20 07:30] neundorf commented on #4069
Ok.
Another stupid question: I'm used to projects with a cmake buildsystem, there I run "make test" and then the tests are executed.
How do I do that here ?

[2017-12-20 14:28] Zeks opened #4078 "Is there a way to generate POD data types for C++?"
We've been converting protbuf generated classes to and from pure c++ PODs in our application for some time now, could it somehow be automated? Like some plugin that generates POD classes and conversion functions between full and POD classes? We really don't want or need to pass protobuf headers throughout whole application logic.

[2017-12-20 15:53] neundorf commented on #4069
One test failed:
[code]

[2017-12-20 16:47] k4k commented on #3929
Should building from `master/HEAD` resolve this issue? I ask because I've built master (which presumably has the fix to be included in 3.5.1) and am still receiving the following message:

[code]

[2017-12-20 18:10] acozzette commented on #4069
About the inline and noinline error, I'm not sure what's going on but I would guess that the easiest solution would be to just disable the warning.

For the test failure, it seems that the Intel compiler treats NaNs as equal by default: https://stackoverflow.com/questions/32195949/why-does-nan-nan-0-0-with-the-intel-c-compiler According to that StackOverflow post, to get the more correct behavior

[2017-12-20 18:13] cdyson37 commented on #2380
I experienced a segfault in this test compiling with gcc 7. It appeared to be a manifestation of https://github.com/google/googletest/issues/705, which was cured by setting `-fno-delete-null-pointer-checks`. This was protobuf-3.2.0 and gmock-1.7.0, so things might have moved on since then.

[2017-12-20 18:36] acozzette commented on #4078
Do you mean POD types as defined by the C++ standard, or more like simple structs that contain the data but no serialization code? I think POD types as defined by the standard would be tough to work with since they cannot have user-defined destructors.

I think it would be doable to generate structs and conversion code if you want to do that. You can pass the `--descriptor_set_out` option to `prot

[2017-12-20 19:15] mduft commented on #3644
Having the same issue when trying to build gerrit on alpine :) anybody got a workaround for that?

[2017-12-20 20:29] davido commented on #3644
@mduft sure, I always have a workaround how to build gerritm in any environment ;-)

Here is the right docker image: [1]. This image is based on my native Apline Linux Bazel package, that I maintain here: [2].

* [1] https://hub.docker.com/r/davido42/bazel-build-gerrit/
* [2] https://github.com/davido/bazel-alpine-package/releases/tag/0.8.0

[2017-12-20 20:36] mduft commented on #3644
@davido hah, great  :) I need to build my own gerrit, to include all the plugins we have in the release war, but this is a perfect starting point, thanks!

[2017-12-20 20:39] davido commented on #3644
This should be trivial thing to do. Just fork gerrit, and add your custom
plugins as submodules, and modify: tools/bzl/plugins.bzl

[code]

Done. Now building `bazel build release` should just work and do what you want.

[2017-12-20 22:22] dcarp opened #4079 "Timestamp conformance tests give false positives by using default value expectations"
`TimestampWithPositiveOffset` and `TimestampWithNegativeOffset` tests use as expectation the default value, so that, consequently, it gives false positives for an empty implementation.

https://github.com/google/protobuf/blob/a5b743f8ae55f17cc06b8d67b822c697a792a814/conformance/conformance_test.cc#L2133

[2017-12-20 22:48] #4048 closed

[2017-12-21 06:25] remicollet commented on #3929
I confirm, 3.5.1 is ok

[2017-12-21 06:25] #3929 closed

[2017-12-21 12:31] jackwakefield commented on #3966
I'm having the same issue with:
`Unable to add file to DescriptorPool: couldn't resolve name '.google.protobuf.Timestamp' in message 'api.NotificationItem'`

`api.NotificationItem` being
[code]

This is also producing the segfault:
[code]

[2017-12-21 13:59] abhinava commented on #3303
@ndandanov This is really great! Do you happen to have any packet captures (PCAP files)?

[2017-12-21 14:06] abhinava commented on #3303
@ndandanov Found it in your previous post :) https://github.com/ndandanov/wireshark-grpc/blob/master/grpc-hello-world.pcapng

[2017-12-21 15:36] neundorf commented on #4069
It's here:
https://github.com/google/protobuf/pull/4084

Do I really need a CLA for those two #ifdefs ?

[2017-12-21 17:34] acozzette commented on #4069
@neundorf Yes, we need the CLA even for small changes.

[2017-12-21 17:35] TeBoring commented on #3944
Fixed in 3.5.1

[2017-12-21 17:35] #3944 closed

[2017-12-21 17:36] TeBoring commented on #4023
That fix was not released. Please try 3.5.1: https://pecl.php.net/package/protobuf/3.5.1

[2017-12-22 04:14] kuien opened #4085 "Any suggestion on warning: relinking 'libprotoc.la'"
When compiling protobuf (2.4.1), we saw a warning with following info:

`libtool: install: warning: relinking `libprotoc.la'`

Any way to clean or bypass it? thx. I hate warning, LOL.

[2017-12-22 05:23] qzmfranklin opened #4086 "//:protobuf_python with use_fast_cpp_protors does not compile with python3.7 due to python's breaking changes in C API"
How to reproduce:

[code]

The `bazel -s` output:
[code]

After digging through the documentation of cpython at its master, I found this commit: https://github.com/python/cpython/commit/2a404b63d48d73bbaa007d89efb7a01048475acd

It basically says cpython made a breaking change in its C API, i.e., `Python.h`.

I know that python 3.7 is not released yet. What is the stance of protobuf group on this m

[2017-12-22 09:30] wenii commented on #2104
Hi, I also got this black magic :-).
how to config on Visual Studio,when build a static library?

[2017-12-22 18:10] xfxyjwf commented on #2104
An alternative is to reference these protos types somewhere in your code so they don't get stripped by the linker.

[2017-12-22 19:24] anandolee commented on #3681
Where did you see no_server/no_client? I can't find them in protobuf's code.
+ Jan
Jan, do you know no_server/no_client? Are they in GPRC's plugin?

[2017-12-22 21:16] skebanga commented on #2979
I am getting this same error, but the other way around.

I am statically linking a Qt app against protobuf 2.6, and on startup a shared library is throwing an exception because it wants protobuf 3, but thinks only 2.6 is available.

When I try to run it on Ubuntu 17.10, I get an exception on startup.

Looking at a stack trace, I see that the source of the exception is a protobuf file called `mir_p

[2017-12-23 10:15] dzen commented on #3838
Hello @snoshy, sorry for the late response. We mitigated this issue by publishing a wheel without the cpp compilation on our private pypi. We're now using the python implementation.

[2017-12-23 18:14] os12 opened #4091 "Improve generated code's API (C++)"
### Problem statement

The C++ code generated by `protoc` has a peculiar asymmetry between the reading and writing cases.

**A reader:**
[code]

**A writer:**
[code]

As seen from the examples above there are two inconsistencies:

1.  The presence of the `mutable_` prefix for non-const accessors (while const ones have natural names)
    - This becomes rather annoying as the code for a mutation is

[2017-12-23 18:52] TeBoring commented on #3156
Feel free to reopen if there is still problem.

[2017-12-23 18:52] #3156 closed

[2017-12-23 18:53] TeBoring commented on #4023
Feel free to reopen if there is still problem.

[2017-12-23 18:53] #4023 closed

[2017-12-23 18:54] #3300 closed

[2017-12-23 19:21] xRaznick opened #4093 "Protobuf 3.5.0/3.5.0.1 build issue"
When using Windows (VS2017) protobuf-lite, and proto3, declaring this message:
[code]
is generated correctly by protoc.exe, but when compiling, this message pops:
[code]
Can I get any help here?

[2017-12-23 19:32] jakirkham opened #4094 "nullptr used in 3.5.1"
Appears that [`nullptr`]( http://en.cppreference.com/w/cpp/language/nullptr ) is used in 3.5.1 as evidenced by this [build failure]( https://ci.appveyor.com/project/conda-forge/protobuf-feedstock/build/1.0.115/job/c54b86hvqpv8pvix#L756 ). `nullptr` requires C++11 at least.

[2017-12-23 21:02] jakirkham commented on #4094
For reference, `nullptr` shows up on [this line]( https://github.com/google/protobuf/blob/v3.5.1/src/google/protobuf/stubs/io_win32.cc#L94 ). This was introduced by PR ( https://github.com/google/protobuf/pull/4013 ). So cc-ing @laszlocsomor.

[2017-12-25 02:19] lutzroeder opened #4095 "Reading pbtxt in JavaScript"
Does the code produced with `--js_out` support reading `.pbtxt` files?

If not, are there plans getting this added?

[2017-12-25 09:02] demid5111 opened #4096 "ImportError: cannot import name '_message'"
I have installed the latest protobuf==3.5.1, on macOS High Sierra

Then I set all necessary environment variables:
[code]

And when I run the script, I get the following error:

[code]

And when I go to this file in Finder, I don't see the _message file.

Although, when I download the protobuf from [google/tensorflow page](https://www.tensorflow.org/versions/r0.12/get_started/os_setup#protobuf_lib

[2017-12-25 11:39] artyompal commented on #4086
This breaks the latest TensorFlow build.

[2017-12-25 12:17] NirelNemirovsky opened #4097 "using protobuf for ARMv7 on RPI3"
Hey, I have a raspberry pi 3 using ARM processor and linux 16.04
Couldn't find any protobuf download suitable and didn't manage to compile the source code myself.
Does anyone have an idea of what should I do?
Thanks!

[2017-12-25 16:19] gaffneyc opened #4098 "ruby: Support Ruby 2.5.0 on MacOS"
Trying to install google-protobuf 3.5.0 with Ruby 2.5.0 on Mac OS returns the following error.

[code]

[2017-12-25 23:56] smcty opened #4099 "Return value for SerializeToFileDescriptor() is unreliable."
Using SerializeToFileDescriptor() on a filesystem that is full results in creation of an empty output file, and the return value for the function is true.

From scr/google/protobuf/message.cc:
[code]
The function SerializeToZeroCopyStream() is always returning true, and the actual write() to the file descriptor happens from the destructor of FileOutputStream. That write() is correctly returning EN

[2017-12-26 04:07] markliPRC commented on #3991
Your protobuf doesn't look like original version. Maybe this crash was caused by your modified code.

[2017-12-26 15:04] Thaina opened #4100 "Please add MessageParser<Value>.TryParse api to C#"
I would like to suggest that MessageParser base class should have TryParse function for additional to `ParseDelimitedFrom` `ParseFrom` and `ParseJson` that return boolean and out value

So we could check for message that it parsable and handle alternate logic if it not parsable instead of expensive try/catch

[2017-12-27 00:15] amandeepgautam opened #4101 "Unable to build protobuf on AIX7.2 (running on Power8) with gcc"
I am unable to build protobuf from source on AIX 7.2. The configure script fails saying that sched_yield was not found on the system. However it seems that ```sched_yield``` is present as ```man sched_yield``` bring up the corresponding man page.

[code]

[2017-12-27 01:00] pjebs commented on #4023
Seems to work now

[2017-12-27 05:27] imkcy9 opened #4103 "The format is wrong when output int_64 to JSON.."
When I use MessageToJson function serializing "int64  n" to JSON, the value of n is 40, it should output like {"n":40 },   but the fact is output like {"n":"40"}, how to fix it ??

[2017-12-27 06:35] visoeclipse commented on #3325
PHP7.1.9 + protobuf 3.4.0 will  get Fatal error: Class 'ProtobufMessage' not found

[2017-12-27 07:07] cw-pratik opened #4104 "File generated for python gives error"
gRPC Version: 1.7
 Language: Python 2.7
 OS: Windows 10

### What did you do?
I generated gRPC files for python and the run a client using the generated python file.

### What did you expect to see?
 It should run normally

### What did you see instead?
The generated python file gave an error even before the start of the execution

I tried to find the issue and the issue was with an enum that I us

[2017-12-27 09:18] zhyu-gao commented on #644
+1

[2017-12-27 09:58] xuehuashanshu opened #4105 "Varint32 has an error for Java"
**The offset setting is wrong:**
`int offset = 7;`

Version: 3.5.1
ClassName: com.google.protobuf.CodedInputStream
Line: 583

**The offset maybe:**
`int offset = 0;`

[2017-12-27 16:21] nlappas commented on #2502
Issue still exists in v3.5.1 with Visual Studio 2017 15.5.2

[2017-12-27 18:50] bshaffer opened #4107 "PHP c extension doesn't work with mock well"
I am receiving a segmentation fault when using the current version of the protobuf C extension for PHP. This is duplicated by [this travis test for PHP 5.6](https://travis-ci.org/googleapis/gax-php/jobs/322270222#L2829) and [this travis test for PHP 7.2](https://travis-ci.org/googleapis/gax-php/jobs/322270226#L2797):

[code]

I can reproduce this on my local machine for PHP 5.6 and PHP 7.2 also.

[2017-12-27 18:57] TeBoring commented on #4107
Did u add new test to reproduce the bug? We didn't find segment fault in
our Travis test.
On Wed, Dec 27, 2017 at 10:51 Brent Shaffer <notifications@github.com>
wrote:

[2017-12-27 19:04] bshaffer commented on #4107
Here is a test to reproduce the bug:

[code]

This only fails when the protobuf C extension is enabled.

[2017-12-27 19:24] bshaffer commented on #4107
Okay I tracked down the issue and was able to reproduce it with the following code:

[code]

Paste that into any file and execute it with PHP when the protobuf extension is enabled and the result will be a segfault.

Is this happening because there is no Metadata being initialized?

[2017-12-27 19:28] TeBoring commented on #4107
Please try initialize metadata.
On Wed, Dec 27, 2017 at 11:25 Brent Shaffer <notifications@github.com>
wrote:

[2017-12-27 19:31] bshaffer commented on #4107
@TeBoring Protobuf should be segfaulting because metadata hasn't been initialized...

[2017-12-27 19:38] bshaffer commented on #4107
It should be mentioned that if the native `google/protobuf` implementation is used, the segmentation fault does not occur. It's only when using the protobuf C extension that this happens.

[2017-12-27 19:43] bshaffer commented on #4107
Here is another way to reproduce it, this time with `phpunit`:

[code]

[2017-12-27 20:17] TeBoring commented on #4107
As talked offline, c extension doesn't work with mock well. Need to investigate if there is a proper mock way or changes needed for protobuf.

[2017-12-27 22:56] orivej commented on #2974
The crash in accessing `google.protobuf.pyext._message.Message._extensions_by_name` happens because metaclass getters [1] shadow class getters [2] and the intended dispatch from the latter to the former [3] does not run. This can be fixed by replacing `message_meta::Getters` with `0` at [1].

[1] https://github.com/google/protobuf/blob/099d99759101c295244c24d8954ec85b8ac65ce3/python/google/protobu

[2017-12-28 02:35] saravanan-murugesan opened #4109 "Latest protoc binary (version 3.5.1) for linux-x86_64 does not work in RHEL6"
Hi,

This seems to be a regression of the same issue described in https://github.com/google/protobuf/issues/3718. I was using protoc-3.4.0 on RHEL6 without any issues. But version 3.5.1 seems to be linked to GLIBC_2.14
[code]

Can this be addressed? Thanks!

[2017-12-28 06:17] athreya92 opened #4110 "protoc v3.5.0 not working as expected"
Version 3.3.0
Execution environment: Windows 7
Command: protoc --go_out=. *.proto
Outcome: Proto files are generated

Version 3.5.0
Execution environment: Windows 7
Command: protoc --go_out=. *.proto
Expected Outcome: Proto files must be generated
Issue found: *.proto no such file or directory

For more information, please refer the below link [https://github.com/golang/protobuf/issues/470](url)

[2017-12-28 12:28] kidd9thu commented on #2857
@myklory  Thank you！It did work.

[2017-12-28 12:35] SephVelut commented on #3028
The cli really is badly designed. It could use more helpful messages when outputting errors.

[2017-12-28 17:04] ronniekan1127 commented on #3296
Accessable Rich Internet…?

[2017-12-28 23:55] acozzette commented on #2979
@skebanga I don't think there's any easy way to have multiple protobuf library versions coexist in the same binary, even if one is statically linked and the other is dynamically linked. I would guess the easiest solution in your case would be to avoiding statically linking against protobuf 2.6, and instead just use the protobuf 3.0 provided by Ubuntu. That way everything will consistently use 3.0

[2017-12-28 23:58] acozzette commented on #4093
Could you paste here the the code that's producing the error from the `pb.cc` file, and a few lines above and below it?

[2017-12-29 00:02] acozzette commented on #4095
No, we don't have support for the text format in Javascript and I don't believe we have any plans to implement it.

[2017-12-29 00:12] acozzette commented on #4101
We don't have access to AIX machines to test, but if you can figure out a fix then feel free to send us a pull request. You might just have to edit this line to exclude AIX from that sched_yield check: https://github.com/google/protobuf/blob/099d99759101c295244c24d8954ec85b8ac65ce3/configure.ac#L194

[2017-12-29 00:23] acozzette commented on #4110
@athreya92 We rely on the shell to perform filename globbing--`protoc` doesn't attempt to interpret the `*` wildcard but expects the shell to have already replaced it with the matching files. I don't think this could be  bug in `protoc` then. Are you sure that nothing else changed in your environment, like switching to a different shell?

[2017-12-29 02:40] LiuYang1206 commented on #4062
@yuanzhedong
[code]

[2017-12-29 03:17] linux2014linux opened #4111 "protobuf 3.3 make check libprotoc.so: undefined reference to well_known_types_js"
libtool: link: ( cd ".libs" && rm -f "libprotoc.la" && ln -s "../libprotoc.la" "libprotoc.la" )
/bin/bash ../libtool --tag=CXX   --mode=link g++ -std=c++11 -pthread -DHAVE_PTHREAD=1 -DHAVE_ZLIB=1 -Wall -Wno-sign-compare -O2
-g -DNDEBUG -pthread  -o protoc google/protobuf/compiler/main.o -lpthread libprotobuf.la libprotoc.la -lz
libtool: link: g++ -std=c++11 -pthread -DHAVE_PTHREAD=1 -DHAVE_ZLIB=1

[2017-12-29 09:00] ashi009 opened #4113 "proto file formatter"
Hi all,

Is there a proto file formatter somewhere?

If not, why there isn't one? It seems possible to create a working prototype from FileDescriptor.

[2017-12-29 13:24] okomarov commented on #3905
@anandolee I do still have this issue, on a new Mac. Maybe I should install the python with c++ extension in some alternative way? I happy to provide additional info

[2017-12-29 16:34] #3510 closed

[2017-12-29 19:08] xRaznick commented on #4093
Of course, these are the 2 methods:
[code]
And:
[code]
As you can see, both messages serve the same interest. The first is a file list, which contains files as messages, and the other is process list which contains processes as messages.

[2017-12-29 20:42] nathanielmanistaatgoogle opened #4115 "Offer new "ToBytes" and "FromBytes" behaviors as successors of "SerializeToString" and "FromString""
Now that [Python 3 has finally won](https://twitter.com/pycharm/status/865659029460209664), the names of the behaviors `SerializeToString` and `FromString` are especially problematic as the former doesn't return instances of `str` and the latter doesn't accept instances of `str` (right?).

It would be better if the API offered successor methods more helpfully named `ToBytes` (or maybe `SerializeTo

[2017-12-29 20:51] amandeepgautam commented on #4101
@acozzette I tested on aix7.2.1.0 and the configure script passes. This is my first PR so I apologize if I have missed a few conventions. If so, any pointers to correct them would be helpful.

[2017-12-29 21:21] jakirkham commented on #2780
Ran into an issue with 3.5.1 that we missed. Raised as issue ( https://github.com/google/protobuf/issues/4094 ).

[2017-12-30 07:11] yuanzhedong commented on #4062
Got it, thanks! @LiuYang1206

[2017-12-30 18:08] masasin commented on #3567
I forget the context that this came up, but I think I was calling another function that was using it, but that function did not assign any value to unused_deterministic and crashed. unused_deterministic is not used, and is normally passed the value of None, but why is it positional?

[2017-12-31 01:11] jpwhiting opened #4118 "Unresolved external fixed_address_empty_string when trying to use dll on windows MSVC 2015"
As has happened before (and somehow still happens even if I use the commits right after the fix is merged) if I build dll on windows with MSVC 2015 and try to link to libprotobuf I get an unresolved external symbol class google::protobuf::internal::ExpliticlyConstructed<class std::basic_string<char, struct std::char_traits<char>, class std::allocatar<char> > > google::protobuf::internal::fixed_add

[2017-12-31 04:29] claws commented on #3567
I also just came across this issue.

I understand that this function is supposed to be an internal function, however its use seems like one of the recommended methods to perform a simple varint encoding by re-using the existing function from the protobuf package. See [here](https://groups.google.com/forum/#!topic/protobuf/2m8ihEta1UU) for one example of this.

As people are already using the funct

[2017-12-31 20:13] masasin commented on #3567
Because the function I used was from protobuf and it hasn't passed it in.
And short of monkey patching, which I did eventually, nothing would work. A
library is supposed to be able to work with itself.

On Fri, Dec 15, 2017, 12:51 Jie Luo, <notifications@github.com> wrote:

--

勝者神優

[2017-12-31 22:22] dchennells opened #4119 "C# AddressBook example and/or documentation not adequate to get started with version 3.5.1"
Steps to repro:
1. Download current version 3.5.1 and open Google.Protobuf.sln in VS2017 v15.x (I used 15.4).
2. Set a breakpoint on line 52 of AddressBook Program.cs.
3. Rebuild all from within the IDE.
4. Run in the IDE (F5)

Results:
A. Builds okay.
B. After F5 run, a brief (<100 ms) screen flash appears of a console window opening and closing.
C. Nothing on the Debug output pane.
D. No errors.

[2018-01-01 10:39] VaronisDNMacClient opened #4120 "Keep '_' in property name in C# generated code"
Hi,

From trial and error, the [style guide](https://developers.google.com/protocol-buffers/docs/style) and [source code](https://github.com/google/protobuf/blob/f39cf88a347767d25572f7344eab44359d872925/src/google/protobuf/compiler/csharp/csharp_helpers.cc) I see that all recurrences of the character '_' are eliminated from property name when generating C# code.

Can this be overridden or avoided

[2018-01-02 04:59] athreya92 commented on #4110
@acozzette Thanks for your reply.
The environment was the same with both the versions.

[2018-01-02 07:59] laszlocsomor commented on #4094
Thanks for letting me know! That PR (https://github.com/google/protobuf/pull/4013) isn't yet merged to `master`, so the line doesn't exist on `master` yet.
@pherl , shall I send PR to merge it to `master`?

[2018-01-02 08:15] hartmut-co-uk commented on #1591
having the same requirement as @jonnyreeves...

[2018-01-02 08:19] neundorf commented on #4069
This will take some time...

[2018-01-02 12:22] ppdbxdawj opened #4121 "the field can't be set to ‘type’ in xx.proto (JS)"
If I set a  field to ‘type’  in xx.proto，such as
`message Info{
  Content_Type        type = 1;
}
enum Content_Type{
  TYPE_ONE= 0;
  TYPE_TWO= 1;
} `
it cannot send to the server(written by go) properly . but if use other field such as 'tybe' ,it will be right.
i think the mothod 'msg.setType(value);'  of xx_pb.js is wrong
why?Is it in conflict?

[2018-01-02 14:31] jskeet commented on #4119
I can't reproduce this, I'm afraid.

I've just downloaded the 3.5.1 zip file, opened the solution file in VS 15.5.1 and run the AddressBook sample and it came up with a prompt as expected.

What happens if you try to run the app from an open command line window instead?

Have you tried setting a break point at the very start of Main instead of on line 52?

[2018-01-02 17:12] acozzette commented on #4093
@xRaznick I think you may be mixing a `protoc` version of 3.5.1 or older with a newer runtime. I recently made RepeatedPtrField inherit privately from RepeatedPtrFieldBase and simultaneously updated protoc to generate slightly different code to handle that. It looks like your protoc doesn't include that change but your runtime headers do.

[2018-01-02 18:34] DavidChennells commented on #4119
Thanks for your immediate reply, @jskeet.  Your affirmation that it worked in your environment encouraged me to look closely at the tools.  Turns out that post .Net Core 2.0 releases of VS2017 require opting in to support the earlier versions of that framework, and under a somewhat misleadingly narrow label.  There is no backward compatibility support within the IDE by the .NET Core 2.0 bits.  (An

[2018-01-02 18:42] jskeet commented on #4119
Re: Span: there's already a feature request for it: #3431

Your readme suggestion sounds good to me - if you could file a PR for that, it would be good.

"Migrating" the AddressBook project to .NET Core 2.x would be a single character change: in AddressBook.csproj, just change netcoreapp1.0 to netcoreapp2.0. I'd expect that to work with no other changes - from VS2017. However, I believe our CI sys

[2018-01-02 19:01] djdeath opened #4122 "Compilation fails with latest emscripten"
In the src/google/protobuf/stubs/port.h file, there is this bit of defines :

[code]

Compilation using the latest version of emscripten (1.37.27), compiling protobuf fails because the ```[[clang::fallthrough]]``` isn't recognized :

[code]
I think the define above should probably drop the defined(EMSCRIPTEN). If emscripten allows ```[[clang::fallthrough]]``` it will probably expose it through ```

[2018-01-02 20:25] nddipiazza opened #4123 "protoc doesn't generate dependent stubs"
Why when I run a `protoc` on a proto file that has multiple dependencies do I only get the source stub generated for the proto file itself, not the dependencies? This results in generation of source files that don't compile which isn't ideal in my use case.

I am using C# GRPC and getting the nuget package for Google.Protobuf.Tools and running `protoc` from there.

example:

`/home/ndipiazza/grpcd

[2018-01-02 22:00] pherl commented on #4094
Master is now c++11 only. We only need to fix it in the 3.5.x branch.

[2018-01-02 22:09] pherl commented on #4110
@laszlocsomor looks like before the long-path support, it does support expanding the wildcasts.

[2018-01-02 22:59] pim89 opened #4125 "C1061 error with many repeated fields in VS 2008"
For reasons I am stuck with Visual Studio 2008.
When compiling a proto.pb.cc file with >250 repeated fields I get the error:
"fatal error C1061: compiler limit : blocks nested too deeply"
This is a known bug of visual studio (https://support.microsoft.com/en-us/help/315481/bug-too-many-unnested-loops-incorrectly-causes-a-c1061-compiler-error), and caused by having >250 unnested for loops in one sc

[2018-01-03 07:33] laszlocsomor commented on #4094
@pherl : Thanks! So shall I create a PR to merge that commit to master, or will you (or someone else) merge all 3.5.x changes back to master?

[2018-01-03 08:43] wawade opened #4126 "error when I reload dynamic library which links against shared protobuf lib"
Hi,

I have a plugin architecture which will load shared libraries at run time. The shared libraries are linked against protobuf shared library (3.5.0). When I do load and unload, everything is fine, but when I do load again, I get the following error message:

[libprotobuf ERROR /home/ling/docker_dev/src/Packages/protobuf/src/google/protobuf/descriptor_database.cc:58] File already exists in datab

[2018-01-03 12:19] #4121 closed

[2018-01-03 14:14] fweidner opened #4129 "Unreal Engine Integration failed: unresolved external symbol __std_reverse_trivially_swappable_8"
Hey folks!

I'm using protobuf with Unreal Engine 4.18.2.
Today, I wanted to upgrade to from 3.4.0 to 3.5.1

In my UE4 project, I'm linking against libprotobuf.lib

After having applied #4000 and commenting out "static_assert(std::is_pod<AuxillaryParseTableField>::value, "");" in generated_message_table_driven.h I'm stuck again.

When compiling the UE4 project in Visual Studio 2017, I get the foll

[2018-01-03 17:20] pherl commented on #4094
I will merge it back.

[2018-01-03 17:20] #4094 closed

[2018-01-03 19:27] pim89 commented on #4118
May be related to [this commit](https://github.com/google/protobuf/commit/9094bf0f7e638f68cae72581ae8416e7c2721b41). For some reason this commit has been reverted at some point.

[2018-01-03 19:33] jpwhiting commented on #4118
Yeah, that's what I mean. I've put that back in locally and still have unresolved external when linking against libprotobuf or libprotobuf-lite. More investigation shows the symbol is in libprotobuf-lite only since libprotobuf doesn't include generated_message_utils.cc while libprotobuf-lite does. Either way trying to link to either libprotobuf.dll or libprotobuf-lite.dll gives me the same unresol

[2018-01-03 19:33] achilsh commented on #4126
how to fix this issue?  I has this problem but not resolve. if you has an idea, please notify me.

[2018-01-03 20:29] jtattermusch commented on #3681
@magick93   those options aren't part of the protobuf repository, but they are implemented in the gRPC C# plugin (gRPC provided the "service" layer over protobuf message definitions).

The `no_server` and `no_client` options are defined here:
https://github.com/grpc/grpc/blob/e759d2ad7abdb0702970eeccc5f033ff4b2a4c7f/src/compiler/csharp_plugin.cc#L43
They only seem to be available for C# (feel free

[2018-01-03 20:29] #3681 closed

[2018-01-03 20:57] pim89 commented on #4118
hm strange. For me this was the reason to switch to a static library.
If you've generated the project with the protobuf_BUILD_SHARED_LIBS flag enabled in cmake and used #define PROTOBUF_USE_DLLS at the top of your program it should work. I'm not too knowledgeable about this either though.

[2018-01-03 21:33] jpwhiting commented on #4118
I added #define PROTOBUF_USE_DLLS to the top of my source file, do I also need to add it to the .cc file that protoc generates for me?

I initially tried using static lib but got a conflict because I'm also using Qt dlls so msvc complained that I couldn't use both static and dynamic linking somehow...

[2018-01-03 23:15] pim89 commented on #4118
You could try adding it as a preprocessor define as suggested [here](https://github.com/google/shaka-packager/tree/master/packager/third_party/protobuf/vsprojects). I guess this is what is done [here](https://github.com/google/protobuf/issues/3994) though i dont know wat 'blurb' means...

I dont know what kind of error you get when using a static build, but for it works when I build protobuf as a

[2018-01-03 23:19] jpwhiting commented on #4118
Ah, I'll give that a try, thanks, I got it to work as a dll just now though, by editing the generated .cc files to add PROTOBUF_USE_DLLS to the top. I would rather statically link, I'll try that, thanks for the tips.

[2018-01-03 23:29] anandolee commented on #3789
Fixed in internal code. Expect to see the fix in next release

[2018-01-03 23:29] #3789 closed

[2018-01-04 00:31] anandolee commented on #407
It has been changed to always return a float value for the default

[2018-01-04 00:31] #407 closed

[2018-01-04 01:06] ZhouyihaiDing opened #4134 "PHP: Incorrect handling for echo.proto"
I installed protobuf from source and have a file name `echo.proto`.
After running `protoc --php_out=generated_code echo.proto`, it generates `GPBMetadata/Echo.php` instead of `GPBMetadata/GPBEcho.php`. Also, in Message, it generates `\GPBMetadata\Echo::initOnce();` in the construct function.
The same with `array.proto`. But for `empty.proto`, it will generate `GPBMetadata/GPBEmpty.php`

[2018-01-04 04:15] jpwhiting commented on #4118
yep, specifying -Dprotobuf_MSVC_STATIC_RUNTIME=OFF fixed the issue I saw before from the default of having static runtime linked. Thanks again.

[2018-01-04 09:39] DavidChennells commented on #3431
Tooling support for the C# 7.2 Span framework types was added with VS2017 15.5, which was RTMed on Dec 4.  Span is now well documented and there are a couple of good collateral pieces, including one by Stephen Toub, linked here.

https://blogs.msdn.microsoft.com/dotnet/2017/11/15/welcome-to-c-7-2-and-span/

A couple of issues for discussion:

1. At what point would it make sense to introduce the r

[2018-01-04 09:49] jskeet commented on #3431
I think it's reasonable to require that anyone developing the *library* uses VS2017 15.5 or the equivalent .NET Core SDK. There's a chunk of work required in order to update the SDK for continuous integration though.

Whether the Span methods are included in all output libraries is a different matter though. We'll need to look at the dependencies and whether there are issues *consuming* Span from

[2018-01-04 09:55] DavidChennells commented on #4119
Thanks for your support with that minor edit to the ReadMe @jskeet, which appears to be on its way.  I'll close this issue as soon as a change is completed.

On the one-character migration (!):  that seems like the reasonable expectation.  Hopefully the VS tools will support that path by the time it makes sense for protobuf to make the upgrade.

Regarding C# 7.2, I've followed up with a brief note

[2018-01-04 11:54] kamrankausar opened #4137 "Connecting"
self.socket.sendall(struct.pack('!I', len(message)) + message)

OSError: [Errno 9] Bad file descriptor

[2018-01-04 16:49] jtattermusch commented on #3431
I think there's a good potential for using Span optimizations in gRPC C# (general idea: there's the grpc_csharp_ext native library and the messages need to be moved between managed and native layer and copying can be expensive. Being able to transparently address both managed/unmanaged memory with the same code seems useful.) - but we haven't really looked into these optimizations in detail (and t

[2018-01-04 17:06] mkosieradzki commented on #3431
I have started some experimentation in #3530 . I need to revisit my experiments since 15.5 is out. Before proper tooling support `Span` was super-slow (as expected).

Also it's important to remember that `Span` are stack-only type - what has a lot of serious implications:
For example we might need to:
1. make CodedInputStream a `ref struct` (doesn't seem right)
2. or use heap-friendly `Memory` ins

[2018-01-04 17:07] paulburlumi commented on #4110
I can confirm that 3.4.0 also works (on Windows 10), whereas 3.5.1 does not.

[2018-01-04 20:53] gaffneyc commented on #4098
It looks like 3.5.1 was released yesterday but has the same problem
[code]

[2018-01-05 01:16] zhangkun83 opened #4138 "protoc-3.5.0-linux-x86_64 introduced GLIBC_2.14 dependency"
[code]
32-bit is not affected.

Because of this, the released 64-bit 3.5.0 protoc artifact can't be run in the gRPC Java release docker container, which runs CentOS 6.6 shipped with GLIBC_2.12. Is this an intentional change?

[2018-01-05 01:16] zhangkun83 commented on #4138
@pherl

[2018-01-05 01:41] TeBoring commented on #3966
Fixed in #4139

[2018-01-05 01:41] #3966 closed

[2018-01-05 01:50] xxlixin1993 opened #4140 "PHP Protobuf when i used new Google\Protobuf\Any() in php-fpm will be 502"
php version is 7.0.18, protobuf extension is v3.5.1. It always look like two failed twice successfully when i use nginx + php-fpm try 4 times. Then i open core dump find
[code]

[code]
[code]
[code]

[2018-01-05 01:50] raliste commented on #3677
Now giving `Caused by: java.lang.IllegalArgumentException: No such attribute testonly in new_http_archive rule //`. Any pointers?

[2018-01-05 04:23] PengPengHub opened #4141 "An invalid file which is parsed successfully by protobuf"
Hi There

Baidu X-Lab found a suspicious issue of protobuf, please see the attachment for reproducing this issue. In addition, does google provide CVE for the confirmed bug?

Thanks
Peng

[protobuf_test.tar.gz](https://github.com/google/protobuf/files/1605558/protobuf_test.tar.gz)
+++++++
Protobuf bug report
1 download protobuf from:
https://github.com/google/protobuf

2 build and install protobuf

[2018-01-05 04:37] achilsh commented on #4126
have any solution for this problem? or  other pb version can do it?

[2018-01-05 06:10] WangLiangChina commented on #4141
very glad to see your feedback.but this is not a issue.please see protobuf source.

[2018-01-05 07:53] wawade commented on #4126
@achilsh I also want to know.

[2018-01-05 09:33] DavidChennells commented on #3431
Perhaps we should first discuss where we believe the value for C# protobuf could originate with the new framework types and then try to align on a preliminary approach to assess whether that value actually exists.  I'm mindful that this is already a well-crafted code-base and we also face the barrier/cost @jskeet noted of changing the SDK.  No one wishes to waste their time developing PRs that nev

[2018-01-05 10:38] lisongmin opened #4143 "can not build protobuf 3.5.1 under ia64 platform"
Hi, when i build 3.5.1 with ia64 arch, there is a link error:

[code]

3.3.0 is built success with the same enviroment.

[2018-01-05 15:38] tobowers commented on #2946
I don't suppose this went anywhere, eh? I'm just running into this problem with "any" now.

[2018-01-05 16:30] jtattermusch commented on #3431
@mkosieradzki  can you clarify the backwards compatibility of Span:
- What is the lowest version of .NET where Span can be used in the code? (not necessarily with seeing performance gains, not making things slower is enough - my understanding is that Span has a fallback implementation in case it's not supported by the runtime). Google.Protobuf needs to support at least net45+
- What is the oldest

[2018-01-05 17:32] mkosieradzki commented on #3431
@jtattermusch
That's topic worth researching - I don't know exactly, and the answer might be very difficult, because it consist of 3 elements:
- library (compatibility) - I believe `System.Memory` requires .NET Standard 1.1
- compiler (`ref struct` concept and safety checks)
- runtime optimizations (which are distributed among different versions of runtime starting with .NET Core 2.0 (http://adams

[2018-01-05 17:41] mkosieradzki commented on #3431
On more point about the arena allocations support:
It could be reasonable to use the memory from the original buffer in that case it makes parsing even faster. The most important thing to remember about this parsing approach is that arena-allocated + buffer-sourced data should be short-lived and the API should provide a way to transform it into a long-living heap-allocated C# objects if required b

[2018-01-05 18:34] TeBoring commented on #4140
Could you try the fix in #4139?

[2018-01-05 19:35] xRaznick commented on #4093
Alright, as long as I'm updated to master, it should be fine right? Because protobuf is a submodule in my project, and I just `git pull`.

[2018-01-05 19:38] acozzette commented on #4093
The important thing is just to make sure your `protoc` is built from the same commit as the protobuf runtime code you build and link against. So keeping `protobuf` as a submodule and updating it to master is fine, as long as you also rebuild `protoc` when you update.

[2018-01-05 19:55] anandolee commented on #3658
Which Python 2? We do not support python2.6
Python2.7 and above should work fine

[2018-01-05 20:11] ex-nerd commented on #3658
This is python 2.7 for me

[2018-01-05 20:11] anandolee commented on #3567
Thank you @claws

We do not guarantee internal APIs not change. But it is not harm to add a default value. Will add it. Expect to see the change in next release.

[2018-01-05 21:04] pherl commented on #3677
How did you configure your WORKSPACE file? https://github.com/google/protobuf/blob/master/WORKSPACE#L10 there should be no "testonly" attribute.

[2018-01-05 21:38] raliste commented on #3677
There's no such `testonly` on our `WORKSPACE`

[2018-01-05 21:48] pherl commented on #3677
Is there any `testonly` in your `BUILD` files, including remote ones? I didn't find any on protobuf repo.

[2018-01-05 21:51] pherl commented on #3677
I'd suggest reproduce the error with a minimum BUILD and WORKSPACE. That will make the diagnose much easier.

[2018-01-05 21:55] DavidChennells commented on #3431
I'm thinking of Span as useful primarily in the narrow case of discrete, single threaded, synchronous functions and their helpers.  In that case, the ability to potentially put a short array on the stack or to encapsulate neatly a reference to a slice or substring that can be passed to a helper without incurring an allocation or muddying the water with offsets is a nice (but limited) gain.

As far

[2018-01-05 22:22] anandolee commented on #3567
Already changed in google's internal code. The default value will be there in next release.

[2018-01-05 22:22] #3567 closed

[2018-01-06 13:29] noctivityinc commented on #4098
+1 for support for 2.5.0

[2018-01-07 22:35] asemaniko opened #4149 "protobuf-2.6.1 make eror"
mingw32

$ make
make  all-recursive
make[1]: Entering directory `/c/deps/protobuf-2.6.1'
Making all in .
make[2]: Entering directory `/c/deps/protobuf-2.6.1'
make[2]: Leaving directory `/c/deps/protobuf-2.6.1'
Making all in src
make[2]: Entering directory `/c/deps/protobuf-2.6.1/src'
depbase=`echo google/protobuf/compiler/main.o | sed 's|[^/]*$|.deps/&|;s|\.o$||'`;\
        g++ -DHAVE_CONFIG_H -I.

[2018-01-08 11:46] MrMoose commented on #3572
Am I correct in understanding that this was closed as "customer issue"?

I would like to comment here that I have been dealing with those warnings for a long time too. Normally I resort to patching the code and try to fix them but it's getting to a point that I move to putting warning pragmas around including protobuf's headers.
Which is not much of a problem per se but I would like to ask: Does t

[2018-01-08 15:31] skebanga commented on #1641
I have added a pull request ([#4145](https://github.com/google/protobuf/pull/4145)) at give C++ the same

[2018-01-08 21:28] ZhouyihaiDing commented on #4134
BTW, another related reserved variable issue is "`package echo`". The namespace it generates should be "`namespace PBEcho`", while generating "`namespace Echo`" instead.

[2018-01-08 22:17] anandolee commented on #1187
How about
optionName = ( ident | bracedFullIdent ) { "." ( ident | bracedFullIdent ) }
bracedFullIdent = "(" ["."] fullIdent ")"

[2018-01-08 22:49] pongad opened #4150 "Java documentation out of date"
The `Durations` utility class has gotten methods like `compare` but this seems to not be documented [here](https://developers.google.com/protocol-buffers/docs/reference/java/com/google/protobuf/util/Durations).

[2018-01-09 01:44] bshaffer opened #4151 "Protobuf PHP C extension is not escaping strings for JSON serialization"
When calling `serializeToJsonString `, the Message object in the C Extension does not escape slashes, causing an error in the following code:

[code]

Another less important but still pressing issue can be seen in [this test](https://travis-ci.org/googleapis/gax-php/jobs/326584734#L2834), which shows that the native library escapes slashes but the C extension does not:

[code]

**Note**: Both of t

[2018-01-09 02:08] bshaffer commented on #4151
I've found a few more errors with escaping. Double quotes and newlines also break with the current implementation.

[code]

All of these tests pass for the native implementation!

[2018-01-09 06:08] zhangyangsk8 opened #4152 "Zero-value Enum types are not be seted correctly in objectivec language"
define enum type in some.pbobjc.h:
typedef GPB_ENUM(someStatus) {
  Status_GPBUnrecognizedEnumeratorValue = kGPBUnrecognizedEnumeratorValue,
  StatusNotStart = 0,
  StatusStart = 1,
  StatusPaused = 3,
  StatusStop = 4,
};
define a Property in otherClass like this:
@property (nonatomic, assign) someStatus type;

otherClass.type = StatusNotStart;//can not be seted the zero-value
otherClass.type = S

[2018-01-09 07:14] ivoshabarkov opened #4153 "Javascript generated code - repeated properties"
If I have a repeated property for example:

repeated SomeType firstSecond = 1;

protoc generates a property named 'firstsecondList'.

That is quite unexpected. I would rather have my javascript properties be named as they are in the proto file, or at least to follow a javascript convention. Starting with a lower case letter and using upper case for the first letter of every other word in it.
Is th

[2018-01-09 09:46] jtattermusch commented on #3431
@mkosieradzki  I looked a bit more into what would the dependency on Span<> mean for Protobuf and gRPC:

System.Memory depends on netstandard1.0 (I believe it will use the unoptimized "fallback" version unless you target netstandard2.0), which means you can use it in net45 projects, but you will need a newer version of nuget and a newer IDE to be able to build those projects (they need to have kno

[2018-01-09 12:00] mkosieradzki commented on #3431
@jtattermusch I might be wrong, but my understanding is:

1. Framework target has any impact on performance at compile time. Neither target framework version nor compiler version. Specifically if you target for example .NET Standard 1.1 you have a single assembly that does not need any recompilation - no matter what the compile target of entire application is, and more over no matter whether targe

[2018-01-09 13:44] ivoshabarkov opened #4154 "Javascript Enum generated code inconsistency"
not relevant; I was mistaken

[2018-01-09 13:51] #4154 closed

[2018-01-09 14:29] ShvadronUzi opened #4155 "free(): invalid pointer"
Hi,
I am getting "free(): invalid pointer" error when using ^c to exit a program that uses protobuf (in caffe):
/usr/lib/x86_64-linux-gnu/libprotobuf.so.9(_ZN6google8protobuf8internal28DestroyDefaultRepeatedFieldsEv+0x1f)[0x7f5f272ec8af]
Any idea why this may happen?
10x

[2018-01-09 16:41] teeks99 opened #4156 "Old versions of gcc give warnings for pragma diagnostic push and pop"
`#pragma GCC diagnostic push` and `#pragma GCC diagnostic pop` are only supported in gcc >= 4.6.

A solution to this would be to change the guards from
[code]
and
[code]
To:
[code]
and
[code]

There are approximately a dozen header files that do this, as well as the cpp_file.cc codegen.  This could be applied to the 3.?.x branches, but might not be needed on master....if master is now c++11, gcc v

[2018-01-09 17:56] diclogic opened #4157 "Unable to use proto_h mode in cpp generator"
there's an option called proto_h defined in Options in compiler/cpp directory. it is used in many places and there're comments mentioning about as ".proto.h mode", but there's no way to turn this option on and there's no document about it. It has a feature useful to me, it generates enum with `int` enum base type, which means forward declarations become available for that kind of enums. I think th

[2018-01-09 19:44] pherl commented on #4138
Should have been fixed in 3.5.1-1

[2018-01-09 19:44] #4138 closed

[2018-01-10 13:27] YaozongZhao opened #4162 "3.5.1 failed in cross-compiling for OpenWrt in Ubunt"
I used protobuf-3.5.1 in cross-compiling for OpenWrt on Ubuntu. the OpenWrt was ARM platform. the toolchain i chosen was  [https://downloads.lede-project.org/releases/17.01.4/targets/brcm2708/bcm2710/](url)

the steps as follows:
compiling on the native host firstly

**- ./configure**

**- make**

**- make check**

**- make install**

the steps above occurs no errors, then

**- make distclean**

*

[2018-01-10 18:11] pherl commented on #4162
You probably need to change the code in atomicops.h for the correct platforms macros in cross compiling, e.g. fallback to use Arm related implementations instead. We are trying to move to C++11 atomics and hopefully this will no longer be needed.

[2018-01-10 19:57] mvdan opened #4163 "protoc: allow using stdin/stdout in FILE/FILES parameters"
For example, right now I'm doing:

    protoc -o/dev/stdout --include_imports test.proto

I am calling protoc from a Go program, so this limitation requires me to either use a temporary file, or hard-code `/dev/stdout` which is not portable. Both are unnecessarily complex.

I'm not sure what the best way to expose this would be. Some programs use special values, such as `-` to mean standard input.

[2018-01-10 21:29] creachadair commented on #2365
Is there any sensible workaround for this? Kythe is trying to migrate away from a custom-hacked copy of protobuf to using an external repository, and this is blocking us as we need gzip I/O streams to work.

[2018-01-10 21:32] alex-petrenko commented on #2365
I think I ended up modifying one of the BUILD files in Tensorflow to force protobuf compilation with zlib. Something along the lines of adding a HAVE_ZLIB definition for the compiler.

[2018-01-10 21:38] creachadair commented on #2365
Well, I can of course do that, but the point of this exercise was to _not_ have a custom build for protobuf. Or am I misunderstanding what you meant?

I confirmed that adding these options in the external repo's BUILD file satisfies the compiler (COPTS) and linker (LINK_OPTS), but I haven't found a good way to wrapper the dependency to add those without pushing the change into the external repo di

[2018-01-10 21:47] alex-petrenko commented on #2365
Are you using git submodule to handle dependencies? If so, I don't know a good way to do this either.
CMake external project feature has the automatic patch applying feature, as well as Bazel (I think), maybe you can look at those.

[2018-01-10 21:56] creachadair commented on #2365
We are not—except where not possible (notably LLVM), we have all our deps managed by Bazel as external repositories. However, I think I have a workaround for now: I have cloned the BUILD file from the protobuf repo, edited it, and replaced our `http_archive` workspace rule with a `new_http_archive` rule that points to our edited copy of the BUILD file.

This is likely to be brittle, but I'm hopefu

[2018-01-11 03:38] herono2010 opened #4164 "Can't parse message of type "CFTP.CmdUpdateModsRule" because it is missing required fields: switchname"
I wrote a program to use protobuf as a communication protocol.

       When I use a dynamic library, the program is normal communication.

        but ,When I use a static library, program exception.like this:
        "Can't parse message of type "CFTP.CmdUpdateModsRule" because it is missing required fields: switchname"

        when I remove -O2 gcc option, also use static library.  program is n

[2018-01-11 04:35] YaozongZhao commented on #4162
i am so sorry for that i had a incorrect description for the issue. the main reason for the error is "../libtool: line 1125: arm-openwrt-linux-muslgnueabi-g++: command not found".

that is when i executed "sudo make", the system environment had change to root, and the PATH i configured  in my own account will be invalid , so that the arm-openwrt-linux-muslgnueabi-g++ can not be found.

resolved me

[2018-01-11 04:35] #4162 closed

[2018-01-11 07:19] shihabkaranchery opened #4165 "ReferenceError: goog is not defined"
i follow the steps in the docs, convert the .proto message to myproto_libs.js file while importing the file

following error occured
ReferenceError: goog is not defined

[2018-01-11 09:43] herono2010 commented on #4164
anybody help?

[2018-01-11 13:26] wawade commented on #4126
#1489 #1941 #3782
Hi, @xfxyjwf ,
in all the similar problems I found, the solution is to use a separated shared proto or to use protobuf lite. I want to know if there are other solutions, e.g. when I load the same proto file again, just ignore it, or I can unload (remove a proto file). Do you have a suggestion how to implement such a function? I would appreciate it.

[2018-01-11 18:42] xfxyjwf commented on #4126
@wawade Protobuf C++ is not designed/implemented to be a re-loadable module so it's likely very hard to make it work. I don't have any better suggestions other than not unloading protobufs...

[2018-01-12 10:51] neundorf commented on #4126
I would also like to have that functionality.

Looking at the code, it seems to be possible ?
I mean, instead of erroring out if the proto file already exists in the database, how about checking whether the new proto file is exactly the same as the one which is already in the database (in InternalAddGeneratedFile() and InternalRegisterGeneratedFile()), e.g. by comparing bytewise whether the conten

[2018-01-12 17:55] lordspecter13 commented on #4048
hello, never ask for any changes to my accounts right now and damaged my computers, but do not worry all the information is already stored and google official is aware of their illegal acts, github is also complicated because it does nothing to reverse the acts , this machine is a zte blade v6 plus version 6.0 and it does not appear because the reason for the illegal change was so that I could not

[2018-01-12 19:37] xfxyjwf commented on #4126
@neundorf I think that only fixes the surface of the problem. Apparently after unloading, some descriptor data is left behind in the global database. They are likely unusable because the code is unloaded and could crash the program if triggered. For example, there is a global factory mapping descriptor to the generated message object:
https://github.com/google/protobuf/blob/master/src/google/proto

[2018-01-12 20:57] neundorf commented on #4126
I'll dig into the code a bit.

[2018-01-13 07:34] HaasCM opened #4169 "Invalid Address in libprotobuf-lite.so.9"
I've been building google protoc-3.5.1 from source on Ubuntu 16.04 LTS. I've tried compiling with gcc-6.3 and gcc-5.3. When I run `make check` it always passes. `protoc` is building the *.h and *.cc files correctly. However, when I try to link the protoc libraries my application it has been crashing within the protoc libraries; specifically, libprotobuf-lite.so.9. The `lldb` output is:

`thread #1

[2018-01-15 00:57] saravanan-murugesan commented on #4109
Can someone help? Is there a workaround, apart from installing GLIBC_2.14?

[2018-01-15 03:17] SeriousMa opened #4170 "(Java)How can I get com.google.protobuf.Descriptors.FileDescriptor without from XXXOuterClass,Is there a way to get com.google.protobuf.Descriptors.FileDescriptor from protobin file?"
rt

[2018-01-15 05:31] shenlanting opened #4171 "Who should I e-mail if I find a problem weaknesses/bugs?"
We found some weaknesses/bugs. Please give an e-mail address, so I can send you the details.

tks.

[2018-01-15 06:02] #4164 closed

[2018-01-15 13:09] aqsc opened #4173 "Does libprotobuf whose version >2.6 support python2.7？"
Does  libprotobuf whose version >2.6 support python2.7？
 We find the official reports that the libprotobuf whose version >2.6 support python3, but I want to ask whether they support python2.7......

[2018-01-15 14:35] pshields commented on #1231
@mprobst does your team have a vision for how this should work? It seems like the strategy for generating TypeScript protobuf code and consuming it client-side projects is still not really documented or implemented yet. Could someone with a grasp of what effort remains explain what still needs to be done?

I'm trying to consume generated protobuf code for an Angular/Bazel/Closure app written in Ty

[2018-01-15 18:25] mprobst commented on #1231
@pshields we don't have a good open source answer. Internally, we use the proto->JS generator, and then use https://github.com/angular/clutz to convert that to TypeScript definitions. But you're right, that hasn't been open sourced, so it doesn't work with `closure_js_proto_library`.

I also suspect that if you're not using that generator for other reasons, you might be better off with a different

[2018-01-16 14:23] alexeagle commented on #1231
I'd rather not use Closure codegen if we want TypeScript types. Clutz is complex, and I don't want to ever introduce it under Bazel, because I don't know of any Bazel users who continue development of Closure JS code along with their TypeScript.

https://github.com/bazelbuild/rules_typescript/issues/61 is what I intend to do, which would generate .d.ts from .proto. Bazel users should adopt the bes

[2018-01-16 19:47] xfxyjwf commented on #4170
By protobin file, do you mean a data file with protobuf binary data? That doesn't have type information in it and can't be used to get the FileDescriptor.

[2018-01-16 22:19] xfxyjwf commented on #4171
We don't use private/restricted mailing lists for bug reports. If you think the bug is severe enough to not disclose to the public, can you summarize what the bug is about so we can assess whether it makes sense to establish a private communication channel?

[2018-01-17 03:09] jinfagang opened #4175 "Can not print out Message as string and save to prototxt"
I just want to print out a message, I am using this codes:

[code]
`detectionResult` is my message. But it just got some unicode binary outputs rather than strings and numbers, just not as prototxt beautiful json-like string was.

I also try to save my Message into a prototxt file which I believe more readable then binary.
[code]

This gives me an error, I remove the file and try again, it saved b

[2018-01-17 03:29] woshisuchao commented on #2067
i also get this issue , so how to solve it ???

[2018-01-17 03:45] podsvirov commented on #2067
@woshisuchao, type command from apropriate command prompt.

[2018-01-17 05:18] SeriousMa commented on #4170
Thanks !
@xfxyjwf is there other way?

[2018-01-17 07:55] AlexLuya opened #4176 "How to import .proto file in different package correctly?"
I have two packages like this

[code]
and the conent of share.proto like this:

[code]
and the content of detect.proto like this:

[code]
and compile share.proto in it's dir like this:

`protoc -I=. --python_out=. share.proto`

then compile detect.proto in it's dir like this:

`protoc -I=/pathToSrcDir/ -I=. --python_out=. detect.proto `

and

pathToSrcDir has been added to PYTHONPATH,all compilati

[2018-01-17 09:14] shenlanting commented on #4171
No need to establish a private communication channel.
The thing is we need to check whether our tool for static analysis is good enough to find bugs besides coding weakness. I have sent a email, but seems not useful for you project. sorry for the interruption. We will continue improving our static analysis tool, hoping that it will be helpful for finding bugs one day.

[2018-01-17 11:02] arthur-tacca commented on #4176
(Note: I'm not a protobuf developer, I just came across your report.)

I think your inconsistent use of includes is the root of the problem. You have two choices, and you need to pick one and stick to it:

 1. Are the files in no particular package? In that case they are `./share.proto` and `./detect.proto` (as when using `protoc -I.`), and from Python use `import share_pb2` and `import detect_pb2

[2018-01-17 13:48] pstibrany opened #4177 "Buffer size used in writeDelimitedTo method is often too small"
When sending small messages (e.g. message consisting of single enum) by using AbstractMessageLite#writeDelimitedTo method, this method together with CodedOutputStream will compute very small buffer size of 20.

AbstractMessageLite#writeDelimitedTo then writes single byte (message size) to the buffer, not leaving enough space for CodedOutputStream.writeEnum method, which always wants at least 20 av

[2018-01-17 13:58] pstibrany commented on #4177
Small message is just an example, problem can of course be observed for bigger messages as well. CodedOutputStream now simply needs more space in the buffer to avoid flushing, than what AbstractMessageLite#writeDelimitedTo provides.

[2018-01-17 14:28] AlexLuya commented on #4176
It works,thank very much

[2018-01-17 15:17] JackGrinningCat opened #4178 "(7 out of 2012) Failing Tests with Visual Studio 2017 v15.5.4/ Cmake 3.10.1"
Hi,

I followed following description
https://github.com/google/protobuf/tree/master/cmake

Used tools:
- Visual Studio 2017 v15.5.4
  - x64 Native Tools Command Prompt for VS 2017
- Cmake 3.10.1
- git version 2.15.1.windows.2
- cloned protocbuf
- cloned gmock/gtest 1.7.0

- Windows 10 Version 1703

`
set PATH=%PATH%;C:\Program Files\CMake\bin
git clone -b v3.5.1 https://github.com/google/protobuf

[2018-01-17 17:05] sky-code commented on #3239
done.
https://github.com/google/protobuf/blob/1a7a7fca804afa1cf67f8be5e71092898ba40334/python/google/protobuf/internal/well_known_types.py#L777

[2018-01-17 17:05] #3239 closed

[2018-01-17 18:35] xfxyjwf commented on #4170
You can embed the type name as a field in the data (e.g., use the google.protobuf.Any type in google/protobuf/any.proto) and then build a lookup map from type name to their corresponding FileDescriptor.

[2018-01-17 19:38] weliveindetail commented on #4129
Ok, in my case it happens when compiling with /MT (static runtime). So it's probably unrelated. Also with the Visual Studio 2015 toolchain (v140) I ended up having the same issue. As a hacky workaround I defined the symbols myself and throw exception("not implemented") on call. Didn't happen so far, maybe it's an unlikely code path..

Anyway, would be great to find an explanation.
Cheers

[2018-01-18 01:22] djudd-stripe commented on #1965
I'd like to request this be re-opened. Using all-lowercase symbols is a common convention in Ruby, and the natural way to map a fixed set of symbols to Proto seems to be as an enum. In my use case, it's not feasible to simply rename the enum values, because they've already been serialized in a number of places. Enforcing a style guide seems like something a linter should do, not a compiler.

If th

[2018-01-18 01:33] xfxyjwf commented on #1965
@haberman @TeBoring Can you comment on this issue? It seems to me a bug in ruby code generator.

[2018-01-18 02:24] acidtonic opened #4186 "Consider renaming the 'Status' variable, conflicts with Xlib and others."
Greetings,

I have spent a few hours trying to locate a bug that ended up resulting from a naming conflict. My project previously was fine but after moving from protobuf 2.x to 3.x suddenly the code failed to compile. A quick search indicated others hit the same issue, but no answers. Thus I decided to open this issue to both document the issue and attempt to fix this by renaming the "Status" decl

[2018-01-18 06:20] marshal-it opened #4187 "use util::MessageToJsonString, alway error."
use like this:
	const google::protobuf::Message* msg = Message;
	std::string* jsonstr;
	google::protobuf::util::JsonOptions options;
	bool ok = google::protobuf::util::MessageToJsonString(msg, jsonstr, options).ok();
	google::protobuf::util::MessageToJsonString(msg, jsonstr);

but build error:
       error C2665: "google::protobuf::util::MessageToJsonString":none of the 2 overloads could convert a

[2018-01-18 09:31] opengpu opened #4188 "why '-Dprotobuf_MSVC_STATIC_RUNTIME=OFF' must after '-Dprotobuf_WITH_ZLIB=ON' ?"
(1)why '-Dprotobuf_MSVC_STATIC_RUNTIME=OFF' must after '-Dprotobuf_WITH_ZLIB=ON' ?
i tried Dprotobuf_MSVC_STATIC_RUNTIME=OFF/ON both works...and what the difference?
(2)can i build protobuf using zlibstatic.lib instead of zlib.lib? i found that cmake just notice zlib.lib while donot know zlibstatic.lib...is it the only way to build protobuf by using zlib's dynamic lib? can i use zlibstatic.lib and

[2018-01-18 09:46] arthur-tacca commented on #4187
It takes a `const Message&` not a `Message&`. Change your argument to `*msg`.

[2018-01-18 10:29] marshal-it commented on #4187
thanks .

[2018-01-18 10:29] #4187 closed

[2018-01-18 12:00] marienz commented on #4059
Problem solved by upgrading to 3.5.1 (released a few days after I filed this issue).

Not closing the issue in case there's a release process step somewhere that you want to fix.

[2018-01-18 17:56] bvisness commented on #3622
It's 2018 - any updates?

[2018-01-18 18:42] xfxyjwf commented on #4178
Those errors are most likely caused by auto "LF" => "CR LF" conversion when you git clone the project. It should be safe to ignore these test errors. If you want to fix them, try disable the autocrlf in your git settings and do it again.

[2018-01-18 19:58] mandlebug commented on #3717
@pherl

I am building Protobuf on a ppc64 machine and I still have the build break from the `google/benchmark` submodule.  The commit that was merged in #3822 is in the log but it looks like its empty ( `git show` shows the commit info + msg but no files were changed).

The gitlink is pointing to a commit from Wed May 11 2016:
[code]
which is way before the commit that needed to be picked up to fi

[2018-01-18 20:39] fengli79 commented on #1296
I get the same issue (https://github.com/google/protobuf/issues/1296#issuecomment-348734701) when using protobuf 3.5.1.
The protobuf is installed in:
site-packages/
    google/
        protobuf/
            __init__.py
There's no "__init__.py" install under the google package, and I have to import the google.protobuf package to make other packages under the google namespace be available.

[2018-01-18 20:50] craigcitro commented on #1296
Please don't reopen a two-year-old bug. Just open a new one and reference this.

[2018-01-18 21:01] fengli79 opened #4189 "Cannot import other package under google namespace if install protobuf"
I get the same issue (#1296 (comment)) when using protobuf 3.5.1.
The protobuf is installed in:

site-packages/
    google/
        protobuf/
            __init__.py
There's no "__init__.py" install under the google package, and I have to import the google.protobuf package to make other packages under the google namespace be available.

[2018-01-18 21:03] fengli79 commented on #4189
To reproduce:
1. Use virtualenv to create a new environment.
2. pip install grpcio
3. With intellij, create a python project and create some py source under google package. They cannot be loaded unless import google.protobuf first.

[2018-01-18 21:12] JackGrinningCat commented on #4178
Thanks for the answer i'll repeat that Part tomorrow. Am 18.01.2018 7:43 nachm. schrieb Feng Xiao <notifications@github.com>:Those errors are most likely caused by auto "LF" => "CR LF" conversion when you git clone the project. It should be safe to ignore these test errors. If you want to fix them, try disable the autocrlf in your git settings and do it again.

—You are receiving this because you

[2018-01-18 21:27] HaasCM commented on #4169
Some more information, I'm only running into this problem when I try to dynamically link against libprotobuf. If I statically link against it I do not have this problem.

[2018-01-18 23:41] janpaul123 opened #4190 "[Ruby] Crashes when calling `JSON.fast_generate` on a Protobuf object"
[code]

Results in this error:
[code]

This affects serialisation in some libraries, like when logging errors using [Raven](https://github.com/getsentry/raven-ruby).

[2018-01-19 00:23] craigcitro commented on #4189
I don't think this is anything particular to `google.protobuf`: I can produce precisely the same behavior as the above with any of the existing google packages (eg `google-auth` or `google-cloud`).

I believe that the issue we're hitting is the `Note:` [in the namespace packages docs](https://packaging.python.org/guides/packaging-namespace-packages/#pkg-resources-style-namespace-packages). Adding

[2018-01-19 00:29] jonparrott commented on #4189
Having conflicting entries in `PYTHONPATH` causes problems with *everything*, and especially namespace packages. Using pkgutil does not fix this (and it's totally infeasible for us to switch in a way that doesn't absolutely break the universe).

My advice: Don't ever touch `PYTHONPATH`, and if you must, you can't stick `google` folder in there and not expect to to clobber the import machinery. Eve

[2018-01-19 02:24] yelu commented on #1154
+1

[2018-01-19 04:38] jmzwcn opened #4192 "jsonpb.Marshaler don't respect json.Marshal's specification."
e.g. json's MarshalJSON/UnmarshalJSON interface,

I find the json-fields is different when I adopt marshaler.Marshal/json.Marshal to encode k8s's object(service/deployment/ingress).

[2018-01-19 04:43] jmzwcn commented on #4192
close it and file in golang/protobuf.
https://github.com/golang/protobuf/issues/487

[2018-01-19 04:43] #4192 closed

[2018-01-19 09:25] arthur-tacca commented on #4189
Note that when you run a Python script from the command line, Python adds the directory containing that script to the import path list. (This means that if you run "foo/bar.py", then `foo` is added to the Python path, NOT the current working directory, which is a common source of confusion.) In the situation described in the original post, `src/` is included in the path list for both that reason a

[2018-01-19 11:10] ochen opened #4193 "When marshaling to JSON, a timestamp should trim all fractional digits if possible"
According to the proto3 to JSON specification, the JSON representation of a timestamp field

However, the jsonpb package will always use 3,6,9 fractional digits, leaving a timestamp with integer seconds ends with a suffix `.000Z`. I think this may be incomplete.

[2018-01-19 14:16] alexpantyukhin opened #4194 "Is it possible to create own Python class and bind it with message?"
I have a message something like:
[code]

But I want to have in the  pyhon code something like:
[code]

Is it possible to construct somehow such class with binding it with message `Point` ?
For example there https://github.com/ligato/vpp-agent/blob/master/vendor/github.com/gogo/protobuf/test/typedecl/typedecl.proto described how to avoid generating type with `typedecl` for go.

[2018-01-19 14:24] JackGrinningCat commented on #4178
Well it worked.

[code]

Here are the results of the check run. As metioned beforehand the one failure is due to the german win32 translation

[2018-01-19 14:24] #4178 closed

[2018-01-19 14:59] schoentoon commented on #3912
Running into the same issue when cross compiling to arm32, everything seems to be built just fine. It just fails because it tries to execute the cross compiled protoc binary, which obviously won't work.

[2018-01-19 15:20] gaffneyc commented on #4098
Version 3.5.1.1 was released yesterday and installs cleanly on MacOS.

[2018-01-19 15:20] #4098 closed

[2018-01-19 17:38] jonparrott commented on #4189
This is what I meant, but it's actually a little more insidious that than. Installed namespace packages typically create a `.pth` file in `site-packages` that setups up the `{module}.__path__` in `sys.modules` so that the disparate namespace packages can be found. Having a folder named `{module}` in the current directory or in `PYTHONPATH` causes this machinery to break.

Not necessarily. The real

[2018-01-19 19:11] how2bot opened #4197 "About installation"
Hi, im very newbie. can some 1 able to help me settle this.

Im getting error as below

Fatal error: Class 'ProtobufMessage' not found in C:\xampp\htdocs\xxxfile\src\libaxolotl-php\protobuf\pb_proto_LocalStorageProtocol.php on line 11

someone told me to check on this extension . but i do not really understand how to do it .

Thank you
[ruuning xampp 7.2 above php in windows ..]

[2018-01-19 19:30] diegolorenzetti commented on #3276
For me what solved the problem was setting the line below on my Apache virtual host:

WSGIApplicationGroup %{GLOBAL}

[2018-01-19 19:32] xfxyjwf commented on #4193
You mean the jsonpb package in golang/protobuf repository?
https://github.com/golang/protobuf/tree/master/jsonpb

Can you file the issue there?

[2018-01-19 19:55] mathstuf opened #4198 "When exporting symbols, an include directive may be necessary"
It'd be nice to have an option to add `#include "mylib_export.h"` to generated `.pb.h` files so that export symbols are defined before their use.

[2018-01-19 23:56] anandolee opened #4200 "Extensions APIs for custom options in C#"
Extension is removed in proto3 thus C# is using a temp solution to support custom options. We should add extension APIs instead and remove CustomOptions.cs. This is also part of adding C# proto2 support.

[2018-01-20 02:14] ochen commented on #4193
Sorry, mistaken the repository.

[2018-01-20 02:14] #4193 closed

[2018-01-20 05:13] Disturbing opened #4201 "Protobuf bytes[] to Json"
Hello All,

I'm looking to change protobuf bytes[] to Json without the use of a protofile / class.

Otherwise, I'm looking to do this in a hot swapping way where the protobuf class definition can be either read in real time via proto file or be able to load a protobuf class as a script (via dotnet core AssemblyModule).

Are there any resources out there for this already?

[2018-01-20 09:19] mrpi opened #4202 "std::string not allocated in Arena memory"
Hi!

I have noticed that std::string objects are not constructed in the arena memory but only marked as owned by the arena.

I understand why the current design does not allow to put long strings completely into the arena, but why is the std::string object itself not in the arena?

This way, string values that fit into the short string optimization buffer would not cause any heap allocation outsid

[2018-01-20 10:48] nous- commented on #1427
Damn wanted an answer for this.

[2018-01-21 02:17] Androbin commented on #4105
What is the respective behavior with [CodedInputStream.java#L583](https://github.com/google/protobuf/blob/master/java/core/src/main/java/com/google/protobuf/CodedInputStream.java#L583) setting `offset` to either value?

[2018-01-21 05:02] wolfviking0 opened #4203 "Hang of protobuf on OSX 'sched_yield'"
Hi,

I am using protobuf and I am currently facing an issue who seems to be happening only on OSX.

I have a static library with some proto class inside 'libA.a'

I have one binary application who link this libA.a and a shared library who link the same static library 'libB.dylib'.

The binary application load the dylib using dlopen RTLD_LAZY, I am loading a function using dlsym. When I call this f

[2018-01-21 21:05] d79ima opened #4206 "C# ByteString, CodedInputStream performance improvements desired for messages with large byte array field"
Currently if you have a message with an array of bytes field that translates into a ByteString immutable object.
ByteString can't be created without incurring a GC memory allocation and an array copy.
When you deserialize a ByteString using CodedInputStream, the same penalty is paid.
Furthermore, when you then go to consume the bytes you received you pay this same penalty yet again because of Byte

[2018-01-22 04:09] alikhanafer commented on #3730
Currently facing exact same issues on AIX 7.2. Applied same fix to the template error as suggested by @varun85gupta, and now getting similar errors:

source='google/protobuf/api.pb.cc' object='google/protobuf/api.pb.lo' libtool=yes \
DEPDIR=.deps depmode=xlc /bin/sh ../depcomp \
/bin/sh ../libtool  --tag=CXX   --mode=compile xlC -DHAVE_CONFIG_H -I. -I..    -D_THREAD_SAFE  -DHAVE_PTHREAD=1  -Wall -

[2018-01-22 04:33] xuehuashanshu commented on #4105
'Varint32' algorithm to deal with greater than or equal to 128 integer data, take the last seven digits in the first code execution.
`int result = firstByte & 0x7f;`

This is the first byte calculated,offset at this time is 7.Then
`final int b = input.read();`

At this time,  **b = firstByte** and **b & 0x7f = firstByte & 0x7f**,  Then
`result |= (b & 0x7f) << offset;`

When reading the first byte

[2018-01-22 06:33] xxlixin1993 commented on #4140
I'm so sorry to answer you so long. I test the tag 3.5.1.1 that is success.I think its fixed. THX

[2018-01-22 06:33] #4140 closed

[2018-01-22 15:39] Androbin commented on #4105
Citing the documentation:

Meaning, `firstByte` has already been read from `input`, thus `b = input.read()` won't be `firstByte`.

AFAICT, this is what `offset = 7` is accounting for.

[2018-01-22 19:23] qingling128 opened #4210 "`libruby.so.2.4` dependency issue with `google-protobuf` ruby gem `3.5.1.1`"
When building a package with `google-protobuf-3.5.1.1` on a Debian 8 machine, we ran into this dependency error.

[code]

The issue is resolved after we pinned `google-protobuf` to `3.5.1` (https://github.com/GoogleCloudPlatform/google-fluentd/pull/63).

[2018-01-22 22:06] fengli79 opened #4212 "Redistribute CPython protobuf for mac and windows."
Protobuf ships less redistributable packages than gRPC.
gRPC:
https://pypi.python.org/pypi/grpcio

It lacks for:
1. Windows 32, 64.
2. Mac
3. Linux 32.

Fulfill the gap helps to improve the gRPC performance on those platforms.

[2018-01-22 23:06] arthur-tacca commented on #4202
Related (but different): #1896 Zero copy API

[2018-01-23 03:53] creachadair commented on #2365
Unfortunately, the modifications I made weren't quite sufficient: Including `-DHAVE_ZLIB` in copts and `-lz` in linkopts allowed it to build locally, but only because I happened to have an ambient `zlib.h` installed on my machine. We use Bazel to build our zlib, and I haven't yet worked out a good way to get protobuf to use it. Binding it under `//external` isn't quite sufficient—Bazel seems to bi

[2018-01-23 09:05] neundorf commented on #4126
It seems I got around these problems by using LITE_RUNTIME.
Then I don't get the "file already in database" error and it seems everything is working... ?

[2018-01-23 09:39] xyxiaoyou opened #4213 "Use io.netty-4.1.20.Final to integate protbuf-3.5.1"
com.google.protobuf.InvalidProtocolBufferException: While parsing a protocol message, the input ended unexpectedly in the middle of a field.  This could mean either that the input has been truncated or that an embedded message misreported its own length.
......
......
......
Caused by: com.google.protobuf.InvalidProtocolBufferException: While parsing a protocol message, the input ended unexpectedl

[2018-01-24 00:22] xyzzyz opened #4215 "generated enum for oneof fields don't have corresponding EnumCase_Name() function"
The [documentation says](https://developers.google.com/protocol-buffers/docs/reference/cpp-generated#oneof):

And then, later, it says:

As I understand it, the "generated enum for oneof" field, is a "C++" enum, not "proto" enum, so the latter doesn't apply to it -- and in fact, OneofNameCase_Name() function is not generated. I believe it should -- otherwise, how can I get the _name_ of the oneof

[2018-01-24 00:42] acozzette commented on #4202
@mrpi That is a good point; we should be able to allocate the `std::string` object on the arena. Do you want to send us a pull request with your fix?

[2018-01-24 01:34] xfxyjwf commented on #4215
What is the "name of the oneof case" you are referring to? Do you want "oneof_name", or "foo_int", "foo_string"? Assuming it's the later, they are protobuf field names so you can get their names by field number:

[code]

[2018-01-24 01:36] xfxyjwf commented on #4215
Note that the Foo_Name() methods for enums are simple wrappers around the descriptor API. If we add a OneofNameCase_Name() method, it's likely implemented exactly as I suggested above. Due to binary size concerns we are unlikely to add new generated methods like this though.

[2018-01-24 03:58] xyzzyz commented on #4215
Thank you for providing workaround. This will make my CL significantly simpler.

I understand your concern about binary size. However, couldn't we just make the new method be inline? Then, existing binaries that don't use this new feature will not be affected by binary size increase (hopefully the users that care about binary size, like e.g. Chromium, already optimize out unused symbols during lin

[2018-01-24 10:56] mrpi commented on #4202
@acozzette Yes, until now I have not tried this change by my self. I have just noticed that my application was doing more small allocations than expected.
I will have a closer look at it the next days and create a patch.

[2018-01-24 11:01] shikai2013 opened #4217 "when make, make[2]: Nothing to be done for `all-am'"
when i run make on my mac,this happened:
/Library/Developer/CommandLineTools/usr/bin/make  all-recursive
Making all in .
make[2]: Nothing to be done for `all-am'.
Making all in src
/Library/Developer/CommandLineTools/usr/bin/make  all-am
make[3]: Nothing to be done for `all-am'.

I think ,it is not friendly to install protobuf on mac

[2018-01-24 11:01] zcc1234567 commented on #4217
help!!!

[2018-01-24 18:44] xfxyjwf commented on #4215
@xyzzyz It's not just the size of the end binary that we care about. Adding new C++ symbols will increase the size of intermediate object files and there are some really big binaries in Google that are sensitive to the size of intermediate object files because the linker can't handle it if they grow any bigger... So even adding inline functions can cause a problem for them (and they are constantly

[2018-01-24 19:06] toddlipcon opened #4218 "Generated implementation for SpaceUsed in C++"
As noted in the C++ docs, SpaceUsed is quite slow:

In our application we have a lot of protobufs that end up in various memory-limited caches and assigned to various memory budgets. In some cases the difference between ByteSize and SpaceUsed can be significant enough (eg with many optional fields) and therefore we use SpaceUsed to track the memory consumption of these objects. This is becoming a

[2018-01-24 19:46] jbfitbit opened #4219 "[Java] Bug: Errors on 4-byte UTF-8 Unicode"
### Steps to reproduce:

1. Create a simple protobuf message object with just a string as a field
2. Generate the java code
3. Set the value of the string to `𤭢` or `😀` (**_any_** 4-byte unicode character)
4. Try to generate the binary

### Expected:
No errors

### Actual:
**String is not serialized!**
[code]

### Issue:
~~Code incorrectly states that UTF-8 maxes out at 3 bytes per character~~
~~h

[2018-01-24 20:11] xfxyjwf commented on #4218
We likely won't accept changes that add new generated methods in the existing .pb.cc file. However, you can easily implement it as a protoc plugin that generates a standalone static SpaceUsed() method for each proto type. That's the common way to add utility functions for protos (e.g., we have such protoc plugins to generate Equals() and HashCode() functions).

[2018-01-24 20:34] toddlipcon commented on #4218
Good idea. I had missed that the existing implementation was virtual and thus could be easily overridden.

[2018-01-24 20:34] #4218 closed

[2018-01-24 20:38] xfxyjwf commented on #4218
To be clear, I'm not suggesting overriding the virtual method. Instead I'm advocating generating static SpaceUsed() method. For example:

[code]

[2018-01-24 22:15] davido opened #4220 "Bazel warning: "source value 1.6 is obsolete and will be removed in a future release""
I'm seeing these warnings when building [gerrit code review](https://gerrit.googlesource.com/gerrit) that depends on `rules_closure`:

[code]

[2018-01-24 23:05] kyessenov opened #4221 "c++: gRPC service descriptors are missing if the source proto has no messages defined"
It seems that if my protobuf file consists of a single service, and I link against the resulting `.pb.h` then the service descriptor is missing from the generated descriptor pool. For context, this is happening in Envoy (https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/cds_api_impl.cc#L40) using Bazel to generate protobuf files.

The workaround is to (1) add a dummy message t

[2018-01-25 00:36] acozzette commented on #4203
@wolfviking0 I often hear reports of problems with dynamic loading and I think it may be tricky to do it right. We never really load protos dynamically within Google so I don't have any experience with it, but I would guess that the problem has to do with the same code getting loaded twice. Another thing you could try would be to set `option optimize_for = LITE_RUNTIME;` in your `.proto` files and

[2018-01-25 01:56] xfxyjwf commented on #4221
What you observed is most likely due to the linker dropping unused symbols (i.e., the descriptor registering code is not reachable from your application code so they got removed by linker). Besides adding a dummy message and referencing it in C++ code, there are a few other options:
1. Add "option cc_generic_services = true;" to the proto file and reference the generated service code.
2. Use bazel

[2018-01-25 01:57] xfxyjwf commented on #4220
It's probably time for us to drop Java 1.6 support.

[2018-01-25 03:04] htuch commented on #4221
`always_link` makes the most sense in our situation, since we do not want to use the generated service code. @kyessenov can you confirm this works? Thanks @xfxyjwf.

[2018-01-25 03:07] wolfviking0 commented on #4203
@acozzette I use a really dirty workaround, I commented out the SchedYield function in order to don't block.

Surprisingly, It's working and I do not have any crash. But I don't like it. I will check your suggestion but so far I think almost all my proto file are using LITE_RUNTIME.

I am thinking maybe move to FlatBuffers.

[2018-01-25 07:28] mapron opened #4225 "Make ability to compile protobuf statically with MD on Windows"
At this moment, if I compile with protobuf_BUILD_SHARED_LIBS disabled, protobuf forced to use static msvc runtime (MT); I think we should have two different options for that.

My user scenario: I create dll (which use /MD as all my project). dll links libcaffe, which requires libprotobuf.
caffe have several issues with shared linkage on Windows, so I ought to use  static libraries.
But configuring

[2018-01-25 07:41] #4220 closed

[2018-01-25 10:48] cl51287 opened #4227 "php performance problem"
php version is 7.0.24, protobuf extension is v3.4.1(also in v3.5.1),
When i test the performance use ab (nginx + php-fpm), system cpu become very high,
[code]
[code]
ab code is
[code]
I found, the problem is `$pool->internalAddGeneratedFile(hex2bin("***")); in GPBMetadata/User.php`, this code take up 1ms cpu time, and every request all run this line code, so that system cpu become 30%, and if i ad

[2018-01-25 14:52] namxam opened #4228 "[ruby] UTF-8 issues for :bytes fields"
I have the following specification

[code]

When I try to set a UTF-8 string like this `Api::Mutation.new(set_json: 'Möp')` it fails with ``initialize': U+00F6 from UTF-8 to ASCII-8BIT (Encoding::UndefinedConversionError)`.

Is this not supported or is it a bug? From what I have read, UTF-8 and ASCII Input should be fine for bytes.

[2018-01-25 18:47] xfxyjwf commented on #4225
I think there is already a protobuf_MSVC_STATIC_RUNTIME flag for that purpose?

[2018-01-25 19:16] xfxyjwf commented on #4212
@nathanielmanistaatgoogle @fengli79 Any pointers on how the grpcio python wheels are built? We can probably reuse the same build script or pipeline to build protobuf python wheels.

[2018-01-25 21:49] namxam commented on #4228
Ok, my bad… in ruby you are supposed to call `.b` on a string to return a copied string whose encoding is ASCII-8BIT.

https://ruby-doc.org/core-2.3.0/String.html#method-i-b

[2018-01-25 21:49] #4228 closed

[2018-01-25 23:37] #3912 closed

[2018-01-26 00:17] acozzette commented on #4217
What protobuf version are you using? Also, are you sure that it's not working? Sometimes `make` says "Nothing to be done" because everything has already been built.

[2018-01-26 04:24] mapron commented on #4225
I'm such a dumb idiot; Sorry.

[2018-01-26 04:24] #4225 closed

[2018-01-26 07:02] davido opened #4230 "Clean up warnings flagged by error prone"
//CC @cushon

[Gerrit Code Review](https://www.gerritcodereview.com/) depends on [`rules_closure`](https://github.com/bazelbuild/rules_closure/), that started to build protobuf from source in their build tool chain [recently](https://github.com/bazelbuild/rules_closure/commit/d3e0437b6964db0719d71f075833614df3348fa7). We regularly build gerrit code with patched Bazel version with all [Error Prone

[2018-01-26 07:49] bigquant opened #4231 "Failed to run cythonized grpc code: TypeError: Descriptors should not be created directly, but only retrieved from their parent."
OS: ubuntu 16.04
python: 3.5.2

[code]

and it shows errors

[code]

from https://github.com/grpc/grpc/issues/14111

[2018-01-26 12:06] ayush1999 opened #4232 "Reading .pb files."
I know that `.proto` files can be used to generate code. However, can someone tell me how are `.pb` (binary format ) files useful? And how can I generate data structures using `.pb` files?

[2018-01-26 19:23] acozzette commented on #4232
The binary format is just the stored representation of your data, based on the message schema you define in your .proto file. For any language we support, you can use `protoc` to generate code from your `.proto` file and use that code to read and write your messages in binary format.

[2018-01-26 19:23] #4232 closed

[2018-01-26 19:48] ayush1999 commented on #4232
@acozzette Suppose I don't have the .proto file, but only the .pb file. Is there a way of generating the data structure (with only the .pb file)?

[2018-01-26 19:55] acozzette commented on #4232
If you don't have access to the .proto file, you won't be able to determine the exact meaning of the data, but just as a debugging tool you can use `protoc --decode_raw` to print a human-readable view of the general structure of the data.

[2018-01-26 21:44] arthur-tacca commented on #4231
I reported this in #2896. As you can see from the example call stacks in that report, there isn't an obvious way to adapt this check to Cythoned protobufs. As I said in that report, I would be in favor of removing the check altogether.

[2018-01-26 22:11] blowmage opened #4235 "Ruby Gem 3.5.1.1 broken on Ruby 2.1"
The gem `google-protobuf-3.5.1.1-universal-darwin.gem` is missing the precompiled file for Ruby 2.1.

Compare the `universal-darwin` gem:

[code]

To the `x86_64-linux` gem:

[code]

The other platform gems have a precompiled file for all supportedlanguage versions, and don't appear to be affected. However, only the `x86_64-linux` gem has a non-language-versioned pre-compiled file (not nested unde

[2018-01-26 22:11] blowmage commented on #4235
/cc @geigerj

[2018-01-26 22:15] geigerj commented on #4235
Adding @pherl @TeBoring from Protobuf

[2018-01-26 22:24] pherl commented on #4235
Hmm, the mac one also misses 2.1 build. @apolcyn I will look into that.

[2018-01-26 22:37] blowmage commented on #4235
Oops, I meant Ruby 2.1, but I said 2.2. Apologies.

[2018-01-26 22:45] pherl commented on #4235
This is probably due to the Rakefile change in https://github.com/google/protobuf/commit/53d907f646a8e58e14511fba3e9d3e2abd5dd182

[2018-01-26 23:16] acozzette commented on #4201
@jskeet Do you know the answer to this by any chance?

In C++ and Java we have a DynamicMessage that allows you to operate on a message type based on its descriptor, without needing it to be known at compile time, but I'm not sure if we have something like this for C# or not.

[2018-01-26 23:20] acozzette commented on #3730
It's hard to tell what exactly the problem is, but if you can figure it out and write a fix then feel free to send us a pull request.

[2018-01-26 23:28] acozzette commented on #4213
@xyxiaoyou It sounds like there was just a malformed serialized proto--are you sure there is a bug here?

[2018-01-27 03:26] xyzzyz commented on #4215
If the new method is going to be as simple as what you have shown above, it shouldn't increase binary size by more than a few dozens of bytes per oneof field. As internal binaries don't use oneof that often, I'd estimate the binary size increase to be less than 10 KB even for the very large binaries. I would like to test it. Could you ping me internally and give me some candidate binary to test?

[2018-01-27 05:58] ayush1999 commented on #4232
@acozzette Suppose I want to make a reader for onnx models. Since onnx models contain a model.pb file, how can we generate a data structure from this? Since no .proto file is present here, I'm confused.

[2018-01-27 07:59] jskeet commented on #4201
We don't support DynamicMessage in C# yet, no. #658 is an existing issue requesting it.

We haven't previously had enough (and detailed) use cases for it, so we wanted to wait for those before designing what it would look like. It's a non-trivial but not enormous piece of work, I believe.

cc @anandolee

[2018-01-27 13:45] E-HERO commented on #3991
Thanks for all replying, I solved the problem. The crash is caused by proto initialized more than once(I guess, just like [this](https://github.com/google/protobuf/issues/863) mentioned).  The way is that I applied the right for changing A lib and build a shared lib A.so, therefore my bin and my so file(not A.so) linking to lib A in dynamic way. Because of A.so will only loaded for once, it can't